Repository justeattakeaway/pie, pull requests merged in 2023-11, with the labels that each got.

#948 feat(pie-spinner): DSW-1430 add pie-spinner implementation
  .changeset/afraid-years-sniff.md
  apps/pie-storybook/stories/pie-spinner.stories.ts
  packages/components/pie-spinner/src/defs.ts
  packages/components/pie-spinner/src/index.ts
  packages/components/pie-spinner/src/spinner.scss
  packages/components/pie-spinner/test/component/pie-spinner.spec.ts
  packages/components/pie-spinner/test/visual/pie-spinner.spec.ts
Labels: apps, components, pie-storybook, pie-spinner

#946 ci(pie-monorepo): DSW-000 Add sub-domains for preview deployments.
  .github/workflows/amplify-deploy.yml
  apps/pie-docs/test/helpers/configuration-helper.js
Labels: apps, pie-docs

#933 feat(pie-docs): DSW-780 add search engine
  .changeset/rich-meals-stare.md
  apps/examples/wc-next13/package.json
  apps/examples/wc-nuxt2/package.json
  apps/pie-docs/.eleventy.js
  apps/pie-docs/package.json
  apps/pie-docs/src/_includes/head-common.njk
  apps/pie-docs/src/_includes/header.njk
  apps/pie-docs/src/_includes/scripts.njk
  apps/pie-docs/src/assets/img/search/bulb-lightning.svg
  apps/pie-docs/src/assets/img/search/engineers.svg
  apps/pie-docs/src/assets/img/search/help-circle.svg
  apps/pie-docs/src/assets/img/search/pie.svg
  apps/pie-docs/src/assets/js/search.js
  apps/pie-docs/src/assets/styles/_dependencies.scss
  apps/pie-docs/src/assets/styles/base/_search.scss
  package.json
  yarn.lock
Labels: apps, pie-docs

#953 feat(pie-icon-button): DSW-1435 add `isloading`
  .changeset/curly-pumpkins-kick.md
  apps/pie-storybook/stories/pie-icon-button.stories.ts
  packages/components/pie-button/src/button.scss
  packages/components/pie-icon-button/README.md
  packages/components/pie-icon-button/package.json
  packages/components/pie-icon-button/src/defs.ts
  packages/components/pie-icon-button/src/iconButton.scss
  packages/components/pie-icon-button/src/index.ts
  packages/components/pie-spinner/README.md
  packages/components/pie-spinner/src/spinner.scss
  packages/components/pie-spinner/test/component/pie-spinner.spec.ts
  packages/components/pie-switch/src/switch.scss
  packages/tools/pie-css/scss/mixins/_buttonInteractiveStates.scss
  packages/tools/pie-css/scss/mixins/_visuallyHidden.scss
  packages/tools/pie-css/scss/mixins/index.scss
  packages/tools/pie-css/test/scss/unit/mixins/buttonInteractiveStates.spec.ts
  packages/tools/pie-css/test/scss/unit/mixins/visuallyHidden.spec.ts
  packages/tools/pie-css/test/scss/unit/validityTest.scss
  yarn.lock
Labels: apps, tools, components, pie-button, pie-storybook, pie-icon-button, pie-css, pie-switch, pie-spinner

#935 fix(pie-button): DSW-1421 submit forms on enter press
  .changeset/calm-peas-clean.md
  apps/pie-storybook/stories/pie-button.stories.ts
  packages/components/pie-button/src/index.ts
  packages/components/pie-button/test/component/pie-button.spec.ts
Labels: apps, components, pie-button, pie-storybook

#936 feat(pie-cookie-banner): DSW-1366 implement localisation
  .changeset/unlucky-trainers-cry.md
  apps/pie-storybook/stories/pie-cookie-banner.stories.ts
  packages/components/pie-cookie-banner/README.md
  packages/components/pie-cookie-banner/locales/en-gb.json
  packages/components/pie-cookie-banner/locales/es-es.json
  packages/components/pie-cookie-banner/locales/index.js
  packages/components/pie-cookie-banner/package.json
  packages/components/pie-cookie-banner/src/defs.ts
  packages/components/pie-cookie-banner/src/index.ts
  packages/components/pie-cookie-banner/src/localisation-utils.ts
  packages/components/pie-cookie-banner/test/component/pie-cookie-banner.spec.ts
  packages/components/pie-cookie-banner/test/unit/localisation-utils.spec.ts
  packages/components/pie-cookie-banner/tsconfig.json
Labels: apps, components, pie-storybook

#893 feat(pie-docs): DSW-000 add component template
  .changeset/odd-cycles-brush.md
  apps/pie-docs/src/components/template/code.md
  apps/pie-docs/src/components/template/motion.md
  apps/pie-docs/src/components/template/overview.md
  apps/pie-docs/src/components/template/style.md
  apps/pie-docs/src/components/template/template.json
  apps/pie-docs/src/components/template/template.md
Labels: apps, pie-docs, please review

#964 fix(pie-cookie-banner): DSW-000 TS errors fix
  .changeset/long-meals-help.md
  packages/components/pie-cookie-banner/src/localisation-utils.ts
Labels: components

#949 fix(pie-monorepo): DSW-1434 add missing component imports
  .changeset/large-jokes-switch.md
  .changeset/mighty-pots-cry.md
  .changeset/spicy-seas-boil.md
  .changeset/tough-laws-float.md
  apps/examples/wc-vanilla/main.js
  apps/pie-storybook/stories/pie-button.stories.ts
  apps/pie-storybook/stories/pie-card.stories.ts
  apps/pie-storybook/stories/pie-cookie-banner.stories.ts
  apps/pie-storybook/stories/pie-divider.stories.ts
  apps/pie-storybook/stories/pie-form-label.stories.ts
  apps/pie-storybook/stories/pie-icon-button.stories.ts
  apps/pie-storybook/stories/pie-link.stories.ts
  apps/pie-storybook/stories/pie-modal.stories.ts
  apps/pie-storybook/stories/pie-notification.stories.ts
  apps/pie-storybook/stories/pie-spinner.stories.ts
  apps/pie-storybook/stories/pie-switch.stories.ts
  packages/components/pie-button/README.md
  packages/components/pie-button/test/component/pie-button.spec.ts
  packages/components/pie-card/README.md
  packages/components/pie-cookie-banner/README.md
  packages/components/pie-cookie-banner/package.json
  packages/components/pie-cookie-banner/src/index.ts
  packages/components/pie-cookie-banner/test/component/pie-cookie-banner.spec.ts
  packages/components/pie-cookie-banner/test/visual/pie-cookie-banner.spec.ts
  packages/components/pie-cookie-banner/vite.config.js
  packages/components/pie-divider/README.md
  packages/components/pie-form-label/README.md
  packages/components/pie-icon-button/README.md
  packages/components/pie-link/README.md
  packages/components/pie-modal/README.md
  packages/components/pie-modal/package.json
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/test/component/pie-modal.spec.ts
  packages/components/pie-modal/test/visual/pie-modal.spec.ts
  packages/components/pie-modal/vite.config.js
  packages/components/pie-notification/README.md
  packages/components/pie-spinner/README.md
  packages/components/pie-switch/README.md
  packages/tools/generator-pie-component/src/app/templates/README.md
  packages/tools/generator-pie-component/src/app/templates/pie-placeholder.__stories__.ts
  yarn.lock
Labels: apps, tools, components, pie-button, pie-storybook, pie-modal, pie-icon-button, generator-pie-component, pie-divider, pie-link, pie-form-label, pie-switch, pie-notification, pie-spinner

#961 feat(pie-docs): DSW-1324 add column component
  .changeset/sweet-adults-type.md
  apps/pie-docs/src/_11ty/shortcodes/contentLayout.js
  apps/pie-docs/src/_11ty/shortcodes/contentPageImage.js
  apps/pie-docs/src/_11ty/shortcodes/index.js
  apps/pie-docs/src/assets/styles/_dependencies.scss
  apps/pie-docs/src/assets/styles/base/_layout.scss
  apps/pie-docs/src/assets/styles/components/_contentImage.scss
  apps/pie-docs/src/assets/styles/components/_contentLayout.scss
Labels: apps, pie-docs

#968 chore(pie-cookie-banner): DSW-000 fix incorrect merge conflict resolution
  .changeset/giant-falcons-burn.md
  packages/components/pie-cookie-banner/package.json
  yarn.lock
Labels: components

#967 feat(pie-docs): DSW-000 add a neutral variant to the notification shortcut
  .changeset/pink-guests-teach.md
  apps/pie-docs/src/_11ty/shortcodes/notification.js
  apps/pie-docs/src/assets/styles/base/_layout.scss
Labels: apps, pie-docs

#970 feat(pie-docs): DSW-1325 support a variant prop to contentImage
  .changeset/polite-taxis-check.md
  apps/pie-docs/src/_11ty/shortcodes/contentPageImage.js
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/contentPageImage.test.js.snap
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/shortcode-utilities.test.js.snap
  apps/pie-docs/src/assets/styles/components/_contentImage.scss
Labels: apps, pie-docs

#962 feat(pie-docs): DSW-1324 add contents
  .changeset/slimy-plums-brake.md
  apps/pie-docs/package.json
  apps/pie-docs/src/_11ty/plugins/index.js
  apps/pie-docs/src/_includes/content-page.njk
  apps/pie-docs/src/_includes/scripts.njk
  apps/pie-docs/src/assets/img/contents.svg
  apps/pie-docs/src/assets/js/contents.js
  apps/pie-docs/src/assets/styles/_dependencies.scss
  apps/pie-docs/src/assets/styles/components/_contentList.scss
  apps/pie-docs/src/components/template/code.md
  apps/pie-docs/src/components/template/overview.md
  yarn.lock
Labels: work-in-progress, apps, pie-docs

#972 fix(pie-docs): DSW-1325 usage cards should have the same height
  .changeset/few-suns-grin.md
  apps/pie-docs/src/assets/styles/components/_usage.scss
Labels: apps, pie-docs

#974 feat(pie-docs): DSW-1446 added motion placeholder content
  .changeset/gentle-elephants-visit.md
  apps/pie-docs/src/components/template/motion.md
  yarn.lock
Labels: apps, pie-docs

#975 feat(pie-docs): DSW-1325 add component style template
  .changeset/wet-garlics-share.md
  apps/pie-docs/src/_11ty/shortcodes/componentDetailsTable.js
  apps/pie-docs/src/_11ty/shortcodes/index.js
  apps/pie-docs/src/assets/styles/_dependencies.scss
  apps/pie-docs/src/assets/styles/components/_componentDetailsTable.scss
  apps/pie-docs/src/components/template/style.md
  apps/pie-docs/src/components/template/style/colour-tokens.json
  apps/pie-docs/src/components/template/style/style.md
  apps/pie-docs/src/components/template/style/typography-tokens.json
Labels: apps, pie-docs

#977 feat(pie-docs): DSW-000 contents bug
  .changeset/sweet-otters-double.md
  apps/pie-docs/src/assets/js/contents.js
Labels: apps, pie-docs

#960 feat(pie-modal): DSW-1430 add pie-spinner to pie-modal
  .changeset/yellow-students-camp.md
  packages/components/pie-modal/package.json
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/src/modal.scss
  yarn.lock
Labels: components, pie-modal

#958 feat(pie-spinner): DSW-1430 use pie-spinner in pie-button
  .changeset/hungry-penguins-wash.md
  packages/components/pie-button/package.json
  packages/components/pie-button/src/button.scss
  packages/components/pie-button/src/index.ts
  packages/components/pie-modal/package.json
  yarn.lock
Labels: components, pie-button, pie-modal

#984 feat(pie-docs): DSW-000 add base code page template
  .changeset/bright-jeans-watch.md
  apps/pie-docs/src/_11ty/shortcodes/componentDetailsTable.js
  apps/pie-docs/src/components/template/code.md
  apps/pie-docs/src/components/template/code/code.md
  apps/pie-docs/src/components/template/code/events.json
  apps/pie-docs/src/components/template/code/methods.json
  apps/pie-docs/src/components/template/code/props.json
  apps/pie-docs/src/components/template/code/slots.json
Labels: apps, pie-docs

#982 feat(pie-storybook): DWS-000 added documentation page for button vari…
  .changeset/lucky-grapes-call.md
  apps/pie-storybook/.storybook/main.ts
  apps/pie-storybook/.storybook/preview.ts
  apps/pie-storybook/.storybook/styles/_fozzie-config.scss
  apps/pie-storybook/.storybook/styles/docs.scss
  apps/pie-storybook/stories/pie-button-docs/variants.mdx
  apps/pie-storybook/stories/pie-button.stories.tsx
Labels: apps, pie-storybook

#979 cosmetic(pie-monorepo): DSW-1452 use latest pie-design-tokens
  .changeset/cuddly-cobras-fold.md
  .changeset/neat-seas-work.md
  apps/examples/wc-vanilla/package.json
  apps/pie-docs/package.json
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/tokensTable.test.js.snap
  apps/pie-storybook/package.json
  package.json
  packages/components/pie-cookie-banner/package.json
  packages/components/pie-modal/package.json
  packages/tools/pie-css/test/css/__snapshots__/css.spec.ts.snap
  yarn.lock
Labels: apps, tools, components, pie-storybook, pie-docs, pie-modal, pie-css

#981 feat(pie-cookie-banner): DSW-1432 added remaining translations to cookie banner
  .changeset/breezy-spoons-peel.md
  packages/components/pie-cookie-banner/locales/bg-bg.json
  packages/components/pie-cookie-banner/locales/de-de.json
  packages/components/pie-cookie-banner/locales/dk-dk.json
  packages/components/pie-cookie-banner/locales/fr-fr.json
  packages/components/pie-cookie-banner/locales/he-il.json
  packages/components/pie-cookie-banner/locales/index.js
  packages/components/pie-cookie-banner/locales/it-it.json
  packages/components/pie-cookie-banner/locales/nl-nl.json
  packages/components/pie-cookie-banner/locales/pl-pl.json
  packages/components/pie-cookie-banner/locales/sk-sk.json
Labels: components

#983 test(pie-switch): DSW-000 added a couple missing tests
  packages/components/pie-switch/test/component/pie-switch.spec.ts
Labels: components, pie-switch

#985 docs(pie-storybook): DSW-1320 fixed bug where focus would jump away from storybook control for slots
  .changeset/smart-stingrays-live.md
  apps/pie-storybook/stories/pie-card.stories.ts
  apps/pie-storybook/stories/pie-modal.stories.ts
  apps/pie-storybook/utilities/index.ts
Labels: apps, pie-storybook

#980 chore(pie-components-config): DSW-000 allow more specific vite config overrides
  .changeset/sweet-horses-search.md
  configs/pie-components-config/README.md
  configs/pie-components-config/package.json
  configs/pie-components-config/vite.config.js
  packages/components/pie-button/vite.config.js
  packages/components/pie-cookie-banner/vite.config.js
  packages/components/pie-icon-button/vite.config.js
  packages/components/pie-modal/vite.config.js
  yarn.lock
Labels: components, pie-button, pie-modal, pie-icon-button

#988 chore(pie-components-config): DSW-000 read component dependencies from package.json
  .changeset/eight-guests-provide.md
  .changeset/perfect-keys-protect.md
  configs/pie-components-config/README.md
  configs/pie-components-config/vite.config.js
  packages/components/pie-button/vite.config.js
  packages/components/pie-cookie-banner/vite.config.js
  packages/components/pie-icon-button/vite.config.js
  packages/components/pie-modal/vite.config.js
  packages/components/pie-switch/package.json
  packages/tools/pie-wrapper-react/scripts/add-react-wrapper.js
  yarn.lock
Labels: tools, components, pie-button, pie-modal, pie-icon-button, pie-switch

#992 feat(pie-button): DSW-000 inverse button hover & active states added
  .changeset/long-bugs-rule.md
  packages/components/pie-button/src/button.scss
  packages/tools/pie-css/scss/mixins/_buttonInteractiveStates.scss
Labels: tools, components, pie-button, pie-css

#986 feat(pie-button): DSW-1293 implement responsive mode
  .changeset/breezy-tips-decide.md
  apps/pie-storybook/stories/pie-button.stories.tsx
  packages/components/pie-button/README.md
  packages/components/pie-button/src/button.scss
  packages/components/pie-button/src/defs.ts
  packages/components/pie-button/src/index.ts
  packages/components/pie-button/test/component/pie-button.spec.ts
  packages/components/pie-button/test/visual/pie-button-size.spec.ts
  packages/components/pie-button/test/visual/pie-button.spec.ts
Labels: apps, components, pie-button, pie-storybook

#996 chore(pie-button): DSW-000 follow-up changes for DSW-1293 code review
  .changeset/smooth-tigers-doubt.md
  apps/pie-docs/src/components/button/code/props.json
  apps/pie-storybook/stories/pie-button.stories.tsx
Labels: apps, pie-storybook, pie-docs

#999 feat(pie-monorepo): DSW-000 updated components to use Lit 3
  .changeset/hot-masks-clean.md
  .changeset/loud-bugs-fry.md
  .changeset/sixty-drinks-fold.md
  .changeset/small-buttons-fly.md
  .changeset/thick-jokes-laugh.md
  .changeset/tiny-adults-unite.md
  apps/examples/wc-next10/babel.config.js
  apps/examples/wc-next10/next.config.js
  apps/examples/wc-next10/package.json
  apps/examples/wc-next10/pages/_app.jsx
  apps/examples/wc-next13/package.json
  apps/examples/wc-nuxt2/nuxt.config.js
  apps/examples/wc-nuxt2/package.json
  apps/examples/wc-nuxt3/package.json
  apps/examples/wc-react17/src/index.js
  apps/pie-storybook/package.json
  package.json
  packages/components/pie-webc-core/src/decorators/required-property.ts
  packages/components/pie-webc-core/src/decorators/test/required-property.spec.ts
  packages/components/pie-webc-core/src/decorators/test/valid-property-values.spec.ts
  packages/components/pie-webc-core/src/decorators/valid-property-values.ts
  packages/tools/git-hooks-scripts/git-hooks-utils.js
  packages/tools/pie-icons-react/package.json
  packages/tools/pie-icons-webc/package.json
  packages/tools/pie-wrapper-react/README.md
  packages/tools/pie-wrapper-react/package.json
  packages/tools/pie-wrapper-react/scripts/add-react-wrapper.js
  turbo.json
  yarn.lock
Labels: apps, tools, pie-icons-react, components, pie-storybook, pie-webc-core

#997 docs(pie-docs): DSW-1483 add card overview documentation
  .changeset/shaggy-beans-tease.md
  apps/pie-docs/src/assets/img/components/card/anatomy.svg
  apps/pie-docs/src/assets/img/components/card/behaviour.svg
  apps/pie-docs/src/assets/img/components/card/content-padding.svg
  apps/pie-docs/src/assets/img/components/card/content-spacing.svg
  apps/pie-docs/src/assets/img/components/card/example-ltr.svg
  apps/pie-docs/src/assets/img/components/card/example-rtl.svg
  apps/pie-docs/src/assets/img/components/card/interactive-state-active.svg
  apps/pie-docs/src/assets/img/components/card/interactive-state-default.svg
  apps/pie-docs/src/assets/img/components/card/interactive-state-disabled.svg
  apps/pie-docs/src/assets/img/components/card/interactive-state-drag.svg
  apps/pie-docs/src/assets/img/components/card/interactive-state-focus.svg
  apps/pie-docs/src/assets/img/components/card/interactive-state-hover.svg
  apps/pie-docs/src/assets/img/components/card/variation-default.svg
  apps/pie-docs/src/assets/img/components/card/variation-inverse-outline.svg
  apps/pie-docs/src/assets/img/components/card/variation-inverse.svg
  apps/pie-docs/src/assets/img/components/card/variation-outline.svg
  apps/pie-docs/src/assets/img/components/data-visualisation/bar-chart/overview.svg
  apps/pie-docs/src/assets/img/components/data-visualisation/line-chart/overview.svg
  apps/pie-docs/src/components/button/overview/overview.md
  apps/pie-docs/src/components/card/card.md
  apps/pie-docs/src/components/card/overview/overview.md
  apps/pie-docs/src/components/data-visualisation/bar-chart/bar-chart.md
  apps/pie-docs/src/components/data-visualisation/data-visualisation.json
  apps/pie-docs/src/components/data-visualisation/data-visualisation.md
  apps/pie-docs/src/components/data-visualisation/data-visulisation.json
  apps/pie-docs/src/components/data-visualisation/line-chart/line-chart.md
  apps/pie-docs/src/components/list-item/list-item.json
  apps/pie-docs/src/components/numeric-stepper/numeric-stepper.json
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
Labels: apps, DO NOT MERGE, pie-docs

#1017 fix(pie-modal): DSW-000 modal content doesn't span the whole height
  .changeset/short-coins-serve.md
  packages/components/pie-modal/src/modal.scss
Labels: components, pie-modal

#1018 fix(pie-docs): DSW-000 fix issue where dev server was running on incorrect port for browser tests
  .changeset/twelve-candles-carry.md
  apps/pie-docs/package.json
Labels: apps, pie-docs

#1002 docs(pie-docs): DSW-1483 add code docs page for pie-card
  .changeset/real-camels-switch.md
  apps/pie-docs/src/_11ty/shortcodes/componentDetailsTable.js
  apps/pie-docs/src/components/button/code/props.json
  apps/pie-docs/src/components/card/code/code.md
  apps/pie-docs/src/components/card/code/props.json
  apps/pie-docs/src/components/card/code/slots.json
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
Labels: apps, pie-docs

#1025 feat(pie-monorepo): DSW-000 upgrade to lit@3
  .changeset/hot-masks-clean.md
  .changeset/loud-bugs-fry.md
  .changeset/sixty-drinks-fold.md
  .changeset/small-buttons-fly.md
  .changeset/thick-jokes-laugh.md
  .changeset/xander-introduces-bugs.md
  .github/workflows/ci.yml
  apps/examples/wc-next10/README.md
  apps/examples/wc-next10/babel.config.js
  apps/examples/wc-next10/next.config.js
  apps/examples/wc-next10/package.json
  apps/examples/wc-next10/pages/_app.jsx
  apps/examples/wc-next13/README.md
  apps/examples/wc-next13/package.json
  apps/examples/wc-nuxt2/nuxt.config.js
  apps/examples/wc-nuxt2/package.json
  apps/examples/wc-nuxt3/package.json
  apps/examples/wc-react17/package.json
  apps/examples/wc-react17/src/index.js
  apps/examples/wc-react18/README.md
  apps/examples/wc-react18/package.json
  apps/pie-storybook/package.json
  configs/pie-components-config/vite.config.js
  package.json
  packages/components/pie-button/README.md
  packages/components/pie-card/README.md
  packages/components/pie-cookie-banner/README.md
  packages/components/pie-divider/README.md
  packages/components/pie-form-label/README.md
  packages/components/pie-icon-button/README.md
  packages/components/pie-link/README.md
  packages/components/pie-modal/README.md
  packages/components/pie-notification/README.md
  packages/components/pie-spinner/README.md
  packages/components/pie-switch/README.md
  packages/components/pie-webc-core/src/decorators/required-property.ts
  packages/components/pie-webc-core/src/decorators/test/required-property.spec.ts
  packages/components/pie-webc-core/src/decorators/test/valid-property-values.spec.ts
  packages/components/pie-webc-core/src/decorators/valid-property-values.ts
  packages/tools/generator-pie-component/src/app/templates/README.md
  packages/tools/git-hooks-scripts/git-hooks-utils.js
  packages/tools/pie-icons-react/package.json
  packages/tools/pie-icons-webc/package.json
  packages/tools/pie-wrapper-react/README.md
  packages/tools/pie-wrapper-react/__tests__/__snapshots__/wrapper.test.js.snap
  packages/tools/pie-wrapper-react/package.json
  packages/tools/pie-wrapper-react/scripts/add-react-wrapper.js
  turbo.json
  yarn.lock
Labels: apps, tools, pie-icons-react, components, pie-button, pie-storybook, pie-modal, pie-icon-button, pie-webc-core, generator-pie-component, pie-divider, pie-link, pie-form-label, pie-switch, pie-notification, pie-spinner

#1029 fix(pie-spinner): DSW-000 rename sizes to match new design specs
  .changeset/five-grapes-live.md
  apps/pie-storybook/stories/pie-spinner.stories.ts
  packages/components/pie-button/src/index.ts
  packages/components/pie-icon-button/src/index.ts
  packages/components/pie-modal/src/index.ts
  packages/components/pie-spinner/README.md
  packages/components/pie-spinner/src/defs.ts
  packages/components/pie-spinner/src/index.ts
  packages/components/pie-spinner/src/spinner.scss
Labels: apps, components, pie-button, pie-storybook, pie-modal, pie-icon-button, pie-spinner

#1032 fix(pie-storybook): DSW-000 ensure icons are bundled as part of link story
  .changeset/blue-carrots-wonder.md
  .changeset/silly-cherries-move.md
  apps/pie-storybook/stories/pie-link.stories.ts
  packages/components/pie-switch/package.json
  yarn.lock
Labels: apps, components, pie-storybook, pie-switch

#1000 feat(pie-docs): DSW-1485 add switch overview page sections
  .changeset/beige-cooks-invite.md
  .changeset/olive-spoons-arrive.md
  apps/pie-docs/src/assets/img/components/switch/anatomy.svg
  apps/pie-docs/src/assets/img/components/switch/example-ltr-item-availability.svg
  apps/pie-docs/src/assets/img/components/switch/example-ltr-menu-item.svg
  apps/pie-docs/src/assets/img/components/switch/example-rtl-item-availability.svg
  apps/pie-docs/src/assets/img/components/switch/example-rtl-menu-item.svg
  apps/pie-docs/src/assets/img/components/switch/interactive-states-active.svg
  apps/pie-docs/src/assets/img/components/switch/interactive-states-default.svg
  apps/pie-docs/src/assets/img/components/switch/interactive-states-disabled.svg
  apps/pie-docs/src/assets/img/components/switch/interactive-states-focus.svg
  apps/pie-docs/src/assets/img/components/switch/interactive-states-hover.svg
  apps/pie-docs/src/assets/img/components/switch/modifier-labels-left.svg
  apps/pie-docs/src/assets/img/components/switch/modifier-labels-right.svg
  apps/pie-docs/src/assets/img/components/switch/states-ltr-selected.svg
  apps/pie-docs/src/assets/img/components/switch/states-ltr-unselected.svg
  apps/pie-docs/src/assets/img/components/switch/states-rtl-selected.svg
  apps/pie-docs/src/assets/img/components/switch/states-rtl-unselected.svg
  apps/pie-docs/src/assets/styles/base/_layout.scss
  apps/pie-docs/src/components/switch/code/code.md
  apps/pie-docs/src/components/switch/code/props.json
  apps/pie-docs/src/components/switch/overview/overview.md
  apps/pie-docs/src/components/switch/switch.md
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
Labels: apps, pie-docs

#1036 fix(pie-monorepo): DSW-000 Revert "Version Packages"
  .changeset/blue-carrots-wonder.md
  .changeset/five-grapes-live.md
  .changeset/silly-cherries-move.md
  CHANGELOG.md
  apps/examples/wc-angular12/CHANGELOG.md
  apps/examples/wc-angular12/package.json
  apps/examples/wc-next10/CHANGELOG.md
  apps/examples/wc-next10/package.json
  apps/examples/wc-next13/CHANGELOG.md
  apps/examples/wc-next13/package.json
  apps/examples/wc-nuxt2/CHANGELOG.md
  apps/examples/wc-nuxt2/package.json
  apps/examples/wc-nuxt3/CHANGELOG.md
  apps/examples/wc-nuxt3/package.json
  apps/examples/wc-react17/CHANGELOG.md
  apps/examples/wc-react17/package.json
  apps/examples/wc-react18/CHANGELOG.md
  apps/examples/wc-react18/package.json
  apps/examples/wc-vanilla/CHANGELOG.md
  apps/examples/wc-vanilla/package.json
  apps/examples/wc-vue3/CHANGELOG.md
  apps/examples/wc-vue3/package.json
  apps/pie-storybook/CHANGELOG.md
  apps/pie-storybook/package.json
  package.json
  packages/components/pie-button/CHANGELOG.md
  packages/components/pie-button/package.json
  packages/components/pie-cookie-banner/CHANGELOG.md
  packages/components/pie-cookie-banner/package.json
  packages/components/pie-icon-button/CHANGELOG.md
  packages/components/pie-icon-button/package.json
  packages/components/pie-modal/CHANGELOG.md
  packages/components/pie-modal/package.json
  packages/components/pie-spinner/CHANGELOG.md
  packages/components/pie-spinner/package.json
  packages/components/pie-switch/CHANGELOG.md
  packages/components/pie-switch/package.json
Labels: apps, components, pie-button, pie-storybook, pie-modal, pie-icon-button, pie-switch, pie-spinner

#1042 fix(pie-icon-button): DSW-000 address design feedback for icon button and card
  .changeset/slimy-dodos-try.md
  apps/pie-storybook/stories/pie-card.stories.ts
  packages/components/pie-icon-button/src/iconButton.scss
  yarn.lock
Labels: apps, components, pie-storybook, pie-icon-button

#1037 chore(pie-webc-core): DSW-1488 add lit as a dependency
  .changeset/brave-apricots-design.md
  .changeset/dry-dots-fetch.md
  .changeset/famous-pots-unite.md
  .changeset/rude-pigs-yawn.md
  apps/pie-storybook/package.json
  configs/pie-components-config/vite.config.js
  package.json
  packages/components/pie-webc-core/package.json
  packages/components/pie-webc-core/vite.config.js
  packages/tools/pie-icons-webc/build.js
  packages/tools/pie-icons-webc/package.json
  packages/tools/pie-icons-webc/vite.config.js
  yarn.lock
Labels: apps, tools, components, pie-storybook, DO NOT MERGE, pie-webc-core

#1049 chore(pie-monorepo): DSW-000 ignore apps during snapshot comment
  .changeset/tame-mayflies-suffer.md
  .github/workflows/changeset-snapshot.yml
  apps/pie-storybook/package.json
Labels: apps, pie-storybook

#1051 fix(pie-monorepo): DSW-000 fix divider stories
  .changeset/tough-icons-vanish.md
  apps/pie-storybook/stories/pie-divider.stories.ts
Labels: apps, pie-storybook

#1053 fix(pie-icons-react): DSW-000 list build dependencies as dev deps
  .changeset/quick-ears-exist.md
  packages/tools/pie-icons-react/package.json
  yarn.lock
Labels: tools, pie-icons-react

#1048 feat(pie-css): DSW-1166 scss mixins and functions for line height
  .changeset/loud-parrots-exist.md
  packages/tools/pie-css/scss/functions/_fontSize.scss
  packages/tools/pie-css/scss/functions/_unitModifiers.scss
  packages/tools/pie-css/scss/functions/index.scss
  packages/tools/pie-css/scss/mixins/_fontSize.scss
  packages/tools/pie-css/scss/mixins/_unitModifiers.scss
  packages/tools/pie-css/scss/mixins/index.scss
  packages/tools/pie-css/test/scss/unit/functions/calculateFontSize.spec.ts
  packages/tools/pie-css/test/scss/unit/functions/calculateUnitModifiers.spec.ts
  packages/tools/pie-css/test/scss/unit/mixins/buttonInteractiveStates.spec.ts
  packages/tools/pie-css/test/scss/unit/mixins/focus.spec.ts
  packages/tools/pie-css/test/scss/unit/mixins/unitModifiers.spec.ts
  packages/tools/pie-css/test/scss/unit/mixins/visuallyHidden.spec.ts
  packages/tools/pie-css/test/scss/unit/validityTest.scss
Labels: tools, pie-css

#1055 fix(pie-icon-button): DSW-000 use the spinner brand variant for the primary disabled state
  .changeset/honest-icons-rest.md
  packages/components/pie-icon-button/src/index.ts
  packages/components/pie-icon-button/test/visual/pie-icon-button.spec.ts
Labels: components, pie-icon-button

#1057 fix(pie-button): DSW-000 fix disabled button spinners
  .changeset/three-turkeys-sit.md
  packages/components/pie-button/src/index.ts
Labels: components, pie-button

#1054 feat(pie-docs): DSW-1166 improved pie-css support in pie-docs
  .changeset/famous-socks-greet.md
  .changeset/large-poems-cross.md
  apps/pie-docs/package.json
  apps/pie-docs/src/assets/styles/_dependencies.scss
  apps/pie-docs/src/assets/styles/_fozzie-config.scss
  apps/pie-docs/src/assets/styles/plugins/_prism.scss
  apps/pie-docs/src/foundations/typography/code.md
  apps/pie-storybook/.storybook/styles/_fozzie-config.scss
  apps/pie-storybook/.storybook/styles/docs.scss
  package.json
  yarn.lock
Labels: apps, pie-docs

#1059 feat(pie-docs): DSW-1514 add divider docs
  .changeset/sharp-ladybugs-grab.md
  apps/pie-docs/src/assets/img/components/divider/anatomy.svg
  apps/pie-docs/src/assets/img/components/divider/example-allowance.svg
  apps/pie-docs/src/assets/img/components/divider/example-menu.svg
  apps/pie-docs/src/assets/img/components/divider/modifier-type-default.svg
  apps/pie-docs/src/assets/img/components/divider/modifier-type-inverse.svg
  apps/pie-docs/src/assets/img/components/divider/structure.svg
  apps/pie-docs/src/assets/img/components/divider/variation-orientation-horizontal.svg
  apps/pie-docs/src/assets/img/components/divider/variation-orientation-vertical.svg
  apps/pie-docs/src/components/button/overview/overview.md
  apps/pie-docs/src/components/divider/code/code.md
  apps/pie-docs/src/components/divider/code/props.json
  apps/pie-docs/src/components/divider/divider.md
  apps/pie-docs/src/components/divider/overview/overview.md
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
  apps/pie-storybook/stories/pie-button-docs/variants.mdx
  apps/pie-storybook/stories/pie-button.stories.ts
  apps/pie-storybook/stories/pie-divider-docs/variants.mdx
Labels: apps, pie-storybook, pie-docs

#993 feat(pie-docs): DSW-1484 icon button overview page
  .changeset/slimy-yaks-brush.md
  apps/pie-docs/src/assets/img/components/icon-button/anatomy.svg
  apps/pie-docs/src/assets/img/components/icon-button/example-close.svg
  apps/pie-docs/src/assets/img/components/icon-button/example-hamburger-menu.svg
  apps/pie-docs/src/assets/img/components/icon-button/example-icon-button-pair.svg
  apps/pie-docs/src/assets/img/components/icon-button/hierarchy-high.svg
  apps/pie-docs/src/assets/img/components/icon-button/hierarchy-low-ghost-inverse.svg
  apps/pie-docs/src/assets/img/components/icon-button/hierarchy-low-ghost-secondary.svg
  apps/pie-docs/src/assets/img/components/icon-button/hierarchy-low-ghost.svg
  apps/pie-docs/src/assets/img/components/icon-button/hierarchy-low-outline.svg
  apps/pie-docs/src/assets/img/components/icon-button/hierarchy-medium-inverse.svg
  apps/pie-docs/src/assets/img/components/icon-button/hierarchy-medium-secondary.svg
  apps/pie-docs/src/assets/img/components/icon-button/interactive-state-active.svg
  apps/pie-docs/src/assets/img/components/icon-button/interactive-state-default.svg
  apps/pie-docs/src/assets/img/components/icon-button/interactive-state-disabled.svg
  apps/pie-docs/src/assets/img/components/icon-button/interactive-state-focus.svg
  apps/pie-docs/src/assets/img/components/icon-button/interactive-state-hover.svg
  apps/pie-docs/src/assets/img/components/icon-button/interactive-state-loading.svg
  apps/pie-docs/src/assets/img/components/icon-button/layout-pairing.svg
  apps/pie-docs/src/assets/img/components/icon-button/overview.svg
  apps/pie-docs/src/assets/img/components/icon-button/structure.svg
  apps/pie-docs/src/assets/img/components/icon-button/variation-ghost-inverse.svg
  apps/pie-docs/src/assets/img/components/icon-button/variation-ghost-secondary.svg
  apps/pie-docs/src/assets/img/components/icon-button/variation-ghost.svg
  apps/pie-docs/src/assets/img/components/icon-button/variation-inverse.svg
  apps/pie-docs/src/assets/img/components/icon-button/variation-outline.svg
  apps/pie-docs/src/assets/img/components/icon-button/variation-primary.svg
  apps/pie-docs/src/assets/img/components/icon-button/variation-secondary.svg
  apps/pie-docs/src/components/button/code/code.md
  apps/pie-docs/src/components/card/code/code.md
  apps/pie-docs/src/components/icon-button/code/code.md
  apps/pie-docs/src/components/icon-button/code/props.json
  apps/pie-docs/src/components/icon-button/icon-button.md
  apps/pie-docs/src/components/icon-button/overview/overview.md
  apps/pie-docs/src/components/icon-button/overview/sizes.json
  apps/pie-docs/src/components/template/code/code.md
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
  apps/pie-storybook/stories/pie-icon-button-docs/variants.mdx
  packages/components/pie-icon-button/README.md
Labels: apps, components, pie-storybook, pie-docs, pie-icon-button

#1072 feat(pie-icons-webc): DSW-1281 add react exports to icon lib
  .changeset/short-colts-buy.md
  .changeset/witty-rockets-matter.md
  .eslintignore
  .gitignore
  package.json
  packages/tools/pie-icons-webc/.eslintignore
  packages/tools/pie-icons-webc/README.md
  packages/tools/pie-icons-webc/__snapshots__/tests/icons-react.spec.js-snapshots/IconAlcohol-component-chrome-darwin.png
  packages/tools/pie-icons-webc/__snapshots__/tests/icons-react.spec.js-snapshots/IconAlcoholXXL-component-chrome-darwin.png
  packages/tools/pie-icons-webc/build.js
  packages/tools/pie-icons-webc/package.json
  packages/tools/pie-icons-webc/playwright-react.config.ts
  packages/tools/pie-icons-webc/playwright/index.html
  packages/tools/pie-icons-webc/playwright/index.ts
  packages/tools/pie-icons-webc/tests/icons-react.spec.js
  packages/tools/pie-icons-webc/vite.config.js
  yarn.lock
Labels: tools
