Repository justeattakeaway/pie, pull requests merged in 2023-06, with the labels that each got.

#500 feat(pie-docs): update iconography overview copy
  .changeset/rude-guests-deliver.md
  apps/pie-docs/src/foundations/iconography/overview.md
Labels: apps, pie-docs

#484 test(pie-docs): add system test for navigation on desktop
  .changeset/khaki-points-bow.md
  apps/pie-docs/src/_includes/content-page.njk
  apps/pie-docs/src/_includes/nav.njk
  apps/pie-docs/test/helpers/functions.js
  apps/pie-docs/test/system/navigation.spec.js
Labels: apps, pie-docs, please review

#503 feat(pie-docs): use correct icons for lists
  .changeset/hungry-shirts-lick.md
  apps/pie-docs/src/accessibility/testing-for-accessibility.md
  apps/pie-docs/src/all-about-pie/what-is-pie.md
  apps/pie-docs/src/designers/how-we-support-you.md
Labels: apps, pie-docs

#504 docs(pie-wrapper-react): updated docs on custom-element.json
  .changeset/warm-walls-do.md
  packages/tools/pie-wrapper-react/README.md
Labels: tools

#512 refactor(pie-monorepo): remove extra vite config files
  packages/components/pie-icon-button/vite.config.js
  packages/components/pie-modal/vite.config.js
Labels: components, pie-modal, pie-icon-button

#514 feat(pie-components-config): made shared vite config extendable
  .changeset/odd-timers-destroy.md
  configs/pie-components-config/vite.config.js
  packages/components/pie-button/package.json
  packages/components/pie-button/vite.config.js
  packages/components/pie-icon-button/package.json
  packages/components/pie-icon-button/vite.config.js
  packages/components/pie-modal/package.json
  packages/components/pie-modal/vite.config.js
Labels: components, pie-button, pie-modal, pie-icon-button

#505 feat(pie-docs): fozzie and pie token package update
  .changeset/eleven-hotels-appear.md
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/card.test.js.snap
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/categorisedIconList.test.js.snap
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/list.test.js.snap
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/tokensTable.test.js.snap
  apps/pie-docs/src/__tests__/_11ty/shortcodes/card.test.js
  apps/pie-docs/src/__tests__/_11ty/shortcodes/categorisedIconList.test.js
  apps/pie-docs/src/__tests__/_11ty/shortcodes/list.test.js
  apps/pie-docs/src/assets/styles/components/_navToggle.scss
  apps/pie-docs/src/assets/styles/components/_skipLink.scss
  apps/pie-docs/src/assets/styles/components/_toggle.scss
  apps/pie-docs/src/tokensMetadata.json
  package.json
  yarn.lock
Labels: apps, pie-docs

#513 feat(pie-modal): add basic styling for the opened state
  .changeset/good-drinks-compare.md
  .changeset/new-actors-wave.md
  .changeset/polite-waves-buy.md
  .changeset/strong-doors-walk.md
  apps/pie-storybook/stories/pie-modal.stories.ts
  packages/components/pie-modal/package.json
  packages/components/pie-modal/playwright-lit-visual.config.ts
  packages/components/pie-modal/playwright-lit.config.ts
  packages/components/pie-modal/playwright/index.html
  packages/components/pie-modal/playwright/index.ts
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/src/modal.scss
  packages/components/pie-modal/test/visual/pie-modal.spec.ts
  packages/tools/pie-wrapper-react/custom-elements.json
  yarn.lock
Labels: apps, tools, components, pie-storybook, pie-modal

#521 fix(pie-modal): add missing css logical property
  .changeset/fast-wombats-fry.md
  packages/components/pie-modal/src/modal.scss
Labels: components, pie-modal

#519 feat(pie-monorepo): render prop labels in visual tests
  .changeset/clever-houses-beam.md
  .changeset/friendly-vans-occur.md
  .changeset/honest-coats-whisper.md
  packages/components/pie-button/test/visual/pie-button.spec.ts
  packages/components/pie-icon-button/test/visual/pie-icon-button.spec.ts
  packages/components/pie-webc-core/src/test-helpers/components/index.ts
  packages/components/pie-webc-core/src/test-helpers/components/web-component-test-wrapper/WebComponentTestWrapper.ts
  packages/components/pie-webc-core/src/test-helpers/components/web-component-test-wrapper/webComponentTestWrapper.scss
  packages/components/pie-webc-core/src/test-helpers/defs.ts
  packages/components/pie-webc-core/src/test-helpers/get-all-prop-combos.ts
  packages/components/pie-webc-core/src/test-helpers/index.ts
  packages/components/pie-webc-core/src/test-helpers/rendering.ts
Labels: components, pie-button, pie-icon-button

#525 docs(pie-monorepo): add visual test notes to readmes
  .changeset/sour-balloons-tease.md
  packages/components/pie-button/README.md
  packages/components/pie-icon-button/README.md
  packages/components/pie-modal/README.md
Labels: components, pie-button, pie-modal, pie-icon-button

#518 docs(pie-icons-vue): updated readme link for icons
  packages/tools/pie-icons-vue/README.md
Labels: tools, pie-icons-vue

#529 docs(pie-docs): add readme details about percy visual tests
  .changeset/wise-hotels-accept.md
  packages/components/pie-button/README.md
  packages/components/pie-icon-button/README.md
  packages/components/pie-modal/README.md
Labels: components, pie-button, pie-modal, pie-icon-button

#527 feat(pie-modal): added prop to control open and close state
  .changeset/weak-chairs-add.md
  apps/pie-storybook/stories/pie-modal.stories.ts
  packages/components/pie-modal/README.md
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/test/visual/pie-modal.spec.ts
Labels: apps, components, pie-storybook, pie-modal

#530 feat(pie-modal): Modal heading props
  .changeset/cold-maps-breathe.md
  .changeset/itchy-donkeys-grab.md
  .changeset/long-yaks-grin.md
  .changeset/mighty-moles-argue.md
  .changeset/nasty-houses-perform.md
  .changeset/shaggy-lions-work.md
  apps/pie-storybook/stories/pie-modal.stories.ts
  packages/components/pie-button/src/index.ts
  packages/components/pie-icon-button/src/index.ts
  packages/components/pie-modal/README.md
  packages/components/pie-modal/package.json
  packages/components/pie-modal/src/defs.ts
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/test/component/pie-modal.spec.ts
  packages/components/pie-modal/test/visual/pie-modal.spec.ts
  packages/components/pie-webc-core/src/decorators/index.ts
  packages/components/pie-webc-core/src/decorators/required-property.ts
  packages/components/pie-webc-core/src/decorators/valid-property-values.ts
  packages/components/pie-webc-core/src/test-helpers/components/web-component-test-wrapper/WebComponentTestWrapper.ts
  packages/tools/pie-wrapper-react/custom-elements.json
  packages/tools/pie-wrapper-react/scripts/add-react-wrapper.js
Labels: apps, tools, components, pie-button, pie-storybook, pie-modal, pie-icon-button

#520 test(pie-icons-vue): DSW-673: Write tests for pie-icons-vue
  .changeset/calm-students-give.md
  .changeset/stale-experts-hammer.md
  packages/tools/pie-icons-configs/configs-vue.js
  packages/tools/pie-icons-vue/helpers/test/index.test.js
  packages/tools/pie-icons-vue/test/IconAlcohol.test.js
  packages/tools/pie-icons-vue/test/IconAlcoholLarge.test.js
  packages/tools/pie-icons-vue/vite.config.js
Labels: tools, pie-icons-vue

#524 fix(pie-wrapper-react): ignore temporary manifest file
  .changeset/forty-otters-tickle.md
  packages/tools/pie-wrapper-react/.gitignore
  packages/tools/pie-wrapper-react/custom-elements.json
Labels: tools

#543 fix(pie-icons-configs): removes class attr application for react icons
  .changeset/moody-fans-pump.md
  packages/tools/pie-icons-configs/__tests__/configs-react.test.js
  packages/tools/pie-icons-configs/configs-react.js
Labels: tools

#508 feat(pie-button): Use string union types instead of enums
  .changeset/strange-bottles-beg.md
  apps/examples/wc-angular12/README.md
  apps/examples/wc-angular12/src/app/app.component.ts
  apps/examples/wc-next10/ButtonSizes.js
  apps/examples/wc-next10/VariantSwitch.js
  apps/examples/wc-next13/pages/index.tsx
  apps/examples/wc-nuxt3/app.vue
  apps/examples/wc-vue3/src/App.vue
  apps/pie-storybook/stories/pie-button.stories.ts
  apps/pie-storybook/stories/pie-icon-button.stories.ts
  apps/pie-storybook/stories/pie-modal.stories.ts
  packages/components/pie-button/README.md
  packages/components/pie-button/src/defs.ts
  packages/components/pie-button/src/index.ts
  packages/components/pie-button/test/accessibility/pie-button.spec.ts
  packages/components/pie-button/test/component/pie-button.spec.ts
  packages/components/pie-button/test/visual/pie-button.spec.ts
  packages/components/pie-icon-button/src/defs.ts
  packages/components/pie-icon-button/src/index.ts
  packages/components/pie-icon-button/test/accessibility/pie-icon-button.spec.ts
  packages/components/pie-icon-button/test/component/pie-icon-button.spec.ts
  packages/components/pie-icon-button/test/visual/pie-icon-button.spec.ts
  packages/components/pie-modal/src/defs.ts
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/test/component/pie-modal.spec.ts
  packages/tools/pie-wrapper-react/README.md
  packages/tools/pie-wrapper-react/custom-elements.json
  packages/tools/pie-wrapper-react/scripts/add-react-wrapper.js
  yarn.lock
Labels: apps, tools, components, pie-button, pie-storybook, pie-modal, pie-icon-button

#550 chore(stylelint-config-pie): added rule for custom prop naming convention
  .changeset/young-geese-arrive.md
  packages/tools/pie-stylelint-config/rules/base.js
Labels: tools

#549 feat(pie-modal): Add close button
  .changeset/moody-shrimps-prove.md
  packages/components/pie-modal/src/defs.ts
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/src/modal.scss
  packages/components/pie-modal/test/component/pie-modal.spec.ts
  packages/tools/pie-wrapper-react/custom-elements.json
Labels: tools, components, pie-modal

#557 feat(pie-icon-button): size prop added to component and storybook
  .changeset/rotten-pens-prove.md
  apps/pie-storybook/stories/pie-icon-button.stories.ts
  packages/components/pie-icon-button/README.md
  packages/components/pie-icon-button/src/defs.ts
  packages/components/pie-icon-button/src/iconButton.scss
  packages/components/pie-icon-button/src/index.ts
  packages/components/pie-icon-button/test/visual/pie-icon-button.spec.ts
  packages/tools/pie-wrapper-react/custom-elements.json
Labels: apps, tools, components, pie-storybook, pie-icon-button

#558 docs(pie-docs) - Use simpleTable on global spacing tokens page
  .changeset/tender-jobs-tell.md
  apps/pie-docs/src/_11ty/shortcodes/simpleTable.js
  apps/pie-docs/src/assets/styles/components/_simpleTable.scss
  apps/pie-docs/src/foundations/spacing/tokens/global.md
  apps/pie-docs/src/foundations/spacing/tokens/globalSpacingTokens.json
Labels: apps, pie-docs

#556 fix(pie-icons-configs): removes a console error if iconSize prop is not passed
  .changeset/wet-hounds-trade.md
  packages/tools/pie-icons-configs/__tests__/configs.test.js
  packages/tools/pie-icons-configs/configs.js
Labels: tools

#567 docs(pie-monorepo): making component readmes consistent
  packages/components/pie-button/README.md
  packages/components/pie-icon-button/README.md
  packages/components/pie-modal/README.md
Labels: components, pie-button, pie-modal, pie-icon-button

#566 format(pie-icon-button): updated defs to use different array type syntax
  .changeset/dry-cars-call.md
  packages/components/pie-button/src/defs.ts
  packages/components/pie-icon-button/src/defs.ts
  packages/components/pie-modal/src/defs.ts
Labels: components, pie-button, pie-modal, pie-icon-button

#565 feat(pie-wrapper-react): fixed order of custom-elements.json
  .changeset/mean-cooks-nail.md
  packages/tools/pie-wrapper-react/custom-elements.json
  packages/tools/pie-wrapper-react/scripts/add-react-wrapper.js
Labels: tools

#575 fix(pie-webc-core): removed percy lit options and supporting material
  .changeset/hip-falcons-jog.md
  configs/pie-components-config/playwright-lit-visual-config.js
  package.json
  packages/components/pie-button/test/visual/pie-button.spec.ts
  packages/components/pie-icon-button/test/visual/pie-icon-button.spec.ts
  packages/components/pie-modal/test/visual/pie-modal.spec.ts
  packages/components/pie-webc-core/src/test-helpers/index.ts
  packages/components/pie-webc-core/src/test-helpers/percy-lit-options.ts
  yarn.lock
Labels: components, pie-button, pie-modal, pie-icon-button

#564 feat(pie-modal): dsw-727 - implement scroll-locking for open modal
  .changeset/large-buckets-greet.md
  .changeset/sharp-geckos-dance.md
  apps/examples/wc-angular12/README.md
  apps/examples/wc-angular12/src/app/app.component.ts
  apps/examples/wc-next10/ButtonSizes.js
  apps/examples/wc-next13/pages/index.tsx
  apps/examples/wc-nuxt3/app.vue
  apps/examples/wc-vue3/src/App.vue
  apps/pie-storybook/stories/pie-button.stories.ts
  apps/pie-storybook/stories/pie-icon-button.stories.ts
  apps/pie-storybook/stories/pie-modal.stories.ts
  package.json
  packages/components/pie-button/README.md
  packages/components/pie-button/src/defs.ts
  packages/components/pie-button/src/index.ts
  packages/components/pie-button/test/accessibility/pie-button.spec.ts
  packages/components/pie-button/test/visual/pie-button.spec.ts
  packages/components/pie-icon-button/README.md
  packages/components/pie-icon-button/src/defs.ts
  packages/components/pie-icon-button/src/index.ts
  packages/components/pie-icon-button/test/accessibility/pie-icon-button.spec.ts
  packages/components/pie-icon-button/test/visual/pie-icon-button.spec.ts
  packages/components/pie-modal/package.json
  packages/components/pie-modal/src/defs.ts
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/src/modal.scss
  packages/components/pie-modal/test/component/pie-modal.spec.ts
  packages/components/pie-modal/test/visual/pie-modal.spec.ts
  packages/components/pie-webc-core/package.json
  packages/components/pie-webc-core/src/decorators/required-property.ts
  packages/components/pie-webc-core/src/decorators/test/required-property.spec.ts
  packages/components/pie-webc-core/src/decorators/test/valid-property-values.spec.ts
  packages/components/pie-webc-core/src/decorators/valid-property-values.ts
  packages/components/pie-webc-core/src/index.ts
  packages/components/pie-webc-core/src/test-helpers/components/web-component-test-wrapper/WebComponentTestWrapper.ts
  packages/components/pie-webc-core/src/type-helpers/DependentMap.ts
  packages/components/pie-webc-core/src/type-helpers/index.ts
  packages/tools/pie-wrapper-react/custom-elements.json
  yarn.lock
Labels: apps, tools, components, pie-button, pie-storybook, pie-modal, pie-icon-button

#578 docs(pie-monorepo): add descriptive jsdoc comments to WC props
  packages/components/pie-button/src/defs.ts
  packages/components/pie-icon-button/src/defs.ts
  packages/components/pie-modal/src/defs.ts
  packages/tools/pie-wrapper-react/custom-elements.json
Labels: tools, components, pie-button, pie-modal, pie-icon-button

#580 test(pie-monorepo): register custom elements before tests
  apps/examples/wc-angular12/package.json
  apps/examples/wc-next10/package.json
  apps/examples/wc-next13/package.json
  apps/examples/wc-nuxt2/package.json
  apps/examples/wc-nuxt3/package.json
  apps/examples/wc-react17/package.json
  apps/examples/wc-react18/package.json
  apps/examples/wc-vue3/package.json
  packages/components/pie-button/test/visual/pie-button.spec.ts
  packages/components/pie-icon-button/test/visual/pie-icon-button.spec.ts
  packages/components/pie-modal/package.json
  packages/components/pie-modal/test/component/pie-modal.spec.ts
  packages/components/pie-modal/test/visual/pie-modal.spec.ts
  turbo.json
  yarn.lock
Labels: apps, components, pie-button, pie-modal, pie-icon-button

#582 feat(pie-webc-testing): add pie-webc-testing library
  .changeset/selfish-ants-join.md
  .github/project-labeler.yml
  package.json
  packages/components/pie-button/test/accessibility/pie-button.spec.ts
  packages/components/pie-button/test/visual/pie-button.spec.ts
  packages/components/pie-icon-button/test/accessibility/pie-icon-button.spec.ts
  packages/components/pie-icon-button/test/visual/pie-icon-button.spec.ts
  packages/components/pie-modal/test/visual/pie-modal.spec.ts
  packages/components/pie-webc-core/src/index.ts
  packages/components/pie-webc-testing/CHANGELOG.md
  packages/components/pie-webc-testing/LICENSE
  packages/components/pie-webc-testing/README.md
  packages/components/pie-webc-testing/declaration.d.ts
  packages/components/pie-webc-testing/index.ts
  packages/components/pie-webc-testing/package.json
  packages/components/pie-webc-testing/src/helpers/components/index.ts
  packages/components/pie-webc-testing/src/helpers/components/web-component-test-wrapper/WebComponentTestWrapper.ts
  packages/components/pie-webc-testing/src/helpers/components/web-component-test-wrapper/webComponentTestWrapper.scss
  packages/components/pie-webc-testing/src/helpers/defs.ts
  packages/components/pie-webc-testing/src/helpers/get-all-prop-combos.ts
  packages/components/pie-webc-testing/src/helpers/index.ts
  packages/components/pie-webc-testing/src/helpers/rendering.ts
  packages/components/pie-webc-testing/src/index.ts
  packages/components/pie-webc-testing/tsconfig.json
  packages/tools/pie-wrapper-react/custom-elements-manifest.config.mjs
  packages/tools/pie-wrapper-react/custom-elements.json
  yarn.lock
Labels: tools, components, pie-button, pie-modal, pie-icon-button, pie-webc-core, pie-webc-testing

#583 refactor(pie-icon-button): ghost-tertiary renamed to ghost-secondary
  .changeset/six-fireants-teach.md
  apps/pie-storybook/stories/pie-icon-button.stories.ts
  packages/components/pie-icon-button/README.md
  packages/components/pie-icon-button/src/defs.ts
  packages/components/pie-icon-button/src/iconButton.scss
  packages/components/pie-modal/src/index.ts
Labels: apps, components, pie-storybook, pie-modal, pie-icon-button

#572 feat(pie-modal): [Added] - Add new prop and styles for modal size
  .changeset/tricky-cobras-hang.md
  apps/pie-storybook/stories/pie-modal.stories.ts
  packages/components/pie-modal/src/defs.ts
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/src/modal.scss
  packages/components/pie-modal/test/visual/pie-modal.spec.ts
  packages/tools/pie-wrapper-react/custom-elements.json
Labels: apps, tools, components, pie-storybook, pie-modal

#586 format(pie-monorepo): [Fixed] - Changeset error and icon build inconsistencies
  .changeset/friendly-islands-reply.md
  .changeset/tricky-cobras-hang.md
  packages/tools/pie-icons/bin/process-svg.js
Labels: tools, pie-icons

#554 feat(pie-docs): add anchors to headings
  .changeset/wicked-bananas-argue.md
  apps/pie-docs/package.json
  apps/pie-docs/src/_11ty/filters/headingAnchor.js
  apps/pie-docs/src/_11ty/filters/index.js
  apps/pie-docs/src/_11ty/filters/pieIconsSvg.js
  apps/pie-docs/src/_11ty/shortcodes/categorisedIconList.js
  apps/pie-docs/src/_11ty/shortcodes/list.js
  apps/pie-docs/src/_11ty/shortcodes/notification.js
  apps/pie-docs/src/_11ty/shortcodes/tokensTable/index.js
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/tokensTable.test.js.snap
  apps/pie-docs/src/_includes/header.njk
  apps/pie-docs/src/_includes/layouts/default-layout.njk
  apps/pie-docs/src/_includes/nav.njk
  apps/pie-docs/src/_utilities/markdown.js
  apps/pie-docs/src/assets/styles/_dependencies.scss
  apps/pie-docs/src/assets/styles/components/_anchorIcon.scss
  apps/pie-docs/src/assets/styles/components/_tabs.scss
  apps/pie-docs/src/assets/styles/components/_tokensTable.scss
  yarn.lock
Labels: apps, pie-docs, please review, design-review
