Repository justeattakeaway/pie, pull requests merged in 2023-07, with the labels that each got.

#592 feat(pie-icons): helper method for normalizing component icon names
  .changeset/healthy-cheetahs-collect.md
  packages/tools/pie-icons/bin/build.js
  packages/tools/pie-icons/package.json
  packages/tools/pie-icons/src/helpers/index.js
  packages/tools/pie-icons/src/helpers/test/index.test.js
  yarn.lock
Labels: tools, pie-icons

#597 refactor(pie-monorepo): set component props to public
  .changeset/nervous-jeans-tie.md
  .changeset/tender-lobsters-rest.md
  packages/components/pie-button/src/index.ts
  packages/components/pie-icon-button/src/index.ts
  packages/components/pie-modal/src/index.ts
Labels: components, pie-button, pie-modal, pie-icon-button

#596 feat(pie-button): inverse and ghost-inverse style variants
  .changeset/tender-kiwis-help.md
  apps/pie-storybook/.storybook/preview.js
  apps/pie-storybook/stories/pie-button.stories.ts
  packages/components/pie-button/README.md
  packages/components/pie-button/src/button.scss
  packages/components/pie-button/src/defs.ts
  packages/components/pie-button/test/visual/pie-button.spec.ts
  packages/components/pie-webc-testing/src/helpers/components/web-component-test-wrapper/WebComponentTestWrapper.ts
  packages/components/pie-webc-testing/src/helpers/components/web-component-test-wrapper/webComponentTestWrapper.scss
  packages/tools/pie-wrapper-react/custom-elements.json
Labels: apps, tools, components, pie-button, pie-storybook, pie-webc-testing

#588 feat(pie-modal): added `isDismissable` prop
  .changeset/three-forks-smash.md
  apps/pie-storybook/stories/pie-modal.stories.ts
  packages/components/pie-modal/README.md
  packages/components/pie-modal/src/defs.ts
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/test/component/pie-modal.spec.ts
  packages/components/pie-modal/test/visual/pie-modal.spec.ts
  packages/tools/pie-wrapper-react/custom-elements.json
Labels: apps, tools, components, pie-storybook, pie-modal

#600 feat(pie-modal): added `IsFullWidthBelowMid` prop
  .changeset/silent-cougars-cover.md
  apps/pie-storybook/stories/pie-modal.stories.ts
  packages/components/pie-modal/README.md
  packages/components/pie-modal/src/defs.ts
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/src/modal.scss
  packages/components/pie-modal/test/visual/pie-modal.spec.ts
  packages/tools/pie-wrapper-react/custom-elements.json
Labels: apps, tools, components, pie-storybook, pie-modal

#599 feat(pie-modal): [Added] - Add `returnFocusAfterCloseSelector` prop
  .changeset/heavy-sloths-serve.md
  .changeset/many-monkeys-cross.md
  .changeset/slow-starfishes-press.md
  apps/pie-storybook/stories/pie-modal.stories.ts
  packages/components/pie-button/src/index.ts
  packages/components/pie-modal/README.md
  packages/components/pie-modal/src/defs.ts
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/test/component/pie-modal.spec.ts
  packages/components/pie-modal/test/helpers/index.ts
  packages/components/pie-modal/test/visual/pie-modal.spec.ts
  packages/components/pie-webc-testing/src/helpers/components/web-component-test-wrapper/WebComponentTestWrapper.ts
  packages/tools/pie-wrapper-react/custom-elements.json
  yarn.lock
Labels: apps, tools, components, pie-button, pie-storybook, pie-modal, pie-webc-testing

#603 feat(pie-button): add loading state
  .changeset/friendly-ads-cover.md
  .eslintrc.js
  apps/pie-storybook/stories/pie-button.stories.ts
  packages/components/pie-button/README.md
  packages/components/pie-button/src/button.scss
  packages/components/pie-button/src/defs.ts
  packages/components/pie-button/src/index.ts
  packages/components/pie-button/test/visual/pie-button.spec.ts
  packages/tools/pie-wrapper-react/custom-elements.json
Labels: apps, tools, components, pie-button, pie-storybook

#602 ci(pie-monorepo): fix example app builds + add CI workflow
  .changeset/breezy-monkeys-listen.md
  .changeset/cuddly-dogs-prove.md
  .changeset/fuzzy-taxis-joke.md
  .changeset/gentle-wombats-end.md
  .changeset/smart-taxis-draw.md
  .github/workflows/example-apps-ci.yml
  .github/workflows/install-build.yml
  apps/examples/wc-next10/VariantSwitch.js
  apps/examples/wc-next10/package.json
  apps/examples/wc-next13/eslintrc.js
  apps/examples/wc-next13/package.json
  apps/examples/wc-next13/pages/index.tsx
  apps/examples/wc-nuxt2/package.json
  apps/examples/wc-react18/src/App.js
  apps/examples/wc-vanilla/package.json
  apps/examples/wc-vue3/tsconfig.json
  package.json
  turbo.json
  yarn.lock
Labels: apps

#611 feat(pie-monorepo): ensure modal and icon-button implement interfaces
  .changeset/mean-singers-camp.md
  packages/components/pie-icon-button/src/index.ts
  packages/components/pie-modal/src/index.ts
Labels: components, pie-modal, pie-icon-button

#617 feat(pie-wrapper-react): use camelcase for react event callbacks
  .changeset/nice-ladybugs-provide.md
  packages/tools/pie-wrapper-react/__tests__/__snapshots__/wrapper.test.js.snap
  packages/tools/pie-wrapper-react/__tests__/mocks/mock-custom-elements.json
  packages/tools/pie-wrapper-react/scripts/add-react-wrapper.js
  yarn.lock
Labels: tools

#610 ci(pie-monorepo): modify workflow to deploy example apps on push to main
  .changeset/tough-clouds-own.md
  .github/workflows/amplify-deploy.yml
  .github/workflows/example-apps-ci.yml
  .github/workflows/install-build.yml
  apps/examples/wc-next10/.eslintignore
  apps/examples/wc-next10/next.config.js
  apps/examples/wc-next10/package.json
  apps/examples/wc-nuxt2/package.json
  apps/examples/wc-nuxt3/package.json
  package.json
  turbo.json
Labels: apps, please review

#623 feat(pie-modal): dsw-975 - add hasBackButton prop
  .changeset/good-roses-work.md
  .changeset/serious-tables-admire.md
  .changeset/tricky-tools-sip.md
  apps/pie-storybook/args/commonArgsTypes.ts
  apps/pie-storybook/stories/pie-modal.stories.ts
  packages/components/pie-modal/README.md
  packages/components/pie-modal/src/defs.ts
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/src/modal.scss
  packages/components/pie-modal/test/component/pie-modal.spec.ts
  packages/components/pie-modal/test/visual/pie-modal.spec.ts
  packages/components/pie-webc-core/src/mixins/rtl/rtlMixin.ts
  packages/tools/pie-wrapper-react/custom-elements.json
Labels: apps, tools, components, pie-storybook, pie-modal, pie-webc-core

#626 Storybook types
  .changeset/shaggy-games-tan.md
  apps/pie-storybook/stories/pie-button.stories.ts
  apps/pie-storybook/stories/pie-icon-button.stories.ts
  apps/pie-storybook/stories/pie-modal.stories.ts
  apps/pie-storybook/types/SlottedComponentProps.ts
  apps/pie-storybook/types/StoryMeta.ts
  apps/pie-storybook/types/index.ts
Labels: apps, pie-storybook

#619 feat(pie-modal): Add default buttons to footer
  .changeset/large-dragons-act.md
  .changeset/spicy-carrots-pretend.md
  .changeset/spotty-socks-attack.md
  packages/components/pie-modal/package.json
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/src/modal.scss
  packages/components/pie-modal/test/component/pie-modal.spec.ts
  packages/tools/pie-wrapper-react/custom-elements.json
  yarn.lock
Labels: tools, components, pie-modal

#628 feat(pie-modal): add loading spinner to modal
  .changeset/rare-needles-yawn.md
  apps/pie-storybook/stories/pie-modal.stories.ts
  packages/components/pie-modal/README.md
  packages/components/pie-modal/src/defs.ts
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/src/modal.scss
  packages/components/pie-modal/test/visual/pie-modal.spec.ts
  packages/tools/pie-wrapper-react/custom-elements.json
Labels: apps, tools, components, pie-storybook, pie-modal

#613 test(pie-modal): moved tests from visual to component
  .changeset/green-ducks-poke.md
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/test/component/pie-modal.spec.ts
  packages/components/pie-modal/test/helpers/index.ts
  packages/components/pie-modal/test/visual/pie-modal.spec.ts
Labels: components, pie-modal

#627 cosmetic(pie-modal): sync header styles with designs
  .changeset/early-hounds-buy.md
  .changeset/famous-gifts-shout.md
  packages/components/pie-icon-button/src/iconButton.scss
  packages/components/pie-modal/src/modal.scss
  packages/components/pie-modal/test/visual/pie-modal.spec.ts
Labels: components, pie-modal, pie-icon-button

#632 feat(pie-modal): Add leadingAction prop
  .changeset/fifty-geckos-count.md
  apps/pie-storybook/stories/pie-modal.stories.ts
  packages/components/pie-button/src/defs.ts
  packages/components/pie-modal/README.md
  packages/components/pie-modal/src/defs.ts
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/test/component/pie-modal.spec.ts
  packages/components/pie-modal/test/visual/pie-modal.spec.ts
  packages/tools/pie-wrapper-react/custom-elements.json
Labels: apps, tools, components, pie-button, pie-storybook, pie-modal

#622 feat(generator-pie-component): init pie components generator
  .changeset/swift-masks-sit.md
  .github/project-labeler.yml
  apps/pie-storybook/stories/pie-button.stories.ts
  apps/pie-storybook/stories/pie-icon-button.stories.ts
  apps/pie-storybook/stories/pie-modal.stories.ts
  package.json
  packages/tools/generator-pie-component/.eslintignore
  packages/tools/generator-pie-component/.gitignore
  packages/tools/generator-pie-component/LICENSE
  packages/tools/generator-pie-component/README.md
  packages/tools/generator-pie-component/package.json
  packages/tools/generator-pie-component/src/app/index.ts
  packages/tools/generator-pie-component/src/app/templates/LICENSE
  packages/tools/generator-pie-component/src/app/templates/README.md
  packages/tools/generator-pie-component/src/app/templates/__package__.json
  packages/tools/generator-pie-component/src/app/templates/component.__stories__.ts
  packages/tools/generator-pie-component/src/app/templates/declaration.d.ts
  packages/tools/generator-pie-component/src/app/templates/playwright-lit-visual.config.ts
  packages/tools/generator-pie-component/src/app/templates/playwright-lit.config.ts
  packages/tools/generator-pie-component/src/app/templates/src/component.scss
  packages/tools/generator-pie-component/src/app/templates/src/defs.ts
  packages/tools/generator-pie-component/src/app/templates/src/index.ts
  packages/tools/generator-pie-component/src/app/templates/tsconfig.json
  packages/tools/generator-pie-component/src/app/templates/vite.config.js
  packages/tools/generator-pie-component/src/app/types.ts
  packages/tools/generator-pie-component/src/app/utils.ts
  packages/tools/generator-pie-component/tsconfig.json
  packages/tools/generator-pie-component/vite.config.js
  yarn.lock
Labels: apps, tools, pie-storybook

#625 feat(pie-monorepo): DSW-801 jira ticket ids automation
  .changeset/curly-clouds-lie.md
  .changeset/flat-beers-work.md
  .cz-config.js
  .github/workflows/pr-title-linter.yml
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  commitlint.config.js
  package.json
  packages/tools/git-hooks-scripts/README.md
  packages/tools/git-hooks-scripts/__tests__/git-hooks-utils.test.js
  packages/tools/git-hooks-scripts/check-branch-name.js
  packages/tools/git-hooks-scripts/check-ticket-id.js
  packages/tools/git-hooks-scripts/git-hooks-utils.js
  packages/tools/git-hooks-scripts/package.json
  yarn.lock
Labels: tools

#644 feat(pie-storybook): DSW-000 upgrade storybook to 7.1.0
  .changeset/flat-books-hunt.md
  apps/pie-storybook/package.json
  yarn.lock
Labels: apps, pie-storybook

#634 feat(pie-button): DSW-867 added slots for leading and trailing icons
  .changeset/great-baboons-rush.md
  .changeset/stale-parents-attack.md
  .changeset/warm-numbers-judge.md
  apps/examples/wc-vanilla/index.html
  apps/examples/wc-vanilla/main.js
  apps/examples/wc-vanilla/package.json
  apps/pie-storybook/.storybook/preview.js
  apps/pie-storybook/stories/pie-button.stories.ts
  packages/components/pie-button/README.md
  packages/components/pie-button/src/button.scss
  packages/components/pie-button/src/index.ts
  packages/components/pie-button/test/visual/pie-button.spec.ts
  packages/tools/pie-wrapper-react/custom-elements.json
  yarn.lock
Labels: apps, tools, components, pie-button, pie-storybook

#643 feat(pie-modal): DSW-931 added supportingAction prop
  .changeset/witty-months-applaud.md
  apps/pie-storybook/stories/pie-modal.stories.ts
  packages/components/pie-modal/README.md
  packages/components/pie-modal/src/defs.ts
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/test/component/pie-modal.spec.ts
  packages/components/pie-modal/test/visual/pie-modal.spec.ts
  packages/tools/pie-wrapper-react/custom-elements.json
Labels: apps, tools, components, pie-storybook, pie-modal

#642 feat(pie-docs): DSW-868 replace tokenTable with simpleTokenTable for global typography tokens
  .changeset/two-shoes-try.md
  apps/pie-docs/src/_11ty/shortcodes/simpleTable.js
  apps/pie-docs/src/_11ty/shortcodes/tokensTable/handleTokenData.js
  apps/pie-docs/src/_11ty/shortcodes/tokensTable/index.js
  apps/pie-docs/src/_11ty/shortcodes/tokensTable/tokenTypes/colour.js
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/tokensTable.test.js.snap
  apps/pie-docs/src/__tests__/_11ty/shortcodes/tokensTable.test.js
  apps/pie-docs/src/_utilities/tokens.js
  apps/pie-docs/src/foundations/spacing/tokens/global.md
  apps/pie-docs/src/foundations/spacing/tokens/globalSpacingTokens.json
  apps/pie-docs/src/foundations/typography/tokens/global.md
  apps/pie-docs/src/tokensMetadata.json
Labels: apps, pie-docs

#653 chore(pie-monorepo): DSW-1022 add js linting to components
  .changeset/warm-mails-report.md
  packages/components/pie-button/.eslintignore
  packages/components/pie-button/package.json
  packages/components/pie-button/playwright-lit-visual.config.ts
  packages/components/pie-button/playwright-lit.config.ts
  packages/components/pie-button/playwright/index.ts
  packages/components/pie-button/test/component/pie-button.spec.ts
  packages/components/pie-button/tsconfig.json
  packages/components/pie-icon-button/.eslintignore
  packages/components/pie-icon-button/package.json
  packages/components/pie-icon-button/playwright-lit-visual.config.ts
  packages/components/pie-icon-button/playwright-lit.config.ts
  packages/components/pie-icon-button/playwright/index.ts
  packages/components/pie-icon-button/src/iconButton.scss
  packages/components/pie-icon-button/tsconfig.json
  packages/components/pie-modal/.eslintignore
  packages/components/pie-modal/package.json
  packages/components/pie-modal/playwright-lit-visual.config.ts
  packages/components/pie-modal/playwright-lit.config.ts
  packages/components/pie-modal/playwright/index.ts
  packages/components/pie-modal/tsconfig.json
  packages/components/pie-webc-core/.eslintignore
  packages/components/pie-webc-core/package.json
  packages/components/pie-webc-core/src/mixins/rtl/rtlMixin.ts
  packages/components/pie-webc-core/tsconfig.json
  packages/components/pie-webc-testing/.eslintignore
  packages/components/pie-webc-testing/package.json
  packages/components/pie-webc-testing/tsconfig.json
  packages/tools/pie-wrapper-react/custom-elements.json
  yarn.lock
Labels: tools, components, pie-button, pie-modal, pie-icon-button, pie-webc-core, pie-webc-testing

#647 feat(pie-docs): DSW-870 update radius and elevation global token pages
  .changeset/mighty-badgers-buy.md
  apps/pie-docs/src/assets/styles/components/_simpleTable.scss
  apps/pie-docs/src/foundations/elevation/tokens/global.md
  apps/pie-docs/src/foundations/radius/tokens/global.md
  apps/pie-docs/src/foundations/typography/tokens/global.md
  apps/pie-docs/src/tokensMetadata.json
Labels: apps, pie-docs

#648 feat(pie-modal): DSW-932 add isFooterPinned prop
  .changeset/flat-icons-explain.md
  apps/pie-storybook/stories/pie-modal.stories.ts
  packages/components/pie-modal/README.md
  packages/components/pie-modal/src/defs.ts
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/src/modal.scss
  packages/components/pie-modal/test/visual/pie-modal.spec.ts
  packages/tools/pie-wrapper-react/custom-elements.json
Labels: apps, tools, components, pie-storybook, pie-modal

#660 chore(pie-webc-testing): DSW-000 bump playwright
  configs/pie-components-config/playwright-lit-config.js
  configs/pie-components-config/playwright-lit-visual-config.js
  package.json
  packages/components/pie-button/playwright-lit-visual.config.ts
  packages/components/pie-button/playwright-lit.config.ts
  packages/components/pie-icon-button/playwright-lit-visual.config.ts
  packages/components/pie-icon-button/playwright-lit.config.ts
  packages/components/pie-modal/playwright-lit-visual.config.ts
  packages/components/pie-modal/playwright-lit.config.ts
  packages/components/pie-toggle-switch/playwright-lit-visual.config.ts
  packages/components/pie-toggle-switch/playwright-lit.config.ts
  packages/tools/generator-pie-component/src/app/templates/playwright-lit-visual.config.ts
  packages/tools/generator-pie-component/src/app/templates/playwright-lit.config.ts
  playwright-browsers.config.ts
  playwright-visual.config.ts
  yarn.lock
Labels: tools, components, pie-button, pie-modal, pie-icon-button, generator-pie-component
