Repository justeattakeaway/pie, pull requests merged in 2023-05, with the labels that each got.

#428 refactor(pie-storybook): use decorator for writing direction div
  .changeset/tricky-mayflies-jump.md
  apps/pie-storybook/.storybook/preview.js
  apps/pie-storybook/decorators/index.ts
  apps/pie-storybook/decorators/interfaces.ts
  apps/pie-storybook/decorators/writing-direction.ts
  apps/pie-storybook/stories/pie-button.stories.ts
  apps/pie-storybook/stories/withStorybookDirection.ts
Labels: apps, pie-storybook

#429 refactor(pie-monorepo): readded example apps back to changesets
  .changeset/sweet-moose-return.md
  apps/examples/wc-angular12/package.json
  apps/examples/wc-next10/package.json
  apps/examples/wc-next13/package.json
  apps/examples/wc-nuxt2/package.json
  apps/examples/wc-react17/package.json
  apps/examples/wc-react18/package.json
  apps/examples/wc-vanilla/package.json
  apps/examples/wc-vue3/package.json
Labels: apps

#431 chore(pie-monorepo): add version property to nuxt3 app
  .changeset/famous-trains-shave.md
  apps/examples/wc-nuxt3/package.json
Labels: apps

#413 chore(pie-monorepo): [Changed] Configure typescript linting
  .changeset/wet-mugs-hammer.md
  .eslintrc.js
  .gitignore
  package.json
  packages/tools/pie-eslint-config/.eslintrc.js
  packages/tools/pie-eslint-config/base/rules/node.js
  packages/tools/pie-icons-vue/.eslintrc.js
  packages/tools/pie-icons-vue/fileMock.js
  tsconfig.json
  yarn.lock
Labels: tools, pie-icons-vue

#425 Render button via ssr in nuxt
  apps/examples/wc-nuxt3/README.md
  apps/examples/wc-nuxt3/nuxt.config.ts
  apps/examples/wc-nuxt3/package.json
  yarn.lock
Labels: apps

#427 feat(pie-storybook): integrate figma into storybook
  .changeset/brave-parents-push.md
  apps/pie-storybook/.storybook/main.ts
  apps/pie-storybook/package.json
  apps/pie-storybook/stories/pie-button.stories.ts
  yarn.lock
Labels: apps, pie-storybook

#437 fix(pie-icons): [Fixed] Naming of Over18Filled icon (was OverFilled18)
  .changeset/fast-seahorses-call.md
  packages/tools/pie-icons-react/icons/IconOver18Filled.tsx
  packages/tools/pie-icons-react/icons/index.tsx
  packages/tools/pie-icons-vue/icons/IconOver18Filled.js
  packages/tools/pie-icons/src/assets/over-18-filled.svg
Labels: tools, pie-icons, pie-icons-react, pie-icons-vue

#434 feat(pie-button): add new isFullWidth prop to button
  .changeset/brave-knives-build.md
  .changeset/fifty-pens-perform.md
  .changeset/fluffy-teachers-beg.md
  .changeset/shaggy-phones-chew.md
  apps/pie-storybook/stories/pie-button.stories.ts
  packages/components/pie-button/README.md
  packages/components/pie-button/playwright/index.html
  packages/components/pie-button/src/button.scss
  packages/components/pie-button/src/index.ts
  packages/components/pie-button/test/component/pie-button.spec.ts
  packages/components/pie-button/test/visual/pie-button.spec.ts
Labels: apps, components, pie-button, pie-storybook

#443 fix(pie-icons): [Fixed] Typos in icon names
  .changeset/thirty-mangos-call.md
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/iconList.test.js.snap
  packages/tools/pie-icons-react/icons/IconCheckCircleLarge.tsx
  packages/tools/pie-icons-react/icons/IconDeliveryFeeLarge.tsx
  packages/tools/pie-icons-react/icons/IconLocationPinFood.tsx
  packages/tools/pie-icons-react/icons/IconReceiptError.tsx
  packages/tools/pie-icons-react/icons/IconReceiptErrorLarge.tsx
  packages/tools/pie-icons-react/icons/IconSwissFrancLarge.tsx
  packages/tools/pie-icons-react/icons/IconTarget.tsx
  packages/tools/pie-icons-react/icons/index.tsx
  packages/tools/pie-icons-vue/icons/IconCheckCircleLarge.js
  packages/tools/pie-icons-vue/icons/IconDeliveryFeeLarge.js
  packages/tools/pie-icons-vue/icons/IconLocationPinFood.js
  packages/tools/pie-icons-vue/icons/IconReceiptError.js
  packages/tools/pie-icons-vue/icons/IconReceiptErrorLarge.js
  packages/tools/pie-icons-vue/icons/IconSwissFrancLarge.js
  packages/tools/pie-icons-vue/icons/IconTarget.js
  packages/tools/pie-icons/src/assets/check-circle-large.svg
  packages/tools/pie-icons/src/assets/delivery-fee-large.svg
  packages/tools/pie-icons/src/assets/location-pin-food.svg
  packages/tools/pie-icons/src/assets/receipt-error-large.svg
  packages/tools/pie-icons/src/assets/receipt-error.svg
  packages/tools/pie-icons/src/assets/swiss-franc-large.svg
  packages/tools/pie-icons/src/assets/target.svg
Labels: apps, tools, pie-icons, pie-icons-react, pie-icons-vue, pie-docs

#444 feat(pie-docs): Add accessibility section
  .changeset/tricky-kids-approve.md
  apps/pie-docs/package.json
  apps/pie-docs/src/_includes/footer.njk
  apps/pie-docs/src/_includes/nav.njk
  apps/pie-docs/src/accessibility/accessibility-overview.md
  apps/pie-docs/src/accessibility/accessibility.json
  apps/pie-docs/src/accessibility/accessibility.md
  apps/pie-docs/src/assets/img/accessibility/accessibility-overview/accessibility-introduction.svg
  apps/pie-docs/src/assets/img/accessibility/accessibility-overview/accessibility-introduction_narrow.svg
  apps/pie-docs/src/assets/img/accessibility/accessibility-overview/jet-guidelines.svg
  apps/pie-docs/src/assets/img/accessibility/accessibility-overview/w3c-guidelines.svg
  apps/pie-docs/src/assets/img/accessibility/accessibility-overview/wcag-guidelines.svg
  apps/pie-docs/src/assets/img/social/landing_accessibility.png
  apps/pie-docs/src/foundations/foundations.md
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
Labels: apps, pie-docs

#447 feat(pie-docs): add global token usage warning to all global pages
  .changeset/eight-plants-relate.md
  .changeset/lovely-rats-crash.md
  apps/pie-docs/src/_11ty/shortcodes/index.js
  apps/pie-docs/src/_11ty/shortcodes/notifications/globalTokensWarning.js
  apps/pie-docs/src/assets/styles/components/_notification.scss
  apps/pie-docs/src/foundations/colour/tokens/global.md
  apps/pie-docs/src/foundations/elevation/tokens/global.md
  apps/pie-docs/src/foundations/radius/tokens/global.md
  apps/pie-docs/src/foundations/spacing/tokens/alias.md
  apps/pie-docs/src/foundations/spacing/tokens/global.md
  apps/pie-docs/src/foundations/typography/tokens/global.md
Labels: apps, pie-docs

#440 feat(pie-docs): updated token tab ordering
  .changeset/pink-planets-trade.md
  apps/pie-docs/src/foundations/colour/tokens/alias/light.md
  apps/pie-docs/src/foundations/colour/tokens/global.md
  apps/pie-docs/src/foundations/elevation/tokens/alias/light.md
  apps/pie-docs/src/foundations/elevation/tokens/global.md
  apps/pie-docs/src/foundations/radius/tokens/alias.md
  apps/pie-docs/src/foundations/radius/tokens/global.md
  apps/pie-docs/src/foundations/spacing/tokens/alias.md
  apps/pie-docs/src/foundations/spacing/tokens/global.md
  apps/pie-docs/src/foundations/typography/tokens/alias/wide.md
  apps/pie-docs/src/foundations/typography/tokens/global.md
Labels: apps, pie-docs

#446 Categorise the icons on the foundations/iconography/library page
  .changeset/large-foxes-taste.md
  .changeset/shiny-bats-marry.md
  apps/pie-docs/src/_11ty/filters/pieIconsSvg.js
  apps/pie-docs/src/_11ty/shortcodes/categorisedIconList.js
  apps/pie-docs/src/_11ty/shortcodes/iconList.js
  apps/pie-docs/src/_11ty/shortcodes/index.js
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/categorisedIconList.test.js.snap
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/iconList.test.js.snap
  apps/pie-docs/src/__tests__/_11ty/shortcodes/categorisedIconList.test.js
  apps/pie-docs/src/__tests__/_11ty/shortcodes/iconList.test.js
  apps/pie-docs/src/assets/styles/_dependencies.scss
  apps/pie-docs/src/assets/styles/components/_categorisedIconList.scss
  apps/pie-docs/src/assets/styles/components/_iconList.scss
  apps/pie-docs/src/foundations/iconography/library.md
  apps/pie-docs/src/iconData.json
Labels: apps, pie-docs

#453 feat(pie-docs): Add accessibility resources page
  .changeset/sixty-bottles-brake.md
  apps/pie-docs/src/accessibility/accessibility-resources.md
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
Labels: apps, pie-docs

#460 fix(eslint-config-pie): package name changed to be correct extension format
  .changeset/brave-knives-type.md
  .changeset/clever-avocados-obey.md
  .eslintrc.js
  apps/examples/wc-next10/eslintrc.js
  apps/examples/wc-next13/.eslintrc.js
  apps/examples/wc-react18/.eslintrc.js
  apps/examples/wc-vue3/.eslintrc.js
  apps/pie-docs/.eslintrc.js
  apps/pie-docs/src/engineers/getting-started/structure.md
  packages/tools/eslint-config-pie/.eslintrc.js
  packages/tools/eslint-config-pie/CHANGELOG.md
  packages/tools/eslint-config-pie/CODE_OF_CONDUCT.md
  packages/tools/eslint-config-pie/LICENCE.md
  packages/tools/eslint-config-pie/README.md
  packages/tools/eslint-config-pie/__tests__/__snapshots__/eslint-rules.test.js.snap
  packages/tools/eslint-config-pie/__tests__/eslint-rules.test.js
  packages/tools/eslint-config-pie/base/index.js
  packages/tools/eslint-config-pie/base/rules/best-practices.js
  packages/tools/eslint-config-pie/base/rules/classes.js
  packages/tools/eslint-config-pie/base/rules/errors.js
  packages/tools/eslint-config-pie/base/rules/es6.js
  packages/tools/eslint-config-pie/base/rules/imports.js
  packages/tools/eslint-config-pie/base/rules/index.js
  packages/tools/eslint-config-pie/base/rules/node.js
  packages/tools/eslint-config-pie/base/rules/style.js
  packages/tools/eslint-config-pie/frameworks/index.js
  packages/tools/eslint-config-pie/frameworks/vue.js
  packages/tools/eslint-config-pie/frameworks/vue3.js
  packages/tools/eslint-config-pie/package.json
  packages/tools/eslint-config-pie/strict/index.js
  packages/tools/eslint-config-pie/strict/rules/best-practices.js
  packages/tools/eslint-config-pie/strict/rules/imports.js
  packages/tools/eslint-config-pie/strict/rules/style.js
  packages/tools/pie-icons-react/.eslintrc.js
  packages/tools/pie-icons-vue/.eslintrc.js
  packages/tools/pie-icons/.eslintrc.js
  packages/tools/pie-stylelint-config/.eslintrc.js
  yarn.lock
Labels: apps, tools, pie-docs

#450 Feature accessibility pages
  .changeset/fluffy-pets-matter.md
  .changeset/sixty-bottles-brake.md
  .changeset/tricky-kids-approve.md
  apps/pie-docs/package.json
  apps/pie-docs/src/_includes/footer.njk
  apps/pie-docs/src/_includes/nav.njk
  apps/pie-docs/src/accessibility/accessibility-overview.md
  apps/pie-docs/src/accessibility/accessibility-resources.md
  apps/pie-docs/src/accessibility/accessibility.json
  apps/pie-docs/src/accessibility/accessibility.md
  apps/pie-docs/src/accessibility/testing-for-accessibility.md
  apps/pie-docs/src/assets/img/accessibility/accessibility-overview/accessibility-introduction.svg
  apps/pie-docs/src/assets/img/accessibility/accessibility-overview/accessibility-introduction_narrow.svg
  apps/pie-docs/src/assets/img/accessibility/accessibility-overview/jet-guidelines.svg
  apps/pie-docs/src/assets/img/accessibility/accessibility-overview/w3c-guidelines.svg
  apps/pie-docs/src/assets/img/accessibility/accessibility-overview/wcag-guidelines.svg
  apps/pie-docs/src/assets/img/accessibility/testing-for-accessibility/aa-wcag.svg
  apps/pie-docs/src/assets/img/accessibility/testing-for-accessibility/aa-wcag_narrow.svg
  apps/pie-docs/src/assets/img/accessibility/testing-for-accessibility/checklist.svg
  apps/pie-docs/src/assets/img/accessibility/testing-for-accessibility/checklist_narrow.svg
  apps/pie-docs/src/assets/img/social/landing_accessibility.png
  apps/pie-docs/src/foundations/foundations.md
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
Labels: apps, pie-docs, please review

#438 feat(wc-next13): Render button via SSR in Next@13
  apps/examples/wc-next10/README.md
  apps/examples/wc-next13/README.md
  apps/examples/wc-next13/next.config.js
  apps/examples/wc-next13/package.json
  package.json
  yarn.lock
Labels: apps

#466 Revert "chore(pie-storybook): Update storybook to v7.0.12"
  apps/pie-storybook/package.json
  yarn.lock
Labels: apps, pie-storybook

#464 feat(pie-docs): update urls for a11y pages
  .changeset/wet-cups-shop.md
  apps/pie-docs/src/accessibility/overview.md
  apps/pie-docs/src/accessibility/resources.md
  apps/pie-docs/src/accessibility/testing-for-accessibility.md
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
Labels: apps, DO NOT MERGE, pie-docs

#475 fix(pie-docs): fixed Playwright baseUrl
  .changeset/happy-islands-jog.md
  apps/pie-docs/test/helpers/configuration-helper.js
Labels: apps, pie-docs

#473 feat(pie-docs): add 11ty drafts
  .changeset/honest-taxis-shop.md
  .changeset/sixty-steaks-rhyme.md
  apps/pie-docs/README.md
  apps/pie-docs/src/_includes/footer.njk
  apps/pie-docs/src/_includes/nav.njk
  apps/pie-docs/src/src.11tydata.js
  turbo.json
Labels: apps, pie-docs, please review

#479 refactor(pie-icons): fix vulnerability in pie-icons
  .changeset/five-dolphins-relax.md
  packages/tools/pie-icons/bin/build-icons-json.js
  packages/tools/pie-icons/bin/build-icons-object.js
  packages/tools/pie-icons/package.json
  yarn.lock
Labels: tools, pie-icons

#486 feat(pie-monorepo): shell for pie-icon-button package
  .changeset/cyan-carrots-join.md
  .changeset/lemon-hairs-design.md
  .changeset/little-humans-walk.md
  .changeset/shy-zoos-bathe.md
  .github/project-labeler.yml
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/card.test.js.snap
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/categorisedIconList.test.js.snap
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/list.test.js.snap
  apps/pie-storybook/package.json
  apps/pie-storybook/stories/pie-icon-button.stories.ts
  packages/components/pie-icon-button/CHANGELOG.md
  packages/components/pie-icon-button/LICENSE
  packages/components/pie-icon-button/README.md
  packages/components/pie-icon-button/declaration.d.ts
  packages/components/pie-icon-button/package.json
  packages/components/pie-icon-button/src/index.ts
  packages/components/pie-icon-button/tsconfig.json
  packages/components/pie-icon-button/vite.config.js
  yarn.lock
Labels: apps, components, pie-storybook, pie-docs, pie-icon-button

#489 test(pie-docs): added colour page toggle system test
  .changeset/tidy-carrots-shave.md
  apps/pie-docs/src/_includes/layouts/toggle-page-layout.njk
  apps/pie-docs/test/system/colour-toggle.spec.js
Labels: apps, pie-docs

#474 pie-docs: Updates following design review
  .changeset/new-walls-tease.md
  .changeset/pretty-phones-march.md
  apps/pie-docs/src/_11ty/shortcodes/tokensTable/index.js
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/categorisedIconList.test.js.snap
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/tokensTable.test.js.snap
  apps/pie-docs/src/assets/styles/base/_typography.scss
  apps/pie-docs/src/assets/styles/components/_categorisedIconList.scss
  apps/pie-docs/src/assets/styles/components/_contentPage.scss
  apps/pie-docs/src/assets/styles/components/_tokensTable.scss
  apps/pie-docs/src/iconData.json
Labels: apps, pie-docs

#485 feat(pie-docs): add skip to content link to site
  .changeset/gentle-dingos-wait.md
  .changeset/shy-planes-thank.md
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/categorisedIconList.test.js.snap
  apps/pie-docs/src/_includes/layouts/default-layout.njk
  apps/pie-docs/src/assets/styles/_dependencies.scss
  apps/pie-docs/src/assets/styles/base/_page.scss
  apps/pie-docs/src/assets/styles/components/_skipLink.scss
Labels: apps, pie-docs

#492 fix(pie-monorepo): correct turborepo dependency tree for test tasks
  .changeset/chilly-carpets-sniff.md
  .changeset/light-countries-compete.md
  .changeset/modern-ligers-film.md
  .changeset/strong-comics-cry.md
  apps/pie-docs/package.json
  package.json
  packages/components/pie-button/package.json
  packages/components/pie-icon-button/package.json
  packages/components/pie-modal/package.json
  turbo.json
  yarn.lock
Labels: apps, components, pie-button, pie-docs, pie-modal, pie-icon-button

#491 feat(pie-icon-button): add variant and disabled props and styles
  .changeset/clever-radios-pretend.md
  .changeset/cold-kiwis-develop.md
  .changeset/heavy-crabs-smoke.md
  .changeset/three-waves-attend.md
  apps/pie-storybook/.storybook/preview-body.html
  apps/pie-storybook/stories/pie-icon-button.stories.ts
  packages/components/pie-button/src/decorators.ts
  packages/components/pie-button/src/index.ts
  packages/components/pie-icon-button/package.json
  packages/components/pie-icon-button/src/defs.ts
  packages/components/pie-icon-button/src/iconButton.scss
  packages/components/pie-icon-button/src/index.ts
  packages/components/pie-webc-core/src/decorators/index.ts
  packages/components/pie-webc-core/src/decorators/valid-property-values/validPropertyValues.ts
  packages/components/pie-webc-core/src/index.ts
  yarn.lock
Labels: apps, components, pie-button, pie-storybook, pie-icon-button

#487 feat(pie-monorepo): extract and share web components configuration files
  .changeset/curly-donuts-cover.md
  .changeset/silly-cars-hug.md
  .changeset/strong-moose-judge.md
  apps/pie-docs/test/playwright/playwright-helper.js
  configs/constants/cookies.js
  configs/pie-components-config/README.md
  configs/pie-components-config/index.js
  configs/pie-components-config/package.json
  configs/pie-components-config/placeholder.ts
  configs/pie-components-config/playwright-lit-config.js
  configs/pie-components-config/playwright-lit-visual-config.js
  configs/pie-components-config/tsconfig.json
  configs/pie-components-config/vite.config.js
  package.json
  packages/components/pie-button/package.json
  packages/components/pie-button/playwright-lit-visual.config.ts
  packages/components/pie-button/playwright-lit.config.ts
  packages/components/pie-button/tsconfig.json
  packages/components/pie-icon-button/package.json
  packages/components/pie-icon-button/tsconfig.json
  packages/components/pie-icon-button/vite.config.js
  packages/components/pie-modal/package.json
  packages/components/pie-modal/tsconfig.json
  packages/components/pie-modal/vite.config.js
  yarn.lock
Labels: apps, components, pie-button, pie-docs, pie-modal, pie-icon-button
