Repository justeattakeaway/pie, pull requests merged in 2023-09, with the labels that each got.

#779 docs(pie-storybook): DSW-000 update storybook to v7.4.0
  .changeset/happy-cooks-join.md
  apps/pie-storybook/.storybook/main.ts
  apps/pie-storybook/package.json
  yarn.lock
Labels: apps, pie-storybook

#778 fix(pie-button): DSW-1181 transparency mode added to hsl mixin for ghost and outline buttons
  .changeset/early-teachers-tickle.md
  .changeset/modern-ducks-call.md
  apps/pie-storybook/.storybook/preview.js
  apps/pie-storybook/.storybook/viewports.js
  apps/pie-storybook/stories/pie-button.stories.ts
  packages/components/pie-button/src/button.scss
Labels: apps, components, pie-button, pie-storybook

#780 feat(pie-card-container): DSW-1156 add basic markup, styling and link functionality)
  .changeset/angry-maps-heal.md
  apps/pie-storybook/.storybook/preview-head.html
  apps/pie-storybook/stories/pie-card-container.stories.ts
  packages/components/pie-card-container/README.md
  packages/components/pie-card-container/src/card-container.scss
  packages/components/pie-card-container/src/defs.ts
  packages/components/pie-card-container/src/index.ts
  packages/components/pie-card-container/test/component/pie-card-container.spec.ts
  packages/components/pie-card-container/test/visual/pie-card-container.spec.ts
Labels: apps, components, pie-storybook

#784 chore(pie-monorepo): DSW-935 add missing peer dependencies
  .changeset/calm-meals-begin.md
  apps/examples/wc-next10/package.json
  apps/examples/wc-next13/package.json
  apps/examples/wc-vanilla/package.json
  apps/pie-docs/.eleventy.js
  apps/pie-docs/package.json
  apps/pie-docs/src/_11ty/plugins/index.js
  apps/pie-docs/src/_includes/scripts.njk
  apps/pie-storybook/stories/pie-cookie-banner.stories.ts
  package.json
  packages/components/pie-button/package.json
  packages/components/pie-cookie-banner/package.json
  packages/components/pie-icon-button/package.json
  packages/components/pie-modal/package.json
  packages/tools/pie-css/package.json
  packages/tools/pie-icons-react/package.json
  packages/tools/pie-icons-vue/package.json
  packages/tools/pie-icons-webc/package.json
  packages/tools/pie-wrapper-react/package.json
  yarn.lock
Labels: apps, tools, pie-icons-react, pie-icons-vue, components, pie-button, pie-storybook, pie-docs, pie-modal, pie-icon-button, pie-css

#787 fix(pie-toggle-switch): DSW-1196 safari bug issue
  .changeset/young-snakes-begin.md
  packages/components/pie-toggle-switch/src/toggle-switch.scss
Labels: components, pie-toggle-switch

#788 refactor(pie-storybook): DSW-000 updated creation of stories to be more succint
  .changeset/serious-nails-greet.md
  apps/examples/wc-next13/README.md
  apps/pie-docs/src/assets/styles/_dependencies.scss
  apps/pie-docs/src/assets/styles/components/_usage.scss
  apps/pie-storybook/interfaces/story-options.ts
  apps/pie-storybook/stories/pie-button.stories.ts
Labels: apps, pie-storybook, pie-docs

#789 feat(pie-card-container): DSW-1167 add variant prop to card
  .changeset/eighty-rockets-carry.md
  apps/pie-storybook/.storybook/preview.js
  apps/pie-storybook/stories/pie-card-container.stories.ts
  packages/components/pie-card-container/README.md
  packages/components/pie-card-container/src/card-container.scss
  packages/components/pie-card-container/src/defs.ts
  packages/components/pie-card-container/test/visual/pie-card-container.spec.ts
Labels: apps, components, pie-storybook

#794 fix(pie-toggle-switch): DSW-1220 safari ios bug
  .changeset/curvy-terms-move.md
  packages/components/pie-toggle-switch/src/toggle-switch.scss
Labels: components, pie-toggle-switch

#795 refactor(pie-storybook): DSW-1218 make story creation more generic
  apps/pie-storybook/.storybook/preview.ts
  apps/pie-storybook/interfaces/story-options.ts
  apps/pie-storybook/stories/pie-button.stories.ts
  apps/pie-storybook/stories/pie-card-container.stories.ts
  apps/pie-storybook/stories/pie-divider.stories.ts
  apps/pie-storybook/stories/pie-icon-button.stories.ts
  apps/pie-storybook/stories/pie-link.stories.ts
  apps/pie-storybook/stories/pie-toggle-switch.stories.ts
  apps/pie-storybook/types/StoryOptions.ts
  apps/pie-storybook/utilities/index.ts
Labels: apps, pie-storybook, please review

#792 chore(pie-monorepo): DSW-000 rename some visual tests title
  packages/components/pie-button/test/accessibility/pie-button.spec.ts
  packages/components/pie-button/test/visual/pie-button.spec.ts
  packages/components/pie-card-container/test/visual/pie-card-container.spec.ts
  packages/components/pie-divider/test/visual/pie-divider.spec.ts
  packages/components/pie-icon-button/test/accessibility/pie-icon-button.spec.ts
  packages/components/pie-icon-button/test/visual/pie-icon-button.spec.ts
  packages/components/pie-link/test/visual/pie-link.spec.ts
Labels: components, pie-button, pie-icon-button, pie-divider, pie-link

#800 refactor(pie-storybook): DSW-1218 use createStory for modal and cookie banner
  apps/pie-storybook/stories/pie-cookie-banner.stories.ts
  apps/pie-storybook/stories/pie-modal.stories.ts
  yarn.lock
Labels: apps, pie-storybook

#799 feat(pie-cookie-banner): DSW-1215 hook up text links to button actions
  .changeset/tame-icons-cheer.md
  packages/components/pie-cookie-banner/src/index.ts
  packages/components/pie-cookie-banner/test/component/pie-cookie-banner.spec.ts
  packages/components/pie-cookie-banner/test/visual/pie-cookie-banner.spec.ts
Labels: components

#802 feat(generator-pie-component): DSW-1218 use createStory in component generator
  .changeset/mean-badgers-sniff.md
  packages/tools/generator-pie-component/src/app/templates/pie-placeholder.__stories__.ts
Labels: tools, generator-pie-component

#804 feat(pie-docs): DSW-1090 Added button overview
  .changeset/two-grapes-happen.md
  apps/pie-docs/src/assets/img/components/button/button-overview.svg
  apps/pie-docs/src/assets/img/social/landing_components.png
  apps/pie-docs/src/components/button/button.json
  apps/pie-docs/src/components/button/button.md
  apps/pie-docs/src/components/components.json
  apps/pie-docs/src/components/template/template.json
  apps/pie-docs/src/components/template/template.md
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
Labels: apps, pie-docs

#805 docs(pie-css): DSW-000 pie-css readme updated
  .changeset/wet-kids-teach.md
  packages/tools/pie-css/README.md
Labels: tools, pie-css

#811 test(pie-icons-react): DSW-683 add tests for the size prop
  packages/tools/pie-icons-react/__tests__/__snapshots__/icons.test.jsx.snap
  packages/tools/pie-icons-react/__tests__/icons.test.jsx
Labels: tools, pie-icons-react

#812 feat(pie-link): DSW-1057 add link states
  .changeset/neat-cycles-wash.md
  apps/pie-storybook/stories/pie-link.stories.ts
  packages/components/pie-card-container/src/index.ts
  packages/components/pie-link/README.md
  packages/components/pie-link/src/defs.ts
  packages/components/pie-link/src/index.ts
  packages/components/pie-link/src/link.scss
  packages/components/pie-link/test/visual/pie-link.spec.ts
Labels: apps, components, pie-storybook, pie-link

#813 feat(pie-link): DSW-1020 add aria labels
  .changeset/shy-spies-behave.md
  apps/pie-storybook/stories/pie-link.stories.ts
  packages/components/pie-card-container/test/component/pie-card-container.spec.ts
  packages/components/pie-link/README.md
  packages/components/pie-link/src/defs.ts
  packages/components/pie-link/src/index.ts
  packages/components/pie-link/test/component/pie-link.spec.ts
Labels: apps, components, pie-storybook, pie-link

#820 feat(pie-form-label): DSW-1188 build form label
  .changeset/stale-beans-fix.md
  apps/pie-storybook/stories/pie-form-label.stories.ts
  packages/components/pie-form-label/README.md
  packages/components/pie-form-label/src/defs.ts
  packages/components/pie-form-label/src/form-label.scss
  packages/components/pie-form-label/src/index.ts
  packages/components/pie-form-label/test/component/pie-form-label.spec.ts
  packages/components/pie-form-label/test/visual/pie-form-label.spec.ts
  packages/components/pie-link/src/index.ts
Labels: apps, components, pie-storybook, pie-link, pie-form-label

#818 chore(pie-modal): DSW-1203 fix modal ssr issues
  .changeset/cold-taxis-clap.md
  .changeset/fair-walls-rest.md
  .changeset/few-llamas-drop.md
  .changeset/friendly-geckos-vanish.md
  .changeset/light-garlics-punch.md
  .changeset/ninety-dodos-hug.md
  apps/pie-storybook/args/commonArgsTypes.ts
  apps/pie-storybook/stories/pie-modal.stories.ts
  apps/pie-storybook/stories/pie-toggle-switch.stories.ts
  packages/components/pie-modal/src/defs.ts
  packages/components/pie-modal/src/index.ts
  packages/components/pie-toggle-switch/src/defs.ts
  packages/components/pie-toggle-switch/src/index.ts
  packages/components/pie-toggle-switch/src/toggle-switch.scss
  packages/components/pie-webc-core/src/index.ts
  packages/components/pie-webc-core/src/mixins/rtl/rtlMixin.ts
  packages/components/pie-webc-core/src/mixins/test/rtlMixin.client.spec.ts
  packages/components/pie-webc-core/src/mixins/test/rtlMixin.server.spec.ts
  packages/components/pie-webc-core/src/mixins/test/rtlMixin.spec.ts
  packages/components/pie-webc-core/src/type-helpers/DependentMap.ts
  packages/components/pie-webc-core/src/type-helpers/index.ts
  packages/tools/pie-icons-webc/build.js
Labels: apps, tools, components, pie-storybook, please review, pie-modal, pie-webc-core, pie-toggle-switch

#822 feat(pie-docs): DSW-1257 add accordion overview
  .changeset/eighty-glasses-occur.md
  apps/pie-docs/src/_11ty/shortcodes/resourceTable.js
  apps/pie-docs/src/_data/resourceTypes.js
  apps/pie-docs/src/assets/img/components/accordion/accordion-overview.svg
  apps/pie-docs/src/assets/img/components/icons/jetpack-compose.svg
  apps/pie-docs/src/assets/img/components/icons/swift-ui.svg
  apps/pie-docs/src/components/accordion/accordion.json
  apps/pie-docs/src/components/accordion/accordion.md
  apps/pie-docs/src/components/button/button.md
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
Labels: apps, pie-docs

#828 chore(generator-pie-component): DSW-1203 remove references to deleted…
  .changeset/ten-rivers-march.md
  packages/tools/generator-pie-component/src/app/prompts.ts
  packages/tools/generator-pie-component/src/app/templates/pie-placeholder.__stories__.ts
  packages/tools/generator-pie-component/src/app/templates/src/defs.ts
Labels: tools, please review, generator-pie-component

#825 feat(pie-storybook): DSW-1199 allow html in slot on storybook
  .changeset/smooth-steaks-tan.md
  apps/pie-storybook/package.json
  apps/pie-storybook/stories/pie-card-container.stories.ts
  apps/pie-storybook/stories/pie-modal.stories.ts
  apps/pie-storybook/utilities/index.ts
  packages/components/pie-modal/test/visual/pie-modal.spec.ts
  yarn.lock
Labels: apps, components, pie-storybook, pie-modal

#837 feat(pie-monorepo): DSW-1264 pie-design-tokens version bump to 5.8.1
  .changeset/heavy-news-burn.md
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/tokensTable.test.js.snap
  package.json
  packages/tools/pie-css/test/css/__snapshots__/css.spec.ts.snap
  yarn.lock
Labels: apps, tools, pie-docs, pie-css

#835 feat(pie-docs): DSW-1091 add component overview pages D to I
  .changeset/red-nails-bathe.md
  apps/pie-docs/src/_includes/nav.njk
  apps/pie-docs/src/assets/img/components/data-table/overview.svg
  apps/pie-docs/src/assets/img/components/data-visulisation/bar-chart/overview.svg
  apps/pie-docs/src/assets/img/components/data-visulisation/line-chart/overview.svg
  apps/pie-docs/src/assets/img/components/date-picker/overview.svg
  apps/pie-docs/src/assets/img/components/divider/overview.svg
  apps/pie-docs/src/assets/img/components/dropdown/overview.svg
  apps/pie-docs/src/assets/img/components/fab/overview.svg
  apps/pie-docs/src/assets/img/components/form-label/overview.svg
  apps/pie-docs/src/assets/img/components/icon-button/overview.svg
  apps/pie-docs/src/assets/styles/components/_nav.scss
  apps/pie-docs/src/components/accordion/accordion.md
  apps/pie-docs/src/components/button/button.md
  apps/pie-docs/src/components/components.json
  apps/pie-docs/src/components/data-table/data-table.json
  apps/pie-docs/src/components/data-table/data-table.md
  apps/pie-docs/src/components/data-visualisation/bar-chart/bar-chart.json
  apps/pie-docs/src/components/data-visualisation/bar-chart/bar-chart.md
  apps/pie-docs/src/components/data-visualisation/data-visulisation.json
  apps/pie-docs/src/components/data-visualisation/data-visulisation.md
  apps/pie-docs/src/components/data-visualisation/line-chart/line-chart.json
  apps/pie-docs/src/components/data-visualisation/line-chart/line-chart.md
  apps/pie-docs/src/components/date-picker/date-picker.json
  apps/pie-docs/src/components/date-picker/date-picker.md
  apps/pie-docs/src/components/divider/divider.json
  apps/pie-docs/src/components/divider/divider.md
  apps/pie-docs/src/components/dropdown/dropdown.json
  apps/pie-docs/src/components/dropdown/dropdown.md
  apps/pie-docs/src/components/fab/fab.json
  apps/pie-docs/src/components/fab/fab.md
  apps/pie-docs/src/components/form-label/form-label.json
  apps/pie-docs/src/components/form-label/form-label.md
  apps/pie-docs/src/components/icon-button/icon-button.json
  apps/pie-docs/src/components/icon-button/icon-button.md
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
Labels: apps, pie-docs

#836 cosmetic(pie-css): DSW-1194 reusable focus styles
  .changeset/good-keys-pull.md
  .changeset/thin-radios-sell.md
  packages/components/pie-button/src/button.scss
  packages/components/pie-card-container/src/card-container.scss
  packages/components/pie-icon-button/src/iconButton.scss
  packages/components/pie-modal/src/modal.scss
  packages/tools/pie-css/README.md
  packages/tools/pie-css/scss/helpers/_has-grab-cursor.scss
  packages/tools/pie-css/scss/helpers/_helpers.scss
  packages/tools/pie-css/scss/helpers/index.scss
  packages/tools/pie-css/scss/index.scss
  packages/tools/pie-css/scss/mixins/_focus.scss
  packages/tools/pie-css/scss/mixins/index.scss
  packages/tools/pie-css/test/scss/unit/helpers/hasGrabCursor.spec.ts
  packages/tools/pie-css/test/scss/unit/mixins/focus.spec.ts
  packages/tools/pie-css/test/scss/unit/validityTest.scss
Labels: tools, components, pie-button, please review, pie-modal, pie-icon-button, pie-css

#824 refactor(pie-monorepo): DSW-1269 remove usage of workspace syntax from packages
  .changeset/swift-cows-brush.md
  apps/examples/wc-angular12/package.json
  apps/examples/wc-next10/package.json
  apps/examples/wc-next13/package.json
  apps/examples/wc-nuxt2/package.json
  apps/examples/wc-nuxt3/package.json
  apps/examples/wc-react17/package.json
  apps/examples/wc-react18/package.json
  apps/examples/wc-vanilla/package.json
  apps/examples/wc-vue3/package.json
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/tokensTable.test.js.snap
  apps/pie-storybook/package.json
  package.json
  packages/components/pie-button/package.json
  packages/components/pie-card-container/package.json
  packages/components/pie-cookie-banner/package.json
  packages/components/pie-divider/package.json
  packages/components/pie-form-label/package.json
  packages/components/pie-icon-button/package.json
  packages/components/pie-link/package.json
  packages/components/pie-modal/package.json
  packages/components/pie-toggle-switch/package.json
  packages/tools/pie-icons-react/package.json
  packages/tools/pie-icons-vue/package.json
  packages/tools/pie-icons-webc/package.json
  yarn.lock
Labels: apps, tools, pie-icons-react, pie-icons-vue, components, pie-button, pie-storybook, pie-docs, pie-modal, pie-icon-button, pie-divider, pie-link, pie-toggle-switch, pie-form-label

#834 fix(pie-link): DSW-1185 address design reviews
  .changeset/clean-deers-arrive.md
  apps/pie-storybook/stories/pie-link.stories.ts
  packages/components/pie-link/README.md
  packages/components/pie-link/src/defs.ts
  packages/components/pie-link/src/index.ts
  packages/components/pie-link/src/link.scss
Labels: apps, components, pie-storybook, pie-link
