Repository justeattakeaway/pie, pull requests merged in 2023-04, with the labels that each got.

#371 fix(pie-button): remove global declare statement
  .changeset/clean-kids-give.md
  packages/components/pie-button/src/index.ts
  yarn.lock
Labels: components, pie-button

#370 feat(wc-next10): add next10 example app
  .changeset/loud-crabs-dance.md
  apps/examples/wc-next10/.gitignore
  apps/examples/wc-next10/README.md
  apps/examples/wc-next10/eslintrc.js
  apps/examples/wc-next10/jsconfig.json
  apps/examples/wc-next10/next.config.js
  apps/examples/wc-next10/package.json
  apps/examples/wc-next10/pages/_app.js
  apps/examples/wc-next10/pages/index.js
  apps/examples/wc-next10/public/favicon.ico
  apps/examples/wc-next10/styles/styles.css
  yarn.lock
Labels: apps

#374 feat(wc-nuxt2): add nuxt2 example
  .changeset/gorgeous-days-fail.md
  .changeset/seven-students-lay.md
  apps/examples/wc-nuxt2/.gitignore
  apps/examples/wc-nuxt2/README.md
  apps/examples/wc-nuxt2/nuxt.config.js
  apps/examples/wc-nuxt2/package.json
  apps/examples/wc-nuxt2/pages/index.vue
  apps/examples/wc-nuxt3/app.vue
  package.json
  yarn.lock
Labels: apps

#378 fix(pie-button): added module entry in package.json
  .changeset/real-flowers-try.md
  packages/components/pie-button/package.json
Labels: components, pie-button

#379 chore(wc-nuxt3): removed pie button from nuxt3 example app to fix build
  .changeset/orange-scissors-change.md
  apps/examples/wc-nuxt3/app.vue
  apps/examples/wc-nuxt3/nuxt.config.ts
  apps/examples/wc-nuxt3/package.json
  yarn.lock
Labels: apps

#377 chore(pie-monorepo): fix yarn.lock and minor package bumps
  .changeset/sharp-impalas-rhyme.md
  apps/examples/wc-next13/package.json
  apps/examples/wc-nuxt2/package.json
  apps/examples/wc-vue3/package.json
  apps/pie-docs/package.json
  apps/pie-storybook/package.json
  package.json
  packages/tools/pie-eslint-config/package.json
  packages/tools/pie-icons-react/package.json
  packages/tools/pie-icons-vue/package.json
  packages/tools/pie-icons/package.json
  yarn.lock
Labels: apps, tools, pie-icons, pie-icons-react, pie-icons-vue, pie-storybook, pie-docs

#384 ci(pie-monorepo): Set up PR previews using AWS Amplify
  .changeset/calm-dolphins-explode.md
  .changeset/lazy-bananas-cover.md
  .github/actions/amplify-deploy/action.yml
  .github/actions/amplify-teardown/action.yml
  .github/workflows/build.yml
  .github/workflows/closed.yml
  .github/workflows/remove-preview-deploy.yml
  apps/pie-docs/.eleventy.js
  apps/pie-docs/test/accessibility/accessibility.spec.js
  apps/pie-docs/test/helpers/configuration-helper.js
  apps/pie-docs/test/system/404.spec.js
  apps/pie-docs/test/system/navigation.spec.js
  apps/pie-docs/test/visual/navigation.spec.js
Labels: apps, pie-docs

#385 chore(pie-monorepo): updating to typescript v5
  .changeset/polite-cooks-double.md
  apps/examples/wc-next13/package.json
  apps/examples/wc-nuxt3/package.json
  apps/examples/wc-vue3/package.json
  package.json
  packages/tools/pie-icons-react/package.json
  yarn.lock
Labels: apps, tools, pie-icons-react

#389 ci(pie-monorepo): removing example applications from yarn workspaces
  .changeset/eight-lobsters-chew.md
  apps/examples/wc-next10/.gitignore
  apps/examples/wc-next10/.yarn/plugins/@yarnpkg/plugin-engines.cjs
  apps/examples/wc-next10/.yarnrc.yml
  apps/examples/wc-next10/CHANGELOG.md
  apps/examples/wc-next10/package.json
  apps/examples/wc-next10/yarn.lock
  apps/examples/wc-next13/.gitignore
  apps/examples/wc-next13/CHANGELOG.md
  apps/examples/wc-next13/package.json
  apps/examples/wc-next13/yarn.lock
  apps/examples/wc-nuxt2/.gitignore
  apps/examples/wc-nuxt2/.yarn/plugins/@yarnpkg/plugin-engines.cjs
  apps/examples/wc-nuxt2/.yarnrc.yml
  apps/examples/wc-nuxt2/CHANGELOG.md
  apps/examples/wc-nuxt2/nuxt.config.js
  apps/examples/wc-nuxt2/package.json
  apps/examples/wc-nuxt2/yarn.lock
  apps/examples/wc-nuxt3/.gitignore
  apps/examples/wc-nuxt3/CHANGELOG.md
  apps/examples/wc-nuxt3/package.json
  apps/examples/wc-nuxt3/yarn.lock
  apps/examples/wc-react18/.gitignore
  apps/examples/wc-react18/CHANGELOG.md
  apps/examples/wc-react18/package.json
  apps/examples/wc-react18/yarn.lock
  apps/examples/wc-vue3/.gitignore
  apps/examples/wc-vue3/CHANGELOG.md
  apps/examples/wc-vue3/package.json
  apps/examples/wc-vue3/yarn.lock
  package.json
  turbo.json
  yarn.lock
Labels: apps

#391 fix(pie-monorepo): correct existing changeset files to no longer version example apps
  .changeset/polite-cooks-double.md
  apps/examples/wc-next10/package.json
  apps/examples/wc-next13/package.json
  apps/examples/wc-nuxt2/package.json
  apps/examples/wc-nuxt3/package.json
  apps/examples/wc-react18/package.json
  apps/examples/wc-vue3/package.json
Labels: apps

#390 docs(pie-docs): [Added] Empty alt tags as default for contentPageImage
  .changeset/little-buses-explain.md
  apps/pie-docs/README.md
  apps/pie-docs/src/_11ty/shortcodes/contentPageImage.js
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/contentPageImage.test.js.snap
  apps/pie-docs/src/_includes/coming-soon.njk
  apps/pie-docs/src/foundations/typography/code.md
Labels: apps, pie-docs

#393 fix(pie-button): add in declare statement to ts file
  .changeset/neat-eggs-hang.md
  packages/components/pie-button/src/index.ts
Labels: components, pie-button

#387 feat(pie-monorepo): add pie-button to wc-next10 example app
  .changeset/tiny-pots-cross.md
  apps/examples/wc-next10/ButtonSizes.js
  apps/examples/wc-next10/Counter.js
  apps/examples/wc-next10/README.md
  apps/examples/wc-next10/VariantSwitch.js
  apps/examples/wc-next10/babel.config.js
  apps/examples/wc-next10/next.config.js
  apps/examples/wc-next10/package.json
  apps/examples/wc-next10/pages/_app.jsx
  apps/examples/wc-next10/pages/_document.jsx
  apps/examples/wc-next10/pages/index.js
  apps/examples/wc-next10/pages/index.jsx
  apps/examples/wc-next10/yarn.lock
  yarn.lock
Labels: apps

#395 feat(pie-monorepo): [Added] pie-button to wc-nuxt2 example app
  .changeset/khaki-turtles-search.md
  apps/examples/wc-nuxt2/README.md
  apps/examples/wc-nuxt2/assets/styles/fonts.css
  apps/examples/wc-nuxt2/assets/styles/web-components.css
  apps/examples/wc-nuxt2/nuxt.config.js
  apps/examples/wc-nuxt2/package.json
  apps/examples/wc-nuxt2/pages/index.vue
  apps/examples/wc-nuxt2/plugins/web-components.js
  apps/examples/wc-nuxt2/yarn.lock
Labels: apps

#396 test(pie-button): add playwright tests
  .changeset/clever-ways-design.md
  .github/workflows/build.yml
  .gitignore
  lit-report/index.html
  package.json
  packages/components/pie-button/package.json
  packages/components/pie-button/playwright-lit-visual.config.ts
  packages/components/pie-button/playwright-lit.config.ts
  packages/components/pie-button/playwright/index.html
  packages/components/pie-button/playwright/index.ts
  packages/components/pie-button/src/index.ts
  packages/components/pie-button/test/accessibility/pie-button.spec.ts
  packages/components/pie-button/test/component/pie-button.spec.ts
  packages/components/pie-button/test/visual/pie-button.spec.ts
  packages/components/pie-button/tsconfig.json
  playwright-browsers.config.ts
  playwright-visual.config.ts
  yarn.lock
Labels: components, pie-button

#398 feat(pie-monorepo): add angular 12 example app
  .changeset/small-glasses-rhyme.md
  apps/examples/wc-angular12/.editorconfig
  apps/examples/wc-angular12/.gitignore
  apps/examples/wc-angular12/README.md
  apps/examples/wc-angular12/angular.json
  apps/examples/wc-angular12/package.json
  apps/examples/wc-angular12/src/app/app.component.html
  apps/examples/wc-angular12/src/app/app.component.scss
  apps/examples/wc-angular12/src/app/app.component.ts
  apps/examples/wc-angular12/src/app/app.module.ts
  apps/examples/wc-angular12/src/assets/.gitkeep
  apps/examples/wc-angular12/src/favicon.ico
  apps/examples/wc-angular12/src/index.html
  apps/examples/wc-angular12/src/main.ts
  apps/examples/wc-angular12/src/styles.scss
  apps/examples/wc-angular12/tsconfig.app.json
  apps/examples/wc-angular12/tsconfig.json
  apps/examples/wc-angular12/tsconfig.spec.json
  apps/examples/wc-angular12/yarn.lock
Labels: apps, please review

#402 feat(pie-monorepo): [Added] react 17 empty project
  .changeset/orange-lamps-sin.md
  apps/examples/wc-react17/.gitignore
  apps/examples/wc-react17/README.md
  apps/examples/wc-react17/package.json
  apps/examples/wc-react17/public/index.html
  apps/examples/wc-react17/src/App.css
  apps/examples/wc-react17/src/App.js
  apps/examples/wc-react17/src/index.js
  apps/examples/wc-react17/yarn.lock
  yarn.lock
Labels: apps

#406 chore(pie-monorepo): re-add example apps back to workspace
  .changeset/dirty-guests-itch.md
  .changeset/thirty-cherries-roll.md
  .cz-config.js
  .github/workflows/ci.yml
  apps/examples/wc-angular12/package.json
  apps/examples/wc-angular12/yarn.lock
  apps/examples/wc-next10/package.json
  apps/examples/wc-next10/yarn.lock
  apps/examples/wc-next13/package.json
  apps/examples/wc-next13/yarn.lock
  apps/examples/wc-nuxt2/package.json
  apps/examples/wc-nuxt2/yarn.lock
  apps/examples/wc-nuxt3/package.json
  apps/examples/wc-nuxt3/yarn.lock
  apps/examples/wc-react17/package.json
  apps/examples/wc-react17/yarn.lock
  apps/examples/wc-react18/package.json
  apps/examples/wc-react18/yarn.lock
  apps/examples/wc-vue3/package.json
  apps/examples/wc-vue3/yarn.lock
  package.json
  renovate.json
  turbo.json
  yarn.lock
Labels: apps

#411 feat(pie-monorepo): adds Nuxt3 button
  .changeset/famous-bugs-confess.md
  apps/examples/wc-nuxt3/app.vue
  apps/examples/wc-nuxt3/nuxt.config.ts
  apps/examples/wc-nuxt3/package.json
  yarn.lock
Labels: apps

#409 feat(pie-monorepo): add a vanilla js example app
  .changeset/calm-masks-rush.md
  apps/examples/wc-vanilla/.gitignore
  apps/examples/wc-vanilla/counter.js
  apps/examples/wc-vanilla/index.html
  apps/examples/wc-vanilla/main.js
  apps/examples/wc-vanilla/package.json
  apps/examples/wc-vanilla/style.css
  yarn.lock
Labels: apps

#418 feat(pie-monorepo): improve project readmes
  .changeset/blue-days-nail.md
  README.md
  apps/pie-docs/README.md
  packages/components/pie-button/README.md
  readme_image.png
Labels: apps, components, pie-button, pie-docs

#417 Upgrade lit ssr dom shim
  .changeset/shiny-buses-rush.md
  .changeset/tender-bears-accept.md
  packages/components/pie-button/src/index.ts
  yarn.lock
Labels: components, pie-button

#424 feat(pie-button): create an rtl toolbar button in storybook
  .changeset/wicked-moons-sneeze.md
  apps/pie-storybook/.storybook/preview.js
  apps/pie-storybook/package.json
  apps/pie-storybook/stories/pie-button.stories.ts
  apps/pie-storybook/stories/withStorybookDirection.ts
  yarn.lock
Labels: apps, pie-storybook
