Repository justeattakeaway/pie, pull requests merged in 2023-12, with the labels that each got.

#1060 fix(pie-docs): DSW-1413 link overview section
  .changeset/short-apes-float.md
  apps/pie-docs/src/assets/img/components/link/anatomy.svg
  apps/pie-docs/src/assets/img/components/link/example-ltr-link-inline-inverse.svg
  apps/pie-docs/src/assets/img/components/link/example-ltr-link-inline.svg
  apps/pie-docs/src/assets/img/components/link/example-ltr-link-inverse.svg
  apps/pie-docs/src/assets/img/components/link/example-ltr-link.svg
  apps/pie-docs/src/assets/img/components/link/example-rtl-link-inline-inverse.svg
  apps/pie-docs/src/assets/img/components/link/example-rtl-link-inline.svg
  apps/pie-docs/src/assets/img/components/link/example-rtl-link-inverse.svg
  apps/pie-docs/src/assets/img/components/link/example-rtl-link.svg
  apps/pie-docs/src/assets/img/components/link/interactive-state-active.svg
  apps/pie-docs/src/assets/img/components/link/interactive-state-default.svg
  apps/pie-docs/src/assets/img/components/link/interactive-state-focus.svg
  apps/pie-docs/src/assets/img/components/link/interactive-state-hover.svg
  apps/pie-docs/src/assets/img/components/link/interactive-state-visited.svg
  apps/pie-docs/src/assets/img/components/link/modifier-emphasis-bold.svg
  apps/pie-docs/src/assets/img/components/link/modifier-emphasis-nonbold.svg
  apps/pie-docs/src/assets/img/components/link/modifier-icon-leading.svg
  apps/pie-docs/src/assets/img/components/link/modifier-icon-trailing.svg
  apps/pie-docs/src/assets/img/components/link/modifier-styling-default.svg
  apps/pie-docs/src/assets/img/components/link/modifier-styling-reversed.svg
  apps/pie-docs/src/assets/img/components/link/size-medium.svg
  apps/pie-docs/src/assets/img/components/link/size-small.svg
  apps/pie-docs/src/assets/img/components/link/structure.svg
  apps/pie-docs/src/assets/img/components/link/variation-default.svg
  apps/pie-docs/src/assets/img/components/link/variation-high-visibility.svg
  apps/pie-docs/src/assets/img/components/link/variation-inverse.svg
  apps/pie-docs/src/components/link/code/code.md
  apps/pie-docs/src/components/link/code/props.json
  apps/pie-docs/src/components/link/code/slots.json
  apps/pie-docs/src/components/link/link.md
  apps/pie-docs/src/components/link/overview/overview.md
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
Labels: apps, pie-docs

#1005 feat(pie-docs): DSW-1482 update modal overview page
  .changeset/metal-geckos-lay.md
  apps/pie-docs/src/_11ty/shortcodes/componentDetailsTable.js
  apps/pie-docs/src/_11ty/shortcodes/contentPageImage.js
  apps/pie-docs/src/assets/img/components/modal/overview/anatomy.png
  apps/pie-docs/src/assets/img/components/modal/overview/behaviour-loading.png
  apps/pie-docs/src/assets/img/components/modal/overview/example-ltr-my-account.png
  apps/pie-docs/src/assets/img/components/modal/overview/example-ltr-personal-information.png
  apps/pie-docs/src/assets/img/components/modal/overview/example-ltr-stampcards.png
  apps/pie-docs/src/assets/img/components/modal/overview/example-rtl-my-account.png
  apps/pie-docs/src/assets/img/components/modal/overview/example-rtl-personal-information.png
  apps/pie-docs/src/assets/img/components/modal/overview/example-rtl-stampcards.png
  apps/pie-docs/src/assets/img/components/modal/overview/interaction-close-dismissible.png
  apps/pie-docs/src/assets/img/components/modal/overview/interaction-close-non-dismissible.png
  apps/pie-docs/src/assets/img/components/modal/overview/layout-position-center.png
  apps/pie-docs/src/assets/img/components/modal/overview/layout-position-top.png
  apps/pie-docs/src/assets/img/components/modal/overview/modifier-footer-double.png
  apps/pie-docs/src/assets/img/components/modal/overview/modifier-footer-passive.png
  apps/pie-docs/src/assets/img/components/modal/overview/modifier-footer-single.png
  apps/pie-docs/src/assets/img/components/modal/overview/modifier-header-back.png
  apps/pie-docs/src/assets/img/components/modal/overview/modifier-header-close.png
  apps/pie-docs/src/assets/img/components/modal/overview/narrow-modifier-footer-dual-action.png
  apps/pie-docs/src/assets/img/components/modal/overview/narrow-modifier-footer-single-action.png
  apps/pie-docs/src/assets/img/components/modal/overview/narrow-size-75-percent.png
  apps/pie-docs/src/assets/img/components/modal/overview/narrow-size-full-screen.png
  apps/pie-docs/src/assets/img/components/modal/overview/overflow-body-content-footer-not-pinned.png
  apps/pie-docs/src/assets/img/components/modal/overview/overflow-body-content-footer-pinned.png
  apps/pie-docs/src/assets/img/components/modal/overview/overflow-title.png
  apps/pie-docs/src/assets/img/components/modal/overview/overview.svg
  apps/pie-docs/src/assets/img/components/modal/overview/size-large.png
  apps/pie-docs/src/assets/img/components/modal/overview/size-medium.png
  apps/pie-docs/src/assets/img/components/modal/overview/size-small.png
  apps/pie-docs/src/assets/img/components/modal/overview/structure-narrow-dual-action.png
  apps/pie-docs/src/assets/img/components/modal/overview/structure-narrow-empty-footer.png
  apps/pie-docs/src/assets/img/components/modal/overview/structure-narrow-stacked-dual-action.png
  apps/pie-docs/src/assets/img/components/modal/overview/structure-wide-dual-action.png
  apps/pie-docs/src/assets/img/components/modal/overview/structure-wide-empty-footer.png
  apps/pie-docs/src/assets/img/components/modal/overview/variation-default.png
  apps/pie-docs/src/assets/styles/components/_componentDetailsTable.scss
  apps/pie-docs/src/assets/styles/components/_contentImage.scss
  apps/pie-docs/src/components/modal/modal.md
  apps/pie-docs/src/components/modal/overview/overview.md
  apps/pie-docs/src/components/modal/overview/sizes.json
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
Labels: apps, pie-docs

#1080 docs(pie-webc-core): DSW-000 add readme contents
  packages/components/pie-webc-core/README.md
Labels: components, pie-webc-core

#1077 feat(pie-icons-webc): DSW-1281 use /dist in react exports path
  .changeset/two-falcons-eat.md
  packages/tools/pie-icons-webc/README.md
  packages/tools/pie-icons-webc/package.json
Labels: tools

#1086 feat(pie-cookie-banner): DSW-1506 added cookie urls
  .changeset/nine-otters-battle.md
  packages/components/pie-cookie-banner/locales/bg-bg.json
  packages/components/pie-cookie-banner/locales/de-de.json
  packages/components/pie-cookie-banner/locales/dk-dk.json
  packages/components/pie-cookie-banner/locales/en-gb.json
  packages/components/pie-cookie-banner/locales/fr-fr.json
  packages/components/pie-cookie-banner/locales/it-it.json
  packages/components/pie-cookie-banner/locales/nl-nl.json
  packages/components/pie-cookie-banner/locales/pl-pl.json
  packages/components/pie-cookie-banner/src/index.ts
  yarn.lock
Labels: components

#1098 feat(pie-tag): DSW-1519 initial component shell
  .changeset/breezy-keys-impress.md
  .changeset/mighty-rats-appear.md
  .changeset/slow-cameras-grin.md
  .github/project-labeler.yml
  .github/workflows/ci.yml
  apps/pie-storybook/package.json
  apps/pie-storybook/stories/pie-tag.stories.ts
  packages/components/pie-tag/.eslintignore
  packages/components/pie-tag/README.md
  packages/components/pie-tag/declaration.d.ts
  packages/components/pie-tag/package.json
  packages/components/pie-tag/playwright-lit-visual.config.ts
  packages/components/pie-tag/playwright-lit.config.ts
  packages/components/pie-tag/playwright/index.html
  packages/components/pie-tag/playwright/index.ts
  packages/components/pie-tag/src/defs.ts
  packages/components/pie-tag/src/index.ts
  packages/components/pie-tag/src/tag.scss
  packages/components/pie-tag/test/accessibility/pie-tag.spec.ts
  packages/components/pie-tag/test/component/pie-tag.spec.ts
  packages/components/pie-tag/test/visual/pie-tag.spec.ts
  packages/components/pie-tag/tsconfig.json
  packages/components/pie-tag/vite.config.js
  yarn.lock
Labels: apps, components, pie-storybook, pie-tag

#1103 feat(pie-switch): DSW-1381 forms integration
  .changeset/giant-tomatoes-pay.md
  .changeset/nervous-chefs-sort.md
  .changeset/orange-carpets-switch.md
  .changeset/rotten-bugs-share.md
  apps/pie-docs/src/components/switch/code/code.md
  apps/pie-docs/src/components/switch/code/props.json
  apps/pie-storybook/stories/pie-switch.stories.ts
  packages/components/pie-cookie-banner/src/defs.ts
  packages/components/pie-cookie-banner/src/index.ts
  packages/components/pie-cookie-banner/test/component/pie-cookie-banner.spec.ts
  packages/components/pie-switch/README.md
  packages/components/pie-switch/package.json
  packages/components/pie-switch/src/defs.ts
  packages/components/pie-switch/src/index.ts
  packages/components/pie-switch/src/switch.scss
  packages/components/pie-switch/test/component/pie-switch.spec.ts
  packages/components/pie-switch/test/visual/pie-switch.spec.ts
  yarn.lock
Labels: apps, components, pie-storybook, pie-docs, pie-switch

#1112 fix(pie-monorepo): DSW-000 fixed stylelint-config-pie folder name
  .changeset/few-points-live.md
  .github/project-labeler.yml
  packages/tools/stylelint-config-pie/.eslintignore
  packages/tools/stylelint-config-pie/.eslintrc.js
  packages/tools/stylelint-config-pie/CHANGELOG.md
  packages/tools/stylelint-config-pie/README.md
  packages/tools/stylelint-config-pie/__tests__/rules/base.test.js
  packages/tools/stylelint-config-pie/__tests__/rules/strict.test.js
  packages/tools/stylelint-config-pie/index.js
  packages/tools/stylelint-config-pie/package.json
  packages/tools/stylelint-config-pie/rules/base.js
  packages/tools/stylelint-config-pie/rules/ordering.js
  packages/tools/stylelint-config-pie/rules/strict.js
  yarn.lock
Labels: tools

#1088 fix(pie-button): DSW-000 removed border for outline-inverse in disabled state
  .changeset/shaggy-shrimps-hug.md
  packages/components/pie-button/src/button.scss
Labels: components, pie-button

#1115 feat(pie-switch): DSW-1571 rename isDisabled prop to disabled
  .changeset/dirty-tables-press.md
  .changeset/late-fishes-pretend.md
  apps/pie-docs/src/components/switch/code/props.json
  apps/pie-storybook/stories/pie-switch.stories.ts
  packages/components/pie-cookie-banner/src/defs.ts
  packages/components/pie-cookie-banner/src/index.ts
  packages/components/pie-cookie-banner/test/component/pie-cookie-banner.spec.ts
  packages/components/pie-switch/src/defs.ts
  packages/components/pie-switch/src/index.ts
  packages/components/pie-switch/src/switch.scss
  packages/components/pie-switch/test/component/pie-switch.spec.ts
  packages/components/pie-switch/test/visual/pie-switch.spec.ts
  packages/tools/pie-wrapper-react/scripts/add-react-wrapper.js
  yarn.lock
Labels: apps, tools, components, pie-storybook, pie-docs, pie-switch

#1116 fix(pie-button): DSW-000 Added 5s delay to all visual tests
  packages/components/pie-button/test/visual/pie-button-size.spec.ts
  packages/components/pie-button/test/visual/pie-button.spec.ts
  packages/components/pie-modal/test/visual/pie-modal.spec.ts
Labels: components, pie-button, pie-modal

#1107 fix(pie-icons-webc): DSW-1539 Remove :host-context usage for icon sizing
  .changeset/few-gifts-shop.md
  packages/components/pie-button/src/button.scss
  packages/components/pie-icon-button/src/iconButton.scss
  packages/tools/pie-icons-webc/build.js
Labels: tools, components, pie-button, DO NOT MERGE, pie-icon-button

#1122 test(pie-switch): DSW-1556 add test to prevent accessibility regression
  packages/components/pie-switch/test/component/pie-switch.spec.ts
Labels: components, pie-switch

#1109 fix(pie-button): DSW-000 add missing close to tag
  .changeset/ten-wolves-drive.md
  packages/components/pie-button/src/index.ts
Labels: components, pie-button
