Repository justeattakeaway/pie, pull requests merged in 2023-08, with the labels that each got.

#656 docs(pie-storybook): DSW-0 add modal control descriptions
  .changeset/early-garlics-yawn.md
  apps/pie-storybook/stories/pie-modal.stories.ts
  packages/components/pie-modal/src/defs.ts
Labels: apps, components, pie-storybook, pie-modal

#662 chore(pie-monorepo): DSW-000 add default Jira ticket number to renovate commit messages
  .changeset/nine-nails-pull.md
  renovate.json
Labels: approved-1

#650 feat(pie-modal): DSW-933 add hasStackedActions to pie-modal
  .changeset/pretty-glasses-melt.md
  apps/pie-storybook/stories/pie-modal.stories.ts
  packages/components/pie-button/src/button.scss
  packages/components/pie-modal/README.md
  packages/components/pie-modal/src/defs.ts
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/src/modal.scss
  packages/components/pie-modal/test/visual/pie-modal.spec.ts
  packages/tools/pie-wrapper-react/custom-elements.json
Labels: apps, tools, components, pie-button, pie-storybook, pie-modal

#670 refactor(pie-modal): DSW-1017 add new ActionProps type for leading and supporting actions
  .changeset/strong-grapes-help.md
  packages/components/pie-modal/src/defs.ts
  packages/components/pie-modal/src/index.ts
  packages/tools/pie-wrapper-react/custom-elements.json
Labels: tools, components, pie-modal

#671 feat(pie-css): DSW-1019 import design tokens and add testing
  .changeset/honest-ants-unite.md
  package.json
  packages/tools/pie-css/.stylelintignore
  packages/tools/pie-css/buildCss.ts
  packages/tools/pie-css/css/input.css
  packages/tools/pie-css/package.json
  packages/tools/pie-css/test/css/__snapshots__/css.spec.ts.snap
  packages/tools/pie-css/test/css/css.spec.ts
  packages/tools/pie-css/tsconfig.json
  yarn.lock
Labels: tools, pie-css

#676 fix(pie-modal): DSW-1048 fix modal position prop
  .changeset/tiny-carrots-float.md
  packages/components/pie-modal/src/index.ts
  yarn.lock
Labels: components, pie-modal

#675 feat(pie-css): DSW-1020 add font-size scss mixin
  .changeset/thirty-laws-thank.md
  packages/tools/pie-css/package.json
  packages/tools/pie-css/scss/index.scss
  packages/tools/pie-css/scss/mixins/_font-size.scss
  packages/tools/pie-css/scss/mixins/index.scss
  packages/tools/pie-css/test/css/css.spec.ts
  packages/tools/pie-css/test/scss/unit/mixins/fontSize.spec.ts
  packages/tools/pie-css/test/scss/unit/validity.spec.ts
  packages/tools/pie-css/utilities/compileCss.ts
Labels: tools, pie-css

#666 refactor(pie-icons-react): DSW-1007 switch to mjs to enable usage in commonjs and esm
  .changeset/nine-glasses-buy.md
  packages/tools/pie-icons-react/package.json
  packages/tools/pie-icons-react/rollup.config.mjs
  packages/tools/pie-icons-react/scripts/react-icons-gen.mjs
Labels: tools, pie-icons-react

#657 feat(pie-docs): DSW-871 update global color page
  .changeset/new-maps-relax.md
  apps/pie-docs/src/_11ty/shortcodes/simpleTable.js
  apps/pie-docs/src/assets/styles/components/_simpleTable.scss
  apps/pie-docs/src/foundations/colour/tokens/global.md
  apps/pie-docs/src/tokenCategories.json
  apps/pie-docs/src/tokensMetadata.json
Labels: apps, DO NOT MERGE, pie-docs, design-review

#669 feat(generator-pie-component): DSW-989 add testing starting point
  .changeset/gorgeous-spoons-itch.md
  .changeset/perfect-clocks-beg.md
  apps/examples/wc-vanilla/index.html
  apps/pie-storybook/stories/pie-toggle-switch.stories.ts
  packages/components/pie-button/test/accessibility/pie-button.spec.ts
  packages/components/pie-icon-button/test/accessibility/pie-icon-button.spec.ts
  packages/components/pie-webc-testing/src/index.ts
  packages/components/pie-webc-testing/src/playwright/fixtures.ts
  packages/components/pie-webc-testing/src/playwright/index.ts
  packages/tools/generator-pie-component/package.json
  packages/tools/generator-pie-component/src/app/index.ts
  packages/tools/generator-pie-component/src/app/templates/__package__.json
  packages/tools/generator-pie-component/src/app/templates/pie-placeholder.__stories__.ts
  packages/tools/generator-pie-component/src/app/templates/playwright/index.html
  packages/tools/generator-pie-component/src/app/templates/playwright/index.ts
  packages/tools/generator-pie-component/src/app/templates/src/index.ts
  packages/tools/generator-pie-component/src/app/templates/src/placeholder.scss
  packages/tools/generator-pie-component/src/app/templates/test/accessibility/pie-placeholder.__spec__.ts
  packages/tools/generator-pie-component/src/app/templates/test/component/pie-placeholder.__spec__.ts
  packages/tools/generator-pie-component/src/app/templates/test/visual/pie-placeholder.__spec__.ts
  yarn.lock
Labels: apps, tools, components, pie-button, pie-storybook, pie-icon-button, pie-webc-testing, generator-pie-component

#684 feat(pie-storybook): DSW-1040 pie-css added to storybook
  .changeset/ninety-shoes-brush.md
  apps/pie-storybook/.storybook/preview-body.html
  apps/pie-storybook/.storybook/preview.js
  apps/pie-storybook/package.json
  yarn.lock
Labels: apps, pie-storybook

#672 feat(pie-toggle-switch): DSW-991 toggle switch
  .changeset/eleven-papayas-refuse.md
  .github/workflows/ci.yml
  apps/pie-storybook/package.json
  apps/pie-storybook/stories/pie-toggle-switch.stories.ts
  packages/components/pie-toggle-switch/README.md
  packages/components/pie-toggle-switch/package.json
  packages/components/pie-toggle-switch/playwright/index.html
  packages/components/pie-toggle-switch/playwright/index.ts
  packages/components/pie-toggle-switch/src/defs.ts
  packages/components/pie-toggle-switch/src/index.ts
  packages/components/pie-toggle-switch/src/toggle-switch.scss
  packages/components/pie-toggle-switch/test/component/pie-toggle-switch.spec.ts
  packages/components/pie-toggle-switch/test/visual/pie-toggle-switch.spec.ts
  packages/tools/pie-wrapper-react/custom-elements.json
  yarn.lock
Labels: apps, tools, components, pie-storybook

#678 feat(pie-modal): DSW-1013 implement dialog polyfill
  .changeset/quick-horses-visit.md
  apps/examples/wc-vanilla/index.html
  apps/examples/wc-vanilla/main.js
  apps/examples/wc-vanilla/package.json
  packages/components/pie-modal/README.md
  packages/components/pie-modal/package.json
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/src/modal.scss
  yarn.lock
Labels: apps, components, pie-modal

#683 feat(pie-icons-vue): DSW-862 replaced bili with rollup
  .changeset/rare-pugs-do.md
  .changeset/thirty-monkeys-roll.md
  apps/examples/wc-nuxt2/pages/index.vue
  apps/examples/wc-vue3/index.html
  packages/tools/pie-icons-vue/package.json
  packages/tools/pie-icons-vue/rollup.config.js
  yarn.lock
Labels: apps, tools, pie-icons-vue

#686 feat(pie-button): DSW-1027 add destructive and destructive-ghost button variants
  .changeset/shaggy-llamas-watch.md
  apps/pie-storybook/stories/pie-button.stories.ts
  packages/components/pie-button/README.md
  packages/components/pie-button/src/button.scss
  packages/components/pie-button/src/defs.ts
  packages/tools/pie-wrapper-react/custom-elements.json
Labels: apps, tools, components, pie-button, pie-storybook, design-review

#687 feat(pie-monorepo): DSW-1040 add pie-css to wc-vanilla app
  apps/examples/wc-vanilla/index.html
  apps/examples/wc-vanilla/main.js
  apps/examples/wc-vanilla/package.json
  apps/examples/wc-vanilla/style.css
  yarn.lock
Labels: apps, please review

#690 feat(generator-pie-component): DSW-1054 add rtl support to the gener…
  .changeset/beige-cherries-return.md
  .eslintignore
  apps/pie-storybook/stories/pie-icon-button.stories.ts
  apps/pie-storybook/stories/pie-modal.stories.ts
  apps/pie-storybook/stories/pie-toggle-switch.stories.ts
  packages/components/pie-webc-testing/src/playwright/fixtures.ts
  packages/tools/generator-pie-component/src/app/index.ts
  packages/tools/generator-pie-component/src/app/prompts.ts
  packages/tools/generator-pie-component/src/app/templates/pie-placeholder.__stories__.ts
  packages/tools/generator-pie-component/src/app/templates/src/defs.ts
  packages/tools/generator-pie-component/src/app/templates/src/index.ts
  packages/tools/generator-pie-component/src/app/templates/src/placeholder.scss
Labels: apps, tools, components, pie-storybook, pie-webc-testing, generator-pie-component

#694 docs(pie-docs): DSW-590 use latest pie-design-tokens
  .changeset/cool-tigers-hear.md
  apps/examples/wc-vanilla/package.json
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/tokensTable.test.js.snap
  apps/pie-docs/src/tokensMetadata.json
  package.json
  packages/components/pie-button/package.json
  packages/components/pie-icon-button/package.json
  yarn.lock
Labels: apps, components, pie-button, pie-docs, design-review, pie-icon-button

#697 feat(pie-toggle-switch): DSW-1040 add pie-css to next13 example app
  apps/examples/wc-next13/package.json
  apps/examples/wc-next13/pages/index.tsx
  yarn.lock
Labels: apps

#698 refactor(pie-generator-component): DSW-000 add how to set VRT to the component generator
  .changeset/long-numbers-dress.md
  packages/tools/generator-pie-component/README.md
Labels: tools, generator-pie-component

#699 feat(pie-monorepo): DSW-1040 integrate pie-css with angular app
  apps/examples/wc-angular12/angular.json
  apps/examples/wc-angular12/package.json
  apps/examples/wc-angular12/src/index.html
  apps/examples/wc-angular12/src/styles.scss
  yarn.lock
Labels: apps

#700 feat(pie-monorepo): DSW-1040 integrate pie-css with next 10 example app
  apps/examples/wc-next10/package.json
  apps/examples/wc-next10/pages/_app.jsx
  apps/examples/wc-next10/pages/_document.jsx
  yarn.lock
Labels: apps

#701 feat(pie-monorepo): DSW-1040 integrate pie-css with react-18 app
  apps/examples/wc-react18/package.json
  apps/examples/wc-react18/public/index.html
  apps/examples/wc-react18/src/App.js
  yarn.lock
Labels: apps

#702 feat(pie-monorepo): DSW-1040 integrate pie-css with nuxt2 and nuxt3 apps
  apps/examples/wc-nuxt2/nuxt.config.js
  apps/examples/wc-nuxt2/package.json
  apps/examples/wc-nuxt3/nuxt.config.ts
  apps/examples/wc-nuxt3/package.json
  yarn.lock
Labels: apps

#703 feat(pie-monorepo): DSW-1040 integrate pie-css with react 17 and vue 3
  apps/examples/wc-react17/.eslintrc.js
  apps/examples/wc-react17/package.json
  apps/examples/wc-react17/public/index.html
  apps/examples/wc-react17/src/App.css
  apps/examples/wc-react17/src/App.js
  apps/examples/wc-react17/src/styles.css
  apps/examples/wc-vue3/package.json
  apps/examples/wc-vue3/src/main.ts
  yarn.lock
Labels: apps

#707 feat(pie-link): DSW-1055 init pie link
  .changeset/soft-files-glow.md
  .github/project-labeler.yml
  .github/workflows/ci.yml
  apps/pie-storybook/package.json
  apps/pie-storybook/stories/pie-link.stories.ts
  packages/components/pie-link/.eslintignore
  packages/components/pie-link/LICENSE
  packages/components/pie-link/README.md
  packages/components/pie-link/declaration.d.ts
  packages/components/pie-link/package.json
  packages/components/pie-link/playwright-lit-visual.config.ts
  packages/components/pie-link/playwright-lit.config.ts
  packages/components/pie-link/playwright/index.html
  packages/components/pie-link/playwright/index.ts
  packages/components/pie-link/src/defs.ts
  packages/components/pie-link/src/index.ts
  packages/components/pie-link/src/link.scss
  packages/components/pie-link/test/accessibility/pie-link.spec.ts
  packages/components/pie-link/test/component/pie-link.spec.ts
  packages/components/pie-link/test/visual/pie-link.spec.ts
  packages/components/pie-link/tsconfig.json
  packages/components/pie-link/vite.config.js
  yarn.lock
Labels: apps, components, pie-storybook

#709 fix(generator-pie-component): DSW-000 skips visual tests
  .changeset/sweet-squids-clean.md
  .github/project-labeler.yml
  packages/components/pie-divider/test/visual/pie-divider.spec.ts
  packages/components/pie-link/test/visual/pie-link.spec.ts
  packages/tools/generator-pie-component/src/app/templates/test/visual/pie-placeholder.__spec__.ts
  packages/tools/git-hooks-scripts/git-hooks-utils.js
  packages/tools/pie-css/test/css/__snapshots__/css.spec.ts.snap
Labels: tools, components, generator-pie-component, pie-css, pie-divider

#713 fix(pie-icon-button): DSW-000 fixed issue with incorrect peerDependency name
  .changeset/bright-students-doubt.md
  packages/components/pie-icon-button/package.json
  yarn.lock
Labels: components, pie-icon-button

#696 feat(pie-toggle-switch): DSW-999 add aria props
  .changeset/young-glasses-fold.md
  apps/pie-storybook/stories/pie-toggle-switch.stories.ts
  packages/components/pie-toggle-switch/README.md
  packages/components/pie-toggle-switch/src/defs.ts
  packages/components/pie-toggle-switch/src/index.ts
  packages/components/pie-toggle-switch/src/toggle-switch.scss
  packages/components/pie-toggle-switch/test/component/pie-toggle-switch.spec.ts
  packages/tools/pie-wrapper-react/custom-elements.json
Labels: apps, tools, components, pie-storybook

#708 feat(pie-link): DSW-1056 create basic functionality of pie link
  apps/pie-storybook/.storybook/preview-body.html
  apps/pie-storybook/stories/pie-link.stories.ts
  packages/components/pie-link/README.md
  packages/components/pie-link/src/defs.ts
  packages/components/pie-link/src/index.ts
  packages/components/pie-link/src/link.scss
  packages/components/pie-link/test/component/pie-link.spec.ts
  packages/components/pie-link/test/visual/pie-link.spec.ts
  packages/tools/pie-wrapper-react/custom-elements.json
Labels: apps, tools, components, pie-storybook, pie-link

#649 feat(pie-docs): DSW-934 added new header design
  .changeset/fifty-peaches-approve.md
  apps/pie-docs/src/_includes/content-page.njk
  apps/pie-docs/src/_includes/head-common.njk
  apps/pie-docs/src/_includes/home-page.njk
  apps/pie-docs/src/_includes/layouts/page-layout.njk
  apps/pie-docs/src/assets/img/heroes/home-hero.svg
  apps/pie-docs/src/assets/img/heroes/pie-hero.png
  apps/pie-docs/src/assets/styles/_dependencies.scss
  apps/pie-docs/src/assets/styles/_utilities.scss
  apps/pie-docs/src/assets/styles/_variables.scss
  apps/pie-docs/src/assets/styles/base/_layout.scss
  apps/pie-docs/src/assets/styles/components/_contentPage.scss
  apps/pie-docs/src/assets/styles/components/_heroBanner.scss
  apps/pie-docs/src/assets/styles/components/_heroContentLayout.scss
  apps/pie-docs/src/assets/styles/components/_razor.scss
  apps/pie-docs/src/index.md
Labels: apps, pie-docs

#716 docs(pie-docs): DSW-590 use latest pie-design-tokens after design review
  .changeset/nervous-dots-marry.md
  apps/examples/wc-vanilla/package.json
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/tokensTable.test.js.snap
  apps/pie-docs/src/tokensMetadata.json
  package.json
  packages/components/pie-button/package.json
  packages/components/pie-icon-button/package.json
  yarn.lock
Labels: apps, components, pie-button, pie-docs, pie-icon-button

#719 feat(pie-toggle-switch): DSW-998 add label
  .changeset/mean-zebras-sell.md
  apps/pie-storybook/stories/pie-toggle-switch.stories.ts
  packages/components/pie-toggle-switch/src/defs.ts
  packages/components/pie-toggle-switch/src/index.ts
  packages/components/pie-toggle-switch/src/toggle-switch.scss
  packages/components/pie-toggle-switch/test/component/pie-toggle-switch.spec.ts
  packages/components/pie-toggle-switch/test/visual/pie-toggle-switch.spec.ts
  packages/tools/pie-wrapper-react/custom-elements.json
Labels: apps, tools, components, pie-storybook

#722 fix(pie-wrapper-react): DSW-1053 set up types and exports for react components
  .changeset/angry-rockets-try.md
  .changeset/gold-islands-call.md
  apps/examples/wc-next13/pages/index.tsx
  configs/pie-components-config/vite.config.js
  packages/components/pie-button/package.json
  packages/components/pie-button/src/index.ts
  packages/components/pie-divider/package.json
  packages/components/pie-divider/src/index.ts
  packages/components/pie-icon-button/package.json
  packages/components/pie-icon-button/src/index.ts
  packages/components/pie-link/package.json
  packages/components/pie-link/src/index.ts
  packages/components/pie-modal/package.json
  packages/components/pie-modal/src/index.ts
  packages/components/pie-toggle-switch/package.json
  packages/components/pie-toggle-switch/src/index.ts
  packages/tools/generator-pie-component/src/app/templates/__package__.json
  packages/tools/generator-pie-component/src/app/templates/src/index.ts
  packages/tools/pie-wrapper-react/custom-elements.json
  packages/tools/pie-wrapper-react/scripts/add-react-wrapper.js
  yarn.lock
Labels: apps, tools, components, pie-button, pie-modal, pie-icon-button, generator-pie-component, pie-divider, pie-link

#724 chore(pie-wrapper-react): DSW-1014 remove custom-elements.json file
  .changeset/sixty-doors-scream.md
  packages/tools/pie-icons-vue/scripts/build.js
  packages/tools/pie-wrapper-react/custom-elements.json
Labels: tools, pie-icons-vue

#726 test(pie-button): DSW-1083 grouped leading/trailing visual tests
  packages/components/pie-button/test/visual/pie-button.spec.ts
Labels: components, pie-button

#725 ci(pie-css): DSW-000 add missing test:ci and test:watch scripts
  packages/components/pie-icon-button/package.json
  packages/components/pie-webc-core/package.json
  packages/tools/git-hooks-scripts/package.json
  packages/tools/pie-css/package.json
  packages/tools/pie-css/test/css/__snapshots__/css.spec.ts.snap
  packages/tools/pie-icons-configs/package.json
  packages/tools/pie-icons-react/package.json
  packages/tools/pie-icons-vue/package.json
  packages/tools/pie-icons-webc/package.json
  packages/tools/pie-stylelint-config/package.json
  packages/tools/pie-wrapper-react/__tests__/__snapshots__/wrapper.test.js.snap
  yarn.lock
Labels: tools, pie-icons-react, pie-icons-vue, components, pie-icon-button, pie-webc-core, pie-css

#730 feat(pie-docs): DSW-983 use DS tokens package for token metadata
  .changeset/poor-moles-pay.md
  apps/pie-docs/src/_11ty/shortcodes/tokensTable/index.js
  apps/pie-docs/src/_utilities/tokens.js
  apps/pie-docs/src/tokenCategories.json
  apps/pie-docs/src/tokensMetadata.json
  package.json
  yarn.lock
Labels: apps, pie-docs

#718 ci(pie-monorepo): DSW-1077 upgrade to latest turbo
  apps/pie-docs/package.json
  apps/pie-docs/turbo.json
  apps/pie-storybook/package.json
  apps/pie-storybook/turbo.json
  package.json
  packages/components/pie-button/package.json
  packages/tools/pie-icons-react/package.json
  packages/tools/pie-icons-react/rollup.config.mjs
  packages/tools/pie-icons-react/turbo.json
  packages/tools/pie-icons-vue/package.json
  packages/tools/pie-icons-vue/rollup.config.js
  packages/tools/pie-icons-vue/turbo.json
  packages/tools/pie-icons-webc/package.json
  packages/tools/pie-icons-webc/turbo.json
  turbo.json
  yarn.lock
Labels: work-in-progress, apps, tools, pie-icons-react, pie-icons-vue, components, pie-button, pie-storybook, DO NOT MERGE, pie-docs

#734 chore(pie-icons-vue): DSW-1109 update rollup node resolutions
  .changeset/sweet-sheep-tap.md
  packages/tools/pie-icons-vue/package.json
  packages/tools/pie-icons-vue/rollup.config.js
  packages/tools/pie-icons-vue/scripts/build.js
  yarn.lock
Labels: tools, pie-icons-vue

#729 performance(pie-icons): DSW-000 remove duplicate paths from icon svgs
  .changeset/loud-llamas-happen.md
  packages/tools/pie-icons/src/assets/eggs.svg
  packages/tools/pie-icons/src/assets/ribbon-success-large.svg
  packages/tools/pie-icons/src/assets/stampcard-10.svg
Labels: tools, pie-icons

#740 [Snyk] Security upgrade storybook from 7.1.0 to 7.2.0
  apps/pie-storybook/package.json
Labels: apps, pie-storybook

#727 feat(pie-link): DSW-1058 add leading and trailing icons
  .changeset/lucky-carrots-cover.md
  apps/pie-storybook/stories/pie-link.stories.ts
  packages/components/pie-link/README.md
  packages/components/pie-link/src/defs.ts
  packages/components/pie-link/src/index.ts
  packages/components/pie-link/src/link.scss
  packages/components/pie-link/test/visual/pie-link.spec.ts
Labels: apps, components, pie-storybook, pie-link

#743 chore(pie-icons): DSW-000 remove nodemon script and dependency
  .changeset/silver-snails-draw.md
  packages/tools/pie-icons/nodemon.json
  packages/tools/pie-icons/package.json
  yarn.lock
Labels: tools, pie-icons

#746 feat(pie-cookie-banner): DSW-1126 generate cookie-banner component
  .changeset/olive-humans-allow.md
  apps/pie-storybook/stories/pie-cookie-banner.stories.ts
  packages/components/pie-cookie-banner/.eslintignore
  packages/components/pie-cookie-banner/LICENSE
  packages/components/pie-cookie-banner/README.md
  packages/components/pie-cookie-banner/declaration.d.ts
  packages/components/pie-cookie-banner/package.json
  packages/components/pie-cookie-banner/playwright-lit-visual.config.ts
  packages/components/pie-cookie-banner/playwright-lit.config.ts
  packages/components/pie-cookie-banner/playwright/index.html
  packages/components/pie-cookie-banner/playwright/index.ts
  packages/components/pie-cookie-banner/src/cookie-banner.scss
  packages/components/pie-cookie-banner/src/defs.ts
  packages/components/pie-cookie-banner/src/index.ts
  packages/components/pie-cookie-banner/test/accessibility/pie-cookie-banner.spec.ts
  packages/components/pie-cookie-banner/test/component/pie-cookie-banner.spec.ts
  packages/components/pie-cookie-banner/test/visual/pie-cookie-banner.spec.ts
  packages/components/pie-cookie-banner/tsconfig.json
  packages/components/pie-cookie-banner/vite.config.js
  packages/tools/generator-pie-component/README.md
  yarn.lock
Labels: apps, tools, components, pie-storybook, generator-pie-component

#747 refactor(pie-button): DSW-1108 updated button, icon-button and divider
  .changeset/warm-pillows-own.md
  packages/components/pie-button/test/visual/pie-button.spec.ts
  packages/components/pie-divider/test/visual/pie-divider.spec.ts
  packages/components/pie-icon-button/test/visual/pie-icon-button.spec.ts
  packages/components/pie-webc-testing/src/percy/breakpoints.ts
  yarn.lock
Labels: components, pie-button, pie-icon-button, pie-webc-testing, pie-divider

#744 feat(pie-toggle-switch): DSW-1081 adds support for toggling switch via label
  .changeset/yellow-radios-glow.md
  packages/components/pie-toggle-switch/src/index.ts
  packages/components/pie-toggle-switch/test/component/pie-toggle-switch.spec.ts
Labels: components

#745 feat(pie-webc-core): DSW-1070 update RTL mixin to infer dir from document
  .changeset/gorgeous-tools-marry.md
  .github/workflows/ci.yml
  apps/pie-storybook/args/commonArgsTypes.ts
  apps/pie-storybook/decorators/writing-direction.ts
  apps/pie-storybook/stories/pie-modal.stories.ts
  apps/pie-storybook/stories/pie-toggle-switch.stories.ts
  apps/pie-storybook/tsconfig.json
  packages/components/pie-cookie-banner/package.json
  packages/components/pie-cookie-banner/test/visual/pie-cookie-banner.spec.ts
  packages/components/pie-link/test/component/pie-link.spec.ts
  packages/components/pie-link/test/visual/pie-link.spec.ts
  packages/components/pie-webc-core/src/mixins/rtl/rtlMixin.ts
  packages/components/pie-webc-core/src/mixins/test/rtlMixin.spec.ts
  packages/components/pie-webc-core/vite.config.js
  packages/tools/generator-pie-component/src/app/templates/pie-placeholder.__stories__.ts
Labels: apps, tools, components, pie-storybook, pie-webc-core, generator-pie-component, pie-link

#728 ci(pie-monorepo): DSW-1074 only run docs / component tests + deploy on change
  .github/workflows/ci.yml
Labels: please review

#750 feat(pie-cookie-banner): DSW-1126 add basic styling and markup
  .changeset/five-nails-admire.md
  .changeset/loud-birds-juggle.md
  apps/pie-storybook/.storybook/preview-head.html
  apps/pie-storybook/package.json
  apps/pie-storybook/stories/pie-cookie-banner.stories.ts
  packages/components/pie-cookie-banner/package.json
  packages/components/pie-cookie-banner/src/cookie-banner.scss
  packages/components/pie-cookie-banner/src/index.ts
  packages/components/pie-cookie-banner/test/visual/pie-cookie-banner.spec.ts
  packages/tools/pie-css/css/input.css
  packages/tools/pie-css/test/css/__snapshots__/css.spec.ts.snap
  packages/tools/pie-css/turbo.json
  yarn.lock
Labels: apps, tools, components, pie-storybook, pie-css

#752 feat(pie-button): DSW-1139 outline inverse button
  .changeset/tidy-files-boil.md
  apps/pie-storybook/stories/pie-button.stories.ts
  packages/components/pie-button/README.md
  packages/components/pie-button/src/button.scss
  packages/components/pie-button/src/defs.ts
  packages/components/pie-button/test/component/pie-button.spec.ts
  packages/components/pie-button/test/visual/pie-button.spec.ts
Labels: apps, components, pie-button, pie-storybook

#742 feat(pie-docs): DSW-1069 build resource table
  .changeset/cyan-mangos-trade.md
  apps/pie-docs/src/_11ty/shortcodes/index.js
  apps/pie-docs/src/_11ty/shortcodes/resourceTable.js
  apps/pie-docs/src/_11ty/shortcodes/simpleTable.js
  apps/pie-docs/src/_data/resourceTypes.js
  apps/pie-docs/src/_data/statusTypes.js
  apps/pie-docs/src/_includes/nav.njk
  apps/pie-docs/src/assets/img/components/icons/android.svg
  apps/pie-docs/src/assets/img/components/icons/apple.svg
  apps/pie-docs/src/assets/img/components/icons/figma.svg
  apps/pie-docs/src/assets/img/components/icons/react.svg
  apps/pie-docs/src/assets/img/components/icons/vue.svg
  apps/pie-docs/src/assets/img/components/icons/web-component.svg
  apps/pie-docs/src/assets/styles/_dependencies.scss
  apps/pie-docs/src/assets/styles/components/_resourceTable.scss
  apps/pie-docs/src/assets/styles/components/_simpleTable.scss
  apps/pie-docs/src/assets/styles/components/_table.scss
  apps/pie-docs/src/components/components.json
  apps/pie-docs/src/components/components.md
  apps/pie-docs/src/components/template/template.json
  apps/pie-docs/src/components/template/template.md
Labels: apps, pie-docs

#741 docs(pie-docs): DSW-424 add iconography code page
  .changeset/red-bugs-provide.md
  .changeset/thick-horses-fix.md
  apps/pie-docs/src/assets/js/prism.js
  apps/pie-docs/src/foundations/iconography/code.md
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
Labels: apps, pie-docs

#755 feat(pie-docs): DSW-000 add pre-release tag
  .changeset/twenty-ligers-yawn.md
  apps/pie-docs/src/_11ty/shortcodes/resourceTable.js
  apps/pie-docs/src/_data/statusTypes.js
  apps/pie-docs/src/components/template/template.md
Labels: apps, pie-docs

#753 feat(pie-cookie-banner): DSW-1127 add manage preferences modal
  .changeset/brown-lizards-end.md
  .changeset/shy-forks-suffer.md
  apps/pie-storybook/stories/pie-cookie-banner.stories.ts
  packages/components/pie-cookie-banner/package.json
  packages/components/pie-cookie-banner/src/cookie-banner.scss
  packages/components/pie-cookie-banner/src/defs.ts
  packages/components/pie-cookie-banner/src/index.ts
  packages/components/pie-cookie-banner/test/component/pie-cookie-banner.spec.ts
  packages/components/pie-cookie-banner/test/visual/pie-cookie-banner.spec.ts
  packages/components/pie-modal/src/defs.ts
  packages/components/pie-modal/src/index.ts
  yarn.lock
Labels: apps, components, pie-storybook, pie-modal

#759 feat(pie-cookie-banner): DSW-1127 use button for manage preferences link
  .changeset/moody-pots-rush.md
  packages/components/pie-cookie-banner/src/index.ts
  packages/components/pie-cookie-banner/test/component/pie-cookie-banner.spec.ts
Labels: components

#765 feat(pie-icons): DSW-1140 update cash icons
  .changeset/four-vans-sort.md
  packages/tools/pie-icons-react/README.md
  packages/tools/pie-icons/src/assets/cash-filled-large.svg
  packages/tools/pie-icons/src/assets/cash-filled.svg
  packages/tools/pie-icons/src/assets/cash-large.svg
  packages/tools/pie-icons/src/assets/cash.svg
Labels: tools, pie-icons, pie-icons-react

#762 feat(pie-monorepo): DSW-1147 update tokens package
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/tokensTable.test.js.snap
  package.json
  packages/tools/pie-css/test/css/__snapshots__/css.spec.ts.snap
  yarn.lock
Labels: apps, tools, pie-docs, pie-css

#770 chore(pie-monorepo): DSW-1110 update ds token package
  .changeset/empty-panthers-drop.md
  apps/examples/wc-vanilla/package.json
  package.json
  packages/tools/pie-css/test/css/__snapshots__/css.spec.ts.snap
  packages/tools/pie-icons-vue/.eslintrc.cjs
  packages/tools/pie-icons-vue/scripts/build.js
  yarn.lock
Labels: apps, tools, pie-icons-vue, pie-css

#764 feat(pie-button): DSW-1086 remove dual icons
  .changeset/forty-avocados-attend.md
  apps/pie-storybook/stories/pie-button.stories.ts
  packages/components/pie-button/README.md
  packages/components/pie-button/src/button.scss
  packages/components/pie-button/src/defs.ts
  packages/components/pie-button/src/index.ts
  packages/components/pie-button/test/visual/pie-button.spec.ts
Labels: apps, components, pie-button, pie-storybook

#773 chore(pie-docs): DSW-1146 upgrade to 11ty 2.0.1
  .changeset/soft-seas-fetch.md
  apps/pie-docs/package.json
  yarn.lock
Labels: apps, pie-docs
