Repository justeattakeaway/pie, pull requests merged in 2023-10, with the labels that each got.

#841 feat(browserslist-config-pie): DSW-31 add initial browserslist package and config
  .changeset/fair-actors-end.md
  .changeset/four-spoons-cry.md
  .changeset/plenty-moons-happen.md
  .github/project-labeler.yml
  apps/examples/wc-vanilla/package.json
  apps/pie-storybook/package.json
  packages/tools/browserslist-config-pie/LICENCE.md
  packages/tools/browserslist-config-pie/README.md
  packages/tools/browserslist-config-pie/index.js
  packages/tools/browserslist-config-pie/package.json
  packages/tools/eslint-config-pie/CODE_OF_CONDUCT.md
  packages/tools/pie-stylelint-config/CODE_OF_CONDUCT.md
  yarn.lock
Labels: approved-1, approved-2, apps, tools, stylelint-config-pie, pie-storybook, eslint-config-pie, browserslist-config-pie

#848 format(pie-monorepo): DSW-000 align naming of LICENSE files
  .changeset/swift-bugs-remember.md
  LICENSE
  packages/tools/browserslist-config-pie/LICENSE
  packages/tools/eslint-config-pie/LICENSE
  packages/tools/pie-stylelint-config/LICENSE
Labels: tools, stylelint-config-pie, eslint-config-pie, browserslist-config-pie

#829 feat(pie-card-container): DSW-1157 Card container padding props settings
  .changeset/pretty-pots-rush.md
  apps/pie-storybook/stories/pie-card-container.stories.ts
  packages/components/pie-card-container/README.md
  packages/components/pie-card-container/src/defs.ts
  packages/components/pie-card-container/src/index.ts
  packages/components/pie-card-container/test/component/pie-card-container.spec.ts
  packages/components/pie-card-container/test/visual/pie-card-container.spec.ts
Labels: apps, components, pie-storybook

#852 chore(pie-monorepo): DSW-000 align author field for all packages
  .changeset/tender-ads-dream.md
  apps/pie-docs/package.json
  apps/pie-storybook/package.json
  package.json
  packages/components/pie-button/package.json
  packages/components/pie-card-container/package.json
  packages/components/pie-cookie-banner/package.json
  packages/components/pie-divider/package.json
  packages/components/pie-form-label/package.json
  packages/components/pie-icon-button/package.json
  packages/components/pie-link/package.json
  packages/components/pie-modal/package.json
  packages/components/pie-toggle-switch/package.json
  packages/components/pie-webc-core/package.json
  packages/components/pie-webc-testing/package.json
  packages/tools/browserslist-config-pie/package.json
  packages/tools/eslint-config-pie/package.json
  packages/tools/generator-pie-component/package.json
  packages/tools/generator-pie-component/src/app/templates/__package__.json
  packages/tools/pie-css/package.json
  packages/tools/pie-icons/package.json
  packages/tools/pie-stylelint-config/package.json
  packages/tools/pie-wrapper-react/package.json
  yarn.lock
Labels: apps, tools, pie-icons, stylelint-config-pie, components, pie-button, pie-storybook, pie-docs, pie-modal, pie-icon-button, pie-webc-core, pie-webc-testing, generator-pie-component, pie-css, pie-divider, pie-link, pie-toggle-switch, pie-form-label, eslint-config-pie, browserslist-config-pie

#854 chore(pie-monorepo): DSW-1280 add sideEffects property to components
  .changeset/nervous-yaks-run.md
  packages/components/pie-button/package.json
  packages/components/pie-card-container/package.json
  packages/components/pie-cookie-banner/package.json
  packages/components/pie-divider/package.json
  packages/components/pie-form-label/package.json
  packages/components/pie-icon-button/package.json
  packages/components/pie-link/package.json
  packages/components/pie-modal/package.json
  packages/components/pie-toggle-switch/package.json
  packages/tools/generator-pie-component/src/app/templates/__package__.json
Labels: tools, components, pie-button, pie-modal, pie-icon-button, generator-pie-component, pie-divider, pie-link, pie-toggle-switch, pie-form-label

#849 fix(pie-toggle-switch): DSW-1123 address design feedback
  .changeset/selfish-paws-behave.md
  packages/components/pie-toggle-switch/src/defs.ts
  packages/components/pie-toggle-switch/src/index.ts
  packages/components/pie-toggle-switch/src/toggle-switch.scss
  packages/components/pie-toggle-switch/test/component/pie-toggle-switch.spec.ts
Labels: components, pie-toggle-switch

#855 chore(pie-monorepo): DSW-31 replace `@justeat/browserslist-config-fozzie` with `@justeattakeaway/browserslist-config-pie`
  .changeset/good-points-sniff.md
  .changeset/orange-papayas-remain.md
  .changeset/witty-bananas-think.md
  apps/examples/wc-react18/package.json
  apps/pie-docs/package.json
  apps/pie-docs/src/_11ty/plugins/index.js
  apps/pie-docs/turbo.json
  package.json
  packages/tools/pie-icons-vue/README.md
  packages/tools/pie-icons-vue/package.json
  packages/tools/pie-icons-webc/.eslintignore
  packages/tools/pie-icons-webc/README.md
  packages/tools/pie-icons-webc/package.json
  yarn.lock
Labels: apps, tools, pie-icons-vue, pie-docs

#840 feat(pie-docs): DSW-1259 added components L-P
  .changeset/hungry-lies-rush.md
  apps/pie-docs/src/assets/img/components/link/overview.svg
  apps/pie-docs/src/assets/img/components/list-item/list-item-interactive/overview.svg
  apps/pie-docs/src/assets/img/components/list-item/list-item/overview.svg
  apps/pie-docs/src/assets/img/components/map-pin/overview.svg
  apps/pie-docs/src/assets/img/components/modal/overview.svg
  apps/pie-docs/src/assets/img/components/notification/overview.svg
  apps/pie-docs/src/assets/img/components/numeric-stepper/numeric-stepper-form/overview.svg
  apps/pie-docs/src/assets/img/components/numeric-stepper/numeric-stepper-input/overview.svg
  apps/pie-docs/src/assets/img/components/numeric-stepper/numeric-stepper-simple/overview.svg
  apps/pie-docs/src/assets/img/components/numeric-stepper/numeric-stepper/overview.svg
  apps/pie-docs/src/assets/img/components/pagination/overview.svg
  apps/pie-docs/src/assets/img/components/popover/overview.svg
  apps/pie-docs/src/assets/img/components/progress-bar/overview.svg
  apps/pie-docs/src/assets/img/components/progress-stepper/overview.svg
  apps/pie-docs/src/components/icon-button/icon-button.md
  apps/pie-docs/src/components/link/link.json
  apps/pie-docs/src/components/link/link.md
  apps/pie-docs/src/components/list-item/list-item-interactive/list-item-interactive.json
  apps/pie-docs/src/components/list-item/list-item-interactive/list-item-interactive.md
  apps/pie-docs/src/components/list-item/list-item.json
  apps/pie-docs/src/components/list-item/list-item.md
  apps/pie-docs/src/components/list-item/list-item/list-item.json
  apps/pie-docs/src/components/list-item/list-item/list-item.md
  apps/pie-docs/src/components/map-pin/map-pin.json
  apps/pie-docs/src/components/map-pin/map-pin.md
  apps/pie-docs/src/components/modal/modal.json
  apps/pie-docs/src/components/modal/modal.md
  apps/pie-docs/src/components/notification/notification.json
  apps/pie-docs/src/components/notification/notification.md
  apps/pie-docs/src/components/numeric-stepper/numeric-stepper-form/numeric-stepper-form.json
  apps/pie-docs/src/components/numeric-stepper/numeric-stepper-form/numeric-stepper-form.md
  apps/pie-docs/src/components/numeric-stepper/numeric-stepper-input/numeric-stepper-input.json
  apps/pie-docs/src/components/numeric-stepper/numeric-stepper-input/numeric-stepper-input.md
  apps/pie-docs/src/components/numeric-stepper/numeric-stepper-simple/numeric-stepper-simple.json
  apps/pie-docs/src/components/numeric-stepper/numeric-stepper-simple/numeric-stepper-simple.md
  apps/pie-docs/src/components/numeric-stepper/numeric-stepper.json
  apps/pie-docs/src/components/numeric-stepper/numeric-stepper.md
  apps/pie-docs/src/components/numeric-stepper/numeric-stepper/numeric-stepper.json
  apps/pie-docs/src/components/numeric-stepper/numeric-stepper/numeric-stepper.md
  apps/pie-docs/src/components/pagination/pagination.json
  apps/pie-docs/src/components/pagination/pagination.md
  apps/pie-docs/src/components/popover/popover.json
  apps/pie-docs/src/components/popover/popover.md
  apps/pie-docs/src/components/progress-bar/progress-bar.json
  apps/pie-docs/src/components/progress-bar/progress-bar.md
  apps/pie-docs/src/components/progress-stepper/progress-stepper.json
  apps/pie-docs/src/components/progress-stepper/progress-stepper.md
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
  yarn.lock
Labels: apps, pie-docs

#862 feat(pie-css): DSW-1204 z-index css variables
  .changeset/cold-bears-kiss.md
  packages/components/pie-cookie-banner/src/cookie-banner.scss
  packages/tools/pie-css/README.md
  packages/tools/pie-css/css/input.css
  packages/tools/pie-css/test/css/__snapshots__/css.spec.ts.snap
Labels: tools, components, pie-css

#844 feat(pie-docs): DSW-1260 add components R to S
  .changeset/wicked-pets-switch.md
  apps/pie-docs/src/assets/img/components/radio/overview.svg
  apps/pie-docs/src/assets/img/components/rating/overview.svg
  apps/pie-docs/src/assets/img/components/segmented-controls/overview.svg
  apps/pie-docs/src/assets/img/components/select-input/overview.svg
  apps/pie-docs/src/assets/img/components/show-more/overview.svg
  apps/pie-docs/src/assets/img/components/side-sheet/overview.svg
  apps/pie-docs/src/assets/img/components/skeleton/overview.svg
  apps/pie-docs/src/assets/img/components/slider/overview.svg
  apps/pie-docs/src/assets/img/components/spinner/overview.svg
  apps/pie-docs/src/components/radio/radio.json
  apps/pie-docs/src/components/radio/radio.md
  apps/pie-docs/src/components/rating/rating.json
  apps/pie-docs/src/components/rating/rating.md
  apps/pie-docs/src/components/segmented-controls/segmented-controls.json
  apps/pie-docs/src/components/segmented-controls/segmented-controls.md
  apps/pie-docs/src/components/select-input/select-input.json
  apps/pie-docs/src/components/select-input/select-input.md
  apps/pie-docs/src/components/show-more/show-more.json
  apps/pie-docs/src/components/show-more/show-more.md
  apps/pie-docs/src/components/side-sheet/side-sheet.json
  apps/pie-docs/src/components/side-sheet/side-sheet.md
  apps/pie-docs/src/components/skeleton/skeleton.json
  apps/pie-docs/src/components/skeleton/skeleton.md
  apps/pie-docs/src/components/slider/slider.json
  apps/pie-docs/src/components/slider/slider.md
  apps/pie-docs/src/components/spinner/spinner.json
  apps/pie-docs/src/components/spinner/spinner.md
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
Labels: apps, pie-docs

#861 feat(pie-docs): DSW-1261 add components T-U
  .changeset/yellow-hornets-buy.md
  apps/pie-docs/src/assets/img/components/card/overview.svg
  apps/pie-docs/src/assets/img/components/switch/overview.svg
  apps/pie-docs/src/assets/img/components/tabs/overview.svg
  apps/pie-docs/src/assets/img/components/tag/overview.svg
  apps/pie-docs/src/assets/img/components/text-input/overview.svg
  apps/pie-docs/src/assets/img/components/textarea/overview.svg
  apps/pie-docs/src/assets/img/components/thumbnail/overview.svg
  apps/pie-docs/src/assets/img/components/toast/overview.svg
  apps/pie-docs/src/assets/img/components/tooltip/overview.svg
  apps/pie-docs/src/assets/img/components/uploader/overview.svg
  apps/pie-docs/src/components/card/card.json
  apps/pie-docs/src/components/card/card.md
  apps/pie-docs/src/components/switch/switch.json
  apps/pie-docs/src/components/switch/switch.md
  apps/pie-docs/src/components/tabs/tabs.json
  apps/pie-docs/src/components/tabs/tabs.md
  apps/pie-docs/src/components/tag/tag.json
  apps/pie-docs/src/components/tag/tag.md
  apps/pie-docs/src/components/text-input/text-input.json
  apps/pie-docs/src/components/text-input/text-input.md
  apps/pie-docs/src/components/textarea/textarea.json
  apps/pie-docs/src/components/textarea/textarea.md
  apps/pie-docs/src/components/thumbnail/thumbnail.json
  apps/pie-docs/src/components/thumbnail/thumbnail.md
  apps/pie-docs/src/components/toast/toast.json
  apps/pie-docs/src/components/toast/toast.md
  apps/pie-docs/src/components/tooltip/tooltip.json
  apps/pie-docs/src/components/tooltip/tooltip.md
  apps/pie-docs/src/components/uploader/uploader.json
  apps/pie-docs/src/components/uploader/uploader.md
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
Labels: apps, pie-docs

#873 feat(pie-docs): DSW-000 update avatar status
  .changeset/chatty-pumas-fry.md
  apps/pie-docs/src/components/avatar/avatar.md
Labels: apps, pie-docs

#878 cosmetic(pie-modal): DSW-1316 fix modal header spacing issues
  .changeset/slimy-chicken-count.md
  packages/components/pie-modal/src/modal.scss
  yarn.lock
Labels: components, please review, pie-modal

#882 docs(pie-modal): DSW-1317 update default modal body text on storybook
  apps/pie-storybook/stories/pie-modal.stories.ts
Labels: apps, pie-storybook

#857 docs(pie-monorepo): DSW-1190 updated component readme structure
  .changeset/cool-bottles-matter.md
  .changeset/silent-islands-speak.md
  apps/pie-storybook/stories/pie-button.stories.ts
  packages/components/pie-button/README.md
  packages/components/pie-card-container/README.md
  packages/components/pie-cookie-banner/README.md
  packages/components/pie-divider/README.md
  packages/components/pie-form-label/README.md
  packages/components/pie-icon-button/README.md
  packages/components/pie-link/README.md
  packages/components/pie-modal/README.md
  packages/components/pie-toggle-switch/README.md
  packages/tools/generator-pie-component/src/app/templates/README.md
  packages/tools/pie-icons-webc/README.md
  packages/tools/pie-icons/README.md
Labels: apps, tools, pie-icons, components, pie-button, pie-storybook, pie-modal, pie-icon-button, generator-pie-component, pie-divider, pie-link, pie-toggle-switch, pie-form-label

#877 feat(pie-button): DSW-1272 form submits
  .changeset/orange-brooms-brush.md
  .changeset/seven-berries-argue.md
  apps/pie-storybook/stories/pie-button.stories.ts
  apps/pie-storybook/types/StoryOptions.ts
  apps/pie-storybook/utilities/index.ts
  packages/components/pie-button/README.md
  packages/components/pie-button/package.json
  packages/components/pie-button/src/defs.ts
  packages/components/pie-button/src/index.ts
  packages/components/pie-button/test/component/pie-button.spec.ts
  yarn.lock
Labels: apps, components, pie-button, pie-storybook

#875 feat(pie-card-container): DSW-1306 validate the padding prop
  .changeset/purple-pugs-knock.md
  apps/pie-storybook/stories/pie-card-container.stories.ts
  packages/components/pie-card-container/src/defs.ts
  packages/components/pie-card-container/src/index.ts
  packages/components/pie-card-container/test/component/pie-card-container.spec.ts
  packages/components/pie-card-container/test/visual/pie-card-container.spec.ts
Labels: apps, components, pie-storybook

#883 fix(pie-modal): DSW-1319 fix positioning bugs when using position=top
  .changeset/red-adults-sniff.md
  packages/components/pie-modal/src/modal.scss
  packages/components/pie-modal/test/visual/pie-modal.spec.ts
  yarn.lock
Labels: components, please review, pie-modal, design-review

#900 chore(pie-docs): DSW-000 update dependencies
  .changeset/gold-queens-report.md
  apps/pie-docs/package.json
  yarn.lock
Labels: apps, pie-docs

#901 feat(pie-monorepo): DSW-1330 fix conditional for generating slack message
  .changeset/selfish-boxes-explain.md
  .github/workflows/changeset-release.yml
  apps/pie-storybook/package.json
  yarn.lock
Labels: apps, pie-storybook

#906 feat(pie-docs): DSW-410 add "back to top" button
  .changeset/two-geese-cover.md
  apps/pie-docs/src/_includes/header.njk
  apps/pie-docs/src/_includes/layouts/default-layout.njk
  apps/pie-docs/src/_includes/scripts.njk
  apps/pie-docs/src/_includes/scroll-to-top.njk
  apps/pie-docs/src/assets/js/scroll-to-top.js
  apps/pie-docs/src/assets/styles/_dependencies.scss
  apps/pie-docs/src/assets/styles/components/_scrollToTop.scss
  apps/pie-docs/test/system/scroll-to-top.spec.js
Labels: apps, pie-docs, please review

#911 chore(pie-icons-webc): DSW-000 move test package deps to devdependencies
  .changeset/rich-sloths-judge.md
  packages/tools/pie-icons-webc/package.json
  yarn.lock
Labels: tools

#909 fix(pie-button): DSW-1352 design review fixes for pie-button
  .changeset/silly-keys-jam.md
  packages/components/pie-button/src/button.scss
Labels: components, pie-button

#919 fix(pie-monorepo): DSW-000 fix nuxt3 build issue
  .changeset/silver-queens-train.md
  apps/examples/wc-nuxt3/nuxt.config.ts
Labels: apps

#912 cosmetic(pie-modal): DSW-000 use narrow/wide font sizes for the modal heading
  .changeset/strong-pens-wave.md
  packages/components/pie-modal/src/modal.scss
Labels: components, pie-modal

#903 fix(pie-modal): DSW-1322 Address modal footer design feedback
  .changeset/silver-ties-warn.md
  packages/components/pie-modal/src/modal.scss
Labels: components, pie-modal

#924 fix(pie-form-label): DSW-1274 address form label design feedback
  .changeset/twenty-cats-burn.md
  packages/components/pie-form-label/src/form-label.scss
  packages/components/pie-form-label/src/index.ts
Labels: components, pie-form-label

#927 feat(pie-cookie-banner): DSW-1397 add hasPrimaryActionsOnly prop
  .changeset/nasty-monkeys-own.md
  apps/pie-storybook/.storybook/main.ts
  apps/pie-storybook/package.json
  apps/pie-storybook/stories/pie-cookie-banner.stories.ts
  packages/components/pie-cookie-banner/README.md
  packages/components/pie-cookie-banner/src/defs.ts
  packages/components/pie-cookie-banner/src/index.ts
  packages/components/pie-cookie-banner/test/component/pie-cookie-banner.spec.ts
  packages/components/pie-cookie-banner/test/visual/pie-cookie-banner.spec.ts
  yarn.lock
Labels: apps, components, pie-storybook

#904 docs(pie-monorepo): DSW-1141 update component READMEs
  .changeset/purple-seals-yawn.md
  .changeset/real-pumpkins-clean.md
  README.md
  packages/components/pie-button/README.md
  packages/components/pie-card-container/README.md
  packages/components/pie-cookie-banner/README.md
  packages/components/pie-divider/README.md
  packages/components/pie-form-label/README.md
  packages/components/pie-icon-button/README.md
  packages/components/pie-link/README.md
  packages/components/pie-modal/README.md
  packages/components/pie-toggle-switch/README.md
  packages/tools/generator-pie-component/src/app/templates/README.md
Labels: tools, components, pie-button, pie-modal, pie-icon-button, generator-pie-component, pie-divider, pie-link, pie-toggle-switch, pie-form-label

#929 chore(pie-storybook): DSW-1397 remove extraneous storybook dependencies
  .changeset/five-buses-sing.md
  apps/pie-storybook/package.json
  apps/pie-storybook/stories/pie-cookie-banner.stories.ts
  packages/components/pie-cookie-banner/README.md
  packages/components/pie-cookie-banner/src/defs.ts
  yarn.lock
Labels: apps, components, pie-storybook

#930 feat(pie-notification): DSW-1347 generate notification skeleton
  .github/project-labeler.yml
  .github/workflows/ci.yml
  apps/pie-storybook/package.json
  apps/pie-storybook/stories/pie-notification.stories.ts
  packages/components/pie-notification/.eslintignore
  packages/components/pie-notification/README.md
  packages/components/pie-notification/declaration.d.ts
  packages/components/pie-notification/package.json
  packages/components/pie-notification/playwright-lit-visual.config.ts
  packages/components/pie-notification/playwright-lit.config.ts
  packages/components/pie-notification/playwright/index.html
  packages/components/pie-notification/playwright/index.ts
  packages/components/pie-notification/src/defs.ts
  packages/components/pie-notification/src/index.ts
  packages/components/pie-notification/src/notification.scss
  packages/components/pie-notification/test/accessibility/pie-notification.spec.ts
  packages/components/pie-notification/test/component/pie-notification.spec.ts
  packages/components/pie-notification/test/visual/pie-notification.spec.ts
  packages/components/pie-notification/tsconfig.json
  packages/components/pie-notification/vite.config.js
  packages/tools/generator-pie-component/README.md
  yarn.lock
Labels: apps, tools, components, pie-storybook, generator-pie-component

#907 fix(pie-card-container): DSW-1289 fix design issues
  .changeset/chatty-wasps-judge.md
  apps/pie-storybook/stories/pie-card-container.stories.ts
  packages/components/pie-card-container/README.md
  packages/components/pie-card-container/src/card-container.scss
  packages/components/pie-card-container/src/defs.ts
  packages/components/pie-card-container/src/index.ts
  packages/components/pie-card-container/test/accessibility/pie-card-container.spec.ts
  packages/components/pie-card-container/test/component/pie-card-container.spec.ts
  packages/components/pie-card-container/test/visual/pie-card-container.spec.ts
  packages/tools/pie-css/scss/helpers/_has-grab-cursor.scss
  packages/tools/pie-css/test/scss/unit/helpers/hasGrabCursor.spec.ts
  packages/tools/pie-css/test/scss/unit/validityTest.scss
Labels: apps, tools, components, pie-storybook, pie-css

#939 chore(pie-switch): DSW-1307 rename pie-toggle-switch to pie-switch
  .changeset/fresh-years-vanish.md
  .github/project-labeler.yml
  .github/workflows/ci.yml
  apps/pie-docs/src/components/switch/switch.md
  apps/pie-storybook/package.json
  apps/pie-storybook/stories/pie-cookie-banner.stories.ts
  apps/pie-storybook/stories/pie-switch.stories.ts
  packages/components/pie-cookie-banner/package.json
  packages/components/pie-cookie-banner/src/index.ts
  packages/components/pie-cookie-banner/test/component/pie-cookie-banner.spec.ts
  packages/components/pie-switch/.eslintignore
  packages/components/pie-switch/CHANGELOG.md
  packages/components/pie-switch/README.md
  packages/components/pie-switch/declaration.d.ts
  packages/components/pie-switch/package.json
  packages/components/pie-switch/playwright-lit-visual.config.ts
  packages/components/pie-switch/playwright-lit.config.ts
  packages/components/pie-switch/playwright/index.html
  packages/components/pie-switch/playwright/index.ts
  packages/components/pie-switch/src/defs.ts
  packages/components/pie-switch/src/index.ts
  packages/components/pie-switch/src/switch.scss
  packages/components/pie-switch/test/component/pie-switch.spec.ts
  packages/components/pie-switch/test/visual/pie-switch.spec.ts
  packages/components/pie-switch/tsconfig.json
  packages/components/pie-switch/vite.config.js
  packages/components/pie-toggle-switch/src/toggle-switch.scss
  yarn.lock
Labels: apps, components, pie-storybook, pie-docs, pie-toggle-switch

#944 chore(pie-card): DSW-1307 rename pie-card-container to pie-card
  .changeset/sweet-papayas-fly.md
  .changeset/thirty-mayflies-collect.md
  .github/project-labeler.yml
  .github/workflows/ci.yml
  apps/pie-storybook/package.json
  apps/pie-storybook/stories/pie-card.stories.ts
  packages/components/pie-card/.eslintignore
  packages/components/pie-card/CHANGELOG.md
  packages/components/pie-card/README.md
  packages/components/pie-card/declaration.d.ts
  packages/components/pie-card/package.json
  packages/components/pie-card/playwright-lit-visual.config.ts
  packages/components/pie-card/playwright-lit.config.ts
  packages/components/pie-card/playwright/index.html
  packages/components/pie-card/playwright/index.ts
  packages/components/pie-card/src/card.scss
  packages/components/pie-card/src/defs.ts
  packages/components/pie-card/src/index.ts
  packages/components/pie-card/test/accessibility/pie-card.spec.ts
  packages/components/pie-card/test/component/pie-card.spec.ts
  packages/components/pie-card/test/visual/pie-card.spec.ts
  packages/components/pie-card/tsconfig.json
  packages/components/pie-card/vite.config.js
  yarn.lock
Labels: work-in-progress, apps, components, pie-storybook, DO NOT MERGE

#934 feat(pie-docs): DSW-1415 add link component shortcode
  .changeset/rich-ladybugs-suffer.md
  apps/pie-docs/src/_11ty/shortcodes/index.js
  apps/pie-docs/src/_11ty/shortcodes/link.js
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/link.test.js.snap
  apps/pie-docs/src/__tests__/_11ty/shortcodes/link.test.js
  apps/pie-docs/src/assets/styles/_dependencies.scss
  apps/pie-docs/src/assets/styles/components/_link.scss
Labels: apps, pie-docs

#947 fix(generator-pie-component): DSW-000 update readme to align with latest updates
  .changeset/eleven-cherries-worry.md
  packages/components/pie-form-label/README.md
  packages/components/pie-notification/README.md
  packages/components/pie-spinner/README.md
  packages/tools/generator-pie-component/src/app/templates/README.md
Labels: tools, components, generator-pie-component, pie-form-label, pie-notification, pie-spinner
