Repository justeattakeaway/pie, pull requests merged in 2024-06, with the labels that each got.

#1492 chore(deps): DSW-000 package updates
  .changeset/spotty-years-remember.md
  apps/examples/wc-next13/package.json
  apps/examples/wc-react18/package.json
  apps/examples/wc-vue3/package.json
  apps/pie-storybook/package.json
  package.json
  packages/tools/pie-icons-react/package.json
  packages/tools/pie-icons-webc/package.json
  packages/tools/pie-wrapper-react/package.json
  yarn.lock
Labels: apps, tools, pie-icons-react, pie-storybook

#1490 fix(pie-notification): DSW-2009 address design review round 3
  .changeset/shaggy-shoes-switch.md
  apps/pie-docs/src/components/notification/code/props.json
  apps/pie-storybook/stories/pie-notification.stories.ts
  packages/components/pie-notification/src/defs.ts
  packages/components/pie-notification/src/index.ts
  packages/components/pie-notification/src/notification.scss
  packages/components/pie-notification/test/component/pie-notification.spec.ts
Labels: apps, components, pie-storybook, pie-docs, pie-notification

#1499 docs(pie-docs): DSW-000 shorten yarn and npm installation examples
  apps/pie-docs/src/components/button/code/code.md
  apps/pie-docs/src/components/card/code/code.md
  apps/pie-docs/src/components/chip/code/code.md
  apps/pie-docs/src/components/divider/code/code.md
  apps/pie-docs/src/components/icon-button/code/code.md
  apps/pie-docs/src/components/link/code/code.md
  apps/pie-docs/src/components/modal/code/code.md
  apps/pie-docs/src/components/notification/code/code.md
  apps/pie-docs/src/components/switch/code/code.md
  apps/pie-docs/src/components/tag/code/code.md
  apps/pie-docs/src/patterns/cookie-banner/code/code.md
  packages/components/pie-assistive-text/README.md
  packages/components/pie-button/README.md
  packages/components/pie-card/README.md
  packages/components/pie-checkbox/README.md
  packages/components/pie-chip/README.md
  packages/components/pie-cookie-banner/README.md
  packages/components/pie-divider/README.md
  packages/components/pie-form-label/README.md
  packages/components/pie-icon-button/README.md
  packages/components/pie-link/README.md
  packages/components/pie-modal/README.md
  packages/components/pie-notification/README.md
  packages/components/pie-spinner/README.md
  packages/components/pie-switch/README.md
  packages/components/pie-tag/README.md
  packages/components/pie-text-input/README.md
  packages/components/pie-webc/README.md
Labels: apps, components, pie-button, pie-docs, pie-modal, pie-icon-button, pie-divider, pie-link, pie-form-label, pie-switch, pie-notification, pie-spinner, pie-tag, pie-assistive-text, pie-webc, pie-checkbox, pie-text-input

#1508 fix(pie-modal): DSW-2039 fixed footer padding issue when no leading a…
  .changeset/perfect-doors-carry.md
  apps/pie-storybook/stories/pie-modal.stories.ts
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/src/modal.scss
  packages/components/pie-modal/test/visual/pie-modal.spec.ts
Labels: approved-1, apps, components, pie-storybook, pie-modal

#1497 docs(pie-docs): DSW-594 add updates to Contributing page
  .changeset/good-mirrors-attack.md
  .changeset/three-shrimps-burn.md
  apps/pie-docs/src/assets/img/engineers/react.png
  apps/pie-docs/src/assets/img/engineers/react@2x.png
  apps/pie-docs/src/assets/img/engineers/vue.png
  apps/pie-docs/src/assets/img/engineers/vue@2x.png
  apps/pie-docs/src/assets/img/engineers/webComponents.png
  apps/pie-docs/src/engineers/contributing.md
  apps/pie-docs/src/engineers/getting-started/structure.md
Labels: apps, pie-docs

#1504 feat(pie-checkbox): DSW-2082 add defaultChecked property
  .changeset/eight-zebras-look.md
  apps/pie-storybook/stories/pie-checkbox.stories.ts
  packages/components/pie-checkbox/README.md
  packages/components/pie-checkbox/src/defs.ts
  packages/components/pie-checkbox/src/index.ts
  packages/components/pie-checkbox/test/component/pie-checkbox.spec.ts
Labels: apps, components, pie-storybook, please review, pie-checkbox

#1518 feat(pie-textarea): DSW-2125 create skeleton component
  .changeset/perfect-moose-tell.md
  .changeset/spotty-grapes-destroy.md
  .github/project-labeler.yml
  .github/workflows/ci.yml
  apps/pie-storybook/package.json
  apps/pie-storybook/stories/pie-textarea.stories.ts
  packages/components/pie-textarea/.eslintignore
  packages/components/pie-textarea/README.md
  packages/components/pie-textarea/custom-elements-manifest.config.mjs
  packages/components/pie-textarea/declaration.d.ts
  packages/components/pie-textarea/package.json
  packages/components/pie-textarea/playwright-lit-visual.config.ts
  packages/components/pie-textarea/playwright-lit.config.ts
  packages/components/pie-textarea/src/defs-react.ts
  packages/components/pie-textarea/src/defs.ts
  packages/components/pie-textarea/src/index.ts
  packages/components/pie-textarea/src/textarea.scss
  packages/components/pie-textarea/test/accessibility/pie-textarea.spec.ts
  packages/components/pie-textarea/test/component/pie-textarea.spec.ts
  packages/components/pie-textarea/test/visual/pie-textarea.spec.ts
  packages/components/pie-textarea/tsconfig.json
  packages/components/pie-textarea/vite.config.js
  packages/components/pie-webc/components/textarea.d.ts
  packages/components/pie-webc/components/textarea.js
  packages/components/pie-webc/package.json
  packages/components/pie-webc/react/textarea.d.ts
  packages/components/pie-webc/react/textarea.js
  yarn.lock
Labels: apps, components, pie-storybook, pie-webc

#1500 docs(pie-docs): DSW-2061 updates for text input overview page
  .changeset/odd-walls-prove.md
  apps/pie-docs/src/assets/img/components/text-input/anatomy.svg
  apps/pie-docs/src/assets/img/components/text-input/behaviour-assistivetext.svg
  apps/pie-docs/src/assets/img/components/text-input/behaviour-paymentmethod.svg
  apps/pie-docs/src/assets/img/components/text-input/content-formatting-cardnumber.svg
  apps/pie-docs/src/assets/img/components/text-input/content-formatting-date.svg
  apps/pie-docs/src/assets/img/components/text-input/content-inputtypes-alphanumeric.svg
  apps/pie-docs/src/assets/img/components/text-input/content-inputtypes-numeric.svg
  apps/pie-docs/src/assets/img/components/text-input/content-inputtypes-password.svg
  apps/pie-docs/src/assets/img/components/text-input/content-placeholder.svg
  apps/pie-docs/src/assets/img/components/text-input/examples-LTR-date.svg
  apps/pie-docs/src/assets/img/components/text-input/examples-LTR-default.svg
  apps/pie-docs/src/assets/img/components/text-input/examples-LTR-password.svg
  apps/pie-docs/src/assets/img/components/text-input/examples-LTR-phone.svg
  apps/pie-docs/src/assets/img/components/text-input/examples-LTR-search.svg
  apps/pie-docs/src/assets/img/components/text-input/examples-RTL-date.svg
  apps/pie-docs/src/assets/img/components/text-input/examples-RTL-default.svg
  apps/pie-docs/src/assets/img/components/text-input/examples-RTL-password.svg
  apps/pie-docs/src/assets/img/components/text-input/examples-RTL-phone.svg
  apps/pie-docs/src/assets/img/components/text-input/examples-RTL-search.svg
  apps/pie-docs/src/assets/img/components/text-input/interactivestates-default.svg
  apps/pie-docs/src/assets/img/components/text-input/interactivestates-disabled.svg
  apps/pie-docs/src/assets/img/components/text-input/interactivestates-error.svg
  apps/pie-docs/src/assets/img/components/text-input/interactivestates-focus.svg
  apps/pie-docs/src/assets/img/components/text-input/interactivestates-hover.svg
  apps/pie-docs/src/assets/img/components/text-input/interactivestates-readonly.svg
  apps/pie-docs/src/assets/img/components/text-input/modifiers-alphanumeric-both.svg
  apps/pie-docs/src/assets/img/components/text-input/modifiers-alphanumeric-leading.svg
  apps/pie-docs/src/assets/img/components/text-input/modifiers-alphanumeric-trailing.svg
  apps/pie-docs/src/assets/img/components/text-input/modifiers-both-icons.svg
  apps/pie-docs/src/assets/img/components/text-input/modifiers-leading-icon.svg
  apps/pie-docs/src/assets/img/components/text-input/modifiers-paymentmethod.svg
  apps/pie-docs/src/assets/img/components/text-input/modifiers-trailing-icon.svg
  apps/pie-docs/src/assets/img/components/text-input/modifiers-type-filled.svg
  apps/pie-docs/src/assets/img/components/text-input/modifiers-type-placeholder.svg
  apps/pie-docs/src/assets/img/components/text-input/overflow-left.svg
  apps/pie-docs/src/assets/img/components/text-input/overflow-right.svg
  apps/pie-docs/src/assets/img/components/text-input/size-width-default.svg
  apps/pie-docs/src/assets/img/components/text-input/size-width-small.svg
  apps/pie-docs/src/assets/img/components/text-input/sizes-height-large.svg
  apps/pie-docs/src/assets/img/components/text-input/sizes-height-medium.svg
  apps/pie-docs/src/assets/img/components/text-input/sizes-height-small.svg
  apps/pie-docs/src/componentStatusData.js
  apps/pie-docs/src/components/text-input/overview/overview.md
  apps/pie-docs/src/components/text-input/text-input.md
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
Labels: apps, pie-docs

#1509 docs(pie-docs): DSW-2062 overview page for pie-assistive-text component
  .changeset/orange-eagles-applaud.md
  apps/pie-docs/src/assets/img/components/assistive-text/anatomy.svg
  apps/pie-docs/src/assets/img/components/assistive-text/behaviours.svg
  apps/pie-docs/src/assets/img/components/assistive-text/examples-LTR-checkbox.svg
  apps/pie-docs/src/assets/img/components/assistive-text/examples-LTR-input.svg
  apps/pie-docs/src/assets/img/components/assistive-text/examples-RTL-checkbox.svg
  apps/pie-docs/src/assets/img/components/assistive-text/examples-RTL-input.svg
  apps/pie-docs/src/assets/img/components/assistive-text/overflow-1.svg
  apps/pie-docs/src/assets/img/components/assistive-text/overflow-2.svg
  apps/pie-docs/src/assets/img/components/assistive-text/overview.svg
  apps/pie-docs/src/assets/img/components/assistive-text/variations-default.svg
  apps/pie-docs/src/assets/img/components/assistive-text/variations-error.svg
  apps/pie-docs/src/assets/img/components/assistive-text/variations-success.svg
  apps/pie-docs/src/componentStatusData.js
  apps/pie-docs/src/components/assistive-text/assistive-text.json
  apps/pie-docs/src/components/assistive-text/assistive-text.md
  apps/pie-docs/src/components/assistive-text/overview/overview.md
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
Labels: apps, pie-docs

#1517 chore(pie-toast): DSW-2104 create skeleton component
  .changeset/quiet-kiwis-cover.md
  .github/project-labeler.yml
  .github/workflows/ci.yml
  apps/pie-storybook/package.json
  apps/pie-storybook/stories/pie-toast.stories.ts
  packages/components/pie-toast/.eslintignore
  packages/components/pie-toast/README.md
  packages/components/pie-toast/custom-elements-manifest.config.mjs
  packages/components/pie-toast/declaration.d.ts
  packages/components/pie-toast/package.json
  packages/components/pie-toast/playwright-lit-visual.config.ts
  packages/components/pie-toast/playwright-lit.config.ts
  packages/components/pie-toast/src/defs-react.ts
  packages/components/pie-toast/src/defs.ts
  packages/components/pie-toast/src/index.ts
  packages/components/pie-toast/src/toast.scss
  packages/components/pie-toast/test/accessibility/pie-toast.spec.ts
  packages/components/pie-toast/test/component/pie-toast.spec.ts
  packages/components/pie-toast/test/visual/pie-toast.spec.ts
  packages/components/pie-toast/tsconfig.json
  packages/components/pie-toast/vite.config.js
  packages/components/pie-webc/components/toast.d.ts
  packages/components/pie-webc/components/toast.js
  packages/components/pie-webc/package.json
  packages/components/pie-webc/react/toast.d.ts
  packages/components/pie-webc/react/toast.js
  yarn.lock
Labels: apps, components, pie-storybook, pie-webc, pie-toast

#1501 feat(pie-docs): DSW-1679 add text input code page
  .changeset/rare-owls-flash.md
  apps/pie-docs/src/components/text-input/code/code.md
  apps/pie-docs/src/components/text-input/code/events.json
  apps/pie-docs/src/components/text-input/code/props.json
  apps/pie-docs/src/components/text-input/code/slots.json
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
  packages/components/pie-text-input/README.md
Labels: apps, components, pie-docs, pie-text-input

#1528 feat(pie-modal): DSW-000 updated component status to beta
  .changeset/tall-hounds-cry.md
  packages/components/pie-modal/package.json
Labels: components, pie-modal

#1532 feat(pie-docs): DSW-2116 remove analytics and cookie banner
  .changeset/few-apples-hide.md
  apps/pie-docs/.eleventy.js
  apps/pie-docs/package.json
  apps/pie-docs/src/_includes/cookie-banner.njk
  apps/pie-docs/src/_includes/footer.njk
  apps/pie-docs/src/_includes/gtm.njk
  apps/pie-docs/src/_includes/head-common.njk
  apps/pie-docs/src/assets/styles/_dependencies.scss
  apps/pie-docs/test/system/cookie-banner.spec.js
  apps/pie-docs/test/visual/home-page.spec.js
  yarn.lock
Labels: apps, pie-docs

#1480 feat(pie-css): DSW-000 added media query shortcuts using include-media
  .changeset/big-bobcats-sneeze.md
  .changeset/bright-bulldogs-kneel.md
  apps/pie-docs/src/assets/styles/components/_componentStatusTable.scss
  packages/tools/pie-css/.stylelintignore
  packages/tools/pie-css/README.md
  packages/tools/pie-css/package.json
  packages/tools/pie-css/scss/index.scss
  packages/tools/pie-css/scss/settings/_breakpoints.scss
  packages/tools/pie-css/scss/settings/_include-media.scss
  packages/tools/pie-css/scss/settings/_mq.scss
  packages/tools/pie-css/scss/settings/index.scss
  packages/tools/pie-css/test/scss/unit/settings/mq.spec.ts
  yarn.lock
Labels: apps, tools, pie-docs, pie-css

#1516 feat(pie-checkbox): DSW-1938 add assistiveText and status properties
  .changeset/proud-readers-tan.md
  apps/pie-storybook/stories/pie-checkbox.stories.ts
  packages/components/pie-checkbox/README.md
  packages/components/pie-checkbox/src/defs.ts
  packages/components/pie-checkbox/src/index.ts
  packages/components/pie-checkbox/test/component/pie-checkbox.spec.ts
  packages/components/pie-checkbox/test/visual/pie-checkbox.spec.ts
Labels: apps, components, pie-storybook, pie-checkbox

#1536 format(pie-checkbox): DSW-000 fixed line breaks causing linting errors
  .changeset/healthy-ladybugs-shake.md
  packages/components/pie-checkbox/test/component/pie-checkbox.spec.ts
Labels: components, pie-checkbox

#1525 docs(pie-assistive-text): DSW-2058 adds code pages documentation to doc site
  .changeset/two-bottles-boil.md
  apps/pie-docs/src/components/assistive-text/code/code.md
  apps/pie-docs/src/components/assistive-text/code/props.json
  apps/pie-docs/src/components/assistive-text/code/slots.json
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
  packages/components/pie-assistive-text/README.md
  yarn.lock
Labels: apps, components, pie-docs, pie-assistive-text

#1535 feat(pie-text-input): DSW-000 promote to beta
  .changeset/ninety-lamps-grab.md
  .changeset/shaggy-squids-occur.md
  packages/components/pie-assistive-text/package.json
  packages/components/pie-text-input/package.json
Labels: components, pie-assistive-text, pie-text-input

#1533 fix(pie-docs): DSW-000 fix Tag resources table on overview page
  .changeset/eleven-roses-drum.md
  apps/pie-docs/src/components/tag/overview/overview.md
Labels: apps, pie-docs

#1543 fix(pie-checkbox): DSW-000 add missing pie-assistive-text dependency
  .changeset/lemon-stingrays-relate.md
  packages/components/pie-checkbox/package.json
  yarn.lock
Labels: components, pie-checkbox

#1539 feat(pie-textarea): DSW-2136 add disabled prop
  .changeset/thin-news-deny.md
  apps/pie-storybook/stories/pie-textarea.stories.ts
  packages/components/pie-textarea/README.md
  packages/components/pie-textarea/src/defs-react.ts
  packages/components/pie-textarea/src/defs.ts
  packages/components/pie-textarea/src/index.ts
  packages/components/pie-textarea/test/component/pie-textarea.spec.ts
  packages/components/pie-textarea/test/visual/pie-textarea.spec.ts
Labels: apps, components, pie-storybook, pie-textarea

#1538 feat(pie-docs): DSW-1884 remove /overview in foundation page urls
  .changeset/twelve-toes-search.md
  apps/pie-docs/src/404.njk
  apps/pie-docs/src/_includes/content-page.njk
  apps/pie-docs/src/_includes/layouts/page-layout.njk
  apps/pie-docs/src/_includes/nav.njk
  apps/pie-docs/src/_includes/not-found.njk
  apps/pie-docs/src/assets/img/foundations/design-tokens/alias.svg
  apps/pie-docs/src/assets/img/foundations/design-tokens/global.svg
  apps/pie-docs/src/assets/img/foundations/design-tokens/what-are-tokens.svg
  apps/pie-docs/src/components/button/style/style.md
  apps/pie-docs/src/components/template/style/style.md
  apps/pie-docs/src/foundations/colour/colour.md
  apps/pie-docs/src/foundations/colour/overview.md
  apps/pie-docs/src/foundations/design-tokens/design-tokens.md
  apps/pie-docs/src/foundations/design-tokens/overview.md
  apps/pie-docs/src/foundations/elevation/elevation.md
  apps/pie-docs/src/foundations/elevation/overview.md
  apps/pie-docs/src/foundations/iconography/code.md
  apps/pie-docs/src/foundations/iconography/iconography.md
  apps/pie-docs/src/foundations/iconography/overview.md
  apps/pie-docs/src/foundations/motion/motion.md
  apps/pie-docs/src/foundations/motion/overview/overview.md
  apps/pie-docs/src/foundations/radius/overview.md
  apps/pie-docs/src/foundations/radius/radius.md
  apps/pie-docs/src/foundations/spacing/overview.md
  apps/pie-docs/src/foundations/spacing/spacing.md
  apps/pie-docs/src/foundations/typography/overview.md
  apps/pie-docs/src/foundations/typography/typography.md
  apps/pie-docs/test/helpers/routes-helper.js
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
  packages/tools/pie-icons-react/README.md
  packages/tools/pie-icons-vue/README.md
  packages/tools/pie-icons-webc/README.md
Labels: apps, tools, pie-icons-react, pie-icons-vue, pie-docs

#1546 chore(pie-monorepo): DSW-1936 pie-design-tokens version bump to 6.3.1
  .changeset/shy-months-train.md
  apps/examples/wc-vanilla/package.json
  apps/pie-docs/package.json
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/tokensTable.test.js.snap
  apps/pie-storybook/package.json
  package.json
  packages/components/pie-cookie-banner/package.json
  packages/components/pie-modal/package.json
  packages/tools/pie-css/test/css/__snapshots__/css.spec.ts.snap
  yarn.lock
Labels: apps, tools, components, pie-storybook, pie-docs, pie-modal, pie-css
