Repository justeattakeaway/pie, pull requests merged in 2024-08, with the labels that each got.

#1626 feat(pie-modal): DSW-2208 split leadingAction and supportingAction into multiple props
  .changeset/olive-balloons-nail.md
  apps/pie-docs/src/components/modal/code/props.json
  apps/pie-storybook/stories/pie-modal.stories.ts
  packages/components/pie-cookie-banner/src/index.ts
  packages/components/pie-modal/src/defs.ts
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/test/component/pie-modal.spec.ts
  packages/components/pie-modal/test/visual/pie-modal.spec.ts
Labels: apps, components, pie-storybook, pie-docs, pie-modal, pie-cookie-banner

#1621 feat(pie-textarea): DSW-2132 add textarea form functionality
  .changeset/wicked-eels-beg.md
  apps/pie-storybook/stories/pie-textarea.stories.ts
  packages/components/pie-textarea/README.md
  packages/components/pie-textarea/src/defs.ts
  packages/components/pie-textarea/src/index.ts
  packages/components/pie-textarea/test/component/pie-textarea.spec.ts
Labels: apps, components, pie-storybook, pie-textarea

#1664 fix(pie-monorepo): DSW-1969 updated Playwright and Percy dependencies
  .changeset/slow-chicken-allow.md
  .github/workflows/ci.yml
  configs/pie-components-config/playwright-lit-visual-config.js
  package.json
  packages/components/pie-button/test/component/pie-button.spec.ts
  packages/components/pie-button/test/visual/pie-button-size.spec.ts
  packages/components/pie-modal/test/component/pie-modal.spec.ts
  packages/components/pie-switch/test/component/pie-switch.spec.ts
  yarn.lock
Labels: components, pie-button, pie-modal, pie-switch, configs, pie-components-config

#1665 docs(pie-docs): DSW-2224 checkbox group overview page
  .changeset/spicy-numbers-doubt.md
  apps/pie-docs/src/assets/img/components/checkbox-group/anatomy.svg
  apps/pie-docs/src/assets/img/components/checkbox-group/examples-ltr.svg
  apps/pie-docs/src/assets/img/components/checkbox-group/examples-rtl.svg
  apps/pie-docs/src/assets/img/components/checkbox-group/modifiers-assistive-text.svg
  apps/pie-docs/src/assets/img/components/checkbox-group/modifiers-form-label-1.svg
  apps/pie-docs/src/assets/img/components/checkbox-group/modifiers-form-label-2.svg
  apps/pie-docs/src/assets/img/components/checkbox-group/overflow.svg
  apps/pie-docs/src/assets/img/components/checkbox-group/overview.svg
  apps/pie-docs/src/assets/img/components/checkbox-group/states-disabled.svg
  apps/pie-docs/src/assets/img/components/checkbox-group/states-error.svg
  apps/pie-docs/src/assets/img/components/checkbox-group/variations-horizontal.svg
  apps/pie-docs/src/assets/img/components/checkbox-group/variations-vertical.svg
  apps/pie-docs/src/assets/img/components/checkbox/checkbox-checked-LTR.svg
  apps/pie-docs/src/componentStatusData.js
  apps/pie-docs/src/components/checkbox-group/checkbox-group.json
  apps/pie-docs/src/components/checkbox-group/checkbox-group.md
  apps/pie-docs/src/components/checkbox-group/overview/overview.md
  apps/pie-docs/src/components/chip/chip.md
  apps/pie-docs/src/components/data-table/data-table.md
  apps/pie-docs/src/components/data-visualisation/data-visualisation.md
  apps/pie-docs/src/components/date-picker/date-picker.md
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
Labels: apps, pie-docs

#1660 fix(pie-checkbox): DSW-000 design review comments
  .changeset/blue-keys-shout.md
  .changeset/wild-scissors-bathe.md
  apps/pie-storybook/stories/pie-checkbox-group.stories.ts
  packages/components/pie-checkbox-group/README.md
  packages/components/pie-checkbox-group/src/checkbox-group.scss
  packages/components/pie-checkbox-group/src/defs.ts
  packages/components/pie-checkbox-group/src/index.ts
  packages/components/pie-checkbox-group/test/visual/pie-checkbox-group.spec.ts
  packages/components/pie-checkbox/src/checkbox.scss
Labels: apps, components, pie-storybook, pie-checkbox, pie-checkbox-group

#1666 feat(pie-textarea): DSW-2139 label and character count
  .changeset/cuddly-jobs-agree.md
  .changeset/rotten-pens-arrive.md
  .changeset/seven-fishes-push.md
  apps/pie-storybook/stories/pie-textarea.stories.ts
  packages/components/pie-form-label/src/index.ts
  packages/components/pie-textarea/package.json
  packages/components/pie-textarea/src/defs.ts
  packages/components/pie-textarea/src/index.ts
  packages/components/pie-textarea/test/component/pie-textarea.spec.ts
  packages/components/pie-textarea/test/visual/pie-textarea.spec.ts
  yarn.lock
Labels: apps, components, pie-storybook, pie-form-label, pie-textarea

#1619 feat(pie-toast): DSW-2108 add variants, icons and isStrong prop
  .changeset/thirty-peaches-thank.md
  apps/pie-storybook/stories/pie-toast.stories.ts
  packages/components/pie-toast/src/defs.ts
  packages/components/pie-toast/src/index.ts
  packages/components/pie-toast/src/toast.scss
  packages/components/pie-toast/test/component/pie-toast.spec.ts
  packages/components/pie-toast/test/visual/pie-toast.spec.ts
Labels: apps, components, pie-storybook, pie-toast

#1667 chore(pie-monorepo): DSW-000 add pie-css as a dev dependency to all components
  .changeset/six-chicken-brush.md
  packages/components/pie-assistive-text/package.json
  packages/components/pie-button/package.json
  packages/components/pie-card/package.json
  packages/components/pie-checkbox-group/package.json
  packages/components/pie-checkbox/package.json
  packages/components/pie-chip/package.json
  packages/components/pie-cookie-banner/package.json
  packages/components/pie-divider/package.json
  packages/components/pie-form-label/package.json
  packages/components/pie-icon-button/package.json
  packages/components/pie-link/package.json
  packages/components/pie-modal/package.json
  packages/components/pie-notification/package.json
  packages/components/pie-spinner/package.json
  packages/components/pie-switch/package.json
  packages/components/pie-tag/package.json
  packages/components/pie-text-input/package.json
  packages/components/pie-textarea/package.json
  packages/components/pie-toast/package.json
  packages/components/pie-webc-testing/package.json
  packages/tools/generator-pie-component/src/app/templates/__package__.json
  yarn.lock
Labels: tools, components, pie-button, pie-modal, pie-icon-button, pie-webc-testing, generator-pie-component, pie-divider, pie-link, pie-cookie-banner, pie-form-label, pie-switch, pie-card, pie-notification, pie-spinner, pie-tag, pie-assistive-text, pie-chip, pie-checkbox, pie-text-input, pie-textarea, pie-toast, pie-checkbox-group

#1677 docs(pie-checkbox): DSW-2221 code page checkbox
  .changeset/eleven-timers-decide.md
  apps/pie-docs/src/components/checkbox/overview/code.md
  apps/pie-docs/src/components/checkbox/overview/events.json
  apps/pie-docs/src/components/checkbox/overview/props.json
  apps/pie-docs/src/components/checkbox/overview/slots.json
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
  packages/components/pie-checkbox/README.md
Labels: apps, components, pie-docs, pie-checkbox

#1668 fix(pie-notification): DSW-000 make sure custom and default icons work as expected
  .changeset/red-mails-explain.md
  .changeset/smart-horses-confess.md
  .changeset/ten-actors-guess.md
  apps/pie-docs/src/components/notification/code/props.json
  apps/pie-storybook/stories/pie-checkbox-group.stories.ts
  apps/pie-storybook/stories/pie-notification.stories.ts
  apps/pie-storybook/stories/pie-text-input.stories.ts
  packages/components/pie-notification/src/defs.ts
  packages/components/pie-notification/src/index.ts
  packages/components/pie-notification/test/component/pie-notification.spec.ts
  packages/components/pie-notification/test/visual/pie-notification.spec.ts
Labels: apps, components, pie-storybook, pie-docs, pie-notification

#1472 feat(pie-cookie-banner): DSW-000 move default props into defs file
  .changeset/lovely-shrimps-join.md
  .changeset/quick-lamps-pretend.md
  configs/pie-components-config/tsconfig.json
  packages/components/pie-cookie-banner/src/defs.ts
  packages/components/pie-cookie-banner/src/index.ts
Labels: components, pie-cookie-banner, configs, pie-components-config

#1679 fix(pie-modal): DSW-2213 add indent to pie-modal when footer isn't rendered
  .changeset/new-poets-love.md
  packages/components/pie-modal/src/modal.scss
Labels: components, pie-modal

#1672 docs(pie-checkbox-group): DSW-2225 migrate checkbox code page
  .changeset/gorgeous-foxes-smile.md
  apps/pie-docs/src/components/checkbox-group/overview/code.md
  apps/pie-docs/src/components/checkbox-group/overview/props.json
  apps/pie-docs/src/components/checkbox-group/overview/slots.json
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
  packages/components/pie-checkbox-group/README.md
Labels: apps, components, pie-docs, pie-checkbox-group

#1682 feat(pie-icons): DSW-2192 add and update icons
  .changeset/quiet-dragons-deliver.md
  .changeset/thirty-squids-sparkle.md
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/categorisedIconList.test.js.snap
  apps/pie-docs/src/iconData.json
  packages/tools/pie-icons/src/assets/account-credit-filled-large.svg
  packages/tools/pie-icons/src/assets/account-credit-filled.svg
  packages/tools/pie-icons/src/assets/account-credit-large.svg
  packages/tools/pie-icons/src/assets/account-credit.svg
  packages/tools/pie-icons/src/assets/archive-large.svg
  packages/tools/pie-icons/src/assets/archive.svg
  packages/tools/pie-icons/src/assets/ebike-filled-large.svg
  packages/tools/pie-icons/src/assets/ebike-filled.svg
  packages/tools/pie-icons/src/assets/ebike-large.svg
  packages/tools/pie-icons/src/assets/ebike.svg
  packages/tools/pie-icons/src/assets/krone-large.svg
  packages/tools/pie-icons/src/assets/krone.svg
  packages/tools/pie-icons/src/assets/offer-filled-large.svg
  packages/tools/pie-icons/src/assets/offer-filled.svg
  packages/tools/pie-icons/src/assets/payment/tenbis.svg
  packages/tools/pie-icons/src/assets/restaurant-cancelled-large.svg
  packages/tools/pie-icons/src/assets/restaurant-cancelled.svg
  packages/tools/pie-icons/src/assets/social/twitter-circle-filled-large.svg
  packages/tools/pie-icons/src/assets/user-cancelled-large.svg
  packages/tools/pie-icons/src/assets/user-cancelled.svg
  packages/tools/pie-icons/src/assets/user-move-large.svg
  packages/tools/pie-icons/src/assets/user-move.svg
Labels: apps, tools, pie-icons, pie-docs

#1670 feat(pie-docs): DSW-2126 add textarea overview page
  .changeset/breezy-mails-divide.md
  apps/pie-docs/src/assets/img/components/textarea/alphanumeric.svg
  apps/pie-docs/src/assets/img/components/textarea/anatomy.svg
  apps/pie-docs/src/assets/img/components/textarea/auto-resize-focused-large.svg
  apps/pie-docs/src/assets/img/components/textarea/auto-resize-focused-medium.svg
  apps/pie-docs/src/assets/img/components/textarea/auto-resize-focused-small.svg
  apps/pie-docs/src/assets/img/components/textarea/character-counter-empty.svg
  apps/pie-docs/src/assets/img/components/textarea/character-counter.svg
  apps/pie-docs/src/assets/img/components/textarea/default.svg
  apps/pie-docs/src/assets/img/components/textarea/disabled.svg
  apps/pie-docs/src/assets/img/components/textarea/error-focus.svg
  apps/pie-docs/src/assets/img/components/textarea/error-hover.svg
  apps/pie-docs/src/assets/img/components/textarea/error.svg
  apps/pie-docs/src/assets/img/components/textarea/example-ltr-auto.svg
  apps/pie-docs/src/assets/img/components/textarea/example-ltr-manual.svg
  apps/pie-docs/src/assets/img/components/textarea/example-rtl-auto.svg
  apps/pie-docs/src/assets/img/components/textarea/example-rtl-manual.svg
  apps/pie-docs/src/assets/img/components/textarea/filled.svg
  apps/pie-docs/src/assets/img/components/textarea/fixed-height.svg
  apps/pie-docs/src/assets/img/components/textarea/focus.svg
  apps/pie-docs/src/assets/img/components/textarea/hover.svg
  apps/pie-docs/src/assets/img/components/textarea/large.svg
  apps/pie-docs/src/assets/img/components/textarea/manual-resize-focused-large.svg
  apps/pie-docs/src/assets/img/components/textarea/manual-resize-focused-medium.svg
  apps/pie-docs/src/assets/img/components/textarea/manual-resize-focused-small.svg
  apps/pie-docs/src/assets/img/components/textarea/manual-resize.svg
  apps/pie-docs/src/assets/img/components/textarea/medium.svg
  apps/pie-docs/src/assets/img/components/textarea/overview.svg
  apps/pie-docs/src/assets/img/components/textarea/placeholder.svg
  apps/pie-docs/src/assets/img/components/textarea/read-only.svg
  apps/pie-docs/src/assets/img/components/textarea/scrolled.svg
  apps/pie-docs/src/assets/img/components/textarea/small.svg
  apps/pie-docs/src/components/textarea/overview/auto-resize.json
  apps/pie-docs/src/components/textarea/overview/manual-resize.json
  apps/pie-docs/src/components/textarea/overview/overview.md
  apps/pie-docs/src/components/textarea/textarea.md
  packages/components/pie-textarea/README.md
Labels: apps, components, pie-docs, pie-textarea

#1685 feat(pie-modal): DSW-2339 recombine props for leading and supporting actions
  .changeset/bright-dancers-repair.md
  apps/pie-docs/src/components/modal/code/props.json
  apps/pie-storybook/stories/pie-modal.stories.ts
  packages/components/pie-cookie-banner/src/index.ts
  packages/components/pie-modal/src/defs.ts
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/test/component/pie-modal.spec.ts
  packages/components/pie-modal/test/visual/pie-modal.spec.ts
  yarn.lock
Labels: apps, components, pie-storybook, pie-docs, pie-modal, pie-cookie-banner

#1694 feat(pie-assistive-text): DSW-2280 use classmap for variant styles
  .changeset/fifty-jars-sparkle.md
  packages/components/pie-assistive-text/src/assistive-text.scss
  packages/components/pie-assistive-text/src/index.ts
  packages/components/pie-assistive-text/test/component/pie-assistive-text.spec.ts
Labels: components, pie-assistive-text

#1702 refactor(pie-cookie-banner): DSW-2207 refactored experimental package from cookie banner using page object modal
  .changeset/sixty-glasses-love.md
  .github/workflows/ci.yml
  configs/pie-components-config/playwright-lit-config.js
  packages/components/pie-cookie-banner/test/accessibility/pie-cookie-banner.spec.ts
  packages/components/pie-cookie-banner/test/component/pie-cookie-banner.spec.ts
  packages/components/pie-cookie-banner/test/helpers/page-object/pie-cookie-banner.page.ts
  packages/components/pie-webc-testing/src/helpers/page-object/base-page.ts
  packages/components/pie-webc-testing/src/helpers/page-object/storybook-extensions.ts
Labels: components, pie-webc-testing, pie-cookie-banner, configs, pie-components-config

#1706 feat(pie-docs): DSW-2361 change container height
  .changeset/slow-seahorses-hear.md
  apps/pie-docs/src/assets/styles/components/_contentLayout.scss
Labels: apps, pie-docs

#1697 feat(pie-textarea): DSW-2301 add defaultValue property
  .changeset/loud-carpets-march.md
  apps/pie-storybook/stories/pie-textarea.stories.ts
  packages/components/pie-textarea/src/defs.ts
  packages/components/pie-textarea/src/index.ts
  packages/components/pie-textarea/test/component/pie-textarea.spec.ts
Labels: apps, components, pie-storybook, pie-textarea

#1711 docs(pie-docs): DSW-2300 remove embedded storybook previews from code pages
  .changeset/sixty-papayas-trade.md
  apps/pie-docs/src/components/assistive-text/code/code.md
  apps/pie-docs/src/components/button/code/code.md
  apps/pie-docs/src/components/card/code/code.md
  apps/pie-docs/src/components/checkbox-group/overview/code.md
  apps/pie-docs/src/components/checkbox/overview/code.md
  apps/pie-docs/src/components/chip/code/code.md
  apps/pie-docs/src/components/divider/code/code.md
  apps/pie-docs/src/components/icon-button/code/code.md
  apps/pie-docs/src/components/link/code/code.md
  apps/pie-docs/src/components/modal/code/code.md
  apps/pie-docs/src/components/notification/code/code.md
  apps/pie-docs/src/components/switch/code/code.md
  apps/pie-docs/src/components/tag/code/code.md
  apps/pie-docs/src/components/template/code/code.md
  apps/pie-docs/src/components/text-input/code/code.md
  apps/pie-docs/src/patterns/cookie-banner/code/code.md
Labels: apps, pie-docs

#1715 refactor(pie-switch): DSW-2280 use classes instead of attributes for styling
  .changeset/spotty-donkeys-peel.md
  apps/pie-storybook/stories/pie-switch.stories.ts
  packages/components/pie-switch/src/defs-react.ts
  packages/components/pie-switch/src/defs.ts
  packages/components/pie-switch/src/index.ts
  packages/components/pie-switch/src/switch.scss
  packages/components/pie-switch/test/component/pie-switch.spec.ts
  packages/components/pie-switch/test/visual/pie-switch.spec.ts
  yarn.lock
Labels: apps, components, pie-storybook, pie-switch

#1716 feat(pie-chip): DSW-2280 use classmap for styling
  .changeset/perfect-pugs-speak.md
  packages/components/pie-chip/src/chip.scss
  packages/components/pie-chip/src/index.ts
Labels: components, pie-chip

#1724 chore(pie-monorepo): DSW-000 auto updated lockfile and dangerjs check for missing lock file
  .changeset/nice-clocks-prove.md
  .github/workflows/ci.yml
  dangerfile.js
  yarn.lock
Labels: ci

#1717 feat(pie-textarea): DSW-2141 add assistive text and status properties
  .changeset/light-badgers-sparkle.md
  .changeset/popular-eggs-fetch.md
  apps/pie-storybook/stories/pie-textarea.stories.ts
  packages/components/pie-textarea/src/defs.ts
  packages/components/pie-textarea/src/index.ts
  packages/components/pie-textarea/src/textarea.scss
  packages/components/pie-textarea/test/component/pie-textarea.spec.ts
  packages/components/pie-textarea/test/visual/pie-textarea.spec.ts
Labels: apps, components, pie-storybook, pie-textarea

#1725 docs(pie-checkbox-group): DSW-000 changes the structure of checkbox group docs folder
  .changeset/cool-seals-pay.md
  apps/pie-docs/src/components/checkbox-group/code/code.md
  apps/pie-docs/src/components/checkbox-group/code/props.json
  apps/pie-docs/src/components/checkbox-group/code/slots.json
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
Labels: apps, pie-docs

#1723 docs(pie-checkbox): DSW-2223 motion tab for checkbox docs
  .changeset/loud-kangaroos-warn.md
  apps/pie-docs/src/_11ty/shortcodes/contentLayout.js
  apps/pie-docs/src/_11ty/shortcodes/index.js
  apps/pie-docs/src/assets/img/components/checkbox/checkbox-active-animation.svg
  apps/pie-docs/src/assets/img/components/checkbox/checkbox-hover-animation.svg
  apps/pie-docs/src/assets/img/components/checkbox/checkbox-selected-animation.svg
  apps/pie-docs/src/assets/img/components/checkbox/checkbox-unselected-animation.svg
  apps/pie-docs/src/assets/img/components/checkbox/motion-example.svg
  apps/pie-docs/src/assets/styles/components/_contentLayout.scss
  apps/pie-docs/src/components/checkbox/code/code.md
  apps/pie-docs/src/components/checkbox/code/events.json
  apps/pie-docs/src/components/checkbox/code/props.json
  apps/pie-docs/src/components/checkbox/code/slots.json
  apps/pie-docs/src/components/checkbox/motion/active.json
  apps/pie-docs/src/components/checkbox/motion/hover.json
  apps/pie-docs/src/components/checkbox/motion/motion.md
  apps/pie-docs/src/components/checkbox/motion/selected.json
  apps/pie-docs/src/components/checkbox/motion/unselected.json
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
  packages/components/pie-checkbox/src/checkbox.scss
  yarn.lock
Labels: apps, components, pie-docs, pie-checkbox

#1729 docs(pie-checkbox): DSW-000 checkbox and checkbox-group from Alpha to Beta
  .changeset/real-bobcats-run.md
  apps/pie-docs/src/componentStatusData.js
  packages/components/pie-checkbox-group/package.json
  packages/components/pie-checkbox/package.json
Labels: apps, components, pie-docs, pie-checkbox, pie-checkbox-group

#1719 cosmetic(pie-textarea): DSW-2302 fix positioning of resize handle
  .changeset/cuddly-ants-attend.md
  .changeset/long-wasps-brush.md
  .changeset/loud-lobsters-fold.md
  configs/pie-components-config/playwright-lit-visual-config.js
  packages/components/pie-textarea/src/index.ts
  packages/components/pie-textarea/src/textarea.scss
  packages/components/pie-textarea/test/component/pie-textarea.spec.ts
  packages/components/pie-textarea/test/visual/pie-textarea.spec.ts
Labels: components, configs, pie-components-config, pie-textarea

#1743 chore(pie-icons): DSW-000 use latest webpack for security fixes
  .changeset/lemon-kids-scream.md
  package.json
  packages/tools/pie-icons/package.json
  yarn.lock
Labels: tools, pie-icons

#1604 docs(pie-docs): DSW-000 update android component status
  .changeset/quick-beans-cry.md
  apps/pie-docs/src/componentStatusData.js
Labels: apps, pie-docs
