Repository justeattakeaway/pie, pull requests merged in 2024-05, with the labels that each got.

#1427 chore(pie-webc-core): DSW-000 update Lit
  .changeset/purple-apples-whisper.md
  packages/components/pie-webc-core/package.json
  yarn.lock
Labels: components, pie-webc-core

#1428 feat(pie-input): DSW-000 add element internals polyfill
  .changeset/nervous-waves-report.md
  packages/components/pie-input/package.json
  packages/components/pie-input/src/index.ts
  yarn.lock
Labels: components, pie-input

#1424 docs(pie-docs): DSW-1942 adds cookie banner overview docs
  .changeset/new-baboons-roll.md
  apps/pie-docs/package.json
  apps/pie-docs/src/_11ty/shortcodes/list.js
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/list.test.js.snap
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/usage.test.js.snap
  apps/pie-docs/src/__tests__/_11ty/shortcodes/list.test.js
  apps/pie-docs/src/_data/listTypes.js
  apps/pie-docs/src/_data/resourceSettings.js
  apps/pie-docs/src/_data/resourceTypes.js
  apps/pie-docs/src/assets/img/patterns/cookie-banner/anatomy-banner.svg
  apps/pie-docs/src/assets/img/patterns/cookie-banner/anatomy-modal.svg
  apps/pie-docs/src/assets/img/patterns/cookie-banner/behaviours-background-banner.svg
  apps/pie-docs/src/assets/img/patterns/cookie-banner/behaviours-background-modal.svg
  apps/pie-docs/src/assets/img/patterns/cookie-banner/behaviours-turn-all-on-off.svg
  apps/pie-docs/src/assets/img/patterns/cookie-banner/interaction-area-banner.svg
  apps/pie-docs/src/assets/img/patterns/cookie-banner/interaction-area-modal.svg
  apps/pie-docs/src/assets/img/patterns/cookie-banner/modifier-default.svg
  apps/pie-docs/src/assets/img/patterns/cookie-banner/modifier-primary-actions.svg
  apps/pie-docs/src/assets/img/patterns/cookie-banner/positioning-banner.svg
  apps/pie-docs/src/assets/img/patterns/cookie-banner/positioning-modal.svg
  apps/pie-docs/src/assets/img/patterns/cookie-banner/responsive-banner.svg
  apps/pie-docs/src/assets/img/patterns/cookie-banner/responsive-modal.svg
  apps/pie-docs/src/assets/img/patterns/cookie-banner/rtl-banner.svg
  apps/pie-docs/src/assets/img/patterns/cookie-banner/rtl-modal.svg
  apps/pie-docs/src/assets/img/patterns/cookie-banner/rtl-narrow-banner.svg
  apps/pie-docs/src/assets/img/patterns/cookie-banner/rtl-narrow-modal.svg
  apps/pie-docs/src/assets/img/patterns/cookie-banner/variations-banner.svg
  apps/pie-docs/src/assets/img/patterns/cookie-banner/variations-modal.svg
  apps/pie-docs/src/assets/styles/components/_list.scss
  apps/pie-docs/src/componentStatusData.js
  apps/pie-docs/src/patterns/cookie-banner/cookie-banner.md
  apps/pie-docs/src/patterns/cookie-banner/overview/overview.md
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
Labels: apps, pie-docs

#1433 chore(pie-monorepo): DSW-000 Exclude renovate PRs from changeset category requirements
  dangerfile.js
Labels: please review

#1434 chore(pie-monorepo): DSW-000 ignore all changeset checks for renovate PRs
  dangerfile.js
Labels: please review

#1388 feat(pie-notification): DSW-1901 support full width notification (banner)
  .changeset/honest-students-protect.md
  .changeset/two-boxes-mate.md
  apps/pie-storybook/stories/pie-notification.stories.ts
  packages/components/pie-notification/src/defs.ts
  packages/components/pie-notification/src/index.ts
  packages/components/pie-notification/src/notification.scss
  packages/components/pie-notification/test/visual/pie-notification.spec.ts
  yarn.lock
Labels: apps, components, pie-storybook, pie-notification

#1432 chore(pie-monorepo): DSW-000 update babel dependencies
  .changeset/fresh-spoons-poke.md
  apps/examples/wc-next10/next.config.js
  apps/examples/wc-next10/package.json
  apps/examples/wc-nuxt2/nuxt.config.js
  apps/examples/wc-nuxt2/package.json
  package.json
  packages/tools/pie-icons-react/package.json
  packages/tools/pie-icons-vue/babel.config.cjs
  packages/tools/pie-icons-vue/package.json
  packages/tools/pie-icons-webc/package.json
  packages/tools/pie-wrapper-react/package.json
  yarn.lock
Labels: apps, tools, pie-icons-react, pie-icons-vue

#1435 fix(pie-notification): DSW-1963 address design review notes
  .changeset/hungry-socks-unite.md
  apps/pie-storybook/stories/pie-notification.stories.ts
  packages/components/pie-notification/src/index.ts
  packages/components/pie-notification/src/notification.scss
  packages/components/pie-notification/test/component/pie-notification.spec.ts
Labels: work-in-progress, apps, components, pie-storybook, pie-notification

#1437 feat(pie-checkbox): DSW-1574 checkbox functionality
  .changeset/ninety-ducks-exercise.md
  apps/pie-storybook/stories/pie-checkbox.stories.ts
  packages/components/pie-checkbox/src/defs.ts
  packages/components/pie-checkbox/src/index.ts
  packages/components/pie-checkbox/test/component/pie-checkbox.spec.ts
Labels: apps, components, pie-storybook, pie-checkbox

#1443 chore(pie-webc): DSW-000 update the add-components file access rights
  packages/components/pie-webc/src/index.js
Labels: components, pie-webc

#1373 chore(pie-storybook): DSW-000 fix type declarations for storybook background colours
  .changeset/hot-geese-jump.md
  apps/pie-storybook/.storybook/preview.ts
  apps/pie-storybook/types/StoryOptions.ts
Labels: apps, pie-storybook, please review

#1454 docs(pie-monorepo): DSW-000 add info on developing components to readme
  packages/components/README.md
  yarn.lock
Labels: components

#1440 feat(pie-checkbox): DSW-1574 checkbox aria property
  .changeset/fresh-otters-remain.md
  apps/pie-storybook/stories/pie-checkbox.stories.ts
  packages/components/pie-checkbox/README.md
  packages/components/pie-checkbox/src/defs.ts
  packages/components/pie-checkbox/src/index.ts
Labels: apps, components, pie-storybook, pie-checkbox

#1460 feat(pie-icons): DSW-1997 icons updates
  .changeset/sour-months-lay.md
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/categorisedIconList.test.js.snap
  apps/pie-docs/src/iconData.json
  apps/pie-docs/test/system/footer.spec.js
  packages/tools/pie-icons/src/assets/account-credit-large.svg
  packages/tools/pie-icons/src/assets/account-credit.svg
  packages/tools/pie-icons/src/assets/baby-kid-large.svg
  packages/tools/pie-icons/src/assets/baby-kid.svg
  packages/tools/pie-icons/src/assets/bag-filled-large.svg
  packages/tools/pie-icons/src/assets/bag-filled.svg
  packages/tools/pie-icons/src/assets/bag-large.svg
  packages/tools/pie-icons/src/assets/bag.svg
  packages/tools/pie-icons/src/assets/building-blocks-large.svg
  packages/tools/pie-icons/src/assets/building-blocks.svg
  packages/tools/pie-icons/src/assets/cannabis-large.svg
  packages/tools/pie-icons/src/assets/cannabis.svg
  packages/tools/pie-icons/src/assets/experiment-large.svg
  packages/tools/pie-icons/src/assets/experiment.svg
  packages/tools/pie-icons/src/assets/laptop-filled-large.svg
  packages/tools/pie-icons/src/assets/laptop-filled.svg
  packages/tools/pie-icons/src/assets/pacifier-large.svg
  packages/tools/pie-icons/src/assets/pacifier.svg
Labels: apps, tools, pie-icons, pie-docs

#1451 feat(pie-monorepo): DSW-1644 provide defaults object for components props
  .changeset/eight-toys-doubt.md
  .changeset/rich-experts-argue.md
  .changeset/stale-tables-hide.md
  apps/pie-storybook/stories/pie-assistive-text.stories.ts
  apps/pie-storybook/stories/pie-button.stories.ts
  apps/pie-storybook/stories/pie-card.stories.ts
  apps/pie-storybook/stories/pie-checkbox.stories.ts
  apps/pie-storybook/stories/pie-chip.stories.ts
  apps/pie-storybook/stories/pie-cookie-banner.stories.ts
  apps/pie-storybook/stories/pie-divider.stories.ts
  apps/pie-storybook/stories/pie-icon-button.stories.ts
  apps/pie-storybook/stories/pie-input.stories.ts
  apps/pie-storybook/stories/pie-link.stories.ts
  apps/pie-storybook/stories/pie-modal.stories.ts
  apps/pie-storybook/stories/pie-notification.stories.ts
  apps/pie-storybook/stories/pie-spinner.stories.ts
  apps/pie-storybook/stories/pie-switch.stories.ts
  apps/pie-storybook/stories/pie-tag.stories.ts
  packages/components/pie-assistive-text/src/defs.ts
  packages/components/pie-assistive-text/src/index.ts
  packages/components/pie-button/src/defs.ts
  packages/components/pie-button/src/index.ts
  packages/components/pie-card/src/defs.ts
  packages/components/pie-card/src/index.ts
  packages/components/pie-checkbox/src/defs.ts
  packages/components/pie-checkbox/src/index.ts
  packages/components/pie-chip/src/defs.ts
  packages/components/pie-chip/src/index.ts
  packages/components/pie-cookie-banner/src/defs.ts
  packages/components/pie-cookie-banner/src/index.ts
  packages/components/pie-divider/src/defs.ts
  packages/components/pie-divider/src/index.ts
  packages/components/pie-icon-button/src/defs.ts
  packages/components/pie-icon-button/src/index.ts
  packages/components/pie-input/src/defs.ts
  packages/components/pie-input/src/index.ts
  packages/components/pie-link/src/defs.ts
  packages/components/pie-link/src/index.ts
  packages/components/pie-modal/src/defs.ts
  packages/components/pie-modal/src/index.ts
  packages/components/pie-notification/src/defs.ts
  packages/components/pie-notification/src/index.ts
  packages/components/pie-spinner/src/defs.ts
  packages/components/pie-spinner/src/index.ts
  packages/components/pie-switch/src/defs.ts
  packages/components/pie-switch/src/index.ts
  packages/components/pie-tag/src/defs.ts
  packages/components/pie-tag/src/index.ts
  packages/components/pie-webc-core/src/index.ts
  packages/components/pie-webc-core/src/types/component-default-props-generic.ts
  packages/components/pie-webc-core/src/types/index.ts
Labels: apps, components, pie-button, pie-storybook, pie-modal, pie-icon-button, pie-webc-core, pie-divider, pie-link, pie-switch, pie-notification, pie-spinner, pie-tag, pie-input, pie-assistive-text, pie-checkbox

#1447 feat(pie-notification): DSW-1902 add accessbility attrs
  .changeset/violet-kings-remember.md
  packages/components/pie-notification/src/defs.ts
  packages/components/pie-notification/src/index.ts
  packages/components/pie-notification/test/component/pie-notification.spec.ts
Labels: components, pie-notification

#1477 docs(pie-docs): DSW-000 update component status for android
  .changeset/silent-bottles-impress.md
  apps/pie-docs/src/_data/resourceSettings.js
  apps/pie-docs/src/_data/resourceTypes.js
  apps/pie-docs/src/componentStatusData.js
  apps/pie-docs/src/components/tag/overview/overview.md
Labels: apps, pie-docs

#1476 docs(pie-docs): DSW-000 small content updates and README improvements
  .changeset/six-files-peel.md
  apps/pie-docs/README.md
  apps/pie-docs/src/all-about-pie/what-is-pie.md
  apps/pie-docs/src/designers/getting-started/overview.md
Labels: apps, pie-docs

#1452 chore(pie-monorepo): DSW-000 update element-internals-polyfill to v1.3.11
  .changeset/thin-shoes-mix.md
  packages/components/pie-button/package.json
  packages/components/pie-switch/package.json
  yarn.lock
Labels: components, pie-button, pie-switch

#1474 docs(pie-docs): DSW-1890 add motion chapter on docsite
  .changeset/honest-ways-destroy.md
  apps/pie-docs/src/_11ty/shortcodes/mediaElementList.js
  apps/pie-docs/src/assets/img/foundations/motion/easing/easing-functional.svg
  apps/pie-docs/src/assets/img/foundations/motion/easing/easing-in.svg
  apps/pie-docs/src/assets/img/foundations/motion/easing/easing-out.svg
  apps/pie-docs/src/assets/img/foundations/motion/principles/delightful.svg
  apps/pie-docs/src/assets/img/foundations/motion/principles/delightful_narrow.svg
  apps/pie-docs/src/assets/img/foundations/motion/principles/purposeful.svg
  apps/pie-docs/src/assets/img/foundations/motion/principles/purposeful_narrow.svg
  apps/pie-docs/src/assets/img/foundations/motion/principles/responsive.svg
  apps/pie-docs/src/assets/img/foundations/motion/principles/responsive_narrow.svg
  apps/pie-docs/src/assets/img/foundations/motion/principles/smooth.svg
  apps/pie-docs/src/assets/img/foundations/motion/principles/smooth_narrow.svg
  apps/pie-docs/src/foundations/motion/applying-motion/applying-motion.json
  apps/pie-docs/src/foundations/motion/applying-motion/applying-motion.md
  apps/pie-docs/src/foundations/motion/applying-motion/easing.md
  apps/pie-docs/src/foundations/motion/applying-motion/timing.md
  apps/pie-docs/src/foundations/motion/motion.json
  apps/pie-docs/src/foundations/motion/motion.md
  apps/pie-docs/src/foundations/motion/overview/motion-principles.json
  apps/pie-docs/src/foundations/motion/overview/overview.json
  apps/pie-docs/src/foundations/motion/overview/overview.md
  apps/pie-docs/src/patterns/cookie-banner/overview/overview.md
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
Labels: apps, pie-docs

#1487 docs(pie-docs): DSW-000 update avatar status for android
  .changeset/eight-experts-eat.md
  apps/pie-docs/src/componentStatusData.js
Labels: apps, pie-docs

#1458 feat(pie-checkbox): DSW-1574 checkbox form integration
  .changeset/fair-pants-drive.md
  .changeset/gorgeous-seals-teach.md
  .changeset/shy-tigers-hang.md
  .changeset/twelve-carpets-applaud.md
  apps/pie-storybook/stories/pie-checkbox.stories.ts
  packages/components/pie-checkbox/src/defs-react.ts
  packages/components/pie-checkbox/src/defs.ts
  packages/components/pie-checkbox/src/index.ts
  packages/components/pie-checkbox/test/component/pie-checkbox.spec.ts
  packages/components/pie-switch/src/index.ts
  packages/components/pie-text-input/test/component/pie-text-input.spec.ts
  packages/components/pie-webc-testing/src/helpers/form-helpers.ts
Labels: apps, components, pie-storybook, pie-webc-testing, pie-switch, pie-checkbox, pie-text-input

#1478 feat(pie-docs): DSW-1899 add the overview section of the notification component
  .changeset/eight-buckets-speak.md
  .changeset/tender-cameras-jump.md
  apps/pie-docs/src/_11ty/shortcodes/usage.js
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/usage.test.js.snap
  apps/pie-docs/src/assets/img/components/notification/anatomy.svg
  apps/pie-docs/src/assets/img/components/notification/example-ltr-error-variant.svg
  apps/pie-docs/src/assets/img/components/notification/example-ltr-success-variant.svg
  apps/pie-docs/src/assets/img/components/notification/example-rtl-error-variant.svg
  apps/pie-docs/src/assets/img/components/notification/example-rtl-success-variant.svg
  apps/pie-docs/src/assets/img/components/notification/interaction-actions.svg
  apps/pie-docs/src/assets/img/components/notification/interaction-close-icon.svg
  apps/pie-docs/src/assets/img/components/notification/modifier-actions-dual-actions.svg
  apps/pie-docs/src/assets/img/components/notification/modifier-actions-no-actions.svg
  apps/pie-docs/src/assets/img/components/notification/modifier-actions-single-action.svg
  apps/pie-docs/src/assets/img/components/notification/modifier-compact-with-title.svg
  apps/pie-docs/src/assets/img/components/notification/modifier-compact-without-title.svg
  apps/pie-docs/src/assets/img/components/notification/modifier-icons-removing-icons.svg
  apps/pie-docs/src/assets/img/components/notification/modifier-icons-replacing-icons-do.svg
  apps/pie-docs/src/assets/img/components/notification/modifier-icons-replacing-icons-dont.svg
  apps/pie-docs/src/assets/img/components/notification/modifier-title.svg
  apps/pie-docs/src/assets/img/components/notification/narrow-compact.svg
  apps/pie-docs/src/assets/img/components/notification/narrow-dual-actions.svg
  apps/pie-docs/src/assets/img/components/notification/narrow-single-action.svg
  apps/pie-docs/src/assets/img/components/notification/narrow.svg
  apps/pie-docs/src/assets/img/components/notification/overview.svg
  apps/pie-docs/src/assets/img/components/notification/position-full-width.svg
  apps/pie-docs/src/assets/img/components/notification/position-inline-with-content.svg
  apps/pie-docs/src/assets/img/components/notification/structure-narrow.svg
  apps/pie-docs/src/assets/img/components/notification/structure-wide.svg
  apps/pie-docs/src/assets/img/components/notification/variation-error.svg
  apps/pie-docs/src/assets/img/components/notification/variation-info.svg
  apps/pie-docs/src/assets/img/components/notification/variation-neutral-alternative.svg
  apps/pie-docs/src/assets/img/components/notification/variation-neutral.svg
  apps/pie-docs/src/assets/img/components/notification/variation-success.svg
  apps/pie-docs/src/assets/img/components/notification/variation-warning.svg
  apps/pie-docs/src/assets/styles/components/_usage.scss
  apps/pie-docs/src/components/notification/code/code.md
  apps/pie-docs/src/components/notification/code/events.json
  apps/pie-docs/src/components/notification/code/props.json
  apps/pie-docs/src/components/notification/code/slots.json
  apps/pie-docs/src/components/notification/notification.md
  apps/pie-docs/src/components/notification/overview/overview.md
  apps/pie-docs/src/components/notification/overview/usage.json
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
  apps/pie-storybook/stories/pie-notification-docs/variants.mdx
  packages/components/pie-notification/src/defs.ts
  packages/components/pie-notification/src/index.ts
Labels: apps, components, pie-storybook, pie-docs, pie-notification

#1479 feat(pie-docs): DSW-1883 generate web component statuses from script
  .changeset/great-pans-leave.md
  .changeset/green-pugs-laugh.md
  .changeset/stupid-fishes-listen.md
  .gitignore
  apps/pie-docs/package.json
  apps/pie-docs/src/componentStatusData.js
  apps/pie-docs/turbo.json
  apps/pie-storybook/.gitignore
  apps/pie-storybook/create-component-statuses.mjs
  apps/pie-storybook/decorators/component-status.ts
  apps/pie-storybook/package.json
  apps/pie-storybook/turbo.json
  package.json
  packages/components/pie-cookie-banner/package.json
  turbo.json
  utilities/component-statuses/componentStatusGenerator.js
  utilities/component-statuses/generate-component-statuses.js
  yarn.lock
Labels: apps, components, pie-storybook, pie-docs
