Repository justeattakeaway/pie, pull requests merged in 2024-03, with the labels that each got.

#1280 refactor(pie-monorepo): DSW-1607 upgrade stylelint to latest
  .changeset/friendly-yaks-listen.md
  apps/pie-docs/src/assets/styles/components/_card.scss
  apps/pie-docs/src/assets/styles/components/_navToggle.scss
  apps/pie-docs/src/assets/styles/components/_tokensTable.scss
  package.json
  packages/components/pie-modal/src/modal.scss
  packages/tools/stylelint-config-pie/.eslintrc.cjs
  packages/tools/stylelint-config-pie/__tests__/rules/base.test.js
  packages/tools/stylelint-config-pie/__tests__/rules/strict.test.js
  packages/tools/stylelint-config-pie/index.js
  packages/tools/stylelint-config-pie/package.json
  packages/tools/stylelint-config-pie/rules/base.js
  packages/tools/stylelint-config-pie/rules/ordering.js
  packages/tools/stylelint-config-pie/rules/strict.js
  packages/tools/stylelint-no-logical-props-shorthands/__tests__/__snapshots__/plugin.test.js.snap
  packages/tools/stylelint-no-logical-props-shorthands/__tests__/plugin.test.js
  packages/tools/stylelint-no-logical-props-shorthands/extract-css-shorthand-values.js
  packages/tools/stylelint-no-logical-props-shorthands/index.js
  packages/tools/stylelint-no-logical-props-shorthands/package.json
  yarn.lock
Labels: apps, tools, stylelint-config-pie, components, DO NOT MERGE, pie-docs, pie-modal

#1281 cosmetic(pie-css): DSW-1730 inherit box-sizing from pie-css
  .changeset/friendly-taxis-buy.md
  .changeset/plenty-gorillas-fry.md
  .changeset/sixty-rocks-rule.md
  .changeset/thin-steaks-hope.md
  packages/components/pie-assistive-text/playwright/index.html
  packages/components/pie-button/playwright/index.html
  packages/components/pie-button/src/button.scss
  packages/components/pie-card/playwright/index.html
  packages/components/pie-card/src/card.scss
  packages/components/pie-chip/playwright/index.html
  packages/components/pie-cookie-banner/playwright/index.html
  packages/components/pie-divider/playwright/index.html
  packages/components/pie-form-label/playwright/index.html
  packages/components/pie-icon-button/playwright/index.html
  packages/components/pie-input/playwright/index.html
  packages/components/pie-link/playwright/index.html
  packages/components/pie-modal/playwright/index.html
  packages/components/pie-modal/src/modal.scss
  packages/components/pie-notification/playwright/index.html
  packages/components/pie-notification/src/notification.scss
  packages/components/pie-spinner/playwright/index.html
  packages/components/pie-spinner/src/spinner.scss
  packages/components/pie-switch/playwright/index.html
  packages/components/pie-switch/src/switch.scss
  packages/components/pie-tag/playwright/index.html
  packages/components/pie-webc-core/playwright/index.html
  packages/components/pie-webc-testing/src/helpers/components/web-component-test-wrapper/webComponentTestWrapper.scss
  packages/tools/generator-pie-component/src/app/templates/playwright/index.html
  packages/tools/pie-css/scss/index.scss
  packages/tools/pie-css/scss/resets/_host.scss
  packages/tools/pie-css/scss/resets/index.scss
  packages/tools/pie-icons-webc/playwright/index.html
Labels: tools, components, pie-button, pie-modal, pie-icon-button, pie-webc-core, pie-webc-testing, generator-pie-component, pie-css, pie-divider, pie-link, pie-form-label, pie-switch, pie-notification, pie-spinner, pie-tag, pie-input, pie-assistive-text

#1309 feat(pie-chip): DSW-1781 add needed aria properties
  .changeset/witty-snakes-call.md
  apps/pie-storybook/stories/pie-chip.stories.ts
  packages/components/pie-chip/README.md
  packages/components/pie-chip/src/defs.ts
  packages/components/pie-chip/src/index.ts
  packages/components/pie-chip/test/component/pie-chip.spec.ts
Labels: apps, components, pie-storybook

#1320 fix(pie-icons-react): DSW-000 fix incorrect "types" location in package.json
  .changeset/purple-oranges-pay.md
  packages/tools/pie-icons-react/package.json
Labels: tools, pie-icons-react

#1329 docs(pie-cookie-banner): DSW-000 update readme with events
  .changeset/afraid-dolphins-laugh.md
  packages/components/pie-cookie-banner/README.md
Labels: components

#1327 refactor(pie-modal): DSW-1754 Added page object to Pie Modal
  .changeset/khaki-zebras-arrive.md
  .changeset/nine-bees-train.md
  .changeset/ninety-ladybugs-attend.md
  configs/pie-components-config/playwright-lit-config.js
  configs/pie-components-config/playwright-lit-visual-config.js
  packages/components/pie-button/test/component/pie-button.spec.ts
  packages/components/pie-input/test/component/pie-input.spec.ts
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/test/component/pie-modal.spec.ts
  packages/components/pie-modal/test/helpers/page-object/pie-modal.page.ts
  packages/components/pie-modal/test/helpers/page-object/selectors.ts
  packages/components/pie-webc-testing/src/helpers/page-object/base-page.ts
Labels: components, pie-button, pie-modal, pie-webc-testing, pie-input

#1332 feat(pie-storybook): DSW-1591 add number input functionality
  .changeset/wicked-pans-guess.md
  apps/pie-storybook/stories/pie-input.stories.ts
  packages/components/pie-input/README.md
  packages/components/pie-input/src/defs.ts
  packages/components/pie-input/src/index.ts
  packages/components/pie-input/src/input.scss
  packages/components/pie-input/test/component/pie-input.spec.ts
  packages/tools/pie-wrapper-react/custom-elements.json
Labels: apps, tools, components, pie-storybook, pie-input

#1335 chore(pie-monorepo): DSW-1784 update pie-design-tokens to v6
  .changeset/green-dingos-impress.md
  apps/examples/wc-vanilla/package.json
  apps/pie-docs/package.json
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/tokensTable.test.js.snap
  apps/pie-storybook/.storybook/preview-head.html
  apps/pie-storybook/package.json
  apps/pie-storybook/stories/pie-card.stories.ts
  package.json
  packages/components/pie-button/src/button.scss
  packages/components/pie-card/test/visual/pie-card.spec.ts
  packages/components/pie-cookie-banner/package.json
  packages/components/pie-cookie-banner/src/cookie-banner.scss
  packages/components/pie-link/src/link.scss
  packages/components/pie-modal/package.json
  packages/components/pie-modal/src/modal.scss
  packages/components/pie-webc-testing/src/helpers/components/web-component-test-wrapper/webComponentTestWrapper.scss
  packages/tools/pie-css/test/css/__snapshots__/css.spec.ts.snap
  yarn.lock
Labels: work-in-progress, apps, tools, components, pie-button, pie-storybook, DO NOT MERGE, pie-docs, pie-modal, pie-webc-testing, pie-css, pie-link

#1326 chore(pie-monorepo): DSW-1783 refactor generation of playwright html
  .changeset/blue-steaks-cheer.md
  .gitignore
  configs/pie-components-config/.npmignore
  configs/pie-components-config/package.json
  configs/pie-components-config/playwright/index.html
  configs/pie-components-config/playwright/index.ts
  configs/pie-components-config/scripts/playwright-lit-setup.js
  package.json
  packages/components/pie-assistive-text/package.json
  packages/components/pie-assistive-text/playwright/index.ts
  packages/components/pie-button/package.json
  packages/components/pie-button/playwright/index.html
  packages/components/pie-button/playwright/index.ts
  packages/components/pie-card/package.json
  packages/components/pie-card/playwright/index.html
  packages/components/pie-card/playwright/index.ts
  packages/components/pie-chip/package.json
  packages/components/pie-chip/playwright/index.html
  packages/components/pie-chip/playwright/index.ts
  packages/components/pie-cookie-banner/package.json
  packages/components/pie-cookie-banner/playwright/index.html
  packages/components/pie-cookie-banner/playwright/index.ts
  packages/components/pie-divider/package.json
  packages/components/pie-divider/playwright/index.html
  packages/components/pie-divider/playwright/index.ts
  packages/components/pie-form-label/package.json
  packages/components/pie-form-label/playwright/index.html
  packages/components/pie-form-label/playwright/index.ts
  packages/components/pie-icon-button/package.json
  packages/components/pie-icon-button/playwright/index.html
  packages/components/pie-icon-button/playwright/index.ts
  packages/components/pie-input/package.json
  packages/components/pie-input/playwright/index.html
  packages/components/pie-input/playwright/index.ts
  packages/components/pie-link/package.json
  packages/components/pie-link/playwright/index.html
  packages/components/pie-link/playwright/index.ts
  packages/components/pie-modal/package.json
  packages/components/pie-modal/playwright/index.html
  packages/components/pie-modal/playwright/index.ts
  packages/components/pie-notification/package.json
  packages/components/pie-notification/playwright/index.html
  packages/components/pie-notification/playwright/index.ts
  packages/components/pie-spinner/package.json
  packages/components/pie-spinner/playwright/index.html
  packages/components/pie-spinner/playwright/index.ts
  packages/components/pie-switch/package.json
  packages/components/pie-switch/playwright/index.html
  packages/components/pie-switch/playwright/index.ts
  packages/components/pie-tag/package.json
  packages/components/pie-tag/playwright/index.html
  packages/components/pie-tag/playwright/index.ts
  packages/components/pie-webc-core/package.json
  packages/components/pie-webc-core/playwright/index.html
  packages/components/pie-webc-core/playwright/index.ts
  packages/tools/pie-icons-webc/package.json
  packages/tools/pie-icons-webc/playwright/index.html
  packages/tools/pie-icons-webc/playwright/index.ts
  turbo.json
  yarn.lock
Labels: tools, components, pie-button, pie-modal, pie-icon-button, pie-webc-core, pie-divider, pie-link, pie-form-label, pie-switch, pie-notification, pie-spinner, pie-tag, pie-input, pie-assistive-text

#1342 fix(pie-docs): DSW-000 add correct storybook link to webc page link
  .changeset/eighty-suits-explode.md
  apps/pie-docs/src/engineers/getting-started/structure.md
  yarn.lock
Labels: apps, pie-docs

#1330 feat(pie-docs): DSW-1639 add the chip docs
  .changeset/brown-rivers-work.md
  .changeset/gorgeous-olives-admire.md
  apps/pie-docs/src/assets/img/components/chip/anatomy.svg
  apps/pie-docs/src/assets/img/components/chip/example-ltr-menu.svg
  apps/pie-docs/src/assets/img/components/chip/example-ltr-offer.svg
  apps/pie-docs/src/assets/img/components/chip/example-rtl-menu.svg
  apps/pie-docs/src/assets/img/components/chip/example-rtl-offer.svg
  apps/pie-docs/src/assets/img/components/chip/interactive-state-active.svg
  apps/pie-docs/src/assets/img/components/chip/interactive-state-default.svg
  apps/pie-docs/src/assets/img/components/chip/interactive-state-disabled.svg
  apps/pie-docs/src/assets/img/components/chip/interactive-state-focus.svg
  apps/pie-docs/src/assets/img/components/chip/interactive-state-hover.svg
  apps/pie-docs/src/assets/img/components/chip/interactive-state-loading.svg
  apps/pie-docs/src/assets/img/components/chip/layout-double-row.svg
  apps/pie-docs/src/assets/img/components/chip/layout-single-row.svg
  apps/pie-docs/src/assets/img/components/chip/modifier-close-icon.svg
  apps/pie-docs/src/assets/img/components/chip/modifier-icon.svg
  apps/pie-docs/src/assets/img/components/chip/modifier-tick-icon.svg
  apps/pie-docs/src/assets/img/components/chip/size.svg
  apps/pie-docs/src/assets/img/components/chip/structure.svg
  apps/pie-docs/src/assets/img/components/chip/usage-action.svg
  apps/pie-docs/src/assets/img/components/chip/usage-choice.svg
  apps/pie-docs/src/assets/img/components/chip/usage-filter.svg
  apps/pie-docs/src/assets/img/components/chip/usage-input.svg
  apps/pie-docs/src/assets/img/components/chip/variation-default.svg
  apps/pie-docs/src/assets/img/components/chip/variation-ghost.svg
  apps/pie-docs/src/assets/img/components/chip/variation-outline.svg
  apps/pie-docs/src/componentStatusData.js
  apps/pie-docs/src/components/chip/chip.md
  apps/pie-docs/src/components/chip/code/code.md
  apps/pie-docs/src/components/chip/code/props.json
  apps/pie-docs/src/components/chip/code/slots.json
  apps/pie-docs/src/components/chip/overview/overview.md
  apps/pie-docs/src/components/tag/code/props.json
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
  apps/pie-storybook/stories/pie-chip-docs/variants.mdx
  packages/components/pie-chip/README.md
  packages/components/pie-tag/README.md
Labels: apps, components, pie-storybook, pie-docs, pie-tag

#1333 feat(pie-cookie-banner): DSW-1754 Added page object to cookie banner
  packages/components/pie-cookie-banner/test/component/pie-cookie-banner.spec.ts
  packages/components/pie-cookie-banner/test/helpers/page-object/pie-cookie-banner.page.ts
  packages/components/pie-cookie-banner/test/helpers/page-object/selectors.ts
  packages/components/pie-modal/test/helpers/page-object/pie-modal.page.ts
  packages/components/pie-modal/test/helpers/page-object/selectors.ts
Labels: components, pie-modal

#1354 feat(pie-input): DSW-1586 add size property to input component
  .changeset/eighty-pears-sip.md
  .changeset/new-mayflies-wait.md
  apps/pie-storybook/stories/pie-input.stories.ts
  packages/components/pie-input/README.md
  packages/components/pie-input/src/defs.ts
  packages/components/pie-input/src/index.ts
  packages/components/pie-input/test/component/pie-input.spec.ts
Labels: apps, components, pie-storybook, pie-input

#1348 fix(pie-chip): DSW-000 hover and active styles are applied for disabled state
  .changeset/twenty-pianos-invent.md
  packages/components/pie-chip/src/chip.scss
Labels: components

#1290 feat(pie-notification): DSW-1351 Add user actions
  .changeset/cool-rings-impress.md
  .changeset/cool-worms-serve.md
  apps/pie-storybook/stories/pie-notification.stories.ts
  packages/components/pie-notification/src/defs.ts
  packages/components/pie-notification/src/index.ts
  packages/components/pie-notification/src/notification.scss
  packages/components/pie-notification/test/component/pie-notification.spec.ts
  packages/components/pie-notification/test/visual/pie-notification.spec.ts
Labels: apps, components, pie-storybook, pie-notification

#1359 refactor(pie-modal): DSW-000 pie modal page object refactor
  packages/components/pie-cookie-banner/test/component/pie-cookie-banner.spec.ts
  packages/components/pie-cookie-banner/test/helpers/page-object/pie-cookie-banner.page.ts
  packages/components/pie-modal/test/component/pie-modal.spec.ts
  packages/components/pie-modal/test/helpers/page-object/pie-modal.page.ts
Labels: components, pie-modal

#1347 chore(pie-icons-react): DSW-1801 add entry points for individual icons
  .changeset/empty-mice-look.md
  packages/tools/pie-icons-react/README.md
  packages/tools/pie-icons-react/package.json
Labels: tools, pie-icons-react
