Repository justeattakeaway/pie, pull requests merged in 2024-01, with the labels that each got.

#1127 fix(pie-icons-webc): DSW-1539 icon display and size override variables
  .changeset/chilled-snails-cry.md
  .changeset/fluffy-dolls-flash.md
  .changeset/hip-files-wash.md
  packages/components/pie-button/src/button.scss
  packages/components/pie-icon-button/src/iconButton.scss
  packages/tools/pie-icons-webc/build.js
Labels: tools, components, pie-button, pie-icon-button

#1135 feat(pie-input): DSW-1580 generate component boilerplate
  .changeset/beige-pens-develop.md
  .changeset/loud-cherries-flow.md
  .changeset/weak-teachers-explain.md
  .github/project-labeler.yml
  .github/workflows/ci.yml
  apps/pie-storybook/stories/pie-input.stories.ts
  packages/components/pie-input/.eslintignore
  packages/components/pie-input/README.md
  packages/components/pie-input/declaration.d.ts
  packages/components/pie-input/package.json
  packages/components/pie-input/playwright-lit-visual.config.ts
  packages/components/pie-input/playwright-lit.config.ts
  packages/components/pie-input/playwright/index.html
  packages/components/pie-input/playwright/index.ts
  packages/components/pie-input/src/defs.ts
  packages/components/pie-input/src/index.ts
  packages/components/pie-input/src/input.scss
  packages/components/pie-input/test/accessibility/pie-input.spec.ts
  packages/components/pie-input/test/component/pie-input.spec.ts
  packages/components/pie-input/test/visual/pie-input.spec.ts
  packages/components/pie-input/tsconfig.json
  packages/components/pie-input/vite.config.js
  yarn.lock
Labels: apps, components, pie-storybook, pie-input

#1126 docs(pie-button): DSW-000 updated component READMEs to reference pie docs site
  .changeset/late-turtles-flash.md
  packages/components/pie-button/README.md
  packages/components/pie-card/README.md
  packages/components/pie-divider/README.md
  packages/components/pie-icon-button/README.md
  packages/components/pie-link/README.md
  packages/components/pie-modal/README.md
  packages/components/pie-switch/README.md
Labels: components, pie-button, pie-modal, pie-icon-button, pie-divider, pie-link, pie-switch

#1136 fix(pie-modal): Dsw-000 reduce visual test timer in button and modal from `5` -> `2.5`
  packages/components/pie-button/test/visual/pie-button-size.spec.ts
  packages/components/pie-button/test/visual/pie-button.spec.ts
  packages/components/pie-modal/test/visual/pie-modal.spec.ts
Labels: components, pie-button, pie-modal

#1138 feat(pie-input): DSW-1582 render html input and accept type prop
  .changeset/chatty-pans-press.md
  apps/pie-storybook/package.json
  apps/pie-storybook/stories/pie-input.stories.ts
  packages/components/pie-input/src/defs.ts
  packages/components/pie-input/src/index.ts
  packages/components/pie-input/test/component/pie-input.spec.ts
  yarn.lock
Labels: apps, components, pie-storybook, pie-input

#1140 fix(pie-button): DSW-1606 button mount readded to visual tests
  .changeset/tender-mugs-lie.md
  packages/components/pie-button/test/visual/pie-button.spec.ts
Labels: components, pie-button

#1123 feat(pie-tag): DSW-1520 tag component functionality
  .changeset/good-shoes-burn.md
  .changeset/nervous-apricots-enjoy.md
  .changeset/ten-mangos-exist.md
  apps/pie-storybook/stories/pie-tag-docs/variants.mdx
  apps/pie-storybook/stories/pie-tag.stories.ts
  packages/components/pie-button/test/component/pie-button.spec.ts
  packages/components/pie-tag/README.md
  packages/components/pie-tag/src/defs.ts
  packages/components/pie-tag/src/index.ts
  packages/components/pie-tag/src/tag.scss
  packages/components/pie-tag/test/accessibility/pie-tag.spec.ts
  packages/components/pie-tag/test/component/pie-tag.spec.ts
  packages/components/pie-tag/test/visual/pie-tag.spec.ts
  packages/components/pie-webc-testing/src/helpers/get-shadow-element-style-prop-values.ts
  packages/components/pie-webc-testing/src/helpers/index.ts
Labels: apps, components, pie-button, pie-storybook, pie-webc-testing, pie-tag

#1143 refactor(pie-button): DSW-1582 use FormControlMixin for form logic
  .changeset/clever-rabbits-compete.md
  .changeset/itchy-poets-dress.md
  packages/components/pie-button/src/index.ts
  packages/components/pie-webc-core/src/functions/defineCustomElement.ts
  packages/components/pie-webc-core/src/mixins/formControl/formControlMixin.ts
  packages/components/pie-webc-core/src/mixins/types/LitElementMixin.ts
  yarn.lock
Labels: components, pie-button, pie-webc-core

#1145 refactor(pie-switch): DSW-1582 use form control mixin
  .changeset/breezy-lamps-travel.md
  .changeset/proud-walls-smell.md
  .changeset/ten-cooks-divide.md
  packages/components/pie-switch/src/index.ts
  packages/components/pie-webc-core/src/mixins/formControl/formControlMixin.ts
  packages/components/pie-webc-core/src/mixins/index.ts
  packages/components/pie-webc-core/src/mixins/rtl/rtlMixin.ts
Labels: components, pie-webc-core, pie-switch

#1148 docs(pie-monorepo): DSW-0 add playwright testing docs for components
  .changeset/silly-wolves-kiss.md
  packages/components/README.md
Labels: components

#1154 feat(pie-input): DSW-1582 add form association logic
  .changeset/honest-penguins-wink.md
  .changeset/ten-impalas-mate.md
  apps/pie-storybook/stories/pie-input.stories.ts
  packages/components/pie-input/src/index.ts
  yarn.lock
Labels: apps, components, pie-storybook, pie-input

#1157 fix(eslint-config-pie): DSW-000 eslint-config-pie fix tests
  .changeset/nine-crabs-fail.md
  packages/tools/eslint-config-pie/__tests__/__snapshots__/eslint-rules.test.js.snap
  packages/tools/eslint-config-pie/__tests__/eslint-rules.test.js
  packages/tools/eslint-config-pie/package.json
Labels: tools, eslint-config-pie

#1165 feat(pie-input): DSW-1582 add a value property to input
  .changeset/modern-bees-visit.md
  .changeset/tricky-walls-perform.md
  apps/pie-storybook/stories/pie-input.stories.ts
  packages/components/pie-input/custom-elements.json
  packages/components/pie-input/src/defs.ts
  packages/components/pie-input/src/index.ts
  packages/components/pie-input/test/component/pie-input.spec.ts
Labels: apps, components, pie-storybook, pie-input

#1170 feat(pie-input): DSW-1582 add vanilla form submission
  .changeset/angry-dingos-burn.md
  .changeset/spicy-ads-bow.md
  apps/pie-storybook/stories/pie-input.stories.ts
  packages/components/pie-input/custom-elements.json
  packages/components/pie-input/src/defs.ts
  packages/components/pie-input/src/index.ts
  packages/components/pie-input/test/component/pie-input.spec.ts
Labels: apps, components, pie-storybook, pie-input

#1173 feat(pie-input): DSW-1582 dispatch change event
  .changeset/cool-planets-battle.md
  .changeset/early-hotels-travel.md
  .changeset/itchy-owls-smile.md
  apps/pie-storybook/stories/pie-input.stories.ts
  packages/components/README.md
  packages/components/pie-input/custom-elements.json
  packages/components/pie-input/src/index.ts
  packages/components/pie-input/test/component/pie-input.spec.ts
  packages/components/pie-switch/custom-elements.json
  packages/components/pie-switch/src/index.ts
  packages/components/pie-webc-core/src/functions/index.ts
  packages/components/pie-webc-core/src/functions/wrapNativeEvent.ts
Labels: apps, components, pie-storybook, pie-webc-core, pie-switch, pie-input

#1164 feat(pie-monorepo): DSW-1577 Evaluate components props and provide additional React props
  .changeset/dry-beds-love.md
  .changeset/long-bats-poke.md
  .changeset/lucky-bags-swim.md
  .changeset/tricky-panthers-repeat.md
  packages/components/pie-button/src/defs-react.ts
  packages/components/pie-button/src/defs.ts
  packages/components/pie-button/src/index.ts
  packages/components/pie-card/src/defs-react.ts
  packages/components/pie-card/src/defs.ts
  packages/components/pie-card/src/index.ts
  packages/components/pie-cookie-banner/src/defs-react.ts
  packages/components/pie-divider/src/defs-react.ts
  packages/components/pie-divider/src/defs.ts
  packages/components/pie-divider/src/index.ts
  packages/components/pie-form-label/src/defs-react.ts
  packages/components/pie-icon-button/src/defs-react.ts
  packages/components/pie-input/src/defs-react.ts
  packages/components/pie-link/src/defs-react.ts
  packages/components/pie-link/src/defs.ts
  packages/components/pie-link/src/index.ts
  packages/components/pie-modal/src/defs-react.ts
  packages/components/pie-modal/src/defs.ts
  packages/components/pie-modal/src/index.ts
  packages/components/pie-notification/src/defs-react.ts
  packages/components/pie-spinner/src/defs-react.ts
  packages/components/pie-switch/src/defs-react.ts
  packages/components/pie-switch/src/defs.ts
  packages/components/pie-tag/src/defs-react.ts
  packages/components/pie-tag/src/defs.ts
  packages/components/pie-tag/src/index.ts
  packages/tools/generator-pie-component/src/app/templates/src/defs-react.ts
  packages/tools/pie-wrapper-react/README.md
  packages/tools/pie-wrapper-react/__tests__/__snapshots__/wrapper.test.js.snap
  packages/tools/pie-wrapper-react/custom-elements.json
  packages/tools/pie-wrapper-react/package.json
  packages/tools/pie-wrapper-react/scripts/add-react-wrapper.js
Labels: tools, components, pie-button, pie-modal, pie-icon-button, generator-pie-component, pie-divider, pie-link, pie-form-label, pie-switch, pie-notification, pie-spinner, pie-tag, pie-input

#1181 refactor(pie-monorepo): DSW-000 remove custom-elements.json from source control
  .changeset/twelve-tips-sniff.md
  .gitignore
  packages/components/pie-button/custom-elements.json
  packages/components/pie-card/custom-elements.json
  packages/components/pie-cookie-banner/custom-elements.json
  packages/components/pie-divider/custom-elements.json
  packages/components/pie-form-label/custom-elements.json
  packages/components/pie-icon-button/custom-elements.json
  packages/components/pie-input/custom-elements.json
  packages/components/pie-link/custom-elements.json
  packages/components/pie-modal/custom-elements.json
  packages/components/pie-notification/custom-elements.json
  packages/components/pie-spinner/custom-elements.json
  packages/components/pie-switch/custom-elements.json
  packages/components/pie-tag/custom-elements.json
Labels: components, pie-button, pie-modal, pie-icon-button, pie-divider, pie-link, pie-form-label, pie-switch, pie-notification, pie-spinner, pie-tag, pie-input

#1180 fix(pie-docs): DSW-1604 update all spacing styles to use pie-css
  .changeset/spotty-goats-develop.md
  apps/pie-docs/src/assets/styles/_overrides.scss
  apps/pie-docs/src/assets/styles/base/_layout.scss
  apps/pie-docs/src/assets/styles/base/_search.scss
  apps/pie-docs/src/assets/styles/components/_anchorIcon.scss
  apps/pie-docs/src/assets/styles/components/_card.scss
  apps/pie-docs/src/assets/styles/components/_categorisedIconList.scss
  apps/pie-docs/src/assets/styles/components/_centredPage.scss
  apps/pie-docs/src/assets/styles/components/_componentDetailsTable.scss
  apps/pie-docs/src/assets/styles/components/_contentImage.scss
  apps/pie-docs/src/assets/styles/components/_contentLayout.scss
  apps/pie-docs/src/assets/styles/components/_contentList.scss
  apps/pie-docs/src/assets/styles/components/_contentPage.scss
  apps/pie-docs/src/assets/styles/components/_footer.scss
  apps/pie-docs/src/assets/styles/components/_header.scss
  apps/pie-docs/src/assets/styles/components/_heroBanner.scss
  apps/pie-docs/src/assets/styles/components/_heroContentLayout.scss
  apps/pie-docs/src/assets/styles/components/_link.scss
  apps/pie-docs/src/assets/styles/components/_list.scss
  apps/pie-docs/src/assets/styles/components/_mediaElementList.scss
  apps/pie-docs/src/assets/styles/components/_nav.scss
  apps/pie-docs/src/assets/styles/components/_notification.scss
  apps/pie-docs/src/assets/styles/components/_resourceTable.scss
  apps/pie-docs/src/assets/styles/components/_scrollToTop.scss
  apps/pie-docs/src/assets/styles/components/_simpleTable.scss
  apps/pie-docs/src/assets/styles/components/_skipLink.scss
  apps/pie-docs/src/assets/styles/components/_table.scss
  apps/pie-docs/src/assets/styles/components/_tabs.scss
  apps/pie-docs/src/assets/styles/components/_toggle.scss
  apps/pie-docs/src/assets/styles/components/_tokensTable.scss
  apps/pie-docs/src/assets/styles/components/_usage.scss
  apps/pie-docs/src/assets/styles/plugins/_prism.scss
Labels: apps, pie-docs

#1184 feat(pie-cookie-banner): DSW-1629 cookie banner url props
  .changeset/tough-turtles-enjoy.md
  apps/pie-storybook/stories/pie-cookie-banner.stories.ts
  packages/components/pie-cookie-banner/README.md
  packages/components/pie-cookie-banner/locales/bg-bg.json
  packages/components/pie-cookie-banner/locales/de-de.json
  packages/components/pie-cookie-banner/locales/dk-dk.json
  packages/components/pie-cookie-banner/locales/en-gb.json
  packages/components/pie-cookie-banner/locales/fr-fr.json
  packages/components/pie-cookie-banner/locales/it-it.json
  packages/components/pie-cookie-banner/locales/nl-nl.json
  packages/components/pie-cookie-banner/locales/pl-pl.json
  packages/components/pie-cookie-banner/src/defs.ts
  packages/components/pie-cookie-banner/src/index.ts
  packages/components/pie-cookie-banner/test/component/pie-cookie-banner.spec.ts
Labels: apps, components, pie-storybook

#1176 feat(pie-docs): DSW-1565 added show more button
  .changeset/fifty-keys-wait.md
  apps/pie-docs/src/_includes/scripts.njk
  apps/pie-docs/src/_includes/show-more.njk
  apps/pie-docs/src/assets/js/show-more.js
  apps/pie-docs/src/assets/styles/_dependencies.scss
  apps/pie-docs/src/assets/styles/components/_showMore.scss
Labels: apps, pie-docs

#1188 test(pie-switch): DSW-1576 updated visual tests to only take screenshots at 375px
  .changeset/old-flowers-relax.md
  packages/components/pie-form-label/test/visual/pie-form-label.spec.ts
  packages/components/pie-input/test/visual/pie-input.spec.ts
  packages/components/pie-link/test/visual/pie-link.spec.ts
  packages/components/pie-switch/test/visual/pie-switch.spec.ts
Labels: components, pie-link, pie-form-label, pie-switch, pie-input

#1141 fix(pie-card): DSW-000 Fix components props consistency issues
  .changeset/eighty-items-wash.md
  packages/components/pie-card/src/index.ts
  packages/components/pie-card/test/component/pie-card.spec.ts
  packages/components/pie-form-label/src/index.ts
  packages/components/pie-icon-button/src/index.ts
  packages/components/pie-spinner/src/index.ts
Labels: components, pie-icon-button, pie-form-label, pie-spinner

#1192 fix(pie-css): DSW-000 fix stylelint error
  .changeset/healthy-parrots-relate.md
  packages/tools/pie-css/scss/functions/_unitModifiers.scss
Labels: tools, pie-css

#1190 fix(pie-docs): DSW-1604 replace fozzie colour tokens with pie-css tokens
  .changeset/shy-onions-lick.md
  apps/pie-docs/src/assets/styles/_overrides.scss
  apps/pie-docs/src/assets/styles/base/_layout.scss
  apps/pie-docs/src/assets/styles/base/_search.scss
  apps/pie-docs/src/assets/styles/components/_anchorIcon.scss
  apps/pie-docs/src/assets/styles/components/_card.scss
  apps/pie-docs/src/assets/styles/components/_categorisedIconList.scss
  apps/pie-docs/src/assets/styles/components/_centredPage.scss
  apps/pie-docs/src/assets/styles/components/_componentDetailsTable.scss
  apps/pie-docs/src/assets/styles/components/_contentImage.scss
  apps/pie-docs/src/assets/styles/components/_contentList.scss
  apps/pie-docs/src/assets/styles/components/_contentPage.scss
  apps/pie-docs/src/assets/styles/components/_footer.scss
  apps/pie-docs/src/assets/styles/components/_header.scss
  apps/pie-docs/src/assets/styles/components/_heroBanner.scss
  apps/pie-docs/src/assets/styles/components/_heroContentLayout.scss
  apps/pie-docs/src/assets/styles/components/_link.scss
  apps/pie-docs/src/assets/styles/components/_list.scss
  apps/pie-docs/src/assets/styles/components/_nav.scss
  apps/pie-docs/src/assets/styles/components/_navToggle.scss
  apps/pie-docs/src/assets/styles/components/_razor.scss
  apps/pie-docs/src/assets/styles/components/_simpleTable.scss
  apps/pie-docs/src/assets/styles/components/_skipLink.scss
  apps/pie-docs/src/assets/styles/components/_table.scss
  apps/pie-docs/src/assets/styles/components/_tabs.scss
  apps/pie-docs/src/assets/styles/components/_toggle.scss
  apps/pie-docs/src/assets/styles/components/_tokensTable.scss
  apps/pie-docs/src/assets/styles/components/_usage.scss
Labels: apps, pie-docs

#1196 fix(pie-docs): DSW-1604 replace fozzie radius tokens with pie-css tokens
  .changeset/yellow-shoes-drive.md
  apps/pie-docs/src/assets/styles/base/_search.scss
  apps/pie-docs/src/assets/styles/components/_anchorIcon.scss
  apps/pie-docs/src/assets/styles/components/_card.scss
  apps/pie-docs/src/assets/styles/components/_categorisedIconList.scss
  apps/pie-docs/src/assets/styles/components/_componentDetailsTable.scss
  apps/pie-docs/src/assets/styles/components/_contentImage.scss
  apps/pie-docs/src/assets/styles/components/_footer.scss
  apps/pie-docs/src/assets/styles/components/_link.scss
  apps/pie-docs/src/assets/styles/components/_list.scss
  apps/pie-docs/src/assets/styles/components/_nav.scss
  apps/pie-docs/src/assets/styles/components/_notification.scss
  apps/pie-docs/src/assets/styles/components/_resourceTable.scss
  apps/pie-docs/src/assets/styles/components/_simpleTable.scss
  apps/pie-docs/src/assets/styles/components/_table.scss
  apps/pie-docs/src/assets/styles/components/_toggle.scss
  apps/pie-docs/src/assets/styles/components/_tokensTable.scss
  apps/pie-docs/src/assets/styles/components/_usage.scss
Labels: apps, pie-docs

#1203 feat(stylelint-config-pie): DSW-1113 Provide custom Stylelint rule
  .changeset/chilled-rabbits-push.md
  .changeset/heavy-bulldogs-obey.md
  .changeset/quiet-mayflies-sparkle.md
  apps/pie-docs/src/assets/styles/_overrides.scss
  apps/pie-docs/src/assets/styles/_utilities.scss
  apps/pie-docs/src/assets/styles/components/_card.scss
  apps/pie-docs/src/assets/styles/components/_categorisedIconList.scss
  apps/pie-docs/src/assets/styles/components/_centredPage.scss
  apps/pie-docs/src/assets/styles/components/_componentDetailsTable.scss
  apps/pie-docs/src/assets/styles/components/_componentStatusTable.scss
  apps/pie-docs/src/assets/styles/components/_contentImage.scss
  apps/pie-docs/src/assets/styles/components/_contentList.scss
  apps/pie-docs/src/assets/styles/components/_footer.scss
  apps/pie-docs/src/assets/styles/components/_heroContentLayout.scss
  apps/pie-docs/src/assets/styles/components/_link.scss
  apps/pie-docs/src/assets/styles/components/_list.scss
  apps/pie-docs/src/assets/styles/components/_mediaElementList.scss
  apps/pie-docs/src/assets/styles/components/_nav.scss
  apps/pie-docs/src/assets/styles/components/_resourceTable.scss
  apps/pie-docs/src/assets/styles/components/_skipLink.scss
  apps/pie-docs/src/assets/styles/components/_toggle.scss
  apps/pie-docs/src/assets/styles/components/_tokensTable.scss
  apps/pie-docs/src/assets/styles/plugins/_prism.scss
  packages/components/pie-cookie-banner/src/cookie-banner.scss
  packages/components/pie-modal/src/modal.scss
  packages/tools/stylelint-config-pie/package.json
  packages/tools/stylelint-config-pie/rules/base.js
  packages/tools/stylelint-no-logical-props-shorthands/CHANGELOG.md
  packages/tools/stylelint-no-logical-props-shorthands/README.md
  packages/tools/stylelint-no-logical-props-shorthands/__tests__/__snapshots__/plugin.test.js.snap
  packages/tools/stylelint-no-logical-props-shorthands/__tests__/plugin.test.js
  packages/tools/stylelint-no-logical-props-shorthands/extract-css-shorthand-values.js
  packages/tools/stylelint-no-logical-props-shorthands/index.js
  packages/tools/stylelint-no-logical-props-shorthands/package.json
  yarn.lock
Labels: apps, tools, stylelint-config-pie, components, pie-docs, pie-modal

#1195 feat(pie-docs): DSW-000 small tidy up of code pages in pie-docs
  .changeset/tricky-carpets-sit.md
  apps/pie-docs/src/_11ty/shortcodes/resourceTable.js
  apps/pie-docs/src/components/button/code/code.md
  apps/pie-docs/src/components/card/code/code.md
  apps/pie-docs/src/components/divider/code/code.md
  apps/pie-docs/src/components/icon-button/code/code.md
  apps/pie-docs/src/components/link/code/code.md
  apps/pie-docs/src/components/modal/code/code.md
  apps/pie-docs/src/components/switch/code/code.md
  apps/pie-storybook/stories/pie-link-docs/variants.mdx
Labels: apps, pie-storybook, pie-docs

#1207 test(pie-switch): DSW-1621 Add rtl visual tests to pie switch
  .changeset/sweet-jobs-sniff.md
  packages/components/pie-switch/test/visual/pie-switch.spec.ts
Labels: components, pie-switch

#1208 fix(pie-switch): DSW-000 fix linting
  packages/components/pie-switch/test/visual/pie-switch.spec.ts
  turbo.json
Labels: components, pie-switch

#1197 fix(pie-docs): DSW-1604 replace fozzie typography
  .changeset/clean-kiwis-glow.md
  apps/pie-docs/src/assets/styles/_overrides.scss
  apps/pie-docs/src/assets/styles/_utilities.scss
  apps/pie-docs/src/assets/styles/base/_layout.scss
  apps/pie-docs/src/assets/styles/base/_page.scss
  apps/pie-docs/src/assets/styles/base/_search.scss
  apps/pie-docs/src/assets/styles/base/_typography.scss
  apps/pie-docs/src/assets/styles/components/_anchorIcon.scss
  apps/pie-docs/src/assets/styles/components/_card.scss
  apps/pie-docs/src/assets/styles/components/_categorisedIconList.scss
  apps/pie-docs/src/assets/styles/components/_centredPage.scss
  apps/pie-docs/src/assets/styles/components/_componentDetailsTable.scss
  apps/pie-docs/src/assets/styles/components/_contentImage.scss
  apps/pie-docs/src/assets/styles/components/_contentList.scss
  apps/pie-docs/src/assets/styles/components/_contentPage.scss
  apps/pie-docs/src/assets/styles/components/_footer.scss
  apps/pie-docs/src/assets/styles/components/_heroBanner.scss
  apps/pie-docs/src/assets/styles/components/_list.scss
  apps/pie-docs/src/assets/styles/components/_nav.scss
  apps/pie-docs/src/assets/styles/components/_notification.scss
  apps/pie-docs/src/assets/styles/components/_resourceTable.scss
  apps/pie-docs/src/assets/styles/components/_simpleTable.scss
  apps/pie-docs/src/assets/styles/components/_tabs.scss
  apps/pie-docs/src/assets/styles/components/_toggle.scss
  apps/pie-docs/src/assets/styles/components/_tokensTable.scss
  apps/pie-docs/src/assets/styles/components/_usage.scss
  apps/pie-docs/test/system/navigation.spec.js
Labels: apps, pie-docs

#1206 chore(pie-monorepo): DSW-1650 update package exports.
  .changeset/smooth-jeans-eat.md
  .changeset/tidy-crabs-drive.md
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  apps/pie-docs/test/accessibility/accessibility.spec.js
  apps/pie-docs/test/playwright/fixtures.js
  apps/pie-docs/test/visual/home-page.spec.js
  apps/pie-docs/test/visual/navigation.spec.js
  configs/pie-components-config/index.js
  configs/pie-components-config/package.json
  configs/pie-components-config/placeholder.ts
  package.json
  packages/components/pie-button/test/accessibility/pie-button.spec.ts
  packages/components/pie-card/test/accessibility/pie-card.spec.ts
  packages/components/pie-cookie-banner/test/accessibility/pie-cookie-banner.spec.ts
  packages/components/pie-divider/test/accessibility/pie-divider.spec.ts
  packages/components/pie-form-label/test/accessibility/pie-form-label.spec.ts
  packages/components/pie-icon-button/test/accessibility/pie-icon-button.spec.ts
  packages/components/pie-input/test/accessibility/pie-input.spec.ts
  packages/components/pie-link/test/accessibility/pie-link.spec.ts
  packages/components/pie-notification/test/accessibility/pie-notification.spec.ts
  packages/components/pie-spinner/test/accessibility/pie-spinner.spec.ts
  packages/components/pie-tag/test/accessibility/pie-tag.spec.ts
  packages/components/pie-webc-testing/package.json
  packages/components/pie-webc-testing/src/index.ts
  packages/components/pie-webc-testing/src/percy/index.ts
  packages/components/pie-webc-testing/src/playwright/index.ts
  packages/components/pie-webc-testing/src/playwright/playwright-fixtures.ts
  packages/components/pie-webc-testing/src/playwright/webc-fixtures.ts
  packages/tools/generator-pie-component/src/app/templates/test/accessibility/pie-placeholder.__spec__.ts
  packages/tools/pie-git-hooks-scripts/CHANGELOG.md
  packages/tools/pie-git-hooks-scripts/README.md
  packages/tools/pie-git-hooks-scripts/__tests__/git-hooks-utils.test.js
  packages/tools/pie-git-hooks-scripts/check-branch-name.js
  packages/tools/pie-git-hooks-scripts/check-ticket-id.js
  packages/tools/pie-git-hooks-scripts/git-hooks-utils.js
  packages/tools/pie-git-hooks-scripts/index.js
  packages/tools/pie-git-hooks-scripts/package.json
  yarn.lock
Labels: apps, tools, components, pie-button, pie-docs, pie-icon-button, pie-webc-testing, generator-pie-component, pie-divider, pie-link, pie-form-label, pie-notification, pie-spinner, pie-tag, pie-input

#1209 feat(pie-input): DSW-1582 add text input props
  .changeset/nasty-bulldogs-drive.md
  apps/pie-storybook/stories/pie-input.stories.ts
  packages/components/pie-input/src/defs.ts
  packages/components/pie-input/src/index.ts
  packages/components/pie-input/test/component/pie-input.spec.ts
Labels: apps, components, pie-storybook, pie-input

#1213 feat(pie-input): DSW-1582 add remaining input props
  .changeset/odd-icons-decide.md
  apps/pie-storybook/stories/pie-input.stories.ts
  packages/components/pie-input/README.md
  packages/components/pie-input/src/defs.ts
  packages/components/pie-input/src/index.ts
  packages/components/pie-input/test/component/pie-input.spec.ts
Labels: apps, components, pie-storybook, pie-input

#1211 feat(pie-webc): DSW-1656 Add PIE bundle package
  .changeset/selfish-comics-repeat.md
  packages/components/pie-webc/.eslintignore
  packages/components/pie-webc/README.md
  packages/components/pie-webc/package.json
  packages/components/pie-webc/src/index.ts
  packages/components/pie-webc/tsconfig.json
  packages/components/pie-webc/vite.config.js
  yarn.lock
Labels: components

#1212 fix(pie-docs): DSW-1604 repalce fozzie z-index values with pie-css
  .changeset/bright-goats-itch.md
  .changeset/fifty-bulldogs-wink.md
  apps/pie-docs/src/assets/styles/base/_layout.scss
  apps/pie-docs/src/assets/styles/components/_heroBanner.scss
  apps/pie-docs/src/assets/styles/components/_nav.scss
  apps/pie-docs/src/assets/styles/components/_navToggle.scss
  apps/pie-docs/src/assets/styles/components/_scrollToTop.scss
  apps/pie-docs/src/assets/styles/components/_tabs.scss
  packages/tools/pie-css/css/input.css
  packages/tools/pie-css/test/css/__snapshots__/css.spec.ts.snap
Labels: apps, tools, pie-docs, pie-css

#1218 feat(pie-input): DSW-0 enable HTML form resets
  .changeset/many-plums-rhyme.md
  .changeset/short-terms-tell.md
  apps/pie-storybook/stories/pie-input.stories.ts
  packages/components/pie-input/src/defs.ts
  packages/components/pie-input/src/index.ts
  packages/components/pie-input/test/component/pie-input.spec.ts
Labels: apps, components, pie-storybook, pie-input

#1217 fix(pie-input): DSW-0 required input value
  .changeset/unlucky-oranges-divide.md
  packages/components/pie-input/src/defs.ts
  packages/components/pie-input/src/index.ts
Labels: components, pie-input

#1219 docs(pie-docs): DSW-000 component status updates
  .changeset/twenty-wolves-drop.md
  apps/pie-docs/src/componentStatusData.js
Labels: apps, pie-docs

#1174 feat(pie-docs): DSW-1523 tag overview page
  .changeset/rich-lies-bow.md
  apps/pie-docs/src/assets/img/components/tag/anatomy.svg
  apps/pie-docs/src/assets/img/components/tag/content-label-guidance-do.svg
  apps/pie-docs/src/assets/img/components/tag/content-label-guidance-don_t.svg
  apps/pie-docs/src/assets/img/components/tag/ltr-example-disabled-menu-card.svg
  apps/pie-docs/src/assets/img/components/tag/ltr-example-offer.svg
  apps/pie-docs/src/assets/img/components/tag/ltr-example-opening-hours.svg
  apps/pie-docs/src/assets/img/components/tag/ltr-example-restaurant-listing.svg
  apps/pie-docs/src/assets/img/components/tag/modifier-emphasis-strong.svg
  apps/pie-docs/src/assets/img/components/tag/modifier-emphasis-subtle.svg
  apps/pie-docs/src/assets/img/components/tag/modifier-icon.svg
  apps/pie-docs/src/assets/img/components/tag/modifier-no-icon.svg
  apps/pie-docs/src/assets/img/components/tag/rtl-example-price-breakdown.svg
  apps/pie-docs/src/assets/img/components/tag/rtl-example-restaurant-listing.svg
  apps/pie-docs/src/assets/img/components/tag/size-large.svg
  apps/pie-docs/src/assets/img/components/tag/size-small.svg
  apps/pie-docs/src/assets/img/components/tag/state-default.svg
  apps/pie-docs/src/assets/img/components/tag/state-disabled.svg
  apps/pie-docs/src/assets/img/components/tag/structure.svg
  apps/pie-docs/src/assets/img/components/tag/variation-type-blue.svg
  apps/pie-docs/src/assets/img/components/tag/variation-type-brand.svg
  apps/pie-docs/src/assets/img/components/tag/variation-type-ghost.svg
  apps/pie-docs/src/assets/img/components/tag/variation-type-green.svg
  apps/pie-docs/src/assets/img/components/tag/variation-type-neutral-alternative.svg
  apps/pie-docs/src/assets/img/components/tag/variation-type-neutral.svg
  apps/pie-docs/src/assets/img/components/tag/variation-type-outline.svg
  apps/pie-docs/src/assets/img/components/tag/variation-type-red.svg
  apps/pie-docs/src/assets/img/components/tag/variation-type-yellow.svg
  apps/pie-docs/src/assets/img/components/tag/visual-representation.svg
  apps/pie-docs/src/components/tag/code/code.md
  apps/pie-docs/src/components/tag/code/props.json
  apps/pie-docs/src/components/tag/code/slots.json
  apps/pie-docs/src/components/tag/overview/overview.md
  apps/pie-docs/src/components/tag/tag.md
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
  packages/components/pie-tag/README.md
Labels: apps, components, pie-docs, pie-tag

#1224 fix(pie-tag): DSW-000 percy visual test fix
  .changeset/itchy-chefs-wink.md
  packages/components/pie-tag/test/visual/pie-tag.spec.ts
Labels: components, pie-tag

#1221 refactor(pie-webc-testing): DSW-1676 added exportable RTL function
  .changeset/weak-shrimps-wave.md
  packages/components/pie-switch/test/visual/pie-switch.spec.ts
  packages/components/pie-webc-testing/src/helpers/index.ts
  packages/components/pie-webc-testing/src/helpers/set-rtl-direction.ts
Labels: components, pie-webc-testing, pie-switch

#1226 fix(pie-tag): DSW-000 address design feedback
  .changeset/wet-cobras-burn.md
  packages/components/pie-tag/src/tag.scss
Labels: components, pie-tag

#1229 feat(pie-chip): DSW-1637 add pie chip skeleton
  .github/project-labeler.yml
  .github/workflows/ci.yml
  apps/pie-storybook/package.json
  apps/pie-storybook/stories/pie-chip.stories.ts
  packages/components/pie-chip/.eslintignore
  packages/components/pie-chip/README.md
  packages/components/pie-chip/custom-elements-manifest.config.mjs
  packages/components/pie-chip/declaration.d.ts
  packages/components/pie-chip/package.json
  packages/components/pie-chip/playwright-lit-visual.config.ts
  packages/components/pie-chip/playwright-lit.config.ts
  packages/components/pie-chip/playwright/index.html
  packages/components/pie-chip/playwright/index.ts
  packages/components/pie-chip/src/chip.scss
  packages/components/pie-chip/src/defs-react.ts
  packages/components/pie-chip/src/defs.ts
  packages/components/pie-chip/src/index.ts
  packages/components/pie-chip/test/accessibility/pie-chip.spec.ts
  packages/components/pie-chip/test/component/pie-chip.spec.ts
  packages/components/pie-chip/test/visual/pie-chip.spec.ts
  packages/components/pie-chip/tsconfig.json
  packages/components/pie-chip/vite.config.js
  yarn.lock
Labels: apps, components, pie-storybook

#1232 refactor(pie-monorepo): DSW-0 standardise mount/unmount test syntax
  .changeset/lemon-mugs-rule.md
  packages/components/pie-button/test/visual/pie-button.spec.ts
  packages/components/pie-card/test/visual/pie-card.spec.ts
  packages/components/pie-divider/test/visual/pie-divider.spec.ts
  packages/components/pie-form-label/test/visual/pie-form-label.spec.ts
  packages/components/pie-icon-button/test/visual/pie-icon-button.spec.ts
  packages/components/pie-link/test/visual/pie-link.spec.ts
  packages/components/pie-spinner/test/visual/pie-spinner.spec.ts
  packages/components/pie-tag/test/visual/pie-tag.spec.ts
  yarn.lock
Labels: components, pie-button, pie-icon-button, pie-divider, pie-link, pie-form-label, pie-spinner, pie-tag

#1233 feat(pie-cookie-banner): DSW-1702 cookie banner prop bug
  .changeset/fresh-shoes-stare.md
  apps/pie-storybook/stories/pie-cookie-banner.stories.ts
  packages/components/pie-cookie-banner/README.md
  packages/components/pie-cookie-banner/src/defs.ts
  packages/components/pie-cookie-banner/src/index.ts
Labels: apps, components, pie-storybook

#1231 fix(pie-modal): DSW-1671 Fix for modal rendering outside the viewport when scroll is locked
  .changeset/shy-snails-dress.md
  packages/components/pie-modal/src/index.ts
Labels: components, pie-modal

#1235 fix(pie-storybook): DSW-000 remove quotes from a prop value in cookie banner
  apps/pie-storybook/stories/pie-cookie-banner.stories.ts
Labels: apps, pie-storybook
