Repository justeattakeaway/pie, pull requests merged in 2024-02, with the labels that each got.

#1237 feat(pie-docs): DSW-1685 use latest design tokens
  .changeset/slimy-cars-repair.md
  apps/pie-docs/package.json
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/tokensTable.test.js.snap
  yarn.lock
Labels: apps, pie-docs

#1228 fix(pie-tag): DSW-000 set the tag opacity via a prop
  .changeset/mighty-queens-exercise.md
  apps/pie-storybook/stories/pie-tag.stories.ts
  packages/components/pie-tag/src/defs.ts
  packages/components/pie-tag/src/index.ts
  packages/components/pie-tag/src/tag.scss
  packages/components/pie-tag/test/component/pie-tag.spec.ts
  packages/components/pie-tag/test/visual/pie-tag.spec.ts
Labels: apps, components, pie-storybook, pie-tag

#1243 feat(pie-assistive-text): DSW-1590 added boilerplate code using the generator
  .changeset/tasty-cameras-guess.md
  .github/project-labeler.yml
  .github/workflows/ci.yml
  apps/pie-storybook/package.json
  apps/pie-storybook/stories/pie-assistive-text.stories.ts
  packages/components/pie-assistive-text/.eslintignore
  packages/components/pie-assistive-text/README.md
  packages/components/pie-assistive-text/custom-elements-manifest.config.mjs
  packages/components/pie-assistive-text/declaration.d.ts
  packages/components/pie-assistive-text/package.json
  packages/components/pie-assistive-text/playwright-lit-visual.config.ts
  packages/components/pie-assistive-text/playwright-lit.config.ts
  packages/components/pie-assistive-text/playwright/index.html
  packages/components/pie-assistive-text/playwright/index.ts
  packages/components/pie-assistive-text/src/assistive-text.scss
  packages/components/pie-assistive-text/src/defs-react.ts
  packages/components/pie-assistive-text/src/defs.ts
  packages/components/pie-assistive-text/src/index.ts
  packages/components/pie-assistive-text/test/accessibility/pie-assistive-text.spec.ts
  packages/components/pie-assistive-text/test/component/pie-assistive-text.spec.ts
  packages/components/pie-assistive-text/test/visual/pie-assistive-text.spec.ts
  packages/components/pie-assistive-text/tsconfig.json
  packages/components/pie-assistive-text/vite.config.js
  yarn.lock
Labels: apps, components, pie-storybook

#1250 fix(stylelint-no-logical-props-shorthands): DSW-000 update logic and revert unnecessary changes in CSS
  .changeset/angry-socks-cough.md
  .changeset/dull-bags-count.md
  .changeset/many-planes-joke.md
  apps/pie-docs/src/assets/styles/components/_componentDetailsTable.scss
  apps/pie-docs/src/assets/styles/components/_componentStatusTable.scss
  apps/pie-docs/src/assets/styles/components/_list.scss
  apps/pie-docs/src/assets/styles/components/_nav.scss
  apps/pie-docs/src/assets/styles/components/_resourceTable.scss
  apps/pie-docs/src/assets/styles/plugins/_prism.scss
  packages/components/pie-modal/src/modal.scss
  packages/tools/stylelint-no-logical-props-shorthands/README.md
  packages/tools/stylelint-no-logical-props-shorthands/__tests__/__snapshots__/plugin.test.js.snap
  packages/tools/stylelint-no-logical-props-shorthands/__tests__/plugin.test.js
  packages/tools/stylelint-no-logical-props-shorthands/index.js
Labels: apps, tools, components, pie-docs, pie-modal

#1149 test(pie-tag): DSW-1520 update inline icon to webc icon in percy test
  .changeset/new-ducks-join.md
  packages/components/pie-button/test/visual/pie-button.spec.ts
  packages/components/pie-icon-button/test/visual/pie-icon-button.spec.ts
  packages/components/pie-link/package.json
  packages/components/pie-link/test/visual/pie-link.spec.ts
  packages/components/pie-tag/package.json
  packages/components/pie-tag/test/visual/pie-tag.spec.ts
  yarn.lock
Labels: components, pie-button, pie-icon-button, pie-link, pie-tag

#1239 feat(pie-cookie-banner): DSW-1702 follow up pr
  apps/pie-storybook/stories/pie-cookie-banner.stories.ts
  packages/components/pie-cookie-banner/README.md
  packages/components/pie-cookie-banner/src/defs.ts
  packages/components/pie-cookie-banner/src/index.ts
  packages/components/pie-cookie-banner/test/component/pie-cookie-banner.spec.ts
Labels: apps, components, pie-storybook

#1253 fix(pie-docs): DSW-1721 Privacy policy 200 fix
  .changeset/forty-donuts-reflect.md
  apps/pie-docs/test/system/footer.spec.js
Labels: apps, pie-docs

#1255 feat(pie-input): DSW-1588 add leading and trailing content slots
  .changeset/wicked-pots-appear.md
  apps/pie-storybook/stories/pie-input.stories.ts
  packages/components/pie-input/README.md
  packages/components/pie-input/src/index.ts
  packages/components/pie-input/test/component/pie-input.spec.ts
  yarn.lock
Labels: apps, components, pie-storybook, pie-input

#1246 feat(pie-input): DSW-1583 add new disabled prop to pie-input
  .changeset/late-feet-smash.md
  apps/pie-storybook/stories/pie-input.stories.ts
  packages/components/pie-input/src/defs.ts
  packages/components/pie-input/src/index.ts
  packages/components/pie-input/test/component/pie-input.spec.ts
Labels: apps, components, pie-storybook, pie-input

#1248 feat(pie-chip): DSW-1643 add the chip component
  .changeset/thick-dogs-deny.md
  apps/pie-storybook/stories/pie-chip.stories.ts
  apps/pie-storybook/stories/pie-tag.stories.ts
  packages/components/pie-chip/README.md
  packages/components/pie-chip/package.json
  packages/components/pie-chip/src/chip.scss
  packages/components/pie-chip/src/defs.ts
  packages/components/pie-chip/src/index.ts
  packages/components/pie-chip/test/accessibility/pie-chip.spec.ts
  packages/components/pie-chip/test/component/pie-chip.spec.ts
  packages/components/pie-chip/test/visual/pie-chip.spec.ts
  yarn.lock
Labels: apps, components, pie-storybook

#1251 feat(pie-assistive-text): DSW-1590 remaining code for assistive-text component
  .changeset/few-bears-juggle.md
  .changeset/olive-actors-cross.md
  .changeset/tall-ghosts-destroy.md
  apps/pie-storybook/stories/pie-assistive-text.stories.ts
  apps/pie-storybook/stories/pie-button.stories.ts
  apps/pie-storybook/stories/pie-form-label.stories.ts
  apps/pie-storybook/stories/pie-link.stories.ts
  apps/pie-storybook/stories/pie-tag.stories.ts
  packages/components/pie-assistive-text/README.md
  packages/components/pie-assistive-text/src/assistive-text.scss
  packages/components/pie-assistive-text/src/defs.ts
  packages/components/pie-assistive-text/src/index.ts
  packages/components/pie-assistive-text/test/accessibility/pie-assistive-text.spec.ts
  packages/components/pie-assistive-text/test/component/pie-assistive-text.spec.ts
  packages/components/pie-assistive-text/test/visual/pie-assistive-text.spec.ts
  packages/tools/generator-pie-component/README.md
Labels: apps, tools, components, pie-storybook, generator-pie-component, pie-assistive-text

#1258 chore(pie-assistive-text): DSW-000 add missing pie-icons-webc dependency
  .changeset/dull-ligers-obey.md
  .changeset/sweet-parents-compare.md
  packages/components/pie-assistive-text/package.json
  packages/tools/generator-pie-component/README.md
  yarn.lock
Labels: tools, components, generator-pie-component, pie-assistive-text

#1259 fix(pie-chip): DSW-000 import pie-spinner in the component
  .changeset/chatty-owls-fix.md
  packages/components/pie-chip/src/index.ts
Labels: components

#1267 docs(pie-docs): DSW-1510 update roadmap
  .changeset/soft-houses-sneeze.md
  apps/pie-docs/src/all-about-pie/roadmap.md
  yarn.lock
Labels: apps, pie-docs

#1262 feat(pie-webc): DSW-1657 add button and modal to component bundle
  .github/project-labeler.yml
  packages/components/pie-webc/.gitignore
  packages/components/pie-webc/package.json
  packages/components/pie-webc/src/index.ts
  packages/components/pie-webc/src/react.ts
  yarn.lock
Labels: components

#1257 feat(pie-form-label): DSW-1585 update pie-form-label to work with form components
  .changeset/green-bikes-shave.md
  .changeset/twelve-timers-fail.md
  .changeset/unlucky-lemons-bake.md
  packages/components/pie-form-label/README.md
  packages/components/pie-form-label/package.json
  packages/components/pie-form-label/src/index.ts
  packages/components/pie-form-label/test/component/pie-form-label.spec.ts
  packages/components/pie-input/src/index.ts
  packages/components/pie-switch/src/index.ts
  packages/components/pie-webc-core/src/index.ts
  packages/components/pie-webc-core/src/interfaces/index.ts
  packages/components/pie-webc-core/src/interfaces/pie-input-element.ts
Labels: components, pie-webc-core, pie-form-label, pie-switch, pie-input

#1260 fix(pie-tag): DSW-000 address design feedback
  .changeset/mighty-hats-draw.md
  packages/components/pie-tag/src/tag.scss
Labels: components, pie-tag

#1273 feat(pie-icons-webc): DSW-1543 update README with Vue documentation
  .changeset/moody-fishes-bathe.md
  packages/tools/pie-icons-webc/README.md
Labels: tools

#1272 feat(pie-webc-core): DSW-1732 dispatch custom event helper function
  .changeset/itchy-days-explain.md
  .changeset/new-tomatoes-give.md
  apps/pie-storybook/stories/pie-modal.stories.ts
  packages/components/pie-chip/src/index.ts
  packages/components/pie-cookie-banner/src/index.ts
  packages/components/pie-modal/src/index.ts
  packages/components/pie-webc-core/src/functions/dispatchCustomEvent.ts
  packages/components/pie-webc-core/src/functions/index.ts
  packages/components/pie-webc-core/src/test/functions/dispatchCustomElement/MockComponent.ts
  packages/components/pie-webc-core/src/test/functions/dispatchCustomElement/dispatchCustomEvent.browser.spec.ts
  packages/components/pie-webc-core/vite.config.js
  packages/tools/generator-pie-component/vite.config.js
  packages/tools/pie-icons-webc/vite.config.js
  vite.config.js
Labels: apps, tools, components, pie-storybook, pie-modal, pie-webc-core, generator-pie-component

#1274 feat(pie-chip): DSW-1732 chip close event
  .changeset/fair-lobsters-flow.md
  apps/pie-storybook/stories/pie-chip.stories.ts
  packages/components/pie-chip/src/defs.ts
  packages/components/pie-chip/src/index.ts
  packages/components/pie-chip/test/component/pie-chip.spec.ts
Labels: apps, components, pie-storybook

#1287 docs(pie-docs): DSW-1388 initial setup for the illustration page
  apps/pie-docs/src/foundations/illustration/illustration.json
  apps/pie-docs/src/foundations/illustration/illustration.md
  apps/pie-docs/src/foundations/illustration/library.md
  apps/pie-docs/src/foundations/illustration/pattern.md
  apps/pie-docs/src/foundations/illustration/product.md
  apps/pie-docs/src/foundations/radius/radius.md
  apps/pie-docs/src/foundations/spacing/spacing.md
  apps/pie-docs/src/foundations/typography/typography.md
  yarn.lock
Labels: apps, pie-docs

#1289 docs(pie-docs): DSW-1388 contentPageImage and usage shortcodes update
  apps/pie-docs/src/_11ty/shortcodes/contentPageImage.js
  apps/pie-docs/src/_11ty/shortcodes/usage.js
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/contentPageImage.test.js.snap
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/usage.test.js.snap
  apps/pie-docs/src/__tests__/_11ty/shortcodes/contentPageImage.test.js
  apps/pie-docs/src/__tests__/_11ty/shortcodes/usage.test.js
  apps/pie-docs/src/assets/styles/components/_contentImage.scss
  apps/pie-docs/src/assets/styles/components/_usage.scss
  apps/pie-docs/src/foundations/illustration/illustration.json
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
Labels: apps, pie-docs

#1292 docs(pie-docs): DSW-0 updates some images width on iconography page
  .changeset/sour-gorillas-marry.md
  apps/pie-docs/src/foundations/iconography/overview.md
  yarn.lock
Labels: apps, pie-docs

#1254 feat(pie-notification): DSW-1348 Build the basic functionality and styles of the Pie Notification web component
  .changeset/flat-adults-trade.md
  apps/pie-storybook/stories/pie-notification.stories.ts
  packages/components/pie-notification/README.md
  packages/components/pie-notification/package.json
  packages/components/pie-notification/src/defs.ts
  packages/components/pie-notification/src/index.ts
  packages/components/pie-notification/src/notification.scss
  packages/components/pie-notification/test/component/pie-notification.spec.ts
  yarn.lock
Labels: apps, components, pie-storybook, please review, pie-notification

#1291 feat(pie-icons): DSW-1750 add new icons
  .changeset/nasty-llamas-grab.md
  packages/tools/pie-icons/src/assets/coins-filled-large.svg
  packages/tools/pie-icons/src/assets/coins-filled.svg
  packages/tools/pie-icons/src/assets/coins-large.svg
  packages/tools/pie-icons/src/assets/coins.svg
  packages/tools/pie-icons/src/assets/conversion-rate-filled-large.svg
  packages/tools/pie-icons/src/assets/conversion-rate-filled.svg
  packages/tools/pie-icons/src/assets/payment/10bis.svg
  packages/tools/pie-icons/src/assets/payment/bank-of-ireland-uk.svg
  packages/tools/pie-icons/src/assets/payment/bank-of-scotland.svg
  packages/tools/pie-icons/src/assets/payment/barclays.svg
  packages/tools/pie-icons/src/assets/payment/danske-bank.svg
  packages/tools/pie-icons/src/assets/payment/first-direct.svg
  packages/tools/pie-icons/src/assets/payment/halifax.svg
  packages/tools/pie-icons/src/assets/payment/hsbc.svg
  packages/tools/pie-icons/src/assets/payment/lloyds.svg
  packages/tools/pie-icons/src/assets/payment/monzo.svg
  packages/tools/pie-icons/src/assets/payment/nationwide.svg
  packages/tools/pie-icons/src/assets/payment/natwest.svg
  packages/tools/pie-icons/src/assets/payment/revolut.svg
  packages/tools/pie-icons/src/assets/payment/royal-bank-of-scotland.svg
  packages/tools/pie-icons/src/assets/payment/santander.svg
  packages/tools/pie-icons/src/assets/payment/starling.svg
  packages/tools/pie-icons/src/assets/payment/tesco-bank.svg
  packages/tools/pie-icons/src/assets/payment/tsb.svg
  packages/tools/pie-icons/src/assets/payment/ulster-bank.svg
  packages/tools/pie-icons/src/assets/qr-code-large.svg
  packages/tools/pie-icons/src/assets/qr-code.svg
  packages/tools/pie-icons/src/assets/restricted-filled-large.svg
  packages/tools/pie-icons/src/assets/restricted-filled.svg
Labels: tools, pie-icons

#1298 fix(pie-tag): DSW-000 update component height to match design specs
  .changeset/chilled-experts-warn.md
  packages/components/pie-tag/src/tag.scss
Labels: components, pie-tag

#1302 chore(pie-monorepo): DSW-000 Revert "Version Packages"
  .changeset/chilled-experts-warn.md
  .changeset/nasty-llamas-grab.md
  apps/pie-storybook/CHANGELOG.md
  apps/pie-storybook/package.json
  package.json
  packages/components/pie-tag/CHANGELOG.md
  packages/components/pie-tag/package.json
  packages/tools/pie-icons-react/package.json
  packages/tools/pie-icons-vue/package.json
  packages/tools/pie-icons-webc/package.json
  packages/tools/pie-icons/CHANGELOG.md
  packages/tools/pie-icons/package.json
Labels: apps, tools, pie-icons, pie-icons-react, pie-icons-vue, components, pie-storybook, pie-tag

#1301 fix(pie-docs): DSW-1750 update icons package to latest
  .changeset/real-walls-fold.md
  apps/pie-docs/package.json
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/categorisedIconList.test.js.snap
  apps/pie-docs/src/iconData.json
  yarn.lock
Labels: apps, pie-docs

#1303 chore(pie-assistive-text): DSW-1773 update conditional rendering
  .changeset/forty-bats-float.md
  packages/components/pie-assistive-text/src/index.ts
Labels: components, pie-assistive-text

#1288 feat(pie-input): DSW-1648 integrate assistive text component into input
  .changeset/heavy-mayflies-wonder.md
  apps/pie-storybook/stories/pie-assistive-text.stories.ts
  apps/pie-storybook/stories/pie-input.stories.ts
  packages/components/pie-input/README.md
  packages/components/pie-input/package.json
  packages/components/pie-input/src/defs.ts
  packages/components/pie-input/src/index.ts
  packages/components/pie-input/test/component/pie-input.spec.ts
  packages/components/pie-input/test/visual/pie-input.spec.ts
  yarn.lock
Labels: apps, components, pie-storybook, pie-input
