Repository justeattakeaway/pie, pull requests merged in 2024-12, with the labels that each got.

#2103 fix(pie-monorepo): DSW-000 fix lint
  apps/pie-storybook/test/utilities/index.test.ts
  yarn.lock
Labels: apps, pie-storybook

#2110 ci(pie-cookie-banner): DSW-000 add cookie banner story into test deploy
  apps/pie-storybook/stories/testing/pie-cookie-banner.test.stories.ts
Labels: apps, pie-storybook

#2105 feat(pie-icons): DSW-000 update high priority icons
  .changeset/chatty-singers-jam.md
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/categorisedIconList.test.js.snap
  apps/pie-docs/src/iconData.json
  packages/tools/pie-icons/src/assets/share-2-large.svg
  packages/tools/pie-icons/src/assets/share-2.svg
  packages/tools/pie-icons/src/assets/takeaway-pay-filled-large.svg
  packages/tools/pie-icons/src/assets/takeaway-pay-filled.svg
  packages/tools/pie-icons/src/assets/takeaway-pay-large.svg
  packages/tools/pie-icons/src/assets/takeaway-pay.svg
Labels: apps, tools, pie-icons, pie-docs

#2106 refactor(pie-icon-button): DSW-2280 updated styles to use classmap
  .changeset/proud-chairs-agree.md
  packages/components/pie-icon-button/src/iconButton.scss
  packages/components/pie-icon-button/src/index.ts
Labels: components, pie-icon-button

#2117 fix(pie-monorepo): DSW-000 add $TURBO_DEFAULT$ to turbo.json inputs
  package.json
  packages/tools/pie-css/turbo.json
  packages/tools/pie-icons-react/turbo.json
  packages/tools/pie-icons-vue/turbo.json
  packages/tools/pie-icons-webc/turbo.json
  packages/tools/pie-icons/turbo.json
  turbo.json
  yarn.lock
Labels: tools, pie-icons, pie-icons-react, pie-icons-vue, pie-css

#2118 revert(pie-monorepo): DSW-000 add $TURBO_DEFAULT$ to turbo.json inputs
  package.json
  packages/tools/pie-css/turbo.json
  packages/tools/pie-icons-react/turbo.json
  packages/tools/pie-icons-vue/turbo.json
  packages/tools/pie-icons-webc/turbo.json
  packages/tools/pie-icons/turbo.json
  turbo.json
  yarn.lock
Labels: tools, pie-icons, pie-icons-react, pie-icons-vue, pie-css

#2113 chore(pie-textarea): DSW-2653 update component status to beta
  .changeset/smart-olives-walk.md
  apps/pie-docs/src/componentStatusData.js
  packages/components/README.md
  packages/components/pie-textarea/package.json
Labels: apps, components, pie-docs, pie-textarea

#2119 fix(generator-pie-component): DSW-000 export new native playwright config
  .changeset/clean-boxes-help.md
  apps/pie-storybook/turbo.json
  configs/pie-components-config/index.js
  configs/pie-components-config/playwright-native-config.js
  configs/pie-components-config/playwright-native-visual-config.js
  packages/components/pie-chip/playwright-lit-visual.config.ts
  packages/components/pie-cookie-banner/playwright-lit-visual.config.ts
  packages/components/pie-cookie-banner/playwright-lit.config.ts
  packages/tools/generator-pie-component/src/app/templates/playwright-lit-visual.config.ts
  packages/tools/generator-pie-component/src/app/templates/playwright-lit.config.ts
Labels: apps, tools, components, pie-storybook, generator-pie-component, pie-cookie-banner, pie-chip, configs, pie-components-config

#2112 feat(pie-thumbnail): DSW-2578 add pie thumbnail skeleton
  .changeset/happy-beds-grab.md
  .github/project-labeler.yml
  .github/workflows/ci.yml
  apps/pie-storybook/package.json
  apps/pie-storybook/stories/pie-thumbnail.stories.ts
  apps/pie-storybook/stories/testing/pie-thumbnail.test.stories.ts
  bundlewatch.config.json
  packages/components/pie-thumbnail/.eslintignore
  packages/components/pie-thumbnail/README.md
  packages/components/pie-thumbnail/custom-elements-manifest.config.mjs
  packages/components/pie-thumbnail/declaration.d.ts
  packages/components/pie-thumbnail/package.json
  packages/components/pie-thumbnail/pie-thumbnail.test.stories.ts
  packages/components/pie-thumbnail/playwright-lit-visual.config.ts
  packages/components/pie-thumbnail/playwright-lit.config.ts
  packages/components/pie-thumbnail/src/defs-react.ts
  packages/components/pie-thumbnail/src/defs.ts
  packages/components/pie-thumbnail/src/index.ts
  packages/components/pie-thumbnail/src/thumbnail.scss
  packages/components/pie-thumbnail/test/accessibility/pie-thumbnail.spec.ts
  packages/components/pie-thumbnail/test/component/pie-thumbnail.spec.ts
  packages/components/pie-thumbnail/test/visual/pie-thumbnail.spec.ts
  packages/components/pie-thumbnail/tsconfig.json
  packages/components/pie-thumbnail/turbo.json
  packages/components/pie-thumbnail/vite.config.js
  packages/components/pie-webc/components/thumbnail.d.ts
  packages/components/pie-webc/components/thumbnail.js
  packages/components/pie-webc/package.json
  packages/components/pie-webc/react/thumbnail.d.ts
  packages/components/pie-webc/react/thumbnail.js
  yarn.lock
Labels: apps, components, pie-storybook, ci, pie-webc, pie-thumbnail

#2107 test(pie-cookie-banner): DSW-2387 updated visual test refactors
  apps/pie-storybook/stories/testing/pie-cookie-banner.test.stories.ts
  packages/components/pie-cookie-banner/playwright-lit-visual.config.ts
  packages/components/pie-cookie-banner/test/visual/pie-cookie-banner.spec.ts
  packages/components/pie-cookie-banner/turbo.json
Labels: apps, components, pie-storybook, pie-cookie-banner

#2108 feat(pie-radio-group): DSW-2632 add keyboard navigation and focusing
  .changeset/breezy-experts-hear.md
  .changeset/ten-chefs-rescue.md
  apps/pie-storybook/stories/testing/pie-radio-group.test.stories.ts
  apps/pie-storybook/turbo.json
  bundlewatch.config.json
  packages/components/pie-radio-group/src/index.ts
  packages/components/pie-radio-group/test/component/pie-radio-group-new.spec.ts
  packages/components/pie-radio/src/index.ts
  packages/components/pie-webc-testing/src/helpers/page-object/base-page.ts
  packages/components/pie-webc-testing/src/helpers/page-object/storybook-extensions.ts
Labels: apps, components, pie-storybook, pie-webc-testing, pie-radio, pie-radio-group

#2116 docs(pie-monorepo): DSW-000 update readme with component status info
  .changeset/short-brooms-share.md
  apps/pie-docs/component-statuses.json
  apps/pie-storybook/component-statuses.json
  component-statuses.json
  packages/components/README.md
Labels: apps, components, pie-storybook, pie-docs
