Repository justeattakeaway/pie, pull requests merged in 2024-04, with the labels that each got.

#1377 fix(pie-monorepo): DSW-1870 issue where some components didn't use new Turborepo build pipeline
  .changeset/bright-monkeys-guess.md
  packages/components/pie-assistive-text/package.json
  packages/components/pie-chip/package.json
  packages/tools/generator-pie-component/src/app/templates/__package__.json
  yarn.lock
Labels: tools, components, generator-pie-component, pie-assistive-text

#1385 docs(pie-cookie-banner): DSW-000 mention cookie handling in readme
  packages/components/pie-cookie-banner/README.md
  yarn.lock
Labels: components

#1383 feat(pie-switch): DSW-1758 remove unnecessary id
  .changeset/dirty-kings-live.md
  packages/components/pie-switch/src/index.ts
  packages/components/pie-switch/test/component/pie-switch.spec.ts
Labels: components, pie-switch

#1365 docs(pie-storybook): DSW-000 add link to component status
  .changeset/gorgeous-beers-enjoy.md
  .changeset/late-cooks-itch.md
  apps/pie-docs/src/components/component-status/component-status.md
  apps/pie-storybook/.storybook/styles/component-status.scss
  apps/pie-storybook/decorators/component-status.ts
  apps/pie-storybook/docblocks/component-status.jsx
  apps/pie-storybook/interfaces/storybook-context.ts
  apps/pie-storybook/package.json
  yarn.lock
Labels: apps, pie-storybook, pie-docs

#1368 feat(pie-icons-webc): DSW-000 set height and width on icon hosts (follow up)
  packages/components/pie-button/src/button.scss
  packages/components/pie-chip/src/chip.scss
  packages/components/pie-icon-button/src/iconButton.scss
  packages/components/pie-tag/src/tag.scss
  packages/tools/pie-icons-webc/build.js
Labels: tools, components, pie-button, pie-icon-button, pie-tag

#1392 feat(pie-input): DSW-1584 add required prop
  .changeset/stupid-zebras-cough.md
  apps/pie-storybook/stories/pie-input.stories.ts
  packages/components/pie-input/README.md
  packages/components/pie-input/src/defs.ts
  packages/components/pie-input/src/index.ts
  packages/components/pie-input/test/component/pie-input.spec.ts
Labels: apps, components, pie-storybook, pie-input

#1391 chore(pie-monorepo): DSW-1868 add bundle visualiser to build scripts
  .changeset/ninety-boats-yawn.md
  .gitignore
  configs/pie-components-config/vite.config.js
  package.json
  packages/components/README.md
  packages/components/pie-webc-core/README.md
  packages/components/pie-webc-core/vite.config.js
  packages/tools/pie-icons-webc/README.md
  packages/tools/pie-icons-webc/vite.config.js
  yarn.lock
Labels: tools, components, pie-webc-core

#1384 fix(pie-notification): DSW-1900 icons for variants don't work as expected
  .changeset/short-items-shave.md
  apps/pie-storybook/stories/pie-notification.stories.ts
Labels: apps, pie-storybook

#1393 feat(pie-input): DSW-1599 add box styling to input
  .changeset/fifty-shoes-end.md
  packages/components/pie-input/src/index.ts
  packages/components/pie-input/src/input.scss
  packages/components/pie-input/test/component/pie-input.spec.ts
Labels: components, pie-input

#1399 cosmetic(pie-input): DSW-1599 interactive styles
  .changeset/brown-jars-compete.md
  .changeset/late-jokes-knock.md
  .changeset/witty-bottles-applaud.md
  apps/pie-storybook/stories/pie-input-docs/sizes.mdx
  apps/pie-storybook/stories/pie-input.stories.ts
  configs/pie-components-config/playwright/index.html
  packages/components/pie-assistive-text/src/assistive-text.scss
  packages/components/pie-input/src/index.ts
  packages/components/pie-input/src/input.scss
  packages/components/pie-input/test/visual/pie-input.spec.ts
Labels: apps, components, pie-storybook, pie-input, pie-assistive-text, configs, pie-components-config

#1404 fix(pie-chip): DSW-1912 loading state isn't centred correctly
  .changeset/light-hounds-serve.md
  .changeset/neat-geckos-end.md
  .changeset/twenty-buttons-fetch.md
  apps/pie-docs/src/componentStatusData.js
  packages/components/pie-chip/package.json
  packages/components/pie-chip/src/chip.scss
  packages/components/pie-tag/package.json
Labels: apps, components, pie-docs, pie-tag

#1397 chore(pie-webc): DSW-1840 Fix individual component entrypoints
  .changeset/afraid-llamas-reflect.md
  packages/components/pie-webc/.eslintignore
  packages/components/pie-webc/.gitignore
  packages/components/pie-webc/README.md
  packages/components/pie-webc/components/button.d.ts
  packages/components/pie-webc/components/button.js
  packages/components/pie-webc/components/modal.d.ts
  packages/components/pie-webc/components/modal.js
  packages/components/pie-webc/package.json
  packages/components/pie-webc/react/button.d.ts
  packages/components/pie-webc/react/button.js
  packages/components/pie-webc/react/modal.d.ts
  packages/components/pie-webc/react/modal.js
  packages/components/pie-webc/src/index.ts
  packages/components/pie-webc/src/react.ts
  packages/components/pie-webc/tsconfig.json
  packages/components/pie-webc/vite.config.js
  yarn.lock
Labels: components, pie-webc

#1394 [Snyk] Security upgrade dompurify from 3.0.8 to 3.0.11
  apps/pie-storybook/package.json
  yarn.lock
Labels: apps, pie-storybook

#1409 fix(pie-icons-webc): DSW-1686 fix icon SSR issues
  .changeset/brown-apes-deliver.md
  .changeset/plenty-apples-report.md
  .changeset/smooth-beds-suffer.md
  .github/workflows/ci.yml
  .gitignore
  apps/pie-storybook/.storybook/preview.ts
  apps/pie-storybook/.storybook/styles/icons.scss
  apps/pie-storybook/package.json
  apps/pie-storybook/stories/icons.stories.ts
  apps/pie-storybook/types/StoryOptions.ts
  apps/pie-storybook/utilities/index.ts
  packages/tools/pie-icons-webc/PieIconComponent.ts
  packages/tools/pie-icons-webc/README.md
  packages/tools/pie-icons-webc/__snapshots__/test/component/icons-react.spec.js-snapshots/IconAlcohol-component-chrome-darwin.png
  packages/tools/pie-icons-webc/__snapshots__/test/component/icons-react.spec.js-snapshots/IconAlcoholXXL-component-chrome-darwin.png
  packages/tools/pie-icons-webc/build.js
  packages/tools/pie-icons-webc/package.json
  packages/tools/pie-icons-webc/playwright-lit-visual.config.ts
  packages/tools/pie-icons-webc/test/visual/pie-icons-webc.spec.ts
  packages/tools/pie-icons-webc/turbo.json
  yarn.lock
Labels: apps, tools, pie-storybook, please review, pie-icons-webc

#1414 feat(pie-icons): DSW-1867 icons updates
  .changeset/clean-crews-sit.md
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/categorisedIconList.test.js.snap
  packages/tools/pie-icons/src/assets/alert-triangle-filled-large.svg
  packages/tools/pie-icons/src/assets/alert-triangle-filled.svg
  packages/tools/pie-icons/src/assets/alert-triangle-large.svg
  packages/tools/pie-icons/src/assets/alert-triangle.svg
  packages/tools/pie-icons/src/assets/budget-add-large.svg
  packages/tools/pie-icons/src/assets/budget-add.svg
  packages/tools/pie-icons/src/assets/dashboard-filled-large.svg
  packages/tools/pie-icons/src/assets/dashboard-filled.svg
  packages/tools/pie-icons/src/assets/flag-large.svg
  packages/tools/pie-icons/src/assets/flag.svg
  packages/tools/pie-icons/src/assets/instant-bank-filled-large.svg
  packages/tools/pie-icons/src/assets/instant-bank-filled.svg
  packages/tools/pie-icons/src/assets/map-large.svg
  packages/tools/pie-icons/src/assets/map.svg
  packages/tools/pie-icons/src/assets/network-error-large.svg
  packages/tools/pie-icons/src/assets/network-error.svg
  packages/tools/pie-icons/src/assets/notification-off-large.svg
  packages/tools/pie-icons/src/assets/notification-off.svg
  packages/tools/pie-icons/src/assets/payment/bimpli.svg
  packages/tools/pie-icons/src/assets/payment/braintree-paypal.svg
  packages/tools/pie-icons/src/assets/payment/up.svg
  packages/tools/pie-icons/src/assets/pin-code-large.svg
  packages/tools/pie-icons/src/assets/pin-code.svg
  packages/tools/pie-icons/src/assets/prepare.svg
  packages/tools/pie-icons/src/assets/social/twitter-circle-filled-large.svg
  packages/tools/pie-icons/src/assets/social/twitter-circle-filled.svg
  packages/tools/pie-icons/src/assets/social/twitter-circle-large.svg
  packages/tools/pie-icons/src/assets/social/twitter-circle.svg
  packages/tools/pie-icons/src/assets/social/twitter-static-large.svg
  packages/tools/pie-icons/src/assets/social/twitter-static.svg
  packages/tools/pie-icons/src/assets/wallet-add-large.svg
  packages/tools/pie-icons/src/assets/wallet-add.svg
Labels: apps, tools, pie-icons, pie-docs

#1418 feat(pie-checkbox): DSW-1573 create web component skeleton
  .changeset/early-apes-watch.md
  .changeset/witty-rabbits-build.md
  .github/project-labeler.yml
  .github/workflows/ci.yml
  apps/pie-storybook/package.json
  apps/pie-storybook/stories/pie-checkbox.stories.ts
  packages/components/pie-checkbox/.eslintignore
  packages/components/pie-checkbox/README.md
  packages/components/pie-checkbox/custom-elements-manifest.config.mjs
  packages/components/pie-checkbox/declaration.d.ts
  packages/components/pie-checkbox/package.json
  packages/components/pie-checkbox/playwright-lit-visual.config.ts
  packages/components/pie-checkbox/playwright-lit.config.ts
  packages/components/pie-checkbox/src/checkbox.scss
  packages/components/pie-checkbox/src/defs-react.ts
  packages/components/pie-checkbox/src/defs.ts
  packages/components/pie-checkbox/src/index.ts
  packages/components/pie-checkbox/test/accessibility/pie-checkbox.spec.ts
  packages/components/pie-checkbox/test/component/pie-checkbox.spec.ts
  packages/components/pie-checkbox/test/visual/pie-checkbox.spec.ts
  packages/components/pie-checkbox/tsconfig.json
  packages/components/pie-checkbox/vite.config.js
  yarn.lock
Labels: apps, components, pie-storybook, pie-checkbox

#1419 feat(generator-pie-component): DSW-000 update docs and settings
  .changeset/fifty-beans-lie.md
  packages/tools/generator-pie-component/README.md
  packages/tools/generator-pie-component/package.json
  packages/tools/generator-pie-component/src/app/templates/__package__.json
Labels: tools, generator-pie-component

#1423 feat(pie-docs): DSW-1867 add new icons description
  .changeset/smooth-pants-pay.md
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/categorisedIconList.test.js.snap
  apps/pie-docs/src/iconData.json
Labels: apps, pie-docs
