Repository justeattakeaway/pie, pull requests merged in 2024-10, with the labels that each got.

#1952 test(pie-link): DSW-2229 updated visual tests to split by size
  packages/components/pie-link/test/visual/pie-link.spec.ts
Labels: components, pie-link

#1843 docs(pie-docs): DSW-2102 add overlay patterns pages
  .changeset/lovely-points-roll.md
  .changeset/rich-walls-lay.md
  apps/pie-docs/src/assets/img/patterns/overlay-patterns/modal-narrow.svg
  apps/pie-docs/src/assets/img/patterns/overlay-patterns/modal.svg
  apps/pie-docs/src/assets/img/patterns/overlay-patterns/overview.svg
  apps/pie-docs/src/assets/img/patterns/overlay-patterns/popover.svg
  apps/pie-docs/src/assets/img/patterns/overlay-patterns/toast.svg
  apps/pie-docs/src/assets/img/patterns/overlay-patterns/tooltip.svg
  apps/pie-docs/src/assets/img/patterns/overlay-patterns/web-decision-tree.svg
  apps/pie-docs/src/patterns/overlay-patterns/overlay-patterns.json
  apps/pie-docs/src/patterns/overlay-patterns/overlay-patterns.md
  apps/pie-docs/src/patterns/overlay-patterns/overview/overview.md
  apps/pie-docs/src/patterns/overlay-patterns/web-guidance/web-guidance.md
  apps/pie-docs/src/patterns/overlay-patterns/web-guidance/z-indexes.json
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
Labels: apps, pie-docs

#1951 refactor(pie-cookie-banner): DSW-2280 small type / linting changes
  .changeset/eight-beds-camp.md
  packages/components/pie-cookie-banner/src/defs-react.ts
  packages/components/pie-cookie-banner/src/defs.ts
  packages/components/pie-cookie-banner/src/index.ts
  packages/components/pie-cookie-banner/src/localisation-utils.ts
  packages/components/pie-cookie-banner/test/accessibility/pie-cookie-banner.spec.ts
  packages/components/pie-cookie-banner/test/component/pie-cookie-banner.spec.ts
  packages/components/pie-cookie-banner/test/helpers/page-object/pie-cookie-banner.page.ts
  packages/components/pie-cookie-banner/test/unit/localisation-utils.test.ts
  packages/components/pie-cookie-banner/test/visual/pie-cookie-banner.spec.ts
Labels: components, pie-cookie-banner

#1961 fix(pie-modal): DSW-2322 prevent page lock when modal closed
  .changeset/old-eyes-itch.md
  packages/components/pie-modal/src/index.ts
  yarn.lock
Labels: bug, components, pie-modal

#1862 feat(pie-toast): DSW-2204 implement auto-dismiss / persistent feature
  .changeset/itchy-games-fry.md
  apps/pie-storybook/stories/pie-toast-docs/variants.mdx
  apps/pie-storybook/stories/pie-toast.stories.ts
  packages/components/pie-toast/src/defs.ts
  packages/components/pie-toast/src/index.ts
  packages/components/pie-toast/src/toast.scss
  packages/components/pie-toast/test/component/pie-toast.spec.ts
  packages/components/pie-toast/test/visual/pie-toast.spec.ts
  yarn.lock
Labels: apps, components, pie-storybook, pie-toast

#1965 cosmetic(pie-radio): DSW-2308 basic radio styling
  .changeset/rotten-donuts-obey.md
  packages/components/pie-radio/src/index.ts
  packages/components/pie-radio/src/radio.scss
  packages/components/pie-radio/test/visual/pie-radio.spec.ts
  yarn.lock
Labels: components, pie-radio

#1962 fix(pie-docs): DSW-2327 content update changes in text input documentation
  .changeset/gorgeous-squids-design.md
  apps/pie-docs/src/assets/img/components/text-input/behaviour-assistive-text.svg
  apps/pie-docs/src/assets/img/components/text-input/behaviour-payment-method.svg
  apps/pie-docs/src/assets/img/components/text-input/content-formatting-card-number.svg
  apps/pie-docs/src/assets/img/components/text-input/content-input-types-alphanumeric.svg
  apps/pie-docs/src/assets/img/components/text-input/content-input-types-numeric.svg
  apps/pie-docs/src/assets/img/components/text-input/content-input-types-password.svg
  apps/pie-docs/src/assets/img/components/text-input/content-placeholder-do.svg
  apps/pie-docs/src/assets/img/components/text-input/content-placeholder-dont.svg
  apps/pie-docs/src/assets/img/components/text-input/interactive-states-default.svg
  apps/pie-docs/src/assets/img/components/text-input/interactive-states-disabled.svg
  apps/pie-docs/src/assets/img/components/text-input/interactive-states-error.svg
  apps/pie-docs/src/assets/img/components/text-input/interactive-states-focus.svg
  apps/pie-docs/src/assets/img/components/text-input/interactive-states-hover.svg
  apps/pie-docs/src/assets/img/components/text-input/interactive-states-readonly.svg
  apps/pie-docs/src/assets/img/components/text-input/modifiers-payment-method.svg
  apps/pie-docs/src/components/text-input/overview/overview.md
Labels: apps, pie-docs

#1972 feat(pie-docs): DSW-2368 add foundation index page
  .changeset/calm-horses-learn.md
  apps/pie-docs/README.md
  apps/pie-docs/src/_11ty/shortcodes/indexPageDisplay.js
  apps/pie-docs/src/assets/img/index/foundations/colour-mobile.svg
  apps/pie-docs/src/assets/img/index/foundations/colour.svg
  apps/pie-docs/src/assets/img/index/foundations/design-tokens-mobile.svg
  apps/pie-docs/src/assets/img/index/foundations/design-tokens.svg
  apps/pie-docs/src/assets/img/index/foundations/elevation-mobile.svg
  apps/pie-docs/src/assets/img/index/foundations/elevation.svg
  apps/pie-docs/src/assets/img/index/foundations/iconography-mobile.svg
  apps/pie-docs/src/assets/img/index/foundations/iconography.svg
  apps/pie-docs/src/assets/img/index/foundations/illustration-mobile.svg
  apps/pie-docs/src/assets/img/index/foundations/illustration.svg
  apps/pie-docs/src/assets/img/index/foundations/motion-mobile.svg
  apps/pie-docs/src/assets/img/index/foundations/motion.svg
  apps/pie-docs/src/assets/img/index/foundations/radius-mobile.svg
  apps/pie-docs/src/assets/img/index/foundations/radius.svg
  apps/pie-docs/src/assets/img/index/foundations/spacing-mobile.svg
  apps/pie-docs/src/assets/img/index/foundations/spacing.svg
  apps/pie-docs/src/assets/img/index/foundations/typography-mobile.svg
  apps/pie-docs/src/assets/img/index/foundations/typography.svg
  apps/pie-docs/src/foundations/foundations.md
Labels: apps, pie-docs

#1975 fix(pie-modal): DSW-2218 stop esc closing modal (isDismissible=false)
  .changeset/eleven-tigers-happen.md
  .changeset/tricky-apes-think.md
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/test/component/pie-modal.spec.ts
  yarn.lock
Labels: components, pie-modal

#1977 fix(pie-icons): DSW-2448 rename abn-amro payment icon to abn
  .changeset/brown-chefs-sort.md
  packages/tools/pie-icons/src/assets/payment/abn.svg
Labels: tools, pie-icons

#1981 docs(pie-docs): DSW-000 update README testing instructions
  apps/pie-docs/README.md
Labels: apps, pie-docs

#1974 fix(pie-icons): DSW-2447 synchronize icons - part 2
  .changeset/metal-elephants-knock.md
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/categorisedIconList.test.js.snap
  packages/tools/pie-icons/src/assets/crustaceans.svg
  packages/tools/pie-icons/src/assets/fullscreen-exit-large.svg
  packages/tools/pie-icons/src/assets/fullscreen-exit.svg
  packages/tools/pie-icons/src/assets/fullscreen-expand-large.svg
  packages/tools/pie-icons/src/assets/fullscreen-expand.svg
  packages/tools/pie-icons/src/assets/payment/bimpli.svg
  packages/tools/pie-icons/src/assets/payment/braintree-paypal.svg
  packages/tools/pie-icons/src/assets/pet-supplies.svg
  packages/tools/pie-icons/src/assets/prepare.svg
  packages/tools/pie-icons/src/assets/soybeans.svg
  packages/tools/pie-icons/src/assets/sulphites.svg
Labels: apps, tools, pie-icons, pie-docs

#1970 feat(generator-pie-component): DSW-2423 improve pie generator
  .changeset/angry-baboons-wave.md
  .changeset/fuzzy-fans-talk.md
  .changeset/giant-keys-destroy.md
  .changeset/orange-balloons-help.md
  .changeset/poor-pears-beg.md
  .changeset/serious-rules-float.md
  .changeset/shaggy-turkeys-behave.md
  .changeset/smart-plums-argue.md
  .github/project-labeler.yml
  .github/workflows/add-missing-labels/add-missing-labels.js
  .github/workflows/add-missing-labels/get-added-component-packages.js
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  packages/components/pie-webc/src/componentService.js
  packages/components/pie-webc/test/componentService.spec.js
  packages/tools/generator-pie-component/README.md
  packages/tools/generator-pie-component/package.json
  packages/tools/generator-pie-component/src/app/index.ts
  packages/tools/generator-pie-component/src/app/templates/__package__.json
  packages/tools/generator-pie-component/src/app/utils.ts
  packages/tools/generator-pie-component/vite.config.js
  yarn.lock
Labels: tools, components, generator-pie-component, ci, pie-webc

#1982 feat(pie-icon-button): DSW-000 add aria prop to btn and enable browse…
  .changeset/sharp-moons-dress.md
  apps/pie-docs/src/components/icon-button/code/props.json
  apps/pie-storybook/stories/pie-icon-button.stories.ts
  packages/components/pie-icon-button/package.json
  packages/components/pie-icon-button/src/defs.ts
  packages/components/pie-icon-button/src/index.ts
  packages/components/pie-icon-button/test/accessibility/pie-icon-button.spec.ts
  packages/components/pie-icon-button/test/component/pie-icon-button.spec.ts
Labels: apps, components, pie-storybook, pie-docs, pie-icon-button

#1967 feat(pie-tag): DSW-2465 support new variants
  .changeset/sweet-garlics-eat.md
  apps/pie-docs/src/components/tag/code/props.json
  apps/pie-storybook/stories/pie-tag-docs/variants.mdx
  apps/pie-storybook/stories/pie-tag.stories.ts
  packages/components/pie-tag/src/defs.ts
  packages/components/pie-tag/src/tag.scss
  packages/components/pie-tag/test/component/pie-tag.spec.ts
Labels: apps, components, pie-storybook, pie-docs, pie-tag

#1991 fix(pie-tag): DSW-2465 update active and hover tokens for brand-06
  .changeset/fluffy-pears-decide.md
  packages/components/pie-tag/src/tag.scss
Labels: components, pie-tag

#1990 fix(pie-textarea): DSW-2470 allow resize on programmatic value change
  .changeset/sweet-seahorses-dream.md
  packages/components/pie-textarea/src/index.ts
  packages/components/pie-textarea/test/visual/pie-textarea.spec.ts
Labels: components, pie-textarea

#1992 chore(pie-monorepo): DSW-000 remove Next / Nuxt 3 / Vanilla example apps
  .github/workflows/example-apps-ci.yml
  apps/examples/wc-next10/.eslintignore
  apps/examples/wc-next10/.gitignore
  apps/examples/wc-next10/.yarn/plugins/@yarnpkg/plugin-engines.cjs
  apps/examples/wc-next10/.yarnrc.yml
  apps/examples/wc-next10/ButtonSizes.js
  apps/examples/wc-next10/CHANGELOG.md
  apps/examples/wc-next10/Counter.js
  apps/examples/wc-next10/README.md
  apps/examples/wc-next10/VariantSwitch.js
  apps/examples/wc-next10/babel.config.js
  apps/examples/wc-next10/eslintrc.js
  apps/examples/wc-next10/jsconfig.json
  apps/examples/wc-next10/next.config.js
  apps/examples/wc-next10/package.json
  apps/examples/wc-next10/pages/_app.jsx
  apps/examples/wc-next10/pages/_document.jsx
  apps/examples/wc-next10/pages/index.jsx
  apps/examples/wc-next10/public/favicon.ico
  apps/examples/wc-next10/styles/styles.css
  apps/examples/wc-next13/.eslintrc.cjs
  apps/examples/wc-next13/.gitignore
  apps/examples/wc-next13/CHANGELOG.md
  apps/examples/wc-next13/README.md
  apps/examples/wc-next13/eslintrc.js
  apps/examples/wc-next13/index.html
  apps/examples/wc-next13/next.config.js
  apps/examples/wc-next13/package.json
  apps/examples/wc-next13/src/App.css
  apps/examples/wc-next13/src/App.jsx
  apps/examples/wc-next13/src/main.jsx
  apps/examples/wc-next13/vite.config.js
  apps/examples/wc-nuxt3/.gitignore
  apps/examples/wc-nuxt3/CHANGELOG.md
  apps/examples/wc-nuxt3/README.md
  apps/examples/wc-nuxt3/app.vue
  apps/examples/wc-nuxt3/assets/css/styles.css
  apps/examples/wc-nuxt3/nuxt.config.ts
  apps/examples/wc-nuxt3/package.json
  apps/examples/wc-vanilla/.gitignore
  apps/examples/wc-vanilla/CHANGELOG.md
  apps/examples/wc-vanilla/counter.js
  apps/examples/wc-vanilla/index.html
  apps/examples/wc-vanilla/main.js
  apps/examples/wc-vanilla/package.json
  apps/examples/wc-vanilla/style.css
Labels: apps, ci

#1994 docs(pie-cookie-banner): DSW-000 bump version to stable
  packages/components/pie-cookie-banner/package.json
Labels: components, pie-cookie-banner

#1993 refactor(pie-monorepo): DSW-2470 convert test magic numbers to constants
  packages/components/pie-textarea/test/visual/pie-textarea.spec.ts
  packages/components/pie-toast/test/component/pie-toast.spec.ts
Labels: components, pie-textarea, pie-toast

#2001 fix(stylelint-config-pie): DSW-000 add js extension to rule imports for ESM compat
  .changeset/tricky-ads-allow.md
  packages/tools/stylelint-config-pie/index.js
Labels: tools, stylelint-config-pie

#2009 feat(generator-pie-component): DSW-000 Add yo prompt package validation
  .changeset/bright-cows-sparkle.md
  packages/tools/generator-pie-component/src/app/prompts.ts
Labels: tools, generator-pie-component

#2008 fix(pie-modal): DSW-2530 pie-button in form slot closes the modal on form submit
  .changeset/olive-lamps-shake.md
  apps/pie-storybook/stories/pie-modal.stories.ts
  packages/components/pie-modal/package.json
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/test/component/pie-modal.spec.ts
  yarn.lock
Labels: apps, components, pie-storybook, pie-modal

#2011 chore(pie-monorepo): DSW-000 Update CI workflow
  .github/actions/amplify-teardown/action.yml
  .github/actions/run-script/action.yml
  .github/workflows/dangerjs-checks.yml
  .github/workflows/example-apps-ci.yml
  .github/workflows/install-build.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-title-linter.yml
Labels: ci

#2012 docs(pie-docs): DSW-000 adds missing description on index pages
  .changeset/fair-bikes-beam.md
  apps/pie-docs/src/components/components.json
  apps/pie-docs/src/foundations/foundations.json
Labels: apps, pie-docs

#2017 fix(pie-tag): DSW-2524 fix interactive tags don't use the pointer cursor
  .changeset/pretty-dryers-sneeze.md
  packages/components/pie-tag/src/tag.scss
Labels: components, pie-tag
