Repository justeattakeaway/pie, pull requests merged in 2025-01, with the labels that each got.

#2134 fix(pie-monorepo): WCP-000 downgrade GHA runner to fix playwright dep issue with ubuntu-latest
  .github/workflows/ci.yml
  yarn.lock
Labels: ci

#2131 docs(pie-docs): DSW-2326 update focus state of some components
  .changeset/serious-pets-turn.md
  apps/pie-docs/src/assets/img/components/button/interactive-state-focus.svg
  apps/pie-docs/src/assets/img/components/card/interactive-state-focus.svg
  apps/pie-docs/src/assets/img/components/chip/interactive-state-focus.svg
  apps/pie-docs/src/assets/img/components/icon-button/interactive-state-focus.svg
  apps/pie-docs/src/assets/img/components/switch/interactive-states-focus.svg
Labels: apps, pie-docs

#2128 test(pie-divider): DSW-2374 Refactored pie-divider to use page object
  apps/pie-storybook/stories/testing/pie-divider.test.stories.ts
  apps/pie-storybook/utilities/index.ts
  packages/components/pie-divider/playwright-lit-visual.config.ts
  packages/components/pie-divider/playwright-lit.config.ts
  packages/components/pie-divider/test/accessibility/pie-divider.spec.ts
  packages/components/pie-divider/test/component/pie-divider.spec.ts
  packages/components/pie-divider/test/visual/pie-divider.spec.ts
  packages/components/pie-divider/turbo.json
Labels: apps, components, pie-storybook, pie-divider

#2137 test(pie-chip): DSW-2373 refactor pie-chip component/a11y tests to use @playwright/test
  apps/pie-storybook/stories/testing/pie-chip.test.stories.ts
  packages/components/pie-chip/playwright-lit.config.ts
  packages/components/pie-chip/test/accessibility/pie-chip.spec.ts
  packages/components/pie-chip/test/component/pie-chip.spec.ts
  packages/components/pie-chip/test/helpers/page-object/selectors.ts
  packages/components/pie-chip/turbo.json
Labels: apps, components, pie-storybook, pie-chip

#2098 feat(pie-toast-provider): DSW-2222 toast provider basic functionality
  .changeset/tiny-eels-play.md
  apps/pie-docs/src/components/toast/overview/priority-queue.json
  apps/pie-storybook/stories/pie-toast-provider.stories.ts
  apps/pie-storybook/stories/testing/pie-chip.test.stories.ts
  apps/pie-storybook/stories/testing/pie-toast-provider.test.stories.ts
  packages/components/pie-toast-provider/package.json
  packages/components/pie-toast-provider/playwright-lit-visual.config.ts
  packages/components/pie-toast-provider/playwright-lit.config.ts
  packages/components/pie-toast-provider/src/defs.ts
  packages/components/pie-toast-provider/src/index.ts
  packages/components/pie-toast-provider/src/toast-provider.scss
  packages/components/pie-toast-provider/src/toaster.ts
  packages/components/pie-toast-provider/test/accessibility/pie-toast-provider.spec.ts
  packages/components/pie-toast-provider/test/component/pie-toast-provider.spec.ts
  packages/components/pie-toast-provider/test/helpers/page-object/selectors.ts
  packages/components/pie-toast-provider/test/visual/pie-toast-provider.spec.ts
  packages/components/pie-toast/src/toast.scss
  yarn.lock
Labels: apps, components, pie-storybook, pie-docs, pie-toast, pie-toast-provider

#2144 feat(pie-toast-provider): DSW-0000 move toast and toast provider to beta
  .changeset/cold-jobs-exist.md
  packages/components/pie-toast-provider/package.json
  packages/components/pie-toast/package.json
  yarn.lock
Labels: components, pie-toast, pie-toast-provider

#2139 refactor(pie-modal): DSW-2379 tests to use `@playwright/test` package
  apps/pie-storybook/stories/testing/pie-chip.test.stories.ts
  apps/pie-storybook/stories/testing/pie-modal.test.stories.ts
  apps/pie-storybook/stories/testing/pie-toast-provider.test.stories.ts
  packages/components/pie-modal/playwright-lit-visual.config.ts
  packages/components/pie-modal/playwright-lit.config.ts
  packages/components/pie-modal/test/component/pie-modal.spec.ts
  packages/components/pie-modal/test/helpers/page-object/pie-modal-default.page.ts
  packages/components/pie-modal/test/helpers/page-object/pie-modal-embedded-form.page.ts
  packages/components/pie-modal/test/helpers/page-object/pie-modal-focus-to-first-matching-element.page.ts
  packages/components/pie-modal/test/helpers/page-object/pie-modal-focus-to-specified-element.page.ts
  packages/components/pie-modal/test/helpers/page-object/pie-modal-large-text-content.page.ts
  packages/components/pie-modal/test/helpers/page-object/pie-modal-scroll-locking.page.ts
  packages/components/pie-modal/test/helpers/page-object/pie-modal.component.ts
  packages/components/pie-modal/test/helpers/page-object/pie-modal.page.ts
  packages/components/pie-modal/test/helpers/page-object/selectors.ts
  packages/components/pie-modal/test/visual/pie-modal.spec.ts
  packages/components/pie-modal/turbo.json
  packages/components/pie-thumbnail/test/accessibility/pie-thumbnail.spec.ts
Labels: apps, components, pie-storybook, pie-modal, pie-thumbnail

#2143 chore(pie-monorepo): PEW-79 pie-design-tokens update to 6.8.1
  .changeset/rich-peas-try.md
  .changeset/thin-coats-perform.md
  .changeset/tiny-chefs-visit.md
  apps/pie-docs/package.json
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/tokensTable.test.js.snap
  apps/pie-docs/src/_utilities/tokens.js
  apps/pie-docs/src/assets/styles/components/_tokensTable.scss
  apps/pie-storybook/package.json
  package.json
  packages/components/pie-card/src/card.scss
  packages/components/pie-modal/package.json
  packages/tools/pie-css/test/css/__snapshots__/css.spec.ts.snap
  yarn.lock
Labels: apps, tools, components, pie-storybook, pie-docs, pie-modal, pie-css, pie-card

#2151 format(pie-modal): DSW-000 fix linting
  apps/pie-storybook/stories/testing/pie-modal.test.stories.ts
Labels: apps, pie-storybook

#2115 fix(pie-text-input): DSW-000 component font fixes
  .changeset/strange-coats-talk.md
  .changeset/wet-fishes-look.md
  packages/components/pie-divider/src/divider.scss
  packages/components/pie-text-input/src/text-input.scss
Labels: components, pie-divider, pie-text-input

#2154 fix(pie-cookie-banner): DSW-000 fix cookie-banner tests
  packages/components/pie-cookie-banner/test/component/pie-cookie-banner-locale.spec.ts
  packages/components/pie-cookie-banner/test/component/pie-cookie-banner.spec.ts
  packages/components/pie-cookie-banner/test/helpers/page-object/pie-cookie-banner.page.ts
Labels: components, pie-cookie-banner

#2150 fix(pie-monorepo): DSW-000 replace console.log with console.info
  apps/pie-storybook/stories/testing/pie-chip.test.stories.ts
  apps/pie-storybook/stories/testing/pie-toast-provider.test.stories.ts
Labels: apps, pie-storybook

#2156 fix(pie-notification): DSW-000 allow html in the notification slot
  apps/pie-storybook/stories/pie-notification.stories.ts
  apps/pie-storybook/stories/testing/pie-notification.test.stories.ts
Labels: apps, pie-storybook

#2138 feat(pie-thumbnail): DSW-2580 add basic thumbnail functionality
  .changeset/wicked-windows-admire.md
  apps/pie-storybook/stories/pie-thumbnail.stories.ts
  apps/pie-storybook/stories/testing/pie-thumbnail.test.stories.ts
  packages/components/pie-thumbnail/src/defs.ts
  packages/components/pie-thumbnail/src/index.ts
  packages/components/pie-thumbnail/src/thumbnail.scss
  packages/components/pie-thumbnail/test/visual/pie-thumbnail.spec.ts
Labels: apps, components, pie-storybook, pie-thumbnail

#2133 feat(pie-radio-group): DSW-2634 make screenreaders narrate index and selected
  .changeset/two-boxes-lie.md
  packages/components/pie-radio-group/src/index.ts
  packages/components/pie-radio-group/test/component/pie-radio-group-new.spec.ts
  packages/components/pie-radio/src/index.ts
  packages/components/pie-radio/src/radio.scss
  packages/components/pie-radio/test/component/pie-radio.spec.ts
Labels: components, pie-radio, pie-radio-group

#2153 refactor(pie-card): DSW-2370 tests to use `@playwright/test`
  apps/pie-storybook/.storybook/backgrounds.ts
  apps/pie-storybook/.storybook/preview.ts
  apps/pie-storybook/stories/testing/pie-card.test.stories.ts
  apps/pie-storybook/stories/testing/pie-divider.test.stories.ts
  apps/pie-storybook/types/StoryOptions.ts
  apps/pie-storybook/utilities/index.ts
  packages/components/pie-card/playwright-lit-visual.config.ts
  packages/components/pie-card/playwright-lit.config.ts
  packages/components/pie-card/src/index.ts
  packages/components/pie-card/test/accessibility/pie-card.spec.ts
  packages/components/pie-card/test/component/pie-card.spec.ts
  packages/components/pie-card/test/helpers/page-object/pie-card-default.page.ts
  packages/components/pie-card/test/helpers/page-object/pie-card-with-image.page.ts
  packages/components/pie-card/test/helpers/page-object/pie-card.component.ts
  packages/components/pie-card/test/helpers/page-object/selectors.ts
  packages/components/pie-card/test/visual/pie-card.spec.ts
  packages/components/pie-card/turbo.json
  yarn.lock
Labels: apps, components, pie-storybook, pie-card

#2157 cosmetic(pie-radio-group): DSW-2633 minor styling tweaks
  .changeset/nasty-kings-hang.md
  apps/pie-storybook/stories/pie-radio.stories.ts
  packages/components/pie-radio-group/src/radio-group.scss
  packages/components/pie-radio/src/radio.scss
  packages/components/pie-radio/test/visual/pie-radio.spec.ts
Labels: apps, components, pie-storybook, pie-radio, pie-radio-group

#2152 fix(pie-modal): DSW-2676 ensure the page doesn't scroll when the modal is opened
  .changeset/itchy-peas-develop.md
  apps/pie-storybook/stories/pie-modal.stories.ts
  apps/pie-storybook/stories/testing/pie-modal.test.stories.ts
  packages/components/pie-cookie-banner/test/visual/pie-cookie-banner.spec.ts
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/src/modal.scss
  packages/components/pie-modal/test/component/pie-modal.spec.ts
  packages/components/pie-modal/test/helpers/page-object/pie-modal-scroll-locking.page.ts
Labels: apps, components, pie-storybook, pie-modal, pie-cookie-banner

#2160 refactor(pie-assistive-text): DSW-2331 tests to use `@playwright/test`
  apps/pie-storybook/stories/testing/pie-assistive-text.test.stories.ts
  packages/components/pie-assistive-text/playwright-lit-visual.config.ts
  packages/components/pie-assistive-text/playwright-lit.config.ts
  packages/components/pie-assistive-text/test/accessibility/pie-assistive-text.spec.ts
  packages/components/pie-assistive-text/test/component/pie-assistive-text.spec.ts
  packages/components/pie-assistive-text/test/helpers/page-object/selectors.ts
  packages/components/pie-assistive-text/test/visual/pie-assistive-text.spec.ts
  packages/components/pie-assistive-text/turbo.json
Labels: apps, components, pie-storybook, pie-assistive-text

#2159 refactor(pie-form-label): DSW-2375 tests to use `@playwright/test`
  apps/pie-storybook/stories/testing/pie-form-label.test.stories.ts
  packages/components/pie-form-label/playwright-lit-visual.config.ts
  packages/components/pie-form-label/playwright-lit.config.ts
  packages/components/pie-form-label/test/accessibility/pie-form-label.spec.ts
  packages/components/pie-form-label/test/component/pie-form-label.spec.ts
  packages/components/pie-form-label/test/helpers/page-object/selectors.ts
  packages/components/pie-form-label/test/visual/pie-form-label.spec.ts
  packages/components/pie-form-label/turbo.json
Labels: apps, components, pie-storybook, pie-form-label

#2163 refactor(pie-spinner): DSW-2381 tests to use `@playwright/test`
  apps/pie-storybook/stories/testing/pie-spinner.test.stories.ts
  packages/components/pie-spinner/playwright-lit-visual.config.ts
  packages/components/pie-spinner/playwright-lit.config.ts
  packages/components/pie-spinner/test/accessibility/pie-spinner.spec.ts
  packages/components/pie-spinner/test/component/pie-spinner.spec.ts
  packages/components/pie-spinner/test/helpers/page-object/selectors.ts
  packages/components/pie-spinner/test/visual/pie-spinner.spec.ts
  packages/components/pie-spinner/turbo.json
Labels: apps, components, pie-storybook, pie-spinner

#2161 refactor(pie-icon-button): DSW-2376 tests to use `@playwright/test`
  apps/pie-storybook/stories/testing/pie-icon-button.test.stories.ts
  packages/components/pie-icon-button/playwright-lit-visual.config.ts
  packages/components/pie-icon-button/playwright-lit.config.ts
  packages/components/pie-icon-button/test/accessibility/pie-icon-button.spec.ts
  packages/components/pie-icon-button/test/component/pie-icon-button.spec.ts
  packages/components/pie-icon-button/test/helpers/page-object/selectors.ts
  packages/components/pie-icon-button/test/visual/pie-icon-button.spec.ts
  packages/components/pie-icon-button/turbo.json
Labels: apps, components, pie-storybook, pie-icon-button

#2165 refactor(pie-tag): DSW-2383 Refactored pie-tag to use @playwright/test
  apps/pie-storybook/stories/testing/pie-tag.test.stories.ts
  packages/components/pie-tag/playwright-lit-visual.config.ts
  packages/components/pie-tag/playwright-lit.config.ts
  packages/components/pie-tag/test/accessibility/pie-tag.spec.ts
  packages/components/pie-tag/test/component/pie-tag.spec.ts
  packages/components/pie-tag/test/helpers/page-object/selectors.ts
  packages/components/pie-tag/test/visual/pie-tag.spec.ts
  packages/components/pie-tag/turbo.json
Labels: apps, components, pie-storybook, pie-tag

#2169 chore(pie-css): DSW-000 adds TURBO_DAFAULT to invalidate cache for changes in root
  .changeset/tough-wombats-refuse.md
  packages/tools/pie-css/turbo.json
Labels: tools, pie-css

#2171 format(pie-tag): DSW-000 minor lint fix in `pie-tag.test.stories.ts`
  apps/pie-storybook/stories/testing/pie-tag.test.stories.ts
Labels: apps, pie-storybook

#2167 feat(pie-radio-group): DSW-2636 apply name prop to child radio buttons and update test-aperture
  .changeset/wet-gorillas-attack.md
  apps/pie-storybook/stories/testing/pie-radio-group.test.stories.ts
  packages/components/pie-radio-group/src/index.ts
  packages/components/pie-radio-group/test/component/pie-radio-group-new.spec.ts
  packages/tools/pie-monorepo-utils/changeset-snapshot/test-aperture.js
Labels: apps, tools, components, pie-storybook, pie-radio-group, pie-monorepo-utils

#2168 feat(pie-thumbnail): DSW-2583 2584 2585 Add disabled, has padding, backgroundColor and placeholder props
  .changeset/selfish-walls-knock.md
  apps/pie-storybook/stories/pie-thumbnail.stories.ts
  apps/pie-storybook/stories/testing/pie-thumbnail.test.stories.ts
  packages/components/pie-thumbnail/src/defs.ts
  packages/components/pie-thumbnail/src/index.ts
  packages/components/pie-thumbnail/src/thumbnail.scss
  packages/components/pie-thumbnail/test/accessibility/pie-thumbnail.spec.ts
  packages/components/pie-thumbnail/test/component/pie-thumbnail.spec.ts
  packages/components/pie-thumbnail/test/helpers/selectors.ts
  packages/components/pie-thumbnail/test/visual/pie-thumbnail.spec.ts
Labels: apps, components, pie-storybook, pie-thumbnail

#2176 fix(pie-thumbnail): DSW-2584 update background class names to camelCase
  .changeset/funny-rabbits-drum.md
  packages/components/pie-thumbnail/src/defs.ts
  packages/components/pie-thumbnail/src/index.ts
  packages/components/pie-thumbnail/src/thumbnail.scss
Labels: components, pie-thumbnail

#2109 refactor(pie-button): DSW-2369 to use @playwright/test & storybook for testing
  apps/pie-storybook/stories/testing/pie-button.test.stories.ts
  apps/pie-storybook/utilities/index.ts
  configs/pie-components-config/playwright-native-config.js
  packages/components/pie-assistive-text/test/component/pie-assistive-text.spec.ts
  packages/components/pie-button/playwright-lit-visual.config.ts
  packages/components/pie-button/playwright-lit.config.ts
  packages/components/pie-button/test/accessibility/pie-button.spec.ts
  packages/components/pie-button/test/component/pie-button.spec.ts
  packages/components/pie-button/test/helpers/page-object/pie-button-anchor.page.ts
  packages/components/pie-button/test/helpers/page-object/pie-button-default.page.ts
  packages/components/pie-button/test/helpers/page-object/pie-button-form-attributes.page.ts
  packages/components/pie-button/test/helpers/page-object/pie-button-form-integration-selectors.ts
  packages/components/pie-button/test/helpers/page-object/pie-button-form-integration.page.ts
  packages/components/pie-button/test/helpers/page-object/pie-button-form-submission.page.ts
  packages/components/pie-button/test/helpers/page-object/pie-button.component.ts
  packages/components/pie-button/test/visual/pie-button-anchor.spec.ts
  packages/components/pie-button/test/visual/pie-button-size.spec.ts
  packages/components/pie-button/test/visual/pie-button.spec.ts
  packages/components/pie-button/turbo.json
Labels: apps, components, pie-button, pie-storybook, please review, pie-assistive-text, configs, pie-components-config

#2174 refactor(pie-checkbox-group): DSW-2372 tests to use `@playwright/test`
  apps/pie-storybook/stories/testing/pie-checkbox-group.test.stories.ts
  packages/components/pie-checkbox-group/playwright-lit-visual.config.ts
  packages/components/pie-checkbox-group/playwright-lit.config.ts
  packages/components/pie-checkbox-group/src/index.ts
  packages/components/pie-checkbox-group/test/accessibility/pie-checkbox-group.spec.ts
  packages/components/pie-checkbox-group/test/component/pie-checkbox-group.spec.ts
  packages/components/pie-checkbox-group/test/helpers/page-object/selectors.ts
  packages/components/pie-checkbox-group/test/visual/pie-checkbox-group.spec.ts
  packages/components/pie-checkbox-group/turbo.json
Labels: apps, components, pie-storybook, please review, pie-checkbox-group

#2177 fix(pie-thumbnail): DSW-2585 Ensure the placeholder logic is working properly with SSR
  .changeset/sixty-schools-collect.md
  packages/components/pie-thumbnail/src/index.ts
Labels: components, pie-thumbnail

#2178 refactor(pie-toast): DSW-2386 refactored toast to use `@playwright/test`
  apps/pie-storybook/stories/testing/pie-toast.test.stories.ts
  apps/pie-storybook/utilities/index.ts
  configs/pie-components-config/playwright-native-config.js
  packages/components/pie-toast/playwright-lit-visual.config.ts
  packages/components/pie-toast/playwright-lit.config.ts
  packages/components/pie-toast/test/accessibility/pie-toast.spec.ts
  packages/components/pie-toast/test/component/pie-toast.spec.ts
  packages/components/pie-toast/test/helpers/page-object/selectors.ts
  packages/components/pie-toast/test/visual/pie-toast.spec.ts
  packages/components/pie-toast/turbo.json
  yarn.lock
Labels: apps, components, pie-storybook, configs, pie-components-config, pie-toast

#2179 refactor(pie-icons-webc): DSW-2755 tests to use `@playwright/test`
  .github/workflows/ci.yml
  apps/pie-storybook/stories/testing/icons.test.stories.ts
  packages/tools/pie-icons-webc/playwright-lit-visual.config.ts
  packages/tools/pie-icons-webc/playwright-lit.config.ts
  packages/tools/pie-icons-webc/test/component/icon-webc.spec.js
  packages/tools/pie-icons-webc/test/helpers/page-object/selectors.ts
  packages/tools/pie-icons-webc/test/visual/pie-icons-webc.spec.ts
  packages/tools/pie-icons-webc/turbo.json
  yarn.lock
Labels: apps, tools, pie-storybook, ci

#2183 fix(pie-radio): DSW-000 ensure focus ring only appears on keyboard focus
  .changeset/large-coins-design.md
  packages/components/pie-radio/src/radio.scss
Labels: components, pie-radio
