Repository justeattakeaway/pie, pull requests merged in 2025-06, with the labels that each got.

#2400 ci(pie-monorepo): DSW-000 upgrade `actions@setup-node@v4.4.0`
  .github/actions/setup-repo/action.yml
  .github/dependabot.yml
Labels: ci

#2403 feat(pie-css): DSW-3102 fix switch layout and set the display prop for each component
  .changeset/bright-eels-complain.md
  .changeset/crazy-fish-jump.md
  .changeset/eight-chairs-design.md
  .changeset/great-bear-run.md
  .changeset/selfish-trains-lick.md
  .changeset/wild-gifts-worry.md
  .changeset/yellow-lamps-yawn.md
  packages/components/pie-assistive-text/src/assistive-text.scss
  packages/components/pie-breadcrumb/src/breadcrumb.scss
  packages/components/pie-button/src/button.scss
  packages/components/pie-button/src/index.ts
  packages/components/pie-card/src/card.scss
  packages/components/pie-checkbox-group/src/checkbox-group.scss
  packages/components/pie-checkbox/src/checkbox.scss
  packages/components/pie-chip/src/chip.scss
  packages/components/pie-divider/src/divider.scss
  packages/components/pie-divider/src/index.ts
  packages/components/pie-form-label/src/form-label.scss
  packages/components/pie-icon-button/src/iconButton.scss
  packages/components/pie-link/src/index.ts
  packages/components/pie-link/src/link.scss
  packages/components/pie-list/src/list.scss
  packages/components/pie-lottie-player/src/index.ts
  packages/components/pie-lottie-player/src/lottie-player.scss
  packages/components/pie-notification/src/notification.scss
  packages/components/pie-radio-group/src/radio-group.scss
  packages/components/pie-radio/src/radio.scss
  packages/components/pie-select/src/select.scss
  packages/components/pie-spinner/src/spinner.scss
  packages/components/pie-switch/src/switch.scss
  packages/components/pie-tag/src/tag.scss
  packages/components/pie-text-input/src/text-input.scss
  packages/components/pie-textarea/src/textarea.scss
  packages/components/pie-thumbnail/src/thumbnail.scss
  packages/tools/generator-pie-component/src/app/templates/src/placeholder.scss
Labels: tools, components, pie-button, pie-icon-button, generator-pie-component, pie-divider, pie-link, pie-form-label, pie-switch, pie-card, pie-notification, pie-spinner, pie-tag, pie-assistive-text, pie-chip, pie-checkbox, pie-text-input, pie-textarea, pie-checkbox-group, pie-lottie-player, pie-radio, pie-radio-group, pie-thumbnail, pie-select, pie-breadcrumb, pie-list

#2411 fix(pie-switch): DSW-3081 set dependency as dev dependency
  .changeset/eighty-doors-sin.md
  packages/components/pie-switch/package.json
Labels: components, pie-switch

#2402 feat(pie-docs): DSW-3008 Iconography Search Bar & Notification
  .changeset/perfect-planes-pay.md
  apps/pie-docs/src/_11ty/shortcodes/categorisedIconList.js
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/categorisedIconList.test.js.snap
  apps/pie-docs/src/assets/js/categorised-icon-list-filter.js
  apps/pie-docs/src/assets/js/categorised-icon-list-helpers.js
  apps/pie-docs/src/assets/js/pie-components-imports.js
  apps/pie-docs/src/assets/styles/components/_categorisedIconList.scss
Labels: apps, pie-docs

#2414 format(pie-monorepo): DSW-3133 fix lint warnings
  .changeset/new-mails-sit.md
  apps/pie-docs/src/_11ty/shortcodes/helpers/baseNotification.js
  packages/components/pie-list/test/accessibility/pie-list.spec.ts
  packages/components/pie-webc-core/src/test/decorators/safe-custom-element.spec.ts
  packages/tools/generator-pie-component/src/app/templates/test/accessibility/pie-placeholder.__spec__.ts
Labels: apps, tools, components, pie-docs, pie-webc-core, generator-pie-component, pie-list

#2415 feat(pie-storybook): DSW-3002 add browser test docs to storybook
  .changeset/large-mirrors-dance.md
  apps/pie-storybook/.storybook/preview.ts
  apps/pie-storybook/stories/contribution/testing/browser-tests.mdx
  apps/pie-storybook/stories/contribution/testing/testing-overview.mdx
Labels: apps, pie-storybook

#2420 feat(pie-storybook): DSW-3002 add vrt documentation to sb
  .changeset/angry-cougars-reflect.md
  apps/pie-storybook/.storybook/preview.ts
  apps/pie-storybook/stories/component-statuses.mdx
  apps/pie-storybook/stories/contribution/testing/testing-overview.mdx
  apps/pie-storybook/stories/contribution/testing/visual-tests.mdx
  apps/pie-storybook/stories/introduction/getting-started.mdx
Labels: apps, pie-storybook

#2412 docs(pie-docs): DSW-3007 Iconography Naming Conventions
  .changeset/violet-poets-smile.md
  apps/pie-docs/src/assets/img/foundations/iconography/icons-example-code-section.png
  apps/pie-docs/src/foundations/iconography/code.md
Labels: apps, pie-docs

#2423 feat(pie-storybook): DSW-3143 small cookbook for design token usage
  .changeset/twelve-trains-rule.md
  apps/pie-storybook/.storybook/preview.ts
  apps/pie-storybook/stories/introduction/design-tokens-cookbook.mdx
Labels: apps, pie-storybook

#2421 chore(pie-monorepo): DSW-3141 update vite & remove wc-nuxt2
  .changeset/proud-peaches-accept.md
  .github/workflows/example-apps-ci.yml
  .gitignore
  apps/examples/wc-nuxt2/.gitignore
  apps/examples/wc-nuxt2/.yarn/plugins/@yarnpkg/plugin-engines.cjs
  apps/examples/wc-nuxt2/.yarnrc.yml
  apps/examples/wc-nuxt2/CHANGELOG.md
  apps/examples/wc-nuxt2/README.md
  apps/examples/wc-nuxt2/assets/styles/fonts.css
  apps/examples/wc-nuxt2/assets/styles/web-components.css
  apps/examples/wc-nuxt2/nuxt.config.js
  apps/examples/wc-nuxt2/package.json
  apps/examples/wc-nuxt2/pages/index.vue
  apps/examples/wc-nuxt2/plugins/web-components.js
  apps/examples/wc-react17/package.json
  apps/examples/wc-react18/package.json
  package.json
  turbo.json
  yarn.lock
Labels: apps, ci

#2429 feat(pie-storybook): DSW-3002 add integration testing docs to sb
  .changeset/fifty-melons-grab.md
  apps/pie-storybook/stories/contribution/testing/aperture-integration-tests.mdx
  apps/pie-storybook/stories/contribution/testing/testing-overview.mdx
  yarn.lock
Labels: apps, pie-storybook

#2431 feat(pie-storybook): DSW-3001 add contribution guide to sb
  .changeset/brave-lizards-work.md
  apps/pie-storybook/.storybook/preview.ts
  apps/pie-storybook/stories/contribution/overview.mdx
Labels: apps, pie-storybook

#2434 fix(pie-docs): DSW-000 remove duplicate file differing by case
  apps/pie-docs/src/assets/img/components/breadcrumb/Interactions.svg
Labels: apps, pie-docs

#2439 feat(pie-docs): DSW-3058 point to sb from code page (batch 1)
  .changeset/strong-schools-dance.md
  apps/pie-docs/src/components/breadcrumb/code/breadcrumb-item-props.json
  apps/pie-docs/src/components/breadcrumb/code/breadcrumb-props.json
  apps/pie-docs/src/components/breadcrumb/code/code.md
  apps/pie-docs/src/components/breadcrumb/code/slots.json
  apps/pie-docs/src/components/button/code/code.md
  apps/pie-docs/src/components/button/code/props.json
  apps/pie-docs/src/components/button/code/slots.json
  apps/pie-docs/src/components/card/code/code.md
  apps/pie-docs/src/components/card/code/props.json
  apps/pie-docs/src/components/card/code/slots.json
  apps/pie-docs/src/components/checkbox-group/code/code.md
  apps/pie-docs/src/components/checkbox-group/code/props.json
  apps/pie-docs/src/components/checkbox-group/code/slots.json
  apps/pie-docs/src/components/checkbox/code/code.md
  apps/pie-docs/src/components/checkbox/code/events.json
  apps/pie-docs/src/components/checkbox/code/props.json
  apps/pie-docs/src/components/checkbox/code/slots.json
  apps/pie-docs/src/components/chip/code/code.md
  apps/pie-docs/src/components/chip/code/events.json
  apps/pie-docs/src/components/chip/code/props.json
  apps/pie-docs/src/components/chip/code/slots.json
  apps/pie-docs/src/components/divider/code/code.md
  apps/pie-docs/src/components/divider/code/props.json
  apps/pie-docs/src/components/form-label/code/code.md
  apps/pie-docs/src/components/form-label/code/props.json
  apps/pie-docs/src/components/form-label/code/slots.json
  apps/pie-docs/src/components/icon-button/code/code.md
  apps/pie-docs/src/components/icon-button/code/props.json
  apps/pie-docs/src/components/link/code/code.md
  apps/pie-docs/src/components/link/code/props.json
  apps/pie-docs/src/components/link/code/slots.json
  apps/pie-docs/src/components/modal/code/code.md
  apps/pie-docs/src/components/modal/code/events.json
  apps/pie-docs/src/components/modal/code/props.json
  apps/pie-docs/src/components/modal/code/slots.json
  apps/pie-docs/src/components/notification/code/code.md
  apps/pie-docs/src/components/notification/code/events.json
  apps/pie-docs/src/components/notification/code/props.json
  apps/pie-docs/src/components/notification/code/slots.json
Labels: apps, pie-docs
