Repository justeattakeaway/pie, pull requests merged in 2025-03, with the labels that each got.

#2258 docs(pie-monorepo): DSW-000 updating PR checklist with tracker checks
  .github/PULL_REQUEST_TEMPLATE/docs_template.md
  .github/PULL_REQUEST_TEMPLATE/new_component_template.md
Labels: ci

#2253 feat(pie-tag): DSW-2550 pie tag icon only mode
  .changeset/four-turtles-collect.md
  .changeset/slimy-dots-pretend.md
  .changeset/thick-experts-nail.md
  apps/pie-docs/src/assets/img/components/tag-icon-only/anatomy.svg
  apps/pie-docs/src/assets/img/components/tag-icon-only/colours-aubergine.svg
  apps/pie-docs/src/assets/img/components/tag-icon-only/colours-berry.svg
  apps/pie-docs/src/assets/img/components/tag-icon-only/colours-cupcake.svg
  apps/pie-docs/src/assets/img/components/tag-icon-only/colours-error.svg
  apps/pie-docs/src/assets/img/components/tag-icon-only/colours-ghost.svg
  apps/pie-docs/src/assets/img/components/tag-icon-only/colours-information.svg
  apps/pie-docs/src/assets/img/components/tag-icon-only/colours-neutral-alternative.svg
  apps/pie-docs/src/assets/img/components/tag-icon-only/colours-neutral.svg
  apps/pie-docs/src/assets/img/components/tag-icon-only/colours-orange.svg
  apps/pie-docs/src/assets/img/components/tag-icon-only/colours-outline.svg
  apps/pie-docs/src/assets/img/components/tag-icon-only/colours-success.svg
  apps/pie-docs/src/assets/img/components/tag-icon-only/colours-warning.svg
  apps/pie-docs/src/assets/img/components/tag-icon-only/content-icons-do.svg
  apps/pie-docs/src/assets/img/components/tag-icon-only/content-icons-dont.svg
  apps/pie-docs/src/assets/img/components/tag-icon-only/example.svg
  apps/pie-docs/src/assets/img/components/tag-icon-only/interactive-states-default.svg
  apps/pie-docs/src/assets/img/components/tag-icon-only/interactive-states-disabled.svg
  apps/pie-docs/src/assets/img/components/tag-icon-only/meaning-and-purpose.svg
  apps/pie-docs/src/assets/img/components/tag-icon-only/modifiers-strong.svg
  apps/pie-docs/src/assets/img/components/tag-icon-only/modifiers-subtle.svg
  apps/pie-docs/src/assets/img/components/tag-icon-only/overview.svg
  apps/pie-docs/src/assets/img/components/tag-icon-only/structure.svg
  apps/pie-docs/src/assets/img/components/tag-icon-only/variations-default.svg
  apps/pie-docs/src/assets/img/index/components/tag---icon-only.svg
  apps/pie-docs/src/components/tag-icon-only/tag-icon-only.json
  apps/pie-docs/src/components/tag-icon-only/tag-icon-only.md
  apps/pie-docs/src/components/tag/code/code.md
  apps/pie-docs/src/components/tag/code/props.json
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
  apps/pie-storybook/stories/pie-tag.stories.ts
  apps/pie-storybook/stories/testing/pie-tag.test.stories.ts
  bundlewatch.config.json
  packages/components/pie-tag/src/index.ts
  packages/components/pie-tag/src/tag.scss
Labels: apps, components, pie-storybook, pie-docs, pie-tag

#2193 feat(pie-cookie-banner): DSW-2679 CDN build output
  .changeset/tidy-dolls-confess.md
  .github/workflows/changeset-release.yml
  .github/workflows/ci.yml
  .github/workflows/pie-cookie-banner-cdn-publish.yml
  packages/components/pie-cookie-banner/.eslintignore
  packages/components/pie-cookie-banner/.gitignore
  packages/components/pie-cookie-banner/cdn.vite.config.js
  packages/components/pie-cookie-banner/package.json
  packages/components/pie-cookie-banner/turbo.json
Labels: components, pie-cookie-banner, ci

#2263 fix(pie-monorepo): DSW-000 fix cdn upload
  .changeset/stupid-bottles-do.md
  .github/workflows/changeset-release.yml
  .github/workflows/pie-cookie-banner-cdn-publish.yml
Labels: ci

#2265 chore(pie-cookie-banner): DSW-2679 update vite config to bundle all cdn deps
  .changeset/dirty-games-chew.md
  packages/components/pie-cookie-banner/cdn.vite.config.js
Labels: components, pie-cookie-banner

#2268 feat(pie-monorepo): DSW-2679 add mechanism to upload multiple components to CDN
  .changeset/hungry-zoos-press.md
  .changeset/old-cameras-shop.md
  .changeset/plenty-dolphins-sneeze.md
  .github/workflows/changeset-release.yml
  packages/components/README.md
  packages/components/pie-cookie-banner/package.json
  packages/tools/pie-css/package.json
  packages/tools/pie-monorepo-utils/pie-cdn/publish-to-cdn.js
  packages/tools/pie-monorepo-utils/utils/find-monorepo-root.js
Labels: tools, components, pie-css, pie-cookie-banner, ci, pie-monorepo-utils

#2262 feat(pie-select): DSW-2773 add shell comonent
  .changeset/twenty-vans-joke.md
  apps/pie-storybook/stories/pie-select.stories.ts
  packages/components/pie-select/src/defs-react.ts
  packages/components/pie-select/src/defs.ts
  packages/components/pie-select/src/index.ts
  packages/components/pie-select/src/select.scss
Labels: apps, components, pie-storybook, pie-select

#2274 docs(pie-monorepo): DSW-000 updating PR checklist with tracker check
  .github/pull_request_template.md
Labels: ci

#2276 ci(pie-monorepo): DSW-2679 alert slack channel on CDN publish error
  .changeset/pretty-spies-speak.md
  .github/workflows/changeset-release.yml
  .github/workflows/ci.yml
Labels: ci

#2279 docs(pie-cookie-banner): DSW-2679 add a CDN usage block to readme
  .changeset/swift-buckets-press.md
  packages/components/pie-cookie-banner/README.md
Labels: components, pie-cookie-banner

#2278 feat(pie-select): DSW-2774 add option and option group shell components
  .changeset/clever-bears-repair.md
  .changeset/hip-trees-worry.md
  .gitignore
  configs/pie-components-config/vite.config.js
  packages/components/pie-select/src/pie-option-group/defs-react.ts
  packages/components/pie-select/src/pie-option-group/defs.ts
  packages/components/pie-select/src/pie-option-group/index.ts
  packages/components/pie-select/src/pie-option/defs-react.ts
  packages/components/pie-select/src/pie-option/defs.ts
  packages/components/pie-select/src/pie-option/index.ts
  packages/components/pie-select/vite.config.js
  packages/components/pie-webc/components/option-group.d.ts
  packages/components/pie-webc/components/option-group.js
  packages/components/pie-webc/components/option.d.ts
  packages/components/pie-webc/components/option.js
  packages/components/pie-webc/components/select-option.d.ts
  packages/components/pie-webc/components/select-option.js
  packages/components/pie-webc/package.json
  packages/components/pie-webc/react/option-group.d.ts
  packages/components/pie-webc/react/option-group.js
  packages/components/pie-webc/react/option.d.ts
  packages/components/pie-webc/react/option.js
  packages/components/pie-webc/react/select-option.d.ts
  packages/components/pie-webc/react/select-option.js
  packages/components/pie-webc/src/componentService.js
Labels: components, pie-webc, configs, pie-components-config, pie-select

#2257 feat(pie-breadcrumb): DSW-2830 create basic component markup
  .changeset/healthy-ears-occur.md
  .github/project-labeler.yml
  .github/workflows/ci.yml
  apps/pie-storybook/package.json
  apps/pie-storybook/stories/pie-breadcrumb.stories.ts
  apps/pie-storybook/stories/testing/pie-breadcrumb.test.stories.ts
  bundlewatch.config.json
  packages/components/pie-breadcrumb/.eslintignore
  packages/components/pie-breadcrumb/README.md
  packages/components/pie-breadcrumb/custom-elements-manifest.config.mjs
  packages/components/pie-breadcrumb/declaration.d.ts
  packages/components/pie-breadcrumb/package.json
  packages/components/pie-breadcrumb/playwright-lit-visual.config.ts
  packages/components/pie-breadcrumb/playwright-lit.config.ts
  packages/components/pie-breadcrumb/src/breadcrumb.scss
  packages/components/pie-breadcrumb/src/defs-react.ts
  packages/components/pie-breadcrumb/src/defs.ts
  packages/components/pie-breadcrumb/src/index.ts
  packages/components/pie-breadcrumb/test/accessibility/pie-breadcrumb.spec.ts
  packages/components/pie-breadcrumb/test/component/pie-breadcrumb.spec.ts
  packages/components/pie-breadcrumb/test/visual/pie-breadcrumb.spec.ts
  packages/components/pie-breadcrumb/tsconfig.json
  packages/components/pie-breadcrumb/turbo.json
  packages/components/pie-breadcrumb/vite.config.js
  packages/components/pie-webc/components/breadcrumb.d.ts
  packages/components/pie-webc/components/breadcrumb.js
  packages/components/pie-webc/package.json
  packages/components/pie-webc/react/breadcrumb.d.ts
  packages/components/pie-webc/react/breadcrumb.js
  yarn.lock
Labels: apps, components, pie-storybook, ci, pie-webc, pie-breadcrumb

#2291 fix(generator-pie-component): DSW-000 update readme to include how to export sub components
  .changeset/unlucky-cobras-wait.md
  packages/tools/generator-pie-component/README.md
Labels: tools, generator-pie-component

#2287 feat(pie-select): DSW-2774 wire up option and option-group
  .changeset/clever-monkeys-scream.md
  apps/pie-storybook/stories/pie-select.stories.ts
  apps/pie-storybook/stories/testing/pie-select.test.stories.ts
  packages/components/pie-select/package.json
  packages/components/pie-select/pie-select.test.stories.ts
  packages/components/pie-select/src/defs.ts
  packages/components/pie-select/src/index.ts
  packages/components/pie-select/src/pie-option-group/defs-react.ts
  packages/components/pie-select/src/pie-option-group/defs.ts
  packages/components/pie-select/src/pie-option-group/index.ts
  packages/components/pie-select/src/pie-option/defs-react.ts
  packages/components/pie-select/src/pie-option/defs.ts
  packages/components/pie-select/src/pie-option/index.ts
  packages/components/pie-select/test/component/pie-select.spec.ts
  packages/components/pie-select/test/helpers/page-object/selectors.ts
  packages/components/pie-select/test/visual/pie-select.spec.ts
  packages/components/pie-select/vite.config.js
  packages/components/pie-webc/components/option-group.d.ts
  packages/components/pie-webc/components/option-group.js
  packages/components/pie-webc/components/option.d.ts
  packages/components/pie-webc/components/option.js
  packages/components/pie-webc/components/select-option.d.ts
  packages/components/pie-webc/components/select-option.js
  packages/components/pie-webc/package.json
  packages/components/pie-webc/react/option-group.d.ts
  packages/components/pie-webc/react/option-group.js
  packages/components/pie-webc/react/option.d.ts
  packages/components/pie-webc/react/option.js
  packages/components/pie-webc/react/select-option.d.ts
  packages/components/pie-webc/react/select-option.js
  yarn.lock
Labels: apps, components, pie-storybook, pie-webc, pie-select

#2292 docs(eslint-config-pie): DSW-000 updated readme and homepage link
  .changeset/big-goats-talk.md
  packages/tools/eslint-config-pie/README.md
  packages/tools/eslint-config-pie/package.json
Labels: tools, eslint-config-pie

#2297 feat(pie-monorepo): DSW-2901 remove vue app
  .changeset/big-peas-sell.md
  .github/workflows/example-apps-ci.yml
  apps/examples/wc-vue3/.eslintrc.js
  apps/examples/wc-vue3/.gitignore
  apps/examples/wc-vue3/CHANGELOG.md
  apps/examples/wc-vue3/README.md
  apps/examples/wc-vue3/env.d.ts
  apps/examples/wc-vue3/index.html
  apps/examples/wc-vue3/package.json
  apps/examples/wc-vue3/public/favicon.ico
  apps/examples/wc-vue3/src/App.vue
  apps/examples/wc-vue3/src/main.ts
  apps/examples/wc-vue3/src/styles.css
  apps/examples/wc-vue3/tsconfig.json
  apps/examples/wc-vue3/tsconfig.node.json
  apps/examples/wc-vue3/vite.config.ts
  yarn.lock
Labels: apps, ci

#2298 docs(pie-storybook): DSW-2900 update pie-link icon slot documentation
  .changeset/silly-shoes-rush.md
  apps/pie-docs/src/components/link/code/props.json
  apps/pie-docs/src/components/link/code/slots.json
  apps/pie-storybook/stories/pie-link.stories.ts
Labels: apps, pie-storybook, pie-docs

#2299 feat(pie-monorepo): DSW-2901 delete angular app
  .changeset/proud-cups-rush.md
  .github/workflows/example-apps-ci.yml
  apps/examples/wc-angular12/.editorconfig
  apps/examples/wc-angular12/.gitignore
  apps/examples/wc-angular12/CHANGELOG.md
  apps/examples/wc-angular12/README.md
  apps/examples/wc-angular12/angular.json
  apps/examples/wc-angular12/package.json
  apps/examples/wc-angular12/src/app/app.component.html
  apps/examples/wc-angular12/src/app/app.component.scss
  apps/examples/wc-angular12/src/app/app.component.ts
  apps/examples/wc-angular12/src/app/app.module.ts
  apps/examples/wc-angular12/src/assets/.gitkeep
  apps/examples/wc-angular12/src/favicon.ico
  apps/examples/wc-angular12/src/index.html
  apps/examples/wc-angular12/src/main.ts
  apps/examples/wc-angular12/src/styles.scss
  apps/examples/wc-angular12/tsconfig.app.json
  apps/examples/wc-angular12/tsconfig.json
  apps/examples/wc-angular12/tsconfig.spec.json
  yarn.lock
Labels: apps, ci
