Repository justeattakeaway/pie, pull requests merged in 2025-09, with the labels that each got.

#2537 feat(pie-modal): DSW-3344 add a modal headerContent slot
  .changeset/rich-mails-fold.md
  .changeset/tasty-socks-fix.md
  .github/workflows/ci.yml
  apps/pie-storybook/stories/pie-modal.stories.ts
  apps/pie-storybook/stories/testing/pie-modal.test.stories.ts
  packages/components/pie-modal/README.md
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/src/modal.scss
  packages/components/pie-modal/test/helpers/page-object/pie-modal-custom-header-content.page.ts
  packages/components/pie-modal/test/visual/pie-modal.spec.ts
Labels: apps, components, pie-storybook, pie-modal, ci

#2544 ci(pie-monorepo): DSW-3344 fix typo that causes Percy errors in main
  .github/workflows/ci.yml
Labels: ci

#2543 feat(pie-select): DSW-3351 add value property
  .changeset/clean-swans-repeat.md
  .changeset/sour-olives-cover.md
  apps/pie-storybook/stories/pie-select.stories.ts
  apps/pie-storybook/stories/testing/pie-select.test.stories.ts
  packages/components/pie-select/README.md
  packages/components/pie-select/src/defs.ts
  packages/components/pie-select/src/index.ts
  packages/components/pie-select/test/component/pie-select.spec.ts
Labels: apps, components, pie-storybook, pie-select

#2557 feat(pie-select): DSW-3351 fix onChange event
  .changeset/silver-papayas-kick.md
  packages/components/pie-select/src/index.ts
Labels: components, pie-select

#2559 refactor(pie-docs): DSW-3355 use pie notification instead of the cusom docs notification
  .changeset/tough-kangaroos-hug.md
  apps/pie-docs/package.json
  apps/pie-docs/src/_11ty/shortcodes/helpers/baseNotification.js
  apps/pie-docs/src/assets/js/pie-components-imports.js
  apps/pie-docs/src/assets/styles/_dependencies.scss
  apps/pie-docs/src/assets/styles/components/_notification.scss
  yarn.lock
Labels: apps, pie-docs

#2561 feat(pie-webc-core): DSW-3317 DelegatesFocus mixin
  .changeset/chatty-rules-talk.md
  .changeset/eighty-dodos-kneel.md
  .changeset/late-pugs-remain.md
  apps/pie-storybook/stories/testing/pie-webc-core.test.stories.ts
  packages/components/pie-button/src/index.ts
  packages/components/pie-checkbox/src/index.ts
  packages/components/pie-icon-button/src/index.ts
  packages/components/pie-select/src/index.ts
  packages/components/pie-switch/src/index.ts
  packages/components/pie-text-input/src/index.ts
  packages/components/pie-textarea/src/index.ts
  packages/components/pie-webc-core/src/mixins/delegatesFocus/delegatesFocusMixin.ts
  packages/components/pie-webc-core/src/mixins/index.ts
  packages/components/pie-webc-core/src/test/mixins/delegatesFocusMixin/MockComponent.ts
  packages/components/pie-webc-core/src/test/mixins/delegatesFocusMixin/delegatesFocusMixin.browser.spec.ts
  packages/tools/generator-pie-component/src/app/prompts.ts
  packages/tools/generator-pie-component/src/app/templates/src/index.ts
Labels: apps, tools, components, pie-button, pie-storybook, pie-icon-button, pie-webc-core, generator-pie-component, pie-switch, pie-checkbox, pie-text-input, pie-textarea, pie-select

#2556 feat(pie-monorepo): DSW-3350 update pie tokens to 7.6.1
  .changeset/large-ears-obey.md
  .changeset/silly-lamps-deny.md
  apps/pie-docs/package.json
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/tokensTable.test.js.snap
  apps/pie-docs/src/_includes/header.njk
  apps/pie-storybook/package.json
  package.json
  packages/components/pie-assistive-text/src/assistive-text.scss
  packages/components/pie-button/src/button.scss
  packages/components/pie-card/src/card.scss
  packages/components/pie-checkbox/src/checkbox.scss
  packages/components/pie-chip/src/chip.scss
  packages/components/pie-divider/src/divider.scss
  packages/components/pie-form-label/src/form-label.scss
  packages/components/pie-icon-button/src/iconButton.scss
  packages/components/pie-modal/package.json
  packages/components/pie-notification/src/notification.scss
  packages/components/pie-radio/src/radio.scss
  packages/components/pie-spinner/src/spinner.scss
  packages/components/pie-switch/src/switch.scss
  packages/components/pie-tag/src/tag.scss
  packages/components/pie-webc-core/package.json
  packages/tools/pie-css/test/css/__snapshots__/css.spec.ts.snap
  yarn.lock
Labels: apps, tools, components, pie-button, pie-storybook, pie-docs, pie-modal, pie-icon-button, pie-webc-core, pie-css, pie-divider, pie-form-label, pie-switch, pie-card, pie-notification, pie-spinner, pie-tag, pie-assistive-text, pie-chip, pie-checkbox, pie-radio

#2570 feat(pie-monorepo): DSW-3292 add "replaces" field to component packages
  .changeset/fifty-otters-laugh.md
  .changeset/sharp-paws-tell.md
  packages/components/pie-assistive-text/package.json
  packages/components/pie-avatar/package.json
  packages/components/pie-breadcrumb/package.json
  packages/components/pie-button/package.json
  packages/components/pie-card/package.json
  packages/components/pie-checkbox-group/package.json
  packages/components/pie-checkbox/package.json
  packages/components/pie-chip/package.json
  packages/components/pie-cookie-banner/package.json
  packages/components/pie-data-table/package.json
  packages/components/pie-divider/package.json
  packages/components/pie-form-label/package.json
  packages/components/pie-icon-button/package.json
  packages/components/pie-link/package.json
  packages/components/pie-list/package.json
  packages/components/pie-lottie-player/package.json
  packages/components/pie-modal/package.json
  packages/components/pie-notification/package.json
  packages/components/pie-radio-group/package.json
  packages/components/pie-radio/package.json
  packages/components/pie-select/package.json
  packages/components/pie-spinner/package.json
  packages/components/pie-switch/package.json
  packages/components/pie-tabs/package.json
  packages/components/pie-tag/package.json
  packages/components/pie-text-input/package.json
  packages/components/pie-textarea/package.json
  packages/components/pie-thumbnail/package.json
  packages/components/pie-toast-provider/package.json
  packages/components/pie-toast/package.json
  packages/tools/generator-pie-component/src/app/templates/__package__.json
Labels: tools, components, pie-button, pie-modal, pie-icon-button, generator-pie-component, pie-divider, pie-link, pie-cookie-banner, pie-form-label, pie-switch, pie-card, pie-notification, pie-spinner, pie-tag, pie-assistive-text, pie-chip, pie-checkbox, pie-text-input, pie-textarea, pie-toast, pie-checkbox-group, pie-lottie-player, pie-radio, pie-radio-group, pie-toast-provider, pie-thumbnail, pie-select, pie-breadcrumb, pie-list, pie-avatar, pie-tabs, pie-data-table
