Repository justeattakeaway/pie, pull requests merged in 2025-04, with the labels that each got.

#2303 feat(pie-monorepo): DSW-2747 use centralised TS declarations
  .changeset/large-doors-reflect.md
  configs/pie-components-config/declaration.d.ts
  packages/components/pie-assistive-text/tsconfig.json
  packages/components/pie-breadcrumb/declaration.d.ts
  packages/components/pie-breadcrumb/tsconfig.json
  packages/components/pie-button/declaration.d.ts
  packages/components/pie-button/tsconfig.json
  packages/components/pie-card/declaration.d.ts
  packages/components/pie-card/tsconfig.json
  packages/components/pie-checkbox-group/declaration.d.ts
  packages/components/pie-checkbox-group/tsconfig.json
  packages/components/pie-checkbox/declaration.d.ts
  packages/components/pie-checkbox/tsconfig.json
  packages/components/pie-chip/declaration.d.ts
  packages/components/pie-chip/tsconfig.json
  packages/components/pie-cookie-banner/declaration.d.ts
  packages/components/pie-cookie-banner/tsconfig.json
  packages/components/pie-divider/declaration.d.ts
  packages/components/pie-divider/tsconfig.json
  packages/components/pie-form-label/declaration.d.ts
  packages/components/pie-form-label/tsconfig.json
  packages/components/pie-icon-button/declaration.d.ts
  packages/components/pie-icon-button/tsconfig.json
  packages/components/pie-link/declaration.d.ts
  packages/components/pie-link/tsconfig.json
  packages/components/pie-lottie-player/declaration.d.ts
  packages/components/pie-lottie-player/tsconfig.json
  packages/components/pie-modal/declaration.d.ts
  packages/components/pie-modal/tsconfig.json
  packages/components/pie-notification/declaration.d.ts
  packages/components/pie-notification/tsconfig.json
  packages/components/pie-radio-group/declaration.d.ts
  packages/components/pie-radio-group/tsconfig.json
  packages/components/pie-radio/declaration.d.ts
  packages/components/pie-radio/tsconfig.json
  packages/components/pie-select/declaration.d.ts
  packages/components/pie-select/tsconfig.json
  packages/components/pie-spinner/declaration.d.ts
  packages/components/pie-spinner/tsconfig.json
  packages/components/pie-switch/declaration.d.ts
  packages/components/pie-switch/tsconfig.json
  packages/components/pie-tag/declaration.d.ts
  packages/components/pie-tag/tsconfig.json
  packages/components/pie-text-input/declaration.d.ts
  packages/components/pie-text-input/tsconfig.json
  packages/components/pie-textarea/declaration.d.ts
  packages/components/pie-textarea/tsconfig.json
  packages/components/pie-thumbnail/declaration.d.ts
  packages/components/pie-thumbnail/tsconfig.json
  packages/components/pie-toast-provider/declaration.d.ts
  packages/components/pie-toast-provider/tsconfig.json
  packages/components/pie-toast/declaration.d.ts
  packages/components/pie-toast/tsconfig.json
  packages/components/pie-webc-core/declaration.d.ts
  packages/components/pie-webc-core/src/internals/PieElement.ts
  packages/components/pie-webc-core/tsconfig.json
  packages/components/pie-webc-testing/declaration.d.ts
  packages/components/pie-webc-testing/tsconfig.json
  packages/tools/generator-pie-component/src/app/templates/declaration.d.ts
  packages/tools/generator-pie-component/src/app/templates/tsconfig.json
Labels: tools, components, pie-button, pie-modal, pie-icon-button, pie-webc-core, pie-webc-testing, generator-pie-component, pie-divider, pie-link, pie-cookie-banner, pie-form-label, pie-switch, pie-card, pie-notification, pie-spinner, pie-tag, pie-assistive-text, pie-chip, configs, pie-components-config, pie-checkbox, pie-text-input, pie-textarea, pie-toast, pie-checkbox-group, pie-lottie-player, pie-radio, pie-radio-group, pie-toast-provider, pie-thumbnail, pie-select, pie-breadcrumb

#2300 chore(pie-monorepo): DSW-2903 dependency tidy-up
  apps/pie-docs/package.json
  apps/pie-storybook/package.json
  package.json
  packages/tools/pie-icons-react/package.json
  packages/tools/pie-icons-vue/package.json
  packages/tools/pie-icons/package.json
  yarn.lock
Labels: apps, tools, pie-icons, pie-icons-react, pie-icons-vue, pie-storybook, pie-docs

#2305 feat(pie-monorepo): DSW-2908 improve components performance and stability in watch mode
  .changeset/friendly-hats-remember.md
  configs/pie-components-config/vite.config.js
Labels: configs, pie-components-config

#2289 fix(pie-textarea): DSW-2893 add and remove events correctly
  .changeset/fluffy-walls-hide.md
  packages/components/pie-textarea/src/index.ts
Labels: components, pie-textarea

#2285 docs(pie-docs): DSW-2553 add sections to IOS and Android guidance
  apps/pie-docs/src/assets/img/patterns/overlay-patterns/android-guidance/android-alert.svg
  apps/pie-docs/src/assets/img/patterns/overlay-patterns/android-guidance/android-bottom-sheet-full-screen.svg
  apps/pie-docs/src/assets/img/patterns/overlay-patterns/android-guidance/android-bottom-sheet-modal.svg
  apps/pie-docs/src/assets/img/patterns/overlay-patterns/android-guidance/android-decision-tree.svg
  apps/pie-docs/src/assets/img/patterns/overlay-patterns/android-guidance/android-dialogue-native.svg
  apps/pie-docs/src/assets/img/patterns/overlay-patterns/android-guidance/android-full-screen-sheet.svg
  apps/pie-docs/src/assets/img/patterns/overlay-patterns/android-guidance/android-popover-menu-native.svg
  apps/pie-docs/src/assets/img/patterns/overlay-patterns/android-guidance/android-tooltip.svg
  apps/pie-docs/src/assets/img/patterns/overlay-patterns/ios-guidance/ios-alert-native.svg
  apps/pie-docs/src/assets/img/patterns/overlay-patterns/ios-guidance/ios-alert.svg
  apps/pie-docs/src/assets/img/patterns/overlay-patterns/ios-guidance/ios-bottom-sheet.svg
  apps/pie-docs/src/assets/img/patterns/overlay-patterns/ios-guidance/ios-decision-tree.svg
  apps/pie-docs/src/assets/img/patterns/overlay-patterns/ios-guidance/ios-full-screen-sheet.svg
  apps/pie-docs/src/assets/img/patterns/overlay-patterns/ios-guidance/ios-menu-native.svg
  apps/pie-docs/src/assets/img/patterns/overlay-patterns/ios-guidance/ios-sheet.svg
  apps/pie-docs/src/assets/img/patterns/overlay-patterns/ios-guidance/ios-toast.svg
  apps/pie-docs/src/assets/img/patterns/overlay-patterns/ios-guidance/ios-tooltip.svg
  apps/pie-docs/src/patterns/overlay-patterns/android-guidance/android-guidance.md
  apps/pie-docs/src/patterns/overlay-patterns/android-guidance/z-indexes.json
  apps/pie-docs/src/patterns/overlay-patterns/ios-guidance/ios-guidance.md
  apps/pie-docs/src/patterns/overlay-patterns/ios-guidance/z-indexes.json
  apps/pie-docs/src/patterns/overlay-patterns/web-guidance/web-guidance.md
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
Labels: apps, pie-docs

#2312 feat(pie-docs): DSW-2914 add the select overview page
  .changeset/short-eels-switch.md
  apps/pie-docs/src/assets/img/components/select-input/Interactive-states-options-disabled.svg
  apps/pie-docs/src/assets/img/components/select-input/anatomy-1.svg
  apps/pie-docs/src/assets/img/components/select-input/anatomy-2.svg
  apps/pie-docs/src/assets/img/components/select-input/behaviours-preselection-1.svg
  apps/pie-docs/src/assets/img/components/select-input/behaviours-preselection-2.svg
  apps/pie-docs/src/assets/img/components/select-input/behaviours-selection.svg
  apps/pie-docs/src/assets/img/components/select-input/content-select-option-1.svg
  apps/pie-docs/src/assets/img/components/select-input/content-select-option-2.svg
  apps/pie-docs/src/assets/img/components/select-input/examples-ltr-1.svg
  apps/pie-docs/src/assets/img/components/select-input/examples-ltr-2.svg
  apps/pie-docs/src/assets/img/components/select-input/examples-rtl-1.svg
  apps/pie-docs/src/assets/img/components/select-input/examples-rtl-2.svg
  apps/pie-docs/src/assets/img/components/select-input/interactive-states-field-active.svg
  apps/pie-docs/src/assets/img/components/select-input/interactive-states-field-default.svg
  apps/pie-docs/src/assets/img/components/select-input/interactive-states-field-disabled.svg
  apps/pie-docs/src/assets/img/components/select-input/interactive-states-field-error.svg
  apps/pie-docs/src/assets/img/components/select-input/interactive-states-field-focus.svg
  apps/pie-docs/src/assets/img/components/select-input/interactive-states-field-hover.svg
  apps/pie-docs/src/assets/img/components/select-input/interactive-states-options-default.svg
  apps/pie-docs/src/assets/img/components/select-input/interactive-states-options-disabled.svg
  apps/pie-docs/src/assets/img/components/select-input/interactive-states-options-hover-focus.svg
  apps/pie-docs/src/assets/img/components/select-input/modifiers-leading-icon.svg
  apps/pie-docs/src/assets/img/components/select-input/overflow-field.svg
  apps/pie-docs/src/assets/img/components/select-input/overflow-options-1.svg
  apps/pie-docs/src/assets/img/components/select-input/overflow-options-2.svg
  apps/pie-docs/src/assets/img/components/select-input/overview.svg
  apps/pie-docs/src/assets/img/components/select-input/sizes-height-large.svg
  apps/pie-docs/src/assets/img/components/select-input/sizes-height-medium.svg
  apps/pie-docs/src/assets/img/components/select-input/sizes-height-small.svg
  apps/pie-docs/src/assets/img/components/select-input/variations-default.svg
  apps/pie-docs/src/assets/img/components/select-input/variations-grouped-options.svg
  apps/pie-docs/src/componentStatusData.js
  apps/pie-docs/src/components/select-input/overview/overview.md
  apps/pie-docs/src/components/select-input/select-input.json
  apps/pie-docs/src/components/select-input/select-input.md
Labels: apps, pie-docs

#2316 feat(pie-docs): DSW-2914 add the select component code section
  .changeset/polite-wasps-yawn.md
  apps/pie-docs/src/components/select-input/code/code.md
  apps/pie-docs/src/components/select-input/code/events.json
  apps/pie-docs/src/components/select-input/code/optgroup-props.json
  apps/pie-docs/src/components/select-input/code/option-props.json
  apps/pie-docs/src/components/select-input/code/props.json
  apps/pie-docs/src/components/select-input/code/slots.json
  apps/pie-docs/src/components/select-input/overview/overview.md
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
Labels: apps, pie-docs

#2321 fix(pie-docs): DSW-000 remove unused image in the select docs
  apps/pie-docs/src/assets/img/components/select-input/Interactive-states-options-disabled.svg
Labels: apps, pie-docs

#2313 docs(pie-docs): DSW-2552 messaging and chatbots pattern
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/avatar-colour.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/avatar-variants-agent.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/avatar-variants-ai-assistant.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/avatar-variants-chatbot.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/avatar-variants-courier.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/avatar-variants-initial.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/avatar-variants-partner.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/backgrounds-complex.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/backgrounds-simple.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/content-types-messages-borders.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/content-types-messages.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/content-types-structured-responses.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/content-width.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/date-timestamp-message.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/footer-1.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/footer-2.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/groups-variants.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/interactive-overview-messaging-and-chatbots.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/interactive-states-active.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/interactive-states-default.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/interactive-states-disabled.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/interactive-states-focus.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/interactive-states-hover.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/ltr-examples.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/messages-tails.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/metadata-first-last-name.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/metadata-first-name.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/metadata-restaurant-name.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/placement-above.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/placement-below.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/rtl-examples.svg
  apps/pie-docs/src/assets/img/patterns/messaging-and-chatbots/timestamp-message.svg
  apps/pie-docs/src/patterns/messaging-and-chatbots/guidance/guidance.md
  apps/pie-docs/src/patterns/messaging-and-chatbots/messaging-and-chatbots.json
  apps/pie-docs/src/patterns/messaging-and-chatbots/messaging-and-chatbots.md
  apps/pie-docs/src/patterns/messaging-and-chatbots/overview/overview.md
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
Labels: apps, pie-docs

#2320 fix(pie-monorepo): DSW-2924 reflect the name attribute for form elements
  .changeset/nine-beds-bow.md
  packages/components/pie-checkbox-group/src/index.ts
  packages/components/pie-checkbox/src/index.ts
  packages/components/pie-radio-group/src/index.ts
  packages/components/pie-radio/src/index.ts
  packages/components/pie-select/src/index.ts
  packages/components/pie-switch/src/index.ts
  packages/components/pie-text-input/src/index.ts
  packages/components/pie-textarea/src/index.ts
Labels: components, pie-switch, pie-checkbox, pie-text-input, pie-textarea, pie-checkbox-group, pie-radio, pie-radio-group, pie-select

#2308 feat(pie-breadcrumb): DSW-2834 implement navigation items and separation
  .changeset/clean-yaks-grow.md
  apps/pie-storybook/stories/pie-breadcrumb.stories.ts
  packages/components/pie-breadcrumb/src/breadcrumb.scss
  packages/components/pie-breadcrumb/src/defs.ts
  packages/components/pie-breadcrumb/src/index.ts
  packages/components/pie-breadcrumb/test/component/pie-breadcrumb.spec.ts
  packages/components/pie-breadcrumb/test/helpers/index.ts
  packages/components/pie-breadcrumb/test/visual/pie-breadcrumb.spec.ts
Labels: apps, components, pie-storybook, pie-breadcrumb

#2325 fix(pie-breadcrumb): DSW-000 fix breadcrumb tests
  .changeset/early-apples-invent.md
  apps/pie-storybook/stories/pie-breadcrumb.stories.ts
  apps/pie-storybook/stories/testing/pie-breadcrumb.test.stories.ts
  packages/components/pie-breadcrumb/src/defs.ts
  packages/components/pie-breadcrumb/src/index.ts
  packages/components/pie-breadcrumb/test/accessibility/pie-breadcrumb.spec.ts
  packages/components/pie-breadcrumb/test/component/pie-breadcrumb.spec.ts
  packages/components/pie-breadcrumb/test/helpers/index.ts
  packages/components/pie-breadcrumb/test/helpers/selectors.ts
  packages/components/pie-breadcrumb/test/visual/pie-breadcrumb.spec.ts
  packages/components/pie-thumbnail/pie-thumbnail.test.stories.ts
Labels: apps, components, pie-storybook, pie-thumbnail, pie-breadcrumb

#2319 feat(pie-list): DSW-2936 base component from generator
  .github/project-labeler.yml
  .github/workflows/ci.yml
  apps/pie-storybook/package.json
  apps/pie-storybook/stories/pie-list.stories.ts
  apps/pie-storybook/stories/testing/pie-list.test.stories.ts
  bundlewatch.config.json
  packages/components/pie-list/.eslintignore
  packages/components/pie-list/README.md
  packages/components/pie-list/custom-elements-manifest.config.mjs
  packages/components/pie-list/package.json
  packages/components/pie-list/pie-list.test.stories.ts
  packages/components/pie-list/playwright-lit-visual.config.ts
  packages/components/pie-list/playwright-lit.config.ts
  packages/components/pie-list/src/defs-react.ts
  packages/components/pie-list/src/defs.ts
  packages/components/pie-list/src/index.ts
  packages/components/pie-list/src/list.scss
  packages/components/pie-list/test/accessibility/pie-list.spec.ts
  packages/components/pie-list/test/component/pie-list.spec.ts
  packages/components/pie-list/test/visual/pie-list.spec.ts
  packages/components/pie-list/tsconfig.json
  packages/components/pie-list/turbo.json
  packages/components/pie-list/vite.config.js
  packages/components/pie-webc/components/list.d.ts
  packages/components/pie-webc/components/list.js
  packages/components/pie-webc/package.json
  packages/components/pie-webc/react/list.d.ts
  packages/components/pie-webc/react/list.js
  yarn.lock
Labels: apps, components, pie-storybook, ci, pie-webc, pie-list

#2328 docs(pie-storybook): DSW-2984 icon names in story
  .changeset/lucky-spiders-kneel.md
  apps/pie-storybook/stories/icons.stories.ts
Labels: apps, pie-storybook

#2329 feat(pie-select): DSW-2982 design review tasks
  .changeset/silly-birds-cheer.md
  packages/components/pie-select/src/select.scss
Labels: components, pie-select

#2327 fix(pie-monorepo): DSW-2856 typescript compatibility issues with form element events in React
  .changeset/happy-eels-cough.md
  packages/components/pie-checkbox/src/defs-react.ts
  packages/components/pie-radio-group/src/defs-react.ts
  packages/components/pie-radio/src/defs-react.ts
  packages/components/pie-select/src/defs-react.ts
  packages/components/pie-switch/src/defs-react.ts
  packages/components/pie-text-input/src/defs-react.ts
  packages/components/pie-textarea/src/defs-react.ts
Labels: components, pie-switch, pie-checkbox, pie-text-input, pie-textarea, pie-radio, pie-radio-group, pie-select

#2332 refactor(pie-toast-provider): DSW-2949 z-index css property
  .changeset/tricky-dolls-mate.md
  apps/pie-docs/src/components/toast/toast-provider/code.md
  apps/pie-docs/src/components/toast/toast-provider/css-properties.json
  apps/pie-storybook/stories/pie-toast-provider.stories.ts
  apps/pie-storybook/stories/testing/pie-toast-provider.test.stories.ts
  packages/components/pie-toast-provider/src/defs-react.ts
  packages/components/pie-toast-provider/src/defs.ts
  packages/components/pie-toast-provider/src/index.ts
  packages/components/pie-toast-provider/src/toast-provider.scss
  packages/components/pie-toast-provider/test/component/pie-toast-provider.spec.ts
  packages/components/pie-toast-provider/test/visual/pie-toast-provider.spec.ts
Labels: apps, components, pie-storybook, pie-docs, pie-toast-provider

#2326 feat(pie-list-item): DSW-2910 base list item
  packages/components/pie-list/src/pie-list-item/defs-react.ts
  packages/components/pie-list/src/pie-list-item/defs.ts
  packages/components/pie-list/src/pie-list-item/index.ts
  packages/components/pie-list/src/pie-list-item/list-item.scss
  packages/components/pie-list/vite.config.js
Labels: components, pie-list

#2317 feat(pie-toast-provider): DSW-2949 implement zIndex into toast provider
  .changeset/tricky-dolls-mate.md
  apps/pie-docs/src/components/toast/toast-provider/code.md
  apps/pie-docs/src/components/toast/toast-provider/css-properties.json
  apps/pie-storybook/stories/pie-toast-provider.stories.ts
  apps/pie-storybook/stories/testing/pie-toast-provider.test.stories.ts
  packages/components/pie-toast-provider/src/defs-react.ts
  packages/components/pie-toast-provider/src/index.ts
  packages/components/pie-toast-provider/src/toast-provider.scss
  packages/components/pie-toast-provider/test/visual/pie-toast-provider.spec.ts
Labels: apps, components, pie-storybook, pie-docs, pie-toast-provider

#2336 chore(pie-select): DSW-2776 promote to beta status
  .changeset/beige-onions-scream.md
  packages/components/pie-select/package.json
Labels: components, pie-select

#2338 fix(pie-switch): DSW-2819 fix check icon vertical alignment
  .changeset/young-mails-cross.md
  packages/components/pie-switch/src/switch.scss
Labels: components, pie-switch

#2314 feat(pie-breadcrumb): DSW-2831 implement scrim and default variants and implement isCompact mode
  .changeset/fresh-elephants-poke.md
  apps/pie-storybook/stories/pie-breadcrumb.stories.ts
  apps/pie-storybook/stories/testing/pie-breadcrumb.test.stories.ts
  packages/components/pie-breadcrumb/src/breadcrumb.scss
  packages/components/pie-breadcrumb/src/defs.ts
  packages/components/pie-breadcrumb/src/index.ts
  packages/components/pie-breadcrumb/test/component/pie-breadcrumb.spec.ts
  packages/components/pie-breadcrumb/test/visual/pie-breadcrumb.spec.ts
Labels: apps, components, pie-storybook, pie-breadcrumb
