Repository justeattakeaway/pie, pull requests merged in 2025-08, with the labels that each got.

#2504 feat(pie-monorepo): DSW-3285 update components to use new elevation tokens
  .changeset/fresh-nails-think.md
  apps/pie-docs/src/assets/styles/components/_scrollToTop.scss
  apps/pie-docs/src/assets/styles/components/_toggle.scss
  apps/pie-storybook/stories/introduction/design-tokens-cookbook.mdx
  packages/components/pie-card/src/card.scss
  packages/components/pie-modal/src/modal.scss
  packages/components/pie-toast/src/toast.scss
Labels: apps, components, pie-storybook, pie-docs, pie-modal, pie-card, pie-toast

#2505 ci(pie-monorepo): DSW-3267 updated fix for ci files
  .github/workflows/amplify-deploy.yml
  .github/workflows/ci.yml
  .github/workflows/example-apps-ci.yml
Labels: work-in-progress, ci

#2507 chore(pie-monorepo): DSW-2789 add support for Node 22
  .changeset/yellow-pears-play.md
  .github/workflows/changeset-snapshot.yml
  .github/workflows/ci.yml
  .github/workflows/dangerjs-checks.yml
  .github/workflows/example-apps-ci.yml
  .github/workflows/test-aperture.yml
  .github/workflows/update-icons.yml
  package.json
  yarn.lock
Labels: ci

#2511 fix(pie-docs): DSW-2848 fix links to Snacks components
  .changeset/great-bears-perform.md
  apps/pie-docs/src/componentStatusData.js
Labels: apps, pie-docs

#2514 fix(pie-modal): DSW-3292 avoid scroll-lock freeze and TypeError
  .changeset/tall-bananas-do.md
  apps/pie-storybook/stories/testing/pie-modal.test.stories.ts
  packages/components/pie-modal/src/index.ts
  packages/components/pie-modal/test/component/pie-modal.spec.ts
  packages/components/pie-modal/test/helpers/page-object/pie-modal-missing-dialog-simulation.page.ts
Labels: apps, components, pie-storybook, pie-modal

#2522 fix(pie-monorepo): DSW-3309 issue where pie-webc-core wasn't availabl…
  .changeset/real-numbers-refuse.md
  configs/pie-components-config/index.js
  configs/pie-components-config/package.json
  configs/pie-components-config/playwright-native-config.ts
  configs/pie-components-config/playwright-native-visual-config.ts
  packages/components/pie-assistive-text/turbo.json
  packages/components/pie-avatar/turbo.json
  packages/components/pie-breadcrumb/turbo.json
  packages/components/pie-button/turbo.json
  packages/components/pie-card/turbo.json
  packages/components/pie-checkbox-group/turbo.json
  packages/components/pie-checkbox/turbo.json
  packages/components/pie-chip/turbo.json
  packages/components/pie-cookie-banner/turbo.json
  packages/components/pie-data-table/turbo.json
  packages/components/pie-divider/turbo.json
  packages/components/pie-form-label/turbo.json
  packages/components/pie-icon-button/turbo.json
  packages/components/pie-link/turbo.json
  packages/components/pie-list/turbo.json
  packages/components/pie-lottie-player/test/component/pie-lottie-player.spec.ts
  packages/components/pie-lottie-player/test/visual/pie-lottie-player.spec.ts
  packages/components/pie-lottie-player/turbo.json
  packages/components/pie-modal/turbo.json
  packages/components/pie-notification/turbo.json
  packages/components/pie-radio-group/turbo.json
  packages/components/pie-radio/turbo.json
  packages/components/pie-select/turbo.json
  packages/components/pie-spinner/turbo.json
  packages/components/pie-switch/turbo.json
  packages/components/pie-tag/turbo.json
  packages/components/pie-text-input/turbo.json
  packages/components/pie-textarea/test/component/pie-textarea.spec.ts
  packages/components/pie-textarea/turbo.json
  packages/components/pie-thumbnail/turbo.json
  packages/components/pie-toast-provider/test/component/pie-toast-provider.spec.ts
  packages/components/pie-toast-provider/turbo.json
  packages/components/pie-toast/turbo.json
  packages/components/pie-webc-core/turbo.json
  packages/tools/generator-pie-component/src/app/templates/turbo.json
Labels: tools, components, pie-button, pie-modal, pie-icon-button, pie-webc-core, generator-pie-component, pie-divider, pie-link, pie-cookie-banner, pie-form-label, pie-switch, pie-card, pie-notification, pie-spinner, pie-tag, pie-assistive-text, pie-chip, configs, pie-components-config, pie-checkbox, pie-text-input, pie-textarea, pie-toast, pie-checkbox-group, pie-lottie-player, pie-radio, pie-radio-group, pie-toast-provider, pie-thumbnail, pie-select, pie-breadcrumb, pie-list, pie-avatar, pie-data-table

#2515 feat(pie-tabs): DSW-3169 pie tabs create basic markup
  .changeset/empty-pets-collect.md
  .github/project-labeler.yml
  .github/workflows/ci.yml
  apps/pie-storybook/package.json
  apps/pie-storybook/stories/pie-tabs.mdx
  apps/pie-storybook/stories/pie-tabs.stories.ts
  apps/pie-storybook/stories/testing/pie-tabs.test.stories.ts
  bundlewatch.config.json
  packages/components/pie-tabs/.eslintignore
  packages/components/pie-tabs/README.md
  packages/components/pie-tabs/custom-elements-manifest.config.mjs
  packages/components/pie-tabs/package.json
  packages/components/pie-tabs/pie-tabs.test.stories.ts
  packages/components/pie-tabs/playwright-lit-visual.config.ts
  packages/components/pie-tabs/playwright-lit.config.ts
  packages/components/pie-tabs/src/defs-react.ts
  packages/components/pie-tabs/src/defs.ts
  packages/components/pie-tabs/src/index.ts
  packages/components/pie-tabs/src/tabs.scss
  packages/components/pie-tabs/test/accessibility/pie-tabs.spec.ts
  packages/components/pie-tabs/test/component/pie-tabs.spec.ts
  packages/components/pie-tabs/test/visual/pie-tabs.spec.ts
  packages/components/pie-tabs/tsconfig.json
  packages/components/pie-tabs/turbo.json
  packages/components/pie-tabs/vite.config.js
  packages/components/pie-webc/components/tabs.d.ts
  packages/components/pie-webc/components/tabs.js
  packages/components/pie-webc/package.json
  packages/components/pie-webc/react/tabs.d.ts
  packages/components/pie-webc/react/tabs.js
  yarn.lock
Labels: apps, components, pie-storybook, ci, pie-webc

#2529 feat(pie-avatar): DSW-3180 Avatar Icon Static Clean
  .changeset/quiet-carrots-bow.md
  .gitignore
  packages/components/pie-avatar/README.md
  packages/components/pie-avatar/package.json
  packages/components/pie-avatar/src/avatar.scss
  packages/components/pie-avatar/src/defs.ts
  packages/components/pie-avatar/src/index.ts
  packages/components/pie-avatar/test/component/pie-avatar.spec.ts
  packages/components/pie-avatar/test/helpers/selectors.ts
  yarn.lock
Labels: components, pie-avatar
