Repository justeattakeaway/pie, pull requests merged in 2025-05, with the labels that each got.

#2341 fix(pie-docs): DSW-3009 ensure proper hydration for web components in the docs site
  apps/pie-docs/.eleventy.js
  apps/pie-docs/package.json
  apps/pie-docs/src/_includes/scripts.njk
  apps/pie-docs/src/assets/js/dsd-polyfill.js
  apps/pie-docs/src/assets/js/lit-hydrate-support.js
  apps/pie-docs/src/assets/js/pie-components-imports.js
  apps/pie-docs/vite.config.js
  yarn.lock
Labels: apps, pie-docs

#2342 fix(pie-monorepo): DSW-3025 security patch to add scopes to private unpublished pkgs
  .changeset/great-lemons-pull.md
  .github/workflows/amplify-deploy.yml
  .github/workflows/changeset-release.yml
  .github/workflows/ci.yml
  apps/pie-docs/README.md
  apps/pie-docs/package.json
  packages/tools/pie-icons/bin/create-changeset.mjs
  packages/tools/pie-icons/bin/update-icons.mjs
  packages/tools/pie-monorepo-utils/__tests__/changeset-snapshot/create-and-publish.spec.js
  packages/tools/pie-monorepo-utils/changeset-snapshot/utils.js
  turbo.json
  yarn.lock
Labels: apps, tools, pie-icons, pie-docs, ci, pie-monorepo-utils

#2345 fix(pie-storybook): DSW-3025 security patch to add scope to pie-storybook pkg
  .changeset/fast-buses-flash.md
  .github/workflows/amplify-deploy.yml
  .github/workflows/changeset-release.yml
  .github/workflows/ci.yml
  apps/pie-storybook/README.md
  apps/pie-storybook/package.json
  configs/pie-components-config/playwright-native-config.js
  packages/components/README.md
  packages/tools/pie-monorepo-utils/__tests__/changeset-snapshot/create-and-publish.spec.js
  yarn.lock
Labels: apps, tools, components, pie-storybook, ci, configs, pie-components-config, pie-monorepo-utils

#2351 feat(pie-storybook): DSW-2994 new components section
  .changeset/eighty-foxes-punch.md
  apps/pie-storybook/stories/icons.stories.ts
  apps/pie-storybook/stories/pie-assistive-text.stories.ts
  apps/pie-storybook/stories/pie-breadcrumb.stories.ts
  apps/pie-storybook/stories/pie-button.stories.ts
  apps/pie-storybook/stories/pie-card.stories.ts
  apps/pie-storybook/stories/pie-checkbox-group.stories.ts
  apps/pie-storybook/stories/pie-checkbox.stories.ts
  apps/pie-storybook/stories/pie-chip.stories.ts
  apps/pie-storybook/stories/pie-cookie-banner.stories.ts
  apps/pie-storybook/stories/pie-divider.stories.ts
  apps/pie-storybook/stories/pie-form-label.stories.ts
  apps/pie-storybook/stories/pie-icon-button.stories.ts
  apps/pie-storybook/stories/pie-link.stories.ts
  apps/pie-storybook/stories/pie-list.stories.ts
  apps/pie-storybook/stories/pie-lottie-player.stories.ts
  apps/pie-storybook/stories/pie-modal.stories.ts
  apps/pie-storybook/stories/pie-notification.stories.ts
  apps/pie-storybook/stories/pie-radio-group.stories.ts
  apps/pie-storybook/stories/pie-radio.stories.ts
  apps/pie-storybook/stories/pie-select.stories.ts
  apps/pie-storybook/stories/pie-spinner.stories.ts
  apps/pie-storybook/stories/pie-switch.stories.ts
  apps/pie-storybook/stories/pie-tag.stories.ts
  apps/pie-storybook/stories/pie-text-input.stories.ts
  apps/pie-storybook/stories/pie-textarea.stories.ts
  apps/pie-storybook/stories/pie-thumbnail.stories.ts
  apps/pie-storybook/stories/pie-toast-provider.stories.ts
  apps/pie-storybook/stories/pie-toast.stories.ts
  packages/tools/generator-pie-component/src/app/templates/pie-placeholder.__stories__.ts
Labels: apps, tools, pie-storybook, generator-pie-component

#2352 feat(pie-storybook): DSW-2995 add getting started page
  .changeset/fair-knives-hunt.md
  apps/pie-storybook/.storybook/preview.ts
  apps/pie-storybook/static/images/brand-colours.svg
  apps/pie-storybook/stories/introduction/getting-started.mdx
Labels: apps, pie-storybook

#2355 fix(pie-docs): DSW-2996 fix broken Storybook links
  .changeset/eighty-fishes-dress.md
  apps/pie-docs/src/components/assistive-text/code/code.md
  apps/pie-docs/src/components/button/code/code.md
  apps/pie-docs/src/components/card/code/code.md
  apps/pie-docs/src/components/checkbox-group/code/code.md
  apps/pie-docs/src/components/checkbox/code/code.md
  apps/pie-docs/src/components/chip/code/code.md
  apps/pie-docs/src/components/divider/code/code.md
  apps/pie-docs/src/components/icon-button/code/code.md
  apps/pie-docs/src/components/link/code/code.md
  apps/pie-docs/src/components/modal/code/code.md
  apps/pie-docs/src/components/notification/code/code.md
  apps/pie-docs/src/components/radio-group/code/code.md
  apps/pie-docs/src/components/radio/code/code.md
  apps/pie-docs/src/components/select-input/code/code.md
  apps/pie-docs/src/components/switch/code/code.md
  apps/pie-docs/src/components/tag/code/code.md
  apps/pie-docs/src/components/text-input/code/code.md
  apps/pie-docs/src/components/textarea/code/code.md
  apps/pie-docs/src/components/thumbnail/code/code.md
  apps/pie-docs/src/components/toast/code/code.md
  apps/pie-docs/src/components/toast/toast-provider/code.md
  apps/pie-docs/src/patterns/cookie-banner/code/code.md
Labels: apps, pie-docs

#2358 docs(pie-storybook): DSW-2996 add a css setup page to sb
  apps/pie-storybook/.storybook/preview.ts
  apps/pie-storybook/stories/introduction/css-setup.mdx
  apps/pie-storybook/stories/introduction/getting-started.mdx
Labels: apps, pie-storybook

#2360 docs(pie-storybook): DSW-2999 component events page
  .changeset/gold-singers-cough.md
  apps/pie-storybook/.storybook/preview.ts
  apps/pie-storybook/stories/introduction/events.mdx
Labels: apps, pie-storybook

#2362 docs(pie-storybook): DSW-3061 add next.js 14 integration guide to sb
  .changeset/plenty-taxis-kneel.md
  apps/pie-storybook/.storybook/preview.ts
  apps/pie-storybook/stories/integration-guides/nextjs-14.mdx
  apps/pie-storybook/stories/introduction/getting-started.mdx
Labels: apps, pie-storybook

#2361 docs(pie-storybook): DSW-2998 add CSS Variables page
  .changeset/new-shoes-perform.md
  .changeset/six-mugs-attend.md
  apps/pie-docs/src/components/toast/toast-provider/code.md
  apps/pie-docs/src/components/toast/toast-provider/css-variables.json
  apps/pie-storybook/stories/introduction/css-variables.mdx
  apps/pie-storybook/stories/pie-toast-provider.stories.ts
  packages/tools/stylelint-config-pie/README.md
Labels: apps, tools, stylelint-config-pie, pie-storybook, pie-docs

#2366 feat(pie-storybook): DSW-2715 updating theming to be more inline with the pie brand
  .changeset/calm-badgers-study.md
  apps/pie-storybook/.storybook/main.ts
  apps/pie-storybook/.storybook/manager-head.html
  apps/pie-storybook/.storybook/manager.js
  apps/pie-storybook/.storybook/pieTheme.js
  apps/pie-storybook/.storybook/preview.ts
  apps/pie-storybook/static/images/logo--pie--dark.svg
  apps/pie-storybook/static/images/logo--pie--light.svg
  apps/pie-storybook/static/storybook.ico
Labels: apps, pie-storybook

#2347 feat(pie-form-label): DSW-2622 implement docs overview
  .changeset/afraid-rivers-enjoy.md
  .changeset/poor-pets-bake.md
  apps/pie-docs/src/_11ty/shortcodes/usage.js
  apps/pie-docs/src/assets/img/components/form-label/anatomy.svg
  apps/pie-docs/src/assets/img/components/form-label/behaviours-character-counter-1.svg
  apps/pie-docs/src/assets/img/components/form-label/behaviours-character-counter-2.svg
  apps/pie-docs/src/assets/img/components/form-label/behaviours-stepper-percentage-string.svg
  apps/pie-docs/src/assets/img/components/form-label/content-character-count-stepper-percentage.svg
  apps/pie-docs/src/assets/img/components/form-label/content-label-do-1.svg
  apps/pie-docs/src/assets/img/components/form-label/content-label-do-2.svg
  apps/pie-docs/src/assets/img/components/form-label/content-label-dont-1.svg
  apps/pie-docs/src/assets/img/components/form-label/content-label-dont-2.svg
  apps/pie-docs/src/assets/img/components/form-label/content-string-do-1.svg
  apps/pie-docs/src/assets/img/components/form-label/content-string-do-2.svg
  apps/pie-docs/src/assets/img/components/form-label/examples-ltr-1.svg
  apps/pie-docs/src/assets/img/components/form-label/examples-ltr-2.svg
  apps/pie-docs/src/assets/img/components/form-label/examples-ltr-3.svg
  apps/pie-docs/src/assets/img/components/form-label/examples-ltr-4.svg
  apps/pie-docs/src/assets/img/components/form-label/examples-ltr-5.svg
  apps/pie-docs/src/assets/img/components/form-label/examples-rtl-1.svg
  apps/pie-docs/src/assets/img/components/form-label/examples-rtl-2.svg
  apps/pie-docs/src/assets/img/components/form-label/examples-rtl-3.svg
  apps/pie-docs/src/assets/img/components/form-label/examples-rtl-4.svg
  apps/pie-docs/src/assets/img/components/form-label/interactions-tooltip-icon.svg
  apps/pie-docs/src/assets/img/components/form-label/layout-position-do.svg
  apps/pie-docs/src/assets/img/components/form-label/layout-position-dont.svg
  apps/pie-docs/src/assets/img/components/form-label/modifiers-leading-multiline-label.svg
  apps/pie-docs/src/assets/img/components/form-label/modifiers-leading-optional.svg
  apps/pie-docs/src/assets/img/components/form-label/modifiers-leading-tooltip-icon.svg
  apps/pie-docs/src/assets/img/components/form-label/modifiers-trailing-character-count.svg
  apps/pie-docs/src/assets/img/components/form-label/modifiers-trailing-percentage.svg
  apps/pie-docs/src/assets/img/components/form-label/modifiers-trailing-stepper.svg
  apps/pie-docs/src/assets/img/components/form-label/modifiers-trailing-string.svg
  apps/pie-docs/src/assets/img/components/form-label/overview.svg
  apps/pie-docs/src/assets/img/components/form-label/variation-leading-label.svg
  apps/pie-docs/src/assets/img/components/form-label/variation-leading-optional.svg
  apps/pie-docs/src/assets/img/components/form-label/variation-leading-tooltip-icon.svg
  apps/pie-docs/src/assets/img/components/form-label/variation-trailing-character-count.svg
  apps/pie-docs/src/assets/img/components/form-label/variation-trailing-percentage.svg
  apps/pie-docs/src/assets/img/components/form-label/variation-trailing-stepper.svg
  apps/pie-docs/src/assets/img/components/form-label/variation-trailing-string.svg
  apps/pie-docs/src/assets/styles/components/_usage.scss
  apps/pie-docs/src/components/form-label/code/code.md
  apps/pie-docs/src/components/form-label/code/props.json
  apps/pie-docs/src/components/form-label/code/slots.json
  apps/pie-docs/src/components/form-label/form-label.md
  apps/pie-docs/src/components/form-label/overview/form-label.json
  apps/pie-docs/src/components/form-label/overview/overview.md
  apps/pie-docs/test/snapshots/expected-routes.snapshot.json
Labels: apps, pie-docs

#2286 feat(pie-monorepo): DSW-2747 lit decorator
  .changeset/flat-cameras-breathe.md
  .changeset/lovely-poems-tell.md
  .changeset/orange-moons-search.md
  .changeset/rare-paws-drive.md
  .changeset/strange-suns-share.md
  bundlewatch.config.json
  packages/components/pie-assistive-text/src/index.ts
  packages/components/pie-breadcrumb/src/index.ts
  packages/components/pie-button/src/index.ts
  packages/components/pie-card/src/index.ts
  packages/components/pie-checkbox-group/src/index.ts
  packages/components/pie-checkbox/src/index.ts
  packages/components/pie-chip/src/index.ts
  packages/components/pie-cookie-banner/src/index.ts
  packages/components/pie-divider/src/index.ts
  packages/components/pie-form-label/src/index.ts
  packages/components/pie-icon-button/src/index.ts
  packages/components/pie-link/src/index.ts
  packages/components/pie-list/src/index.ts
  packages/components/pie-list/src/pie-list-item/index.ts
  packages/components/pie-lottie-player/src/index.ts
  packages/components/pie-modal/src/index.ts
  packages/components/pie-notification/src/index.ts
  packages/components/pie-radio-group/src/index.ts
  packages/components/pie-radio/src/index.ts
  packages/components/pie-select/src/index.ts
  packages/components/pie-spinner/src/index.ts
  packages/components/pie-switch/src/index.ts
  packages/components/pie-tag/src/index.ts
  packages/components/pie-text-input/src/index.ts
  packages/components/pie-textarea/src/index.ts
  packages/components/pie-thumbnail/src/index.ts
  packages/components/pie-toast-provider/src/index.ts
  packages/components/pie-toast/src/index.ts
  packages/components/pie-webc-core/src/decorators/index.ts
  packages/components/pie-webc-core/src/decorators/safe-custom-element.ts
  packages/components/pie-webc-core/src/functions/defineCustomElement.ts
  packages/components/pie-webc-core/src/functions/index.ts
  packages/components/pie-webc-core/src/internals/PieElement.ts
  packages/components/pie-webc-core/src/test/decorators/safe-custom-element.spec.ts
  packages/components/pie-webc-core/src/test/functions/defineCustomElement.spec.ts
  packages/components/pie-webc-core/src/test/functions/dispatchCustomEvent/MockComponent.ts
  packages/components/pie-webc-core/src/test/mixins/formControlMixin/MockComponent.ts
  packages/tools/generator-pie-component/src/app/templates/src/index.ts
  packages/tools/pie-icons-webc/build.js
Labels: tools, components, pie-button, pie-modal, pie-icon-button, pie-webc-core, generator-pie-component, pie-divider, pie-link, pie-cookie-banner, pie-form-label, pie-switch, pie-card, pie-notification, pie-spinner, pie-tag, pie-assistive-text, pie-chip, pie-checkbox, pie-text-input, pie-textarea, pie-toast, pie-checkbox-group, pie-lottie-player, pie-radio, pie-radio-group, pie-toast-provider, pie-thumbnail, pie-select, pie-breadcrumb, pie-list

#2372 feat(pie-storybook): DSW-3000 add component overview pages batch 1
  .changeset/fair-falcons-rule.md
  apps/pie-storybook/stories/pie-assistive-text.mdx
  apps/pie-storybook/stories/pie-card.mdx
  apps/pie-storybook/stories/pie-checkbox-group.mdx
  apps/pie-storybook/stories/pie-checkbox.mdx
  apps/pie-storybook/stories/pie-chip.mdx
  packages/components/pie-assistive-text/README.md
  packages/components/pie-button/README.md
  packages/components/pie-card/README.md
  packages/components/pie-checkbox-group/README.md
  packages/components/pie-checkbox/README.md
  packages/components/pie-chip/README.md
Labels: apps, components, pie-button, pie-storybook, pie-card, pie-assistive-text, pie-chip, pie-checkbox, pie-checkbox-group

#2368 refactor(pie-breadcrumb): DSW-3054 add pie-breadcrumb-item sub component
  .changeset/four-ducks-draw.md
  .changeset/metal-toys-enjoy.md
  apps/pie-storybook/stories/pie-breadcrumb.stories.ts
  apps/pie-storybook/stories/testing/pie-breadcrumb.test.stories.ts
  apps/pie-storybook/utilities/index.ts
  packages/components/pie-breadcrumb/package.json
  packages/components/pie-breadcrumb/src/breadcrumb.scss
  packages/components/pie-breadcrumb/src/defs-react.ts
  packages/components/pie-breadcrumb/src/defs.ts
  packages/components/pie-breadcrumb/src/index.ts
  packages/components/pie-breadcrumb/src/pie-breadcrumb-item/defs-react.ts
  packages/components/pie-breadcrumb/src/pie-breadcrumb-item/defs.ts
  packages/components/pie-breadcrumb/src/pie-breadcrumb-item/index.ts
  packages/components/pie-breadcrumb/test/component/pie-breadcrumb.spec.ts
  packages/components/pie-breadcrumb/vite.config.js
  packages/components/pie-link/src/link.scss
  packages/components/pie-webc/components/breadcrumb-item.d.ts
  packages/components/pie-webc/components/breadcrumb-item.js
  packages/components/pie-webc/package.json
  packages/components/pie-webc/react/breadcrumb-item.d.ts
  packages/components/pie-webc/react/breadcrumb-item.js
Labels: apps, components, pie-storybook, pie-link, pie-webc, pie-breadcrumb

#2378 feat(generator-pie-component): DSW-3000 new readme and overview formats
  .changeset/lucky-birds-tease.md
  .changeset/stupid-boats-rush.md
  apps/pie-storybook/stories/introduction/events.mdx
  packages/tools/generator-pie-component/src/app/index.ts
  packages/tools/generator-pie-component/src/app/templates/README.md
  packages/tools/generator-pie-component/src/app/templates/pie-placeholder.mdx
Labels: apps, tools, pie-storybook, generator-pie-component

#2381 docs(pie-docs): DSW-3009 Iconography Category Dropdown Margin Fix
  apps/pie-docs/src/_11ty/shortcodes/categorisedIconList.js
  apps/pie-docs/src/__tests__/_11ty/shortcodes/__snapshots__/categorisedIconList.test.js.snap
  apps/pie-docs/src/assets/styles/components/_categorisedIconList.scss
Labels: apps, pie-docs

#2385 feat(pie-storybook): DSW-3000 overview pages for batch 3
  .changeset/perfect-donkeys-provide.md
  apps/pie-storybook/stories/pie-link.mdx
  apps/pie-storybook/stories/pie-lottie-player.mdx
  apps/pie-storybook/stories/pie-modal.mdx
  apps/pie-storybook/stories/pie-notification.mdx
  apps/pie-storybook/stories/pie-radio.mdx
  packages/components/pie-link/README.md
  packages/components/pie-lottie-player/README.md
  packages/components/pie-modal/README.md
  packages/components/pie-notification/README.md
  packages/components/pie-radio/README.md
Labels: work-in-progress, apps, components, pie-storybook, pie-modal, pie-link, pie-notification, pie-lottie-player, pie-radio
